<template>
  <div v-if="store.id" :class="'banner banner-store ' + classComponent"  @click="callback(store) " >
     
    <div class='banner-store-image'>
      <img v-if="store.imageCover" class='main' :src="store.imageCover"/>
      <font-awesome-icon :aria-hidden="true" class="emptyStateIcon" :icon="['fal', 'store-alt']" fixed-width size="8x"/>
    </div>
    <div class='banner-store-header'>
      <div class='banner-store-name'>{{store.name}}</div>
      <div v-if="showTag" style="diplay:block; color:white; width: 100%; height:100%; font-weight: 300; position: relative; z-index: 10">
          <div class="event-tag" >Acontecendo agora</div>
      </div>
      <!-- <div class='banner-store-address'>
        <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'mapmarker-alt']" size="1x" />
        {{store.location}}
      </div> -->
    <!-- </div>
    <div class='banner-store-footer'> -->
      <div class='banner-store-info' v-if="!post">
        <div v-if="store.location">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'map-marker-alt']" size="1x" />
          {{store.location}}
        </div>
        <!-- <div v-if="store.minTime && store.maxTime && store.maxTime==store.minTime">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'stopwatch']" size="1x" />
          {{store.maxTime}}min
        </div>
        <div v-else-if="store.minTime && store.maxTime">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'stopwatch']" size="1x" />
          {{store.minTime}} - {{store.maxTime}}min
        </div> -->
        <div v-if="store.type!='E' && getCurrentWorkshift()">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" />
          {{getCurrentWorkshift()}}
          <!-- 9:30h às 22:20h -->
        </div>
        <div v-if="getEventSchedule() && store.type=='E'">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'calendar']" size="1x" />
          {{getEventSchedule()}}
          <!-- 9:30h às 22:20h -->
        </div>
      </div>
      <div class='banner-store-info' v-else>
        
      </div>
    </div>
  </div>
</template>

<style>
.banner-store {
  top: 0;
  right: 0;
  z-index: 9;
  border-radius: 0;  
  display: flex;
  flex-direction: column;
  /* margin-bottom: 4vw; */
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-store .main{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.banner-store .placeholder{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 9;
  display: flex;
}

.banner .banner-store-header{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 5rem;
  padding: 0.5rem;
  background-color: rgb(255 ,255, 255, 1);
  /* background: linear-gradient(6deg, rgb(255 ,255, 255, 1) 0%, rgb(255 ,255, 255, 0.985) 80%, rgb(255 ,255, 255, 0) 100%); */
  z-index: 10;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.banner .banner-store-image{
  position: relative;
  height: 12.75rem;
  background: lightgray;
  border-top-left-radius: 1rem;
  top: 0;
  border-top-right-radius: 1rem;
}

.banner .banner-store-image .emptyStateIcon{
  color: white;
  height: 6rem;
  width: 6rem!important;
  top: 4rem;
  position: relative;
  z-index: 8;
}

.banner .banner-store-footer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0 0.5rem;
 
}

.banner .banner-store-name{
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 450;
  text-align: left;
}

.banner .banner-store-address{
  font-size: 1rem;
  color: gray;
  text-align: left;
}

.banner .banner-store-info{
  display: block;
  font-size:1.1rem;
  color: gray;
  padding: .25rem 0;
}

.banner .banner-store-info .icon{
  color: var(--primary-color);
  font-size:1rem;
  margin: auto 0.25rem auto 0;
  width: 1rem;
}

.banner .banner-store-info div{
  margin-right:1rem;
  margin-bottom:0.25rem;
  display: flex;
  float:left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.banner .event-tag{
  border-radius:0.5rem;
  background: var(--primary-color);
  float:left;
  padding: 0 0.5rem;
  margin-right:1rem;
  font-size: 1.5rem;
  position: absolute;
  right: -1rem;
  top: -4.5rem;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import moment from 'moment';
import Util from "@/ts/Util";

@Component({
  props: { 
    store: {
      type: Object,
      default: ()=>{return {id:0}}
    },
    callback: {
        type: Function,
        default: ()=>{}
    },
    classComponent: {
        type: String,
        default: ""
    },
    post: {
        type: Boolean,
        default: false
    },
    showTag: {
        type: Boolean,
        default: false
    }
  }
})
export default class BannerStore extends Vue {
    // private imageSrc: string = '';
    // private currentImage: number = 0;
    // private timer: any = 0;
    mounted() {
        // this.getImage();
        // this.timer = setInterval(this.getImage, 5000)
    }

    // getImage(){
    //     if (this.currentImage == this.$props.images.length) this.currentImage = 0;
    //     this.imageSrc = this.$props.images[this.currentImage];
    //     this.currentImage += 1;
    // }

    // beforeDestroy () {
    //     clearInterval(this.timer)
    // }

  getCurrentWorkshift(){
    if(this.$props.store.shiftInitialTime && this.$props.store.shiftFinalTime){
      var initialTime = moment(this.$props.store.shiftInitialTime).format("HH:mm");
      var finalTime = moment(this.$props.store.shiftFinalTime).format("HH:mm");
      return initialTime+"h" + ' às ' + finalTime+"h";
    }
    else return "";
  }

  getEventSchedule(){
    var eventSchedule: string = "";
    if(this.$props.store.initialDate){
      var initialDate = moment(this.$props.store.initialDate.date).format('DD/MM - HH:mm')
      eventSchedule = eventSchedule + initialDate
    }
    // if(this.$props.store.finalDate){
    //   var finalDate = moment(this.$props.store.finalDate.date).format('DD/MM/YYYY')
    //   eventSchedule = eventSchedule + ' até ' + finalDate
    // }
    return eventSchedule.replace('-', 'às');

  }

  getImage() {
        if (this.$props.logo) return Util.getImgUrl(this.$props.logo.split('.')[0], '.' + this.$props.logo.split('.')[1]);
        else return "";
  }

}
</script>
