<template>
  <div :class="'banner-news ' + classComponent" @click="callback()">
    <!-- <img class='placeholder' :src="placeholderSrc" /> -->
    <img v-if="news.IMAGE" class='main' :src="news.IMAGE" />
  </div>
</template>

<style>
.banner-news {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  border-radius: 1rem;
  margin: 0 1rem;
}

.banner-news .main{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

.banner-news .placeholder{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}

.banner-news img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  z-index: 9;
  border-radius: 1rem;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "@/ts/Util";

@Component({
  props: { classComponent: String, callback: Function, 
    placeholderSrc: {
      type: String,
      default: '' 
    },
    news: {
      type: Object,
      default: ()=>{return {}}
    }
  }
})
export default class HeaderBackground extends Vue {
    // private imageSrc: string = '';
    // private currentImage: number = 0;
    // private timer: any = 0;
    mounted() {
        // this.getImage();
        // this.timer = setInterval(this.getImage, 5000)
    }

    // getImage(){
    //     if (this.currentImage == this.$props.images.length) this.currentImage = 0;
    //     this.imageSrc = this.$props.images[this.currentImage];
    //     this.currentImage += 1;
    // }

    // beforeDestroy () {
    //     clearInterval(this.timer)
    // }
}
</script>
