<template>
  <div :class="'round-button ' + classDiv" :id="idComponent">
    <!-- SIDENAV TRIGGER -->
    <button
      :data-target="target"
      :id="idButton"
      :ref="idButton"
      :class=" 'waves-effect '+ classComponent"
      v-on:touchstart="buttonClickEvent()"
    >
     <font-awesome-icon v-if="icon" :aria-hidden="true"  :class="'icon ' + colorClass" :icon="[iconClass, icon]" fixed-width size="2x"/> 
    </button>
    <div class='badge' v-if="notification">{{notification}}</div>
    <!-- NORMAL BUTTON -->
  </div>
</template>

<style>

  .round-button{
    position: relative;
    z-index: 9;
    border-radius: 100%;
    border: 0;
    width: 5vw;
    height: 5vw;
    margin-left: 1rem;
  }

  .round-button .icon{
      width: 6vw;
      max-height: 6vw;
  }

  .round-button .badge {
    position: relative;
    z-index: 10;
    background: var(--primary-color);
    border-radius: 100%;
    color: var(--background-color, white);
    padding: 0.15rem 0rem;
    font-size: 1.2rem;
    font-weight: 800;
    top: -5rem;
    left: 3.5rem;
    width: 2rem;
    height: 2rem;
  }

.round-button  .default{
    color:black;
}

.round-button .font-red{
    color:red;
}
.round-button .font-primary{
  color : var(--primary-color);
}

.round-button .invisible {
  box-shadow: unset;
}

.round-button .invisible{
  background-color: transparent !important;
}

.round-button button.invisible{
  box-shadow: unset;
  background-color: transparent !important;
}

.round-button button.invisible-first-button{
  margin-left: -1rem;
}

.round-button  button.invisible:hover{
  box-shadow: unset;
  background-color: transparent !important;
}

.round-button  .invisible .default{
  color:var(--secundary-color);
}

/* Resolução da tela: acima de 1600px */
@media (min-width: 1600px){
  .round-button button {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    border: 0;
    background-color: white !important;
    padding: 1.5vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .round-button button:hover {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0;
    background-color: white !important;
    box-shadow: 0;
    padding: 1.65vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .fa-2x {
    font-size: 4vw !important;
  }
}

/* Resolução da tela: acima de 800px e menor que 1600px */
@media (max-width: 1599px) and (min-width: 603px){
  .round-button button {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    border: 0;
    background-color: white !important;
    padding: 1.2vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .round-button button:hover {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: white !important;
    box-shadow: 0;
    padding: 1.25vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .fa-2x {
    font-size: 2rem !important;
  }
}

/* Resolução da tela: acima de 600px e menor que 800px */
@media (max-width: 602px) and (min-width: 601px) {
  .round-button button {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    border: 0;
    background-color: white !important;
    padding: 1.5vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .round-button button:hover {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0;
    background-color: white !important;
    box-shadow: 0;
    padding: 1.65vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .fa-2x {
    font-size: 2rem !important;
  }
}

/* Resolução da tela: até 600px*/
@media (max-width: 600px) {
  .round-button button {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    border: 0;
    background-color: white !important;
    padding: 0.75vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .round-button button:hover {
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem !important;
    background-color: transparent;
    border-radius: 100%;
    width: 2.8rem;
    height: 2.8rem;
    border: 0;
    background-color: white !important;
    box-shadow: 0;
    padding: 0.9vw;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }

  .fa-2x {
    font-size: 2rem !important;
  }

  .round-button .icon{
      width: 3vw !important;
      max-height: 6vw;
  }
}

</style>

<script lang="ts" >
import {Component, Prop, Vue } from "vue-property-decorator";

@Component({
  props: {
    nameButton: {
      default: "",
      type: String
    },
    classComponent: {
      default: "",
      type: String
    },
    icon: {
      default: "",
      type: String
    },
    classDiv: {
      default: "",
      type: String
    },
    idComponent: {
      default: "",
      type: String
    },
    iconClass: {
      default: "",
      type: String
    },
    colorClass: {
      default: "default",
      type: String
    },
    notification: {
      default: 0,
      type: Number
    },
    idButton: {
      default: "",
      type: String
    },
    target: {
      default: "",
      type: String
    },
    notificationOn: {
      default: "",
      type: String
    }
  }
})
export default class CircleButton extends Vue {
  buttonClickEvent() {
    this.$emit("buttonCallBack");
  }
}
</script>