<template>
    <div class="clean-button" v-bind:class="{ 'align-left': left, 'align-right': right, 'align-center': center }">
        <button v-on:click="callback">{{name}}</button>
    </div>
</template>
<style >
.align-left {
    margin: 0 auto 0 0;
}
.align-right {
    margin: 0 0 0 auto;
}
.align-center {
    margin: 0 auto;
}
.clean-button {
    width: fit-content;
    display: inline-block;
}
.clean-button button {
    background: none;
    border: none;
    box-shadow: none;
    color: black;
    padding: 0;
    font-size: 4vmin !important;
}
</style>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    props: { name: String, left: Boolean, right: Boolean, center: Boolean, callback: Function }
})
export default class CleanButton extends Vue {



}
</script>