<template>
    <div class='header-circle-button'>
        <div ref='headerCircleWrapper' class='header-circle-wrapper' :class="{'visible': (visibleAt>=0 && (scroll >= visibleAt))}">
            <div v-if="firstButton" style="display: flex; flex-direction: row; top: 2vw;position: absolute;">
                <CircleButton :iconClass="fb.iconClass" :icon="fb.icon" :classComponent="(visibleAt>=0 && (scroll >= visibleAt)) ? 'invisible invisible-first-button': ''" v-on:buttonCallBack="fb.callback"/>
            </div>
            <div v-if="!firstButton" class='logo' :style="{ 'background-image': 'url(' + getImage() + ')' }">
                <!-- <img :src="getImage()"/> -->
            </div>
            <div v-if="title && showTitle && !firstButton" class="header-title">
                <span>{{title}}</span>
            </div>
             <div v-if="title && showTitle && firstButton" class="header-title-botao">
                <span>{{title}}</span>
            </div>
            <div v-if="ob.length" style="display: flex; flex-direction: row; right: 4vw; top: 2vw;position: absolute;">
                <CircleButton  v-for="button in ob" :key="button.id" :idButton="button.id" :iconClass="button.iconClass" :icon="button.icon" :colorClass="button.colorClass" v-on:buttonCallBack="button.callback"  :classComponent="(visibleAt>=0 && (scroll >= visibleAt)) ? 'invisible': ''" :notification="button.notification || 0"/>
            </div>
        </div>
    </div>
</template>
<style>

    .header-circle-button{
    height: 14vw;
    width: 100%;
    position: relative;
    top: 1rem;
    z-index: 2;
    }

    .header-circle-button .logo{
        height: 5vw;
        width: 30%;
        margin: 1vw 2rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header-circle-wrapper{
    height: 7vw;
    width: 100%;
    position: fixed;
    top: 2vw;
    z-index: 99;
    display: flex;
    flex-direction: row;
    transition: 0.1s;
    
}
    
 .header-circle-button .header-title {
    font-weight: 400;
    font-size: 4vw;
    margin-top: 0.7rem;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
    color: var(--primary-color);
    /* max-width: 81vw; */
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    overflow: hidden;
     padding-left: 19.5vw; 
}
    .header-circle-button .header-title-botao{
        font-weight: 400;
        font-size: 5vw;
        margin-top: 0.3rem;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 0.6s;
        animation-name: fade;
        animation-duration: 0.6s;
        color: var(--primary-color);
        max-width: 80vw;
        display: flex;
        flex-direction: row;
        left: calc(8vw + 4rem);
        position: absolute;
        height: 130%;
        overflow: hidden;
    }

    
    .header-circle-button .header-title span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    }
     .header-circle-button .header-title-botao span{
        text-overflow: ellipsis;
        /* overflow: hidden; */
        white-space: pre-line;
     
 
    }


    .header-circle-button .visible{
        background-color: var(--background-color);
        z-index: 99;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
        transition: 0.1s;
    }

    @-webkit-keyframes fade {
    from {
        -webkit-opacity: 0;
    }
    to {
        -webkit-opacity: 1;
    }
    }

    @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
</style>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import Util from "@/ts/Util";
import CircleButton from "./CircleButton.vue";


@Component({
  props: {
   firstButton:{
       type: Boolean,
       default: false
   },
   fb:{
       type: Object,
       default: ()=>
       {return {
                icon: '',
                iconClas: '',
                callback: ()=>{} 
            };}
   },
   ob:{
        type: Array,
        default: ()=>{return []}   
   },
   classComponent:{
       type: String,
       default: ""
   },
   visibleAt:{
       type: Number,
       default: -1
   },
   title:{
       type: String,
       default: ""
   },
   logo:{
       type: String,
       default: ""
   },
   showTitle:{
       type: Boolean,
       default: false
   }
  },
  components:{
      CircleButton
  }
})

export default class HeaderCircleButton extends Vue {
    private scroll: any = 0;
    data() {
        $(window).scroll(()=>{    
            this.scroll = $(window).scrollTop();
        })
        return {
        }
    }
    mounted() {
        this.scroll = $(window).scrollTop();
    }
    getImage() {
        if (this.$props.logo && this.$props.logo.startsWith('http')) return this.$props.logo; 
        else if (this.$props.logo && this.$props.logo.includes('.')) return Util.getImgUrl(this.$props.logo.split('.')[0], '.' + this.$props.logo.split('.')[1])
        else return "";
    }
}
</script>