<template>
  <div :class="classComponent">
    <div class="header-background">
      <img :class="{'imgSmall': imgSmall, 'imgLarge': !imgSmall}" v-if="image.name" :src="getImage()" />
      <img :class="{'imgSmall': imgSmall, 'imgLarge': !imgSmall}" v-if="imageSrc" :src="imageSrc" />
    </div>
  </div>
</template>

<style>
.header-background {
  width: 100%;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: absolute;
  z-index: 0;
  top: 0;
  background: var(--primary-color);
  height: 15rem;
}

.header-background:after {
	content:'';
  top:0;
	left: 0;
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: pulsing 2s infinite;
  background: var(--support-color);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

@keyframes pulsing {
	0% {opacity: 0;}
	50% {opacity: 0.25;}
  100% {opacity: 0;}
}


.header-background img {
  width: 100%;
  height: 15rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  z-index: 2;
  position: relative;
}

.header-background .imgSmall{
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.header-background .imgLarge{
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "@/ts/Util";

@Component({
  props: { 
    classComponent: String, 
    image:{
      type: Object,
      default: ()=>{return{name:""}}
    },
    imageSrc:{
      type:String,
      default: ""
    }
  }
})
export default class HeaderBackground extends Vue {
  imgSmall: boolean = false;
  mounted(){ 
    var img = new Image();
    if (this.$props.imageSrc){
      img.onload = () =>{
        if(img.height < 150 ||  img.width < 250) this.imgSmall = true;
      }
      img.src = this.$props.imageSrc;
      
    }
  }
  getImage() {
    var img = new Image();
    if (this.$props.imageSrc){
      img.onload = () =>{
        if(img.height < 150 ||  img.width < 250) this.imgSmall = true;
      }
      img.src = Util.getImgUrl(this.$props.image.name, this.$props.image.ext);
      
    }
    return img;
  }
}
</script>
