<template>
    <div class="image-card-wrapper">
        <div class="image-card waves-effect" v-on:click="callback" :style="'background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%), url('+finalImage+'); border-radius:1rem; background-position-x: center;background-position-y:' + position + '; background-size: cover; background-repeat: no-repeat;'">
            {{label}}    
        </div>  
    </div>
</template>
<style >
.image-card-wrapper {
  margin: 0 0 2rem!important;
  padding: 0 1rem !important;
  height: 16vh;
  width: 50%;
}

.image-card .image-card-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background-color: transparent;
    border-radius: 1rem;
}

.image-card {
  height:100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.24);
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  color:black;
  padding-top:1rem;
}

.image-card-label {
  
  border-radius: 1rem;
  mix-blend-mode: screen;
  height: 30%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.image-card-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    scroll-snap-type: x mandatory;
}
</style>

<script lang="ts" >
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({
        props: {
            callback: Function,
            label: String,
            image: String,
        }
    })

    export default class ImageCardButton extends Vue {
        position: string = '-40%';
        finalImage: string ='';

        created(){
            this.getMeta(this.$props.image);
        }
        getMeta(url:string){   
            var img:any = new Image();
            img.onload = ()=>{
                if(img.width < img.height) this.position = '40%';
                setTimeout(()=>{this.finalImage = url}, 300);
            };
            img.src = url;
        }
    }

</script>