<template>
    <!-- <div :class="classDiv">
        <div class="metade">
            <div class="input-field margin-bottom-0">
                <input :type="inputType" class="validate" :id="idComponent" v-model='value' v-mask="mask" @input="changeValue()" :disabled="disabledInput">
                <label :for="idComponent"> {{inputLabel}} </label>
                <input @input="updateInput($event)" />
            </div>
        </div>
    </div> -->
    <div class="row margin-none centralize-child inputText_d">
        <div class="metade input-field margin-bottom-0">
            <input
                :id="idInput"
                :label="inputLabel"
                class="inputText"
                :type="inputType"
                :disabled="disabledInput"
                v-on:input="keyUpPress"
                v-bind:value="inputValue"
                v-model="inputValue"
                v-mask="mask"
                :maxlength="maxlength"
                :required="required"
                :readonly="true"
            />
            <label slot="input" :for="idInput" class="inputText_l" :id="idLabel">{{inputLabel}}</label>
        </div>
    </div>
</template>

<style>
.inputText {
    border: 0.1rem solid lightgray !important;
    padding: 0 1rem !important;
    border-radius: 0.5rem !important;
    width: calc(100% - 2rem) !important;
    border-bottom: 0 !important;
    box-shadow: 0 0.1rem 0 0 lightgrey !important;
    line-height: 4vw !important;
    font-size: 4vw !important;
    height: 8vw !important;
}

.inputText:focus {
    border: 0.1rem  solid var(--primary-color) !important;
    padding: 0 1rem !important;
    border-radius: 0.5rem !important;
    width: calc(100% - 2rem) !important;
    line-height: 4vw !important;
    font-size: 4vw !important;
    box-shadow: 0px 0px var(--primary-color) !important;
}

.inputText_l{
    padding-left: 1rem;
    transition: 0.1s !important;
    font-size: 4vw !important;
    text-align: left;
}

.view-login .icon-eye-input{
    bottom: 3.2rem;
    left: calc(100% - 7vw);
}

.login-form {
    background: white;
    border-radius: 15px 15px 0 0;
    padding-top: 2.5rem;
    /* padding-bottom: 4rem; */
    /* height: 50vh; */
    box-shadow: 0px -1px 8px 3px #00000094;
    overflow-y: auto;
}

.view-login .metade {
    width: 100% !important;
}
</style>


<script lang="ts" >
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({
        props: {
            inputLabel: String,
            inputType: String,
            idComponent: String,
            classDiv: String,
            disabledInput: Boolean,
            mask: [String, Array],
            value: [String, Number],
            idInput: String,
            idLabel: String,
            maxlength: Number,
            required: {
                type: Boolean,
                default: false
            } 
        }
    })

    export default class InputText extends Vue {
        inputValue: string = '';

        keyUpPress(){
            this.$emit('changeFunction',this.inputValue);
        }

        inputChange(){
            this.$emit('changeFunction',this.inputValue);
        }

        inputFocus(){
            this.$emit('focusFunction');
        }

    }

</script>