<template>
    <div v-if="visible" v-bind:class="{'mainLoading': true, 'show-loader': showLoader}" v-on:click="clickEvent()">
        <div style="width: 100%;display: flex;height: fit-content;position: fixed;top: 0;height: 100%;left: 0;" >
            <div style="margin: auto;display: flex;flex-direction: column; padding: 6px">
                <i id="loadingIcon" class="material-icons" v-bind:class="{'animationOn' : animationOn, 'colorSuccess':colorSuccess, 'colorError':colorError, 'colorLoading': colorLoading}" style="font-size: 450%;">{{icon}}</i>
                <span style="margin: 20px auto 10px auto;font-size: 6vmin; color: black; font-weight: 500; white-space: pre-line;">{{msg}}</span>
            </div>
        </div>
    </div>
</template>

<style>
.mainLoading {
    width: 100%;
    top: 0;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999999999;
}

/* .mainLoading.show-loader {
    top: 12.5vmin;
} */

.alignCenter {
    display: flex;
    justify-content: center;
    flex-direction: space-between;
}

.animationOn {
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.colorSuccess {
    color: #0fe40f;
}

.colorError {
    color: #ce1010;
}

.colorLoading {
    color: #e47e07;
}

</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    data: function() { 
        return {
            visible: false,
            colorError: false,
            colorSuccess: false,
            colorLoading: false,
            animationOn: false
        } 
    }
})

export default class LoadingPhases extends Vue {
    private msg: string = '';
    private icon: string = '';
    private showLoader: boolean = window.location.href.split('#/')[1] === 'ChoosePaymentMethod';
    private static instance: LoadingPhases;
    private static SUCCESS = 0;
    private static LOADING = 1;
    private static ERROR   = 2;
    private static current = 0;

    mounted() { 
        LoadingPhases.instance = this;
    }

    public static start(changeTo: number, message: string) {
        LoadingPhases.changeContent(changeTo, message);
        LoadingPhases.current = changeTo; 
        LoadingPhases.instance.$data.visible = true;
    }

    public static stop() {
        LoadingPhases.instance.$data.visible = false;
    }

    public static changeContent(changeTo: number, message: string) {
        let status: number = changeTo;
        LoadingPhases.instance.msg = message;
        
        //Success:
        if (status == LoadingPhases.SUCCESS) {
            LoadingPhases.instance.icon = 'check_circle';
            LoadingPhases.instance.$data.animationOn = false;
            LoadingPhases.instance.$data.colorSuccess = true;
            LoadingPhases.instance.$data.colorLoading = false;
            LoadingPhases.instance.$data.colorError = false;
        //Loading
        } else if (status == LoadingPhases.LOADING) {
            LoadingPhases.instance.icon = 'loop';
            LoadingPhases.instance.$data.animationOn = true;
            LoadingPhases.instance.$data.colorSuccess = false;
            LoadingPhases.instance.$data.colorLoading = true;
            LoadingPhases.instance.$data.colorError = false;
        //Error
        } else if (status == LoadingPhases.ERROR) {
            LoadingPhases.instance.icon = 'error';
            LoadingPhases.instance.$data.animationOn = false;
            LoadingPhases.instance.$data.colorSuccess = false;
            LoadingPhases.instance.$data.colorLoading = false;
            LoadingPhases.instance.$data.colorError = true;
        }
    }

    clickEvent(){
        if (LoadingPhases.current == LoadingPhases.SUCCESS) {
            this.$emit('clickSuccess');
        } else if (LoadingPhases.current == LoadingPhases.ERROR) {
            this.$emit('clickError');
        }
    }
}

</script> 