<template>
  <div :id="modalId" class="modal-login slide-modal-open">
  <div class="overlay" ></div>
  <div style="z-index: 100000000000; position:relative">
      <CircleButton classDiv="modal-back-button" iconClass='fal' icon='chevron-left' v-on:buttonCallBack="closeModal"/>
      <div class='logo' :style="`background-image: url('${logo}'); padding-bottom:4rem;`"></div>
  </div>
  <div class="modal-form " v-if="showInstructions" >
      <div class="normal" > <span style="font-weight: bold;" @click.stop="">Aproxime sua carterinha do sensor </span>que se encontra na parte inferior do Totem</div>
      <div style="margin: 2rem auto 1rem;" @click.stop="">
          <font-awesome-icon :icon="['fal', 'credit-card-blank']"  style="color: var(--primary-color); font-size: 10rem; position: relative; position: relative; left: 2rem;"/>
          <font-awesome-icon :icon="['fas', 'rss']" style="color: var(--primary-color); font-size: 5rem; position: relative; top: -7.2rem; left: 0.8rem" />
      </div>
     
      <div class="button-container" style="display: flex; flex-flow: row wrap; justify-content: center; margin-top: 4rem;" @click.stop="">
        <!-- Login Method -->
        <!-- <div class="normal" style="width:100%; font-size:2rem; color: gray; margin-bottom: 2rem;"> ou se preferir:</div> -->
        <div class="modal-buttons-container" >
          <DefaultButton
            class="button-start transparent"
            classDiv="modal-button-container"
            classComponent="modal-button waves-effect "
            name-button="Não estou com minha carterinha"
            v-on:buttonCallBack="closeInstructions"
          />
        </div>
      </div> 
    </div>
    <div class="modal-form " v-else>
      <div class="modal-login-title" v-if="!showPassword" @click.stop="">Digite seu CPF para continuar</div>
      <div class="modal-login-title" v-if="showPassword" @click.stop="">Digite seu PIN para continuar</div>
      <div :class="(userInput)? 'user-input-display user-input-display-active':'user-input-display user-input-display-inactive'" v-if="!showPassword">
        {{ (userInput) ? userInput: '000.000.000-00'}}
      </div>
      <div :class="(userInput)? 'user-input-display user-input-display-active':'user-input-display user-input-display-inactive'" v-if="showPassword">
        {{ (userInput) ? convertedPassword: '____'}}
      </div>
      <div style="display: flex; flex-flow: row wrap; padding: 0 1rem; width: 90%; margin: 0 auto;" @click.stop="">
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('1')"
          >1</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('2')"
          >2</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('3')"
          >3</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('4')"
          >4</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('5')"
          >5</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('6')"
          >6</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('7')"
          >7</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('8')"
          >8</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('9')"
          >9</div>
          <div class="virtual-keyboard waves-effect" v-on:click="clearUserInput()"
          >C</div>
          <div class="virtual-keyboard waves-effect" v-on:click="pushCharacterToInput('0')"
          >0</div>
          <div class="virtual-keyboard waves-effect" v-on:click="popCharacterInInput()"
          >	&#9003</div>
      </div>

      <div style="display: flex; justify-content: space-between" v-if="!showPassword" @click.stop="">
        <DefaultButton
          v-if="!showPassword"
          classDiv="modal-button-container "
          classComponent="modal-button waves-effect"
          name-button="Confirmar"
          v-on:buttonCallBack="goToNextStep()"
        />
      </div>

      <div style="display: flex; justify-content: space-between; width: 90%; margin: 0 auto 2rem; padding: 0px 1rem; height: 5rem;" v-if="showPassword" @click.stop="">
        <DefaultButton
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect"
          name-button="Voltar"
          v-on:buttonCallBack="goToPreviousStep()"
        /> 
        <DefaultButton
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect"
          name-button="Entrar"
          v-on:buttonCallBack="auth()"
        /> 
      </div> 
      <span class="create-account-link" v-on:click="createAccount">Ou crie uma conta aqui</span>
    </div>
    <div v-if="message" class="error-message-container" v-on:click.stop="()=>{message = false;}">
      
      <div v-if="message" class="error-message">
        <font-awesome-icon
          class="icon"
          :aria-hidden="true"
          :icon="['fal', 'exclamation-circle']"
          size="1x"
          style="color: red; margin: 0 auto 2rem; width: 8rem; height: 8rem;"
        />
        {{message}}
      </div>
    </div>
  </div>
</template>

<style>
  .modal-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 9999999999; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    width: 100%;
    overflow: auto; /* Enable scroll if needed */
  }

  .modal-login .input-field{
    height: 6rem;
    width: 100%;
    margin: unset;
  }

  .modal-login .half{
    width: calc(50% - 1rem);
  }

  .modal-login .full{
    width: 100%;
  }

  .modal-login .overlay {
    position: fixed; /* Stay in place */
    z-index: 999999998; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: black; /* Black w/ opacity */
    opacity: 0.5;
  }


  /* Add Animation */
  /* .modal-login,
  .modal-login-title,
  .modal-form > * {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
  } */

  @-webkit-keyframes fade {
    from {
      -webkit-opacity: 0;
    }
    to {
      -webkit-opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* The Close Button */
  .modal-login-close {
    z-index: 9999999999;
    position: absolute;
    top: 0;
    right: 2rem;
    color: #bbb;
    font-size: 5rem;
    font-weight: bold;
    transition: 0.3s;
  }

  .modal-login-close:hover,
  .modal-login-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-login .create-account-link {
    position: relative;
    z-index: 9999999999;
    color: var(--secundary-color);
    font-size: 1.2rem;
    text-decoration: underline var(--secundary-color);
  }

  .modal-login .error-message-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: rgba(0,0,0,0.6);
    padding: 2rem;
    height:100%;
    width: 100%;
    display: flex;
  }

  .modal-login .error-message {
    position: relative;
    z-index: 9999999999;
    background-color: white;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 1rem;
    padding: 2rem;
    color: black;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
  }

  .modal-login .modal-buttons-container{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .modal-login .modal-button-container{
      width: 60vw;
      min-height: 8vw;
      margin: 0 auto 2rem;
  }

  .modal-login .modal-button{
      min-height: 8vw;
      width: 100%;
      border-radius: 10vw;
      background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color, var(--secundary-color)) 100%);
      border: 0;
      line-height: unset !important;
      display: flex;
      justify-content: center;
      font-size: 3vw;
      font-weight: 400;
  }

  .modal-login .transparent{
    opacity: 0.8;
  }



  @media (max-height: 800px){
    .modal-login .modal-login-title {
      position: relative;
      z-index: 9999999999;
      color: var(--primary-color);
      font-size: 1.2rem;
      font-weight: 800;
      margin-bottom: 2rem;
    }

    #login-button button {
      position: relative;
      z-index: 9999999999;
      background: white;
      color: var(--primary-color);
      border: solid var(--primary-color);
      border-radius: 0.5rem;
      padding: unset;
    }
    
    #userInput,
    #passwordInput {
      border: 0.1rem solid gray !important;
      color: gray;
      padding: 0 1rem !important;
      border-radius: 0.5rem !important;
      width: calc(100% - 2rem) !important;
      border-bottom: 0 !important;
      box-shadow: 0 0.1rem 0 0 gray !important;
      line-height: 3rem !important;
      font-size: 1.5rem !important;
      -webkit-appearance: unset !important;
    }

    #userInput:focus,
    #passwordInput:focus {
      padding: 0 1rem !important;
      border-radius: 0.5rem !important;
      width: calc(100% - 2rem) !important;
      line-height: 3rem !important;
      font-size: 1.5rem !important;
      box-shadow: 0px 0px var(--primary-color) !important;
      -webkit-appearance: unset !important;
    }

    #userInput_l,
    #passwordInput_l{
        padding-left: 1rem;
        color: gray;
        transition: 0.1s !important;
    }

    #userInput_l.active,
    #passwordInput_l.active {
      padding: 0.5rem 0.7rem;
      margin-left:0.8rem;
      color: var(--primary-color) !important;
      background-color: var(--background-color) !important;
    }  

    .modal-login .modal-form {
      background: white;
      border-radius: 1.5rem 1.5rem 0 0;
      padding: 4rem 2rem env(safe-area-inset-bottom) 2rem;
      height: 60vh;
      overflow-y: auto;
      z-index: 999999999;
      position: fixed;
      bottom: 0;
      width:100%;
    }
    .modal-login .login-icon-eye {
      position: relative;
      z-index: 9999999999;
      bottom: 2.7rem;
      left: 8.2rem;
    }
  }

  @media (min-height: 800px){
    .modal-login .modal-login-title {
      position: relative;
      z-index: 9999999999;
      color: black;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    #login-button button {
      position: relative;
      z-index: 9999999999;
      background: white;
      color: var(--primary-color);
      border: solid var(--primary-color);
      border-radius: 0.5rem;
      height: 4rem;
      font-size: 2rem !important;
    }

    #userInput,
    #passwordInput {
      border-bottom: unset !important;
      color: var(--primary-color) !important;
      padding: 0 2rem !important;
      width: calc(50%) !important;
      box-shadow: unset !important;
      line-height: 4rem !important;
      height: 4rem;
      font-size: 3rem !important;
      text-align: center;
    }

    #userInput:focus,
    #passwordInput:focus {
      border-bottom: unset !important;
      box-shadow: unset !important;
      -webkit-appearance: unset !important;
    }


    #userInput_l,
    #passwordInput_l{
        color: gray;
        transition: 0.1s !important;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 1rem;
        line-height: 3rem;
    }

    #userInput_l.active,
    #passwordInput_l.active {
        padding: 0.5rem 0.7rem;
        margin-left:0.8rem;
        color: var(--primary-color) !important;
        background-color: var(--background-color) !important;
        display: none;
    }  

    .modal-login .modal-form{
      overflow-y: auto;
      height: 100%;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: white;
      position: absolute;
      z-index: 999999999;
      width: calc(100%);
      padding: 2rem; 
    }

    .modal-login .login-icon-eye {
      position: relative;
      z-index: 9999999999;
      bottom: 3.5rem;
      left: 30vw;
    }
    .modal-login .create-account-link{
      display: none;
    }

    .hr-separator:after {
      content: " ";
      display: block;
      border-bottom: 1px solid #000;
      height: 50%;
      width: 100%;
      margin-left: 1rem;
    }

    .hr-separator:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #000;
      height: 50%;
      width: 100%;
      margin-right: 1rem;
    }

    .close-modal-login {
      position: fixed;
      top: 1rem;
      right: 1rem;
      color: gray;
      font-size: 1.2rem;
      transition: 0.6s;
      border-radius: 100%;
      height: 2.5rem;
      width: 2.5rem;
      line-height: 3rem;
    }

  }

  .modal-login .virtual-keyboard{
    border: 0.25rem solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 7rem;
    height: 5rem;
    width: calc(33.33% - 2rem);
    line-height: 5rem;
    font-size: 3rem;
    margin: 0px 1rem 2rem;
    transition: unset !important;
  }

  .modal-login .user-input-display{
    padding: 0 1rem !important;
    border-radius: 0.5rem !important;
    width: calc(90% - 2rem) !important;
    margin: 0 auto 4rem !important;
    line-height: 3rem !important;
    font-size: 3rem !important;
    font-weight: 600;
  }

  .modal-login .user-input-display-inactive{
    color: gray;
  }

  .modal-login .user-input-display-active{
    color: var(--primary-color);
  }

  .modal-login .modal-button-container{
    width: 90% !important;
    padding: 0 2rem !important;
  }

  .modal-login .logo {
      height: auto;
      width: calc(0.40 * (100% - 4rem));
      margin: 0 calc(0.30 * (100% - 4rem));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: fixed;
      left: 2rem;
      top: 2rem;
  }

  .modal-login .modal-back-button {
      position: fixed;
      left: 2rem;
      top: 2rem;
      margin-left: 0;
  }

</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "@/ts/Util";
import Request from "@/ts/Request";
import DefaultButton from "./DefaultButton.vue";
import CircleButton from "./CircleButton.vue";
// import LoginFrontEnd, { LoginConfig } from "../loginFrontEnd/LoginFrontEnd";
import Router from "@/router";
import moment from 'moment';
// import { VueMaskDirective } from 'v-mask'

// Vue.directive('mask', VueMaskDirective);

@Component({
  props: {
    modalId: String,
    onClose: Function,
    registerRoute: String
  },
  components: { DefaultButton, CircleButton }
})
export default class LoginModal extends Vue {
  
  passwordVisibility: boolean = false;
  userId: string = "";
  emailId: string = "";
  phoneId: string = "";
  password: string = "";
  loginProps: any = JSON.parse(
    localStorage.getItem("LOGIN_PROPS") || "{loginMethods: }"
  );
  loginMethod: string = "";
  message: string = "";
  passFocused: boolean = false;
  showPassword: boolean = false;
  showInstructions: boolean = true;
  listener: EventListener = Util.getBackButtonBehavior();
  userInput: string = "";
  convertedPassword: string = "";
  logo: string = "";

  created() {
    this.logo = Util.getImgUrl(this.loginProps.logo.split('.')[0], '.'+ this.loginProps.logo.split('.')[1]);
  }

  mounted() {
    this.loginMethod = this.loginProps.loginMethods[0];
    var self = this;
    Util.setBackButtonBehavior(this.closeModal)
  }
  
  closeInstructions() {
    this.showInstructions = false;
  }

  closeModal() {
    Util.setBackButtonBehavior(this.listener);
    this.$emit("close");
  }

  changeInputPasswd() {
    this.passwordVisibility = !this.passwordVisibility;
  }

  focusPassword() {
    var element = <HTMLElement>this.$refs["passwordInput"];
    element.focus();
  }

  scrollToThis(id: any) {
    var element = document.getElementById(id);
    element!.scrollIntoView({ block: "start", behavior: "smooth" });
  }

  auth() {
    const req = new Request();
    req.body = {
      CPF: this.loginMethod.includes("EXTERNAL_ID") ? this.userId : undefined,
      EMAIL: this.loginMethod.includes("EMAIL") ? this.emailId : undefined,
      PHONE: this.loginMethod.includes("PHONE") ? this.phoneId : undefined,
      PASSWORD: this.userInput,
      NRORG: (localStorage.getItem("NRORG")) ? localStorage.getItem("NRORG") : this.loginProps.nrorg
    };
    req.route = "login";
    req.callbackSuccess = (response: any) => {
      const userId: number = response.user.userId;
      const refreshTKN: string = response.user.refresh_token;
      const tokenExt: string = response.user.token_ext || "";
      const keyExt: string = response.user.key_ext || "";
      const valIdExt: string = response.user.val_id_ext || "";
      const id_ext: string = response.user.id_ext || "";
      const valPhoto: string = response.user.val_pic || "";

      localStorage.setItem("USER_ID", JSON.stringify(userId));
      localStorage.setItem("REFRESH_TOKEN", refreshTKN);
      localStorage.setItem("QBTT", this.password);
      sessionStorage.setItem("USER_ID", JSON.stringify(userId));
      localStorage.setItem("TOKEN_EXT", tokenExt);
      localStorage.setItem("KEY_EXT", keyExt);
      localStorage.setItem("VAL_EXT_ID", JSON.stringify(valIdExt));
      localStorage.setItem("VAL_PIC_CARD", JSON.stringify(valPhoto));
      localStorage.setItem("ID_EXT", id_ext);
      localStorage.setItem("IS_AUTHORIZED_EXTERNAL", "AUTHORIZED");
      localStorage.setItem("FIRST_TIME_ON_APP", "false");
      if ($("#biometry").prop("checked") == true)
        localStorage.setItem("BIOMETRY_P", this.password);
      localStorage.setItem("QBTT", this.password);

      this.userId = "";
      this.password = "";

      this.sessionLogIn();
    };
    req.callbackError = (error: any) => {
      const _window: any = window;

      if (_window.navigator.onLine === false)
        this.message = "Sem conexão com a internet.";
      else if (
        error &&
        error.response &&
        error.response.data &&
        error.response.data.errorCode == 1
      )
        this.message = "Usuário não encontrado.";
      else if (
        error &&
        error.response &&
        error.response.data &&
        error.response.data.errorCode == 2
      )
        this.message = "Usuário ou senha incorretos.";
      else if (
        error &&
        error.response &&
        error.response.data &&
        error.response.data.errorCode == 3
      )
        this.message = "Usuário ou senha incorretos.";
      else if (
        (error &&
          error.response &&
          error.response.data &&
          error.response.data.errorCode == 10) ||
        (error &&
          error.response &&
          error.response.data &&
          error.response.data.errorCode == 11)
      )
        this.message = "Usuário não autenticado.";
      else if (
        error &&
        error.response &&
        error.response.data &&
        error.response.data.errorCode == 1002
      )
        this.message = error.response.data.error;
      else
        this.message =
          "Ocorreu um erro desconhecido. Por favor, tente de novo mais tarde";

      this.password = "";
    };

    req.blockTouchEvents = false;
    req.showLoader = true; 
    req.send();
    localStorage.setItem("USER_EXT_ID", this.userId);
  }

  sessionLogIn() {
    const self = this;
    const req = new Request();
    req.body = {
      USER_ID: localStorage.getItem("USER_ID") || "",
      REFRESH_TOKEN: localStorage.getItem("REFRESH_TOKEN") || ""
    };
    req.route = "requestToken";
    req.callbackSuccess = (response: any) =>{
      localStorage.setItem("TOKEN", response.user.token);
      // this.getOrganizationData();
      this.getUserData();
      // this.updateFavoriteList();
      // this.getUserTicketsByOrg();
      // this.getUserOrganizations();
    };
    req.callbackError = function(error: any) {
      console.log(error);
    };

    req.send();
  }

  getUserOrganizations() {
    const self = this
    const req = new Request();
    req.body = {
        'USER_ID': localStorage.getItem('USER_ID') || '',
        'USER_TYPE_ID': 1,
        'TOKEN': localStorage.getItem('TOKEN')
    };
    req.route = 'getUserOrganizations';
    req.callbackSuccess = (response: any) => {
        localStorage.setItem('USER_ORGANIZATIONS', JSON.stringify(response.user.organizations));
        if (response.user.organizations.length == 1) {
          this.loginToOrganization(response.user.organizations[0]);
        }
        else this.$router.push('ChooseOrganization');
    };
    req.callbackError = function (error: any) {
        console.log(error);
    };
    // req.loadingMessage = 'Buscando suas informações...';
    req.blockTouchEvents = false;
    req.send();
  }

  createAccount() {
    // localStorage.setItem(
    //   "LM_COMEBACK_TO",
    //   (Router as any).history.current.path
    // );
    // LoginFrontEnd.goToRegister(this.comeback);
    this.$router.push(this.$props.registerRoute);
  }

  getUserData() {
    const self = this
    const req = new Request();
    req.body = {
        'USER_ID': localStorage.getItem('USER_ID') || '',
        'NRORG': (localStorage.getItem("NRORG")) ? localStorage.getItem("NRORG") : this.loginProps.nrorg,
        'TOKEN': localStorage.getItem('TOKEN') || '',
        'USER_TYPE_ID': 1,
        'TOKEN_EXT': localStorage.getItem('TOKEN_EXT' || "")
    };
    req.route = 'getUserData';
    req.callbackSuccess = (response: any) => {
        const now: any = moment();
        localStorage.setItem('USER_DATA', JSON.stringify(response.user));
        localStorage.setItem('USER_NAME', response.user.FIRST_NAME);
        localStorage.setItem('LAST_GET_USER_DATA', now);
        this.confirmAndCloseModal();
    };
    req.callbackError = function (error: any) {
        console.log(error);
    };
    req.send();
  }

  comeback() {
    // if(localStorage.getItem('LM_COMEBACK_TO')) this.$router.push(localStorage.getItem('LM_COMEBACK_TO')||'login');
    this.$router.go(-1);
  }

  getOrganizationData() {
    const self = this
    const req = new Request();
    req.body = {
        'NRORG': (localStorage.getItem("NRORG")) ? localStorage.getItem("NRORG") : this.loginProps.nrorg,
        'USER_ID': localStorage.getItem('USER_ID'),
        'TOKEN': localStorage.getItem('TOKEN'),
        'USER_TYPE_ID': 1,
    };
    req.route = 'getOrganizationData';
    req.callbackSuccess = function (response: any) {
        const name: string = response.organization.NAME;
        const editableFields: any = response.organization.EDITABLE_FIELDS;
        let PRIMARY_COLOR = response.organization.CONFIGURATIONS.PRIMARY_COLOR;
        let SUPPORT_COLOR = response.organization.CONFIGURATIONS.SECONDARY_COLOR;

        localStorage.setItem('ORG_NAME', name);
        localStorage.setItem('ORG_FIELDS', JSON.stringify((editableFields)));
        localStorage.setItem('ORGANIZATION_DATA', JSON.stringify((response.organization)));

        // if (document.documentElement) document.documentElement.style.setProperty('--primary-color', PRIMARY_COLOR);
        // if (document.documentElement) document.documentElement.style.setProperty('--support-color', SUPPORT_COLOR);
        self.getUserData();
        
    };
    req.callbackError = function (error: any) {
        let message: string;
        if (error.response.data.errorCode == 24) {
            message = 'Usuário não autorizado pelo titular!';
        }
        if (error.response.data.errorCode == 14) {
            message = 'Usuário não autorizado pela organização!';
        }
        console.log(error);
    };
    req.blockTouchEvents = true;
    req.send();
  }

  updateFavoriteList(){
    try{
        const req = new Request();
        req.body = {
            'USER_ID': localStorage.getItem('USER_ID'),
            "NRORG": (localStorage.getItem("NRORG")) ? localStorage.getItem("NRORG") : this.loginProps.nrorg,
            'TOKEN': localStorage.getItem("TOKEN")
        }
        req.route = 'favorite';
        req.callbackSuccess = (response:any) => {
            localStorage.setItem('FAVORITE_EVENTS_AND_STORES',JSON.stringify(response.calendar.filter((obj: any)=> !!obj.favoriteId)));
        }
        req.callbackError = () => {
            console.log("Error");
        }
        req.blockTouchEvents = false;
        req.send();
    }catch (e){
        console.log(e)
    }
  }

  validate_char(c: string) {
    if ((c.charCodeAt(0) >= 48 && c.charCodeAt(0) <= 57)
        || (c.charCodeAt(0) >= 65 && c.charCodeAt(0) <= 90)
        || (c.charCodeAt(0) >= 97 && c.charCodeAt(0) <= 122)) {
        return true;
    } else {
        return false;
    }
  }

  validate_num(c: string) {
      if (c.charCodeAt(0) >= 48 && c.charCodeAt(0) <= 57) {
          return true;
      } else {
          return false;
      }
  }

  getMaskLength(step:any) {
      return (step.mask.match(/_/g) || []).length;
  }

  applyMask(text: string, mask: string) {
      var validChars: string[] = [];
      var maskedText = "";  

      for (var i = 0; i < text.length; i++) {
          if (this.validate_num(text.charAt(i))) {
              validChars.push(text.charAt(i));
          }
      }
      

      for (var j = 0, i = 0; j < mask.length && i < validChars.length; j++) {
          if (mask.charAt(j) == "_") { 
                  maskedText = maskedText + validChars[i];
                  i++;
          } else {
              maskedText = maskedText + mask.charAt(j);
          }

      }

      return maskedText;
  }

  getValidCharacters(text: string) {
      var finalText = '';

      for (var i = 0; i < text.length; i++) {
          if (this.validate_num(text.charAt(i)) ) {
              finalText = finalText + text.charAt(i);
          }
      }
      return finalText.toUpperCase();
  }

  getUserTicketsByOrg() {
    try {
        const self = this
        const req = new Request();
        req.body = {
            "USER_ID": localStorage.getItem('USER_ID'),
            "TOKEN": localStorage.getItem('TOKEN'),
            "NRORG": localStorage.getItem('NRORG')
        };
        req.route = 'getUserTicketsByOrg';
        req.callbackSuccess = function(response: any) {
            localStorage.setItem('USER_TICKETS', JSON.stringify(response.userTickets));    
        };
        req.callbackError = function(error: any) {
            console.log(error);
        };
        req.blockTouchEvents = false;
        if (localStorage.getItem('USER_ID')) req.send();
        } catch (e) {    
        console.log(e);
    }
  }

  goToNextStep(){
    this.showPassword = true;
    this.userId = this.getValidCharacters(this.userInput);
    this.userInput = "";
  }

  goToPreviousStep(){
    this.userInput = this.applyMask(this.userId, "___.___.___-__");
    this.message = "";
    this.showPassword = false;
  }

  loginToOrganization(org: any) {
    const self = this
    const req = new Request();
    req.body = {
      'NRORG': org.nrorg,
      'USER_ID': localStorage.getItem('USER_ID'),
      'TOKEN': localStorage.getItem('TOKEN'),
      'USER_TYPE_ID': 1,
    };
    req.route = 'getOrganizationData';
    req.callbackSuccess = (response: any) => {
      const name: string = response.organization.NAME;
      const editableFields: any = response.organization.EDITABLE_FIELDS;
      let PRIMARY_COLOR = response.organization.CONFIGURATIONS.PRIMARY_COLOR;
      let SUPPORT_COLOR = response.organization.CONFIGURATIONS.SECONDARY_COLOR;

      localStorage.setItem('NRORG', JSON.stringify(org.nrorg));
      localStorage.setItem('ORG_NAME', name);
      localStorage.setItem('ORG_FIELDS', JSON.stringify((editableFields)));
      localStorage.setItem('ORGANIZATION_DATA', JSON.stringify((response.organization)));
      localStorage.setItem('ORGANIZATION_LOGO', org.logoImage);
      localStorage.setItem('ORGANIZATION_LOGO_SMALL', org.logoImageSmall);

      if (document.documentElement) {
          document.documentElement.style.setProperty('--primary-color', PRIMARY_COLOR);
          localStorage.setItem('PRIMARY_COLOR', PRIMARY_COLOR)
            
      }
      if (document.documentElement) {
          document.documentElement.style.setProperty('--secundary-color', SUPPORT_COLOR);
          localStorage.setItem('SECONDARY_COLOR', SUPPORT_COLOR)
          document.documentElement.style.setProperty('--support-color', SUPPORT_COLOR);
          document.documentElement.style.setProperty('--secundary-support-color', SUPPORT_COLOR);
      }

      this.confirmAndCloseModal();
      // this.goNext();

    };
    req.callbackError = (error: any) => {
      let message: string;
      if (error.response.data.errorCode == 24) {
        message = 'Usuário não autorizado pelo titular!';        
      }
      if (error.response.data.errorCode == 14) {
        message = 'Usuário não autorizado pela organização!';
      }
      console.log(error);
    };
    req.blockTouchEvents = false;
    req.send();
  }

  pushCharacterToInput(c : string){
    var uI = Array.from(this.userInput);
    if(uI.length==14 ) uI.shift();
    uI.push(c);
    if (!this.showPassword) this.userInput = this.applyMask(uI.join(""), "___.___.___-__");
    else {
      this.userInput = uI.join("");
      this.convertedPassword = this.userInput.replace(new RegExp("[0-9]", "g"), "*");
    }
  }

  popCharacterInInput(){
    var uI = Array.from(this.userInput);
    uI.pop();
    if (!this.showPassword) this.userInput = this.applyMask(uI.join(""), "___.___.___-__");
    else {
      this.userInput = uI.join("");
      this.convertedPassword = this.userInput.replace(new RegExp("[0-9]", "g"), "*");
    }
  }

  clearUserInput(){
    this.userInput = "";
  }

  confirmAndCloseModal(){
    this.$emit('confirmOperation');
    this.closeModal();
  }
}
</script>
