<template>
    <div :class="'minicard ' + classComponent">
        <div class="minicard-wrapper">
            <div class="minicard-main">
                <div class="minicard-side">
                    <slot name="side">
                            
                    </slot>    
                </div>
                <div class="minicard-header">
                    <div class="minicard-title">
                        <slot name="title">
                        
                        </slot>
                    </div>
                    <div class="minicard-body">
                        <slot name="description">
                        
                        </slot>
                    </div>
                </div>
                <div class="minicard-image">
                    <slot name="image">
                    </slot>
                    
                </div>
            </div>
            <div class="minicard-footer">
                <slot name="info">
                
                </slot>
            </div>
        </div>
    </div>
</template>

<style>

.minicard .minicard-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.14);;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.minicard .minicard-main{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    
}

.minicard .minicard-header{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.minicard .minicard-title{
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.minicard .minicard-body{
    margin-top: 0.25rem;
    font-size: 1rem;
    color: gray;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.minicard .minicard-image{
    border-radius: 100%;
    width: 25%;
    height: 100%;
    position: relative;
}

.minicard .minicard-footer{
    display: flex;
    flex-direction: column;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    position: absolute;
    bottom:0;
}

</style>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {
        icon: String, content: String, description: String, 
        classComponent: {
            type: String,
            default: ''
        }
    }
})
export default class Minicard extends Vue {

}
</script>