<template>
  <div class="SC-loading-dots" style="width: 100%">
    <div class="SC-loading-dots-container">
        <div class="SC-loading-dot"/>
        <div class="SC-loading-dot" style="animation-delay: 0.3s"/>
        <div class="SC-loading-dot" style="animation-delay: 0.6s"/>
    </div>
  </div>
</template>

<style>

.SC-loading-dots .SC-loading-dots-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto auto;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.SC-loading-dots .SC-loading-dot{
    margin: auto 0.3rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    background-color: var(--secundary-support-color);
    animation-name: loading-dots-bouncing;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

@keyframes loading-dots-bouncing {
	0% {
        opacity: 0.5;
        transform: translateY(0);
    }
    40%{
        transform: translateY(-0.2rem);
    }
	50% {
        opacity: 0.3;
    }
    80%{
        transform: translateY(0);
    }
    100% {
        opacity: 0.5;
    }
}

</style>

<script lang="ts" >
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component({
    props: { }
})
export default class SCLoadingDots extends Vue {

}
</script>