<template>
  <div v-if="store.id" :class="{'store-card': true, 'store-card-expanded': expanded}">
    <div :class="{'store-header': !expanded, 'store-header-expanded': expanded}">
      <!-- <div class="store-collapse-info"  v-if="expanded"/> -->
      <div class="store-name">{{store.name}}</div>
      <div class="store-description" v-if="store.about && !isEvent">{{store.about}}</div>
      <div class="store-info" v-if="!isEvent && !expanded">
        <div v-if="store.location">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'map-marker-alt']" size="1x" />
          {{store.location}}
        </div>
        <!-- <div v-if="store.minTime && store.maxTime && store.maxTime==store.minTime">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'stopwatch']" size="1x" />
          {{store.maxTime}}min
        </div>
        <div v-else-if="store.minTime && store.maxTime">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'stopwatch']" size="1x" />
          {{store.minTime}} - {{store.maxTime}}min
        </div> -->
        <div v-if="store.workshifts && store.workshifts.length">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" />
          {{getCurrentWorkshift()}}
          <!-- 9:30h às 22:20h -->
        </div>
        <!-- <div v-if="getEventSchedule() && store.type=='E'">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['far', 'calendar']" size="1x" />
          {{getEventSchedule()}}
          <!-- 9:30h às 22:20h -->
        <!-- </div> --> 
      </div>
      <div class="store-info" v-if="isEvent && !expanded">
        <div v-if="store.location">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'map-marker-alt']" size="1x" />
          {{store.location}}
        </div>
        <div v-if="getEventSchedule() && store.type=='E'">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'calendar']" size="1x" />
          {{getEventSchedule()}}
        </div> 
        <div v-if="store.rating">
          <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'loveseat']" size="1x" />
          {{store.rating}}
        </div>  
      </div>
      <div class="store-expand-info"  v-if="!expanded && store.type!='E'">
        <font-awesome-icon :aria-hidden="true" :icon="['far', 'chevron-down']" size="1x"/>
      </div>
      <div  v-if="expanded">
        <div class="store-info-section-title">
          Pagamento
        </div>
        <div class="store-info-section-content" :style="'display:block; margin-top: -0.5rem; margin-left: -0.5rem;'">
          <div v-for="cc in creditCards" :key="cc.id" class='cardContainer'> 
            <img :src="getImage(cc.flag)"/>
            <span style='margin:auto 0'>{{cc.card}}</span>
          </div>
        </div>
      </div>
      <div  v-if="expanded && store.minTime && store.maxTime">
        <div class="store-info-section-title">
          Espera estimada
        </div>
        <div class="store-info-section-content" v-if="store.minTime == store.maxTime">
          <div > <span class="store-info-main-text">{{store.minTime}} </span> minutos</div>
        </div>
        <div class="store-info-section-content" v-else>
          <div > Mínima: <span class="store-info-main-text">{{store.minTime}} </span> minutos</div>
          <div > Máxima: <span class="store-info-main-text">{{store.maxTime}} </span> minutos</div>
        </div>
      </div>
      <div  v-if="expanded && store.workshifts && store.workshifts.length">
        <div class="store-info-section-title">
          Funcionamento
        </div>
        <div class="store-info-section-content">
          <div v-for="ws in getWeekWorkshift()" :key="ws.id" :style="'display:flex; flex-direction:row; justify-content: space-between;'"> 
            <span v-if="ws.workshift" :class="{'store-info-main-text': ws.active}">{{ws.day}}</span>
            <span v-if="ws.workshift" :class="{'store-info-main-text': ws.active}">{{ws.workshift}}</span>
          </div>
        </div>
      </div>
      <div  v-if="expanded && store.address">
        <div class="store-info-section-title">
          Endereço
        </div>
        <div class="store-info-section-content">
          {{store.address}}
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<style>
.store-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  transition:0.2s;
}

.store-card .main {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

.store-card .placeholder {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}


.store-card .store-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 1);
  height: 100%;
  border-radius: 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  box-shadow: lightgrey 0 0.1rem 0.1rem 0.025rem;
}



.store-card .store-header-expanded .store-name {
  margin-bottom: 0.75rem;
}

.store-card .store-header .store-description{
  font-size: 1.2rem;
  color: gray;
  text-align: left;
  /* padding-bottom: 1rem; */
  /* height: 2rem; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0;
}

.store-card .store-info {
  border-top: 0.025rem solid lightgray;
  display: block;
  font-size:0.9rem;
  color: gray;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.store-card .store-expand-info {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  bottom: 0.5rem;
  width: 100%;
  position: relative;
}



.store-card .store-info div{
  margin-right:1rem;
  margin-bottom:0.25rem;
  display: flex;
  float:left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 1rem);
}

.store-card .store-header-expanded{
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding: 1rem 1rem 5rem 1rem;
  background-color: var(--background-color);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  box-shadow: rgb(0,0,0,0.6) 0 0 0 10vh;
  overflow-y: scroll
}

.store-card .store-header-expanded .store-info-section-title {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  margin: 0.75rem 0;
}

.store-card .store-header-expanded .store-info-section-content {
  font-size: 1.2rem;
  text-align: left;
  color: gray;
}

.store-card .store-header-expanded .store-info-section-title .icon{
  color: var(--primary-color);
  width: 1rem;
}

.store-info-main-text{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.25rem;
}

.store-card .store-header-expanded .store-description{
  font-size: 1.2rem;
  color: gray;
  text-align: left;
}

.store-collapse-info{
  background-color: lightgray;
  height: 0.5rem;
  width: 20%;
  margin: 0 auto 0.5rem;
  border-radius: 1rem;
}

.cardContainer{ 
  display: flex; 
  flex-direction: row; 
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: lightgray;
  color: black;
  font-size: 1.1rem;
  width: fit-content;
  float: left;
  height: 3rem;
}

.cardContainer img{ 
  height: 2rem;
  max-width: 3.5rem;
  margin-right: 0.5rem;
}

@media (max-height: 600px){
    .store-card .store-name {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  text-align: left;
}
.store-card .store-info {
  border-top: 0.025rem solid lightgray;
  display: block;
  font-size:0.9rem;
  color: gray;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.store-card .store-info .icon{
  color: var(--primary-color);
  font-size:1rem;
  margin: auto 0.25rem auto 0;
  width: 1rem;
}
}

@media (min-height: 600px){
    .store-card .store-name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: left;
}
.store-card .store-info {
  border-top: 0.025rem solid lightgray;
  display: block;
  font-size:1.6rem;
  color: gray;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.store-card .store-info .icon{
  color: var(--primary-color);
  font-size:2rem;
  margin: auto 0.25rem auto 0;
  width: 2rem;
}
}

</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import moment from "moment";
import Util from "@/ts/Util";

@Component({
  props: {
    store: {
      type: Object,
      default: () => {
        return { id: 0 };
      }
    },
    isEvent: {
      type: Boolean,
      default: false
    },
    callback: {
      type: Function,
      default: () => {}
    },
    expanded: {
      type: Boolean,
      default: false
    }
  }
})
export default class StoreCard extends Vue {
  
  weekWorkshift: any = [{id: 0, day: "Domingo", workshift:"0", active: false}];
  creditCards: any = [
    {id: 0, card: 'Diners Club', flag: 'Diners.svg'},
    {id: 1, card: 'Elo', flag: 'Elo.svg'},
    {id: 2, card: 'MasterCard', flag: 'MasterCard.svg'},
    {id: 3, card: 'Visa', flag: 'Visa.svg'}
  ]
  mounted() {
  }

  // toggleExpanded(){
  //   if (this.$props.store.type!='E') this.expanded = !this.expanded;
  //   else this.expanded = false;
  //   this.$emit('toggle', this.expanded);
  // }

  getCurrentWorkshift(){
    if(this.$props.store.workshifts.length > 0 && this.$props.store.workshifts.find((ws:any)=>ws.DAY == moment().day())){
      var initialTime = moment(this.$props.store.workshifts.find((ws:any)=>ws.DAY == moment().day()).INITIAL_TIME.date).format('HH:mm')
      var finalTime = moment(this.$props.store.workshifts.find((ws:any)=>ws.DAY == moment().day()).FINAL_TIME.date).format('HH:mm');
      return initialTime + ' às ' + finalTime;
    }
    else return "";
  }

  getWeekWorkshift(){
    var weekDays: any = ['Domingo','Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
    var weekWorkshift = [];
    for( var i = 0; i < 7; i+=1){
      var workshiftObj: any = {id: 0, day: "", workshift:"", active: false};
      var initialTime: string = '';
      var finalTime: string = '';  
      workshiftObj.id = i;
      workshiftObj.day = weekDays[i];
      if (this.$props.store.workshifts.find((ws:any)=>ws.DAY == i)){
        initialTime = moment(this.$props.store.workshifts.find((ws:any)=>ws.DAY == i).INITIAL_TIME.date).format('HH:mm')
        finalTime = moment(this.$props.store.workshifts.find((ws:any)=>ws.DAY == i).FINAL_TIME.date).format('HH:mm');
        if (initialTime && finalTime) workshiftObj.workshift = initialTime + ' às ' + finalTime;
      }
      else workshiftObj.workshift = '';
      if (i == moment().day()) workshiftObj.active = true;
      weekWorkshift.push(workshiftObj);
    } 
    return weekWorkshift;
  }

  getEventSchedule(){
    var eventSchedule: string = "";
    if(this.$props.store.initialDate){
      var initialDate = moment(this.$props.store.initialDate.date).format('DD/MM - HH:mm')
      eventSchedule = eventSchedule + initialDate
    }
    // if(this.$props.store.finalDate){
    //   var finalDate = moment(this.$props.store.finalDate.date).format('DD/MM/YYYY')
    //   eventSchedule = eventSchedule + ' até ' + finalDate
    // }
    return eventSchedule.replace('-', 'às');

  }
  getImage(img: string) {
        if (img) return Util.getImgUrl(img.split('.')[0], '.' + img.split('.')[1]);
        else return "";
  }
}
</script>
