<template>
    <div class="keyboard-container" @touchstart.stop="">
        <div v-for="digit in keyboardList"  :key="digit.value" class="virtual-keyboard waves-effect" :id='digit.value' v-on:touchstart="emitKeyPress(digit.value)"
        >{{digit.value}}</div>
        <div class="virtual-keyboard waves-effect" v-on:touchstart="emitKeyPress('\u232B')" style="color: red !important;left: 1vw;width: 17vw;"
        >{{'\u232B'}}</div>
        <div v-if="keyboardList.length>15" class="virtual-keyboard waves-effect" id="espace" v-on:touchstart="emitKeyPress('\u0020')" style="width:76vw; left:8vw;"
        >{{'\u0020'}}</div>

    </div>
</template>

<style>

    .keyboard-container{
        display: flex; 
        flex-flow: row wrap; 
        padding: 0 1vw; 
        width: 90%; 
        margin: 0 auto;
        position: relative;
    }
    #nan {
        border:white;
        color: white;
        font-weight: bold;
        border-radius: 7rem;
        height:1vh;
        width: 0.5px;
        line-height: 5rem;
        font-size: 3rem;
        margin: 0px 1rem 2rem;
        transition: unset !important;
    }
    #big {
        border:white;
        color: white;
        font-weight: bold;
        border-radius: 7rem;
        height:1rem;
        width: 6vw;
        line-height: 5rem;
        font-size: 3rem;
        margin: 0px 1rem 2rem;
        transition: unset !important;
    }

    @media (max-width: 692px){

        .keyboard-container .virtual-keyboard {
            border: 0.25rem solid var(--primary-color);
            color: var(--primary-color);
            font-weight: bold;
            border-radius: 1vh;
            height: 5rem;
            width: calc(8.7vw);
            line-height: 4.5rem;
            font-size: 3rem;
            margin: 0.3vw 0.4vw 0.2vw;
            -webkit-transition: unset !important;
            transition: unset !important;

        }

    }
    
     @media (min-width: 400px){

        .keyboard-container .virtual-keyboard {
            border: 0.25rem solid var(--primary-color);
            color: var(--primary-color);
            font-weight: bold;
            border-radius: 1vw;
            height: 5rem;
            width: calc(8.59vw);
            line-height: 4.5rem;
            font-size: 3rem;
            margin: 0.3vw 0.4vw 0.2vw;
            -webkit-transition: unset !important;
            transition: unset !important;

        }

    }


</style>

<script lang="ts">
import { Emit } from "vue-property-decorator"

import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "@/ts/Util";

@Component({
  props: {
   keyboardList: Array,
  }
})

export default class VirtualKeyboard extends Vue {
    emitKeyPress(digit: string){
        this.$emit('virtualKeyPress', digit);
    }
}

</script>