<template>
    <div class="keyboardCPF-container" @touchstart.stop="">
        <div v-for="digit in keyboardList"  :key="digit.value" class="virtual-keyboardCPF waves-effect" v-on:touchstart="emitKeyPress(digit.value)"
        >{{digit.value}}</div>
        <div class="virtual-keyboardCPF waves-effect" v-on:touchstart="emitKeyPress('\u232B')" style="color: red !important;"
        >{{'\u232B'}}</div>
    </div>
</template>

<style>

    .keyboardCPF-container{
        display: flex; 
        flex-flow: row wrap; 
        padding: 0 1rem; 
        width: 90%; 
        margin: 0 auto;
        position: relative;
    }

    .keyboardCPF-container .virtual-keyboardCPF{
        border: 0.25rem solid var(--primary-color);
        color: var(--primary-color);
        font-weight: bold;
        border-radius: 7rem;
        height: 5rem;
        width: calc(33.33% - 2rem);
        line-height: 5rem;
        font-size: 3rem;
        margin: 0px 1rem 2rem;
        transition: unset !important;
    }
</style>

<script lang="ts">
import { Emit } from "vue-property-decorator"

import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "@/ts/Util";

@Component({
  props: {
   keyboardList: Array,
  }
})

export default class VirtualKeyboardCPF extends Vue {
    emitKeyPress(digit: string){
        this.$emit('virtualKeyPress', digit);
    }
}

</script>