<template>
    <div class="activity" style="height: 100%;">
        <div class="container clearfix" style="height: 100%; width: 100%;">
            <div class="chat" style="height: 100%;">
                <div class="chat-history" style="height: 100%; overflow-y: scroll;">
                    <ul style="height: 100%; margin: 0; padding: 10px 0;">
                        <li v-bind:class="{'lastMessage': index == activities.length - 1}" v-for="(activity, index) in activities" :key="activity.id" style="display: flex; flex-direction: column; margin-bottom: 15px;">
                            <div v-if="verifyNextDate(activities,index)" v-bind:class="{'message-full-data': true}">
                                <span class="message-data-time">{{formatFullDate(activity.createdAt.date)}}</span>
                            </div>
                            <div v-if="activity.description" v-bind:class="{'message': true, 'my-message': activity.side, 'other-message': !activity.side, 'float-right': activity.side}">
                                <span style="font-size: 13px">{{activity.description}}</span>
                            </div>
                            <div v-if="activity.file" v-bind:class="{'file-content': true, 'my-message': activity.side, 'other-message': !activity.side, 'float-right': activity.side, 'float-left': !activity.side}" v-on:click="openThis(activity.file)">
                                <img :src="activity.file">
                            </div>
                            <!-- <a v-bind:class="{'file-content': true, 'my-message': activity.side, 'other-message': !activity.side, 'float-right': activity.side, 'float-left': !activity.side}">
                                <img src="https://via.placeholder.com/150" />
                            </a> -->
                            <div v-bind:class="{'message-data': true, 'align-left': !activity.side, 'align-right': activity.side}">
                                <span class="message-data-name">{{getLastAndFirstName(activity.userName)}} - </span>
                                <span class="message-data-time">{{formatDateTime(activity.createdAt.date)}} </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts" >

    import Vue from 'vue';
    import moment from 'moment';
    import { Component } from 'vue-property-decorator';

    @Component({
        props: {activities: Array, openThis: Function}
    })

    export default class ActivitySupportRequest extends Vue {
        
        formatDateTime( stringDate:string ) {
            const momentDateTime: any = moment(stringDate);
            return momentDateTime.lang('pt-br').format('HH:mm');
        }

        formatFullDate( stringDate:string ){
            const momentFullDate: any = moment(stringDate);
            return momentFullDate.lang('pt-br').format('DD [de] MMMM [de] YYYY');
        }

        verifyNextDate( object:any, index:any){
            if(!object[index-1]){
                if(this.formatFullDate(object[index].createdAt.date)){
                    return true;
                }
            }
            else if(object[index-1]){
                if(this.formatFullDate(object[index-1].createdAt.date) != this.formatFullDate(object[index].createdAt.date)){
                    return true;
                }
            }else if(object[index+1]){
                if(this.formatFullDate(object[index].createdAt.date) != this.formatFullDate(object[index+1].createdAt.date)){
                    return true;
                }
            } else return false;
        }

        getLastAndFirstName( name:string ) {
            var str = name
            var array = str.split(" ");
            return array[0] + ' ' + array[array.length - 1];
        } 

        downloadThis( href:any ){
            // console.log(href);
            // var e: any = $('#file'+id)
            // e.preventDefault();
            // window.location.href = href;
            console.log('oiasdoiaosdioasid');
            var a = document.createElement('a');
            a.href = href;
            a.download = href;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

    }

</script>
<style>

.chat .chat-history .my-message {
    background: #b3d0ff; 
    margin-left: auto;
    max-width: 80vw;
    word-break: break-word;
}

.chat .chat-history .message {
    color: black;
    padding: 10px;
    line-height: 1.1;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: left;
    position: relative;
}

.chat .chat-history .other-message {
    background: #7db0ff;
    margin-right: auto;
    max-width: 80vw;
    word-break: break-word;
}

.chat .chat-history .message-data {
    color: #0000008c;
    position: relative;
    font-size: 0.8rem;
}

.chat .chat-history .message-full-data {
    color: #0000008c;
    position: relative;
    margin: 5px auto;
    padding: 3px;
    border-radius: 5px;
    background-color: #d7e4f9;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.chat-history {
    margin: 0 10px 0 10px;
}

.activity {
    margin-bottom: 30px; 
}

.file-content {
    max-width: 70%;
    min-width: 70%;
    height: 100px;
    overflow: hidden;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 7px;
}

.file-content > img{
    border-style: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 6px;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: #564e4e12;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.float-right {
    float: right !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
</style>
