<template>
    <div class="mainDiv" >
        <li class="mainLi" v-on:click="click ? click(id) : () => {}">
            <div class="thumbnail">
                <!-- <a class="favorite"><i class="heart far fa-heart"></i></a> -->
                <img :src="img" alt="Imagem" class="cardDefaultImg img" /> 
            </div>
            <span class="spanText" >{{text.toLowerCase()}}</span>
        </li>
    </div>
</template>

<style scoped>

.thumbnail {
  margin: 10px 10px 10px 0px !important;
  position: relative;
  width: 100%;
  height: 140px;
}

.thumbnail img {
  border-radius: 4px;
  position: absolute;
  left: 45%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

.img {
  object-fit: cover;
  height: 100%;
  object-position: center;
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.mainDiv {
    margin: 0% 3% 0% 7%;
    height: auto;
    /* max-height: 175px; */
}

.cardDefaultImg {
    width: 100%;
}

.mainLi {
    text-align: left;
    font-size: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.spanText {
    text-transform: capitalize;
    max-height: 40px !important;
    min-height: 40px !important;
}
</style>

<script  lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import Util from '../ts/Util';

@Component({
    props: {cardText: String, image: String, click: Function, id: String}
})

export default class CardDefault extends Vue {
    private text: string = '';    
    private img: string = '';
    private imgName: string = '';

    mounted() {
        this.text = this.$props.cardText;
        let ext = '.jpg';

        let imgProp = this.$props.image;
        if (imgProp == '' || imgProp == 'placeholder' || imgProp === null) {
            this.imgName = 'placeholder';
            ext = '.png';
        } else if (imgProp == 'ACQUAP') {
            this.imgName = 'class_aqua';
        }  else if (imgProp == 'ARTMAR'){
            this.imgName = 'class_martial';
        } else if (imgProp == 'BASQ')   {
            this.imgName = 'class_basket';
        } else if (imgProp == 'MUSICA') {
            this.imgName = 'class_music';
        } else if (imgProp == 'GINOLI') {
            this.imgName = 'class_gymnastics';
        } else if (imgProp == 'IOGA')   {
            this.imgName = 'class_yoga';
        } else if (imgProp == 'NAT')    {
            this.imgName = 'class_natacao';
        } else if (imgProp == 'PCLASS') {
            this.imgName = 'class_gym';
        } else if (imgProp == 'PIL')    {
            this.imgName = 'class_pilates';
        } else if (imgProp == 'PILIND') {
            this.imgName = 'class_pil';
        } else if (imgProp == 'SQUASH') {
            this.imgName = 'class_squash';
        } else if (imgProp == 'TAICHI') {
            this.imgName = 'class_thai';
        } else if (imgProp == 'TENIS')  {
            this.imgName = 'class_tenis';
        } else if (imgProp == 'VOLEI')  {
            this.imgName = 'class_voley';
        } else if (imgProp == 'FUTSOC')  {
            this.imgName = 'class_soccer';
        }  else if (imgProp == 'MUSCULACAO')  {
            this.imgName = 'class_gym';
        } else if (imgProp == 'invis')  {
            this.imgName = '';
        }  else {
            this.imgName = 'sports';
        }

        setTimeout(() => { this.img = Util.getImgUrl(this.imgName, ext); }, 50);
    }
}

</script>