<template>
    <div :id="cardId" class="cardWithCarousel">
        <div :id="'carouselSpaceFotos'+cardId" class="row carousel carousel-slider center margin-none carouselSpacePictures">
            <div v-for="picture in pictures" :key="picture.id" class="carousel-item picture" :id="picture.id">
                <img :src="picture.urlPicture">
            </div>
        </div>
        <div class="carouselSpaceData">
            <div class="overflow-text firstData">
                <span>{{firstData}}</span>
            </div>
            <div class="secondData">
                <span>{{secondData}}</span>
            </div>
            <div class="thirdData">
                <span>{{thirdData}}</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts" >

import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        cardId: String, firstData: String, secondData: String, thirdData: String, click: Function, pictures: Array
    }
})

export default class CardWithCarousel extends Vue {

    mounted(){
        const self = this;
        let panel:any = document.querySelector('#carouselSpaceFotos'+self.$props.cardId);
        setTimeout(()=>{
            const carousel = M.Carousel.init(panel, {
                fullWidth: true,
                indicators: true,
                duration: 500
            });
        }, 700);
    }

}
</script>

<style>

.cardWithCarousel{
    width: 92vw;
    position: relative;
    margin: 15px auto;
    box-shadow: rgb(88, 88, 88) 0px 1px 9px -2px;
    border-radius: 3px;
}

.cardWithCarousel .carouselSpacePictures{
    height: 135px !important;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.carouselSpacePictures .picture img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 3px 3px 0 0;
}

.cardWithCarousel .carouselSpaceData{
    padding: 15px;
    text-align: left;
}

.carouselSpaceData .firstData{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 7px;
}

.carouselSpaceData .secondData{
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 7px;
}

.carouselSpaceData .thirdData{
    font-weight: normal;
    font-size: 1.0rem;
    line-height: 1;
    color: #828282;
}

</style>
