<template>
    <div :id="cardId" :class="'card_content '+classDiv">
        <div class="card_image">
            <div :id="'favorite'+cardId" class="card_favorite" v-on:click="click2(cardId)"><i class="material-icons color1">{{icone}}</i></div>
            <img :src="imageSource" v-on:click="click(cardId)">
        </div>
        <div class="card_info" v-on:click="click(cardId)">
            <div class="event_date">
                <span>{{cardDate}}</span>
            </div>
            <div class="event_title">
                <span>{{cardName}}</span>
            </div>
            <div class="event_local">
                <span>{{cardInfo}}</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        imageSource: String, cardId : Number, cardDate: String, cardName: String, cardInfo: String, click: Function, classDiv: String, click2: Function, icone: String
    }
})

export default class CardEvent extends Vue {

    favoriteEvent() {
        const isChecked = $('#icon-' + this.$props.idFavorite).html() === 'favorite';
        if (isChecked) {
            $('#icon-' + this.$props.idFavorite).html('favorite_border');
        } else {
            $('#icon-' + this.$props.idFavorite).html('favorite');
        }
    }

}
</script>
