<template>
  <div :class="'round-button' + classDiv" :id="idComponent">
    <!-- SIDENAV TRIGGER -->
    <button
      :data-target="target"
      :id="idButton"
      :class="classComponent"
      v-on:click="buttonClickEvent()"
    >
      <font-awesome-icon v-if="icon" aria-hidden= true :class="'icon ' + colorClass" :icon="[iconClass, icon]" size="2x"/>
    </button>
    <!-- NORMAL BUTTON -->
  </div>
</template>

<style>
.round-button{
    position: relative;
    z-index: 9;
    border-radius: 100%;
    background-color: var(--background-color);
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.round-button  .icon{
    position: relative;
    top: 0.4rem;
    left: 0.1rem;
    height: 50%;
    line-height: unset;
    transform: translate(-50%, -50%);
    font-size: 2rem !important;
}

.round-button  .default{
    color:black;
}

.round-button .font-red{
    color: #ff6597;
}

.round-button button {
  position: relative;
  font-weight: bold;
  font-size: 2rem !important;
  background-color: transparent;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0;
}

.round-button button:hover {
  position: relative;
  font-weight: bold;
  font-size: 2rem !important;
  background-color: transparent;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0;
  background-color: var(--background-color);
}

</style>

<script lang="ts" >
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component({
  props: {
    nameButton: {
      default: "",
      type: String
    },
    classComponent: {
      default: "",
      type: String
    },
    icon: {
      default: "",
      type: String
    },
    classDiv: {
      default: "",
      type: String
    },
    idComponent: {
      default: "",
      type: String
    },
    iconClass: {
      default: "",
      type: String
    },
    colorClass: {
      default: "default",
      type: String
    },
    notificationIconClass: {
      default: "",
      type: String
    },
    idButton: {
      default: "",
      type: String
    },
    target: {
      default: "",
      type: String
    },
    notificationOn: {
      default: "",
      type: String
    }
  }
})
export default class DefaultButton extends Vue {
  buttonClickEvent() {
    this.$emit("buttonCallBack");
  }
}
</script>