<template>
    <div :class="'headerFilter '+addClass">
        <div class="backPage ajuste">
            <div style="display: flex; justify-content: center; flex-direction: column;" v-on:click="backPage">
                <i class="material-icons">arrow_back</i>
            </div>

            <div v-if="nameHeader">
                <span class="nameHeader">Clube Pay</span>
            </div>

            <div v-on:click="filterList" v-if="filterList" style="margin-top: 1.2rem; margin-left: 19rem; font-size: 1.6rem;">
              <i class="fas fa-sliders-h"></i>
            </div>

            <div v-if="hasFilter && units[0].id" style="display: flex; position: relative; margin-left: auto; margin-right: auto; color: #757575;" class="overflow-text" v-on:click="openUnitFilter">
                <div v-if="isChecked()" style="display: flex;">
                    <div style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 10px;">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 15px;">
                        <span style="font-size: 1.1rem;"> {{optionChecked.name}} </span>
                    </div>
                </div>
                <div v-else style="display: flex;">
                    <div style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 10px;">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 15px;">
                        <span style="font-size: 1.1rem; font-weight: 600;"> Filtrar por unidade </span>
                    </div>
                </div>
            </div>
            <div v-if="hasMoreButton" style="display: flex; position: relative;">
                <div v-if="showButtonOne" style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 10px;" v-on:click="clickButtonOne">
                    <i class="material-icons">{{iconButtonOne}}</i>
                </div>
                <div v-if="showButtonTwo" style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 15px;" v-on:click="clickButtonTwo">
                    <i class="material-icons" style="margin-left: 0;">{{iconButtonTwo}}</i>
                </div>
            </div>
        </div>

        <ModalCodigo v-if="hasFilter && canShow.canShow" @close="canShow.canShow = false" content="Alterar unidade">
            <div slot="body" style="margin-bottom: 20px; text-align: right; font-size: 1.5rem; font-weight: bolder;" v-on:click="closeFilter">
                <i class="material-icons" style="display: block; font-size: 30px !important;">close</i>
            </div>
            <div slot="body" style="margin-bottom: 35px; text-align: left; font-size: 1.5rem; font-weight: bolder;">
                <span>Alterar unidade</span>
            </div>
            <div class="row" v-for="(unit, index) in units" :key="index" slot="body">
                <label class="col survey" :for="'unit-'+unit.id" style="padding: 0;">
                    <input class="col validate" :id="'unit-'+unit.id" type="radio" :value="unit.id" v-model="checkedRadio"/>
                    <span class="surveyInputLabel" :id="'span-'+unit.id">{{unit.name}}</span>
                </label>
            </div>
            <div class="display-flex SIM" slot="footer" style="margin-top: 30px;">
                <button id="salvar" class="btn-relese waves-effect waves-light" style="margin-bottom: 15px;" v-on:click="validateAnswer()"> Salvar </button>
            </div>
        </ModalCodigo>
        
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ModalCodigo from "../components/ModalCodigo.vue";

@Component({
  props: [
    "addClass",
    "desiredScrollTop",
    "click",
    "hasMoreButton",
    "iconButtonOne",
    "iconButtonTwo",
    "showButtonOne",
    "showButtonTwo",
    "clickButtonOne",
    "clickButtonTwo",
    "units",
    "checkedRadio",
    "showUnits",
    "closeFilter",
    "backPage",
    "openUnitFilter",
    "hasFilter",
    "nameHeader",
    "filterList"
  ],
  components: { ModalCodigo }
})
export default class HeaderFilter extends Vue {
  canShow: any = { canShow: false };
  optionChecked: any = JSON.parse(localStorage.getItem("RENT_UNIT") || "{}");
  isChecked: any = () =>
    !!(
      JSON.parse(localStorage.getItem("RENT_UNIT") || "{}").id == "" ||
      JSON.parse(localStorage.getItem("RENT_UNIT") || "{}").id
    );

  mounted() {
    const self = this;
    if (!JSON.parse(localStorage.getItem("RENT_UNIT") || "{}").id) {
      this.$props.checkedRadio = -1;
      console.log(this.$props.checkedRadio);
    }
    this.canShow = this.$props.showUnits;
    console.log(this.$props.checkedRadio);
    // window.scrollTo(0, 0);
    // window.addEventListener('scroll', this.scroll);
  }

  beforeDestroy() {
    /* Removendo event listener ao sair da tela */
    const w: any = window;
    if (w.removeEventListener) {
      w.removeEventListener("scroll", this.scroll);
    } else if (w.detachEvent) {
      w.detachEvent("scroll", this.scroll);
    } else {
    }
  }

  scroll(event: any) {
    const nav: any = document.querySelector(".headerFilter");
    const categoryName: any = document.querySelector(".titlePage");
    // const titleInsideHeader: any = document.querySelector('.titleJoinedHeader');
    const w: any = window;
    if (nav) {
      if (w.pageYOffset >= this.$props.desiredScrollTop) {
        categoryName.classList.add("display-none");
        // titleInsideHeader.classList.remove('display-none');
      } else {
        categoryName.classList.remove("display-none");
        // titleInsideHeader.classList.add('display-none');
      }
    }
  }

  validateAnswer() {
    if (this.$props.checkedRadio != -1) {
      let unitChecked = this.$props.units.find(
        (el: any) => $("#unit-" + el.id).prop("checked") === true
      );
      if (!!unitChecked) {
        this.optionChecked = unitChecked;
        console.log(this.optionChecked);
        this.canShow.canShow = false;
        localStorage.setItem("RENT_UNIT", JSON.stringify(this.optionChecked));
        this.$emit("updatingRent");
      }
    }
  }
}
</script>

<style>
.material-icons-new {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-white {
  -webkit-filter: contrast(4) invert(1);
  -moz-filter: contrast(4) invert(1);
  -o-filter: contrast(4) invert(1);
  -ms-filter: contrast(4) invert(1);
  filter: contrast(4) invert(1);
}

.headerFilter {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
}

.nameHeader {
  left: 14.8%;
  right: 24.09%;
  top: 46% !important;
  bottom: 60.56%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
</style>
