<template>
    <div :id="modalId" class="image-modal" v-on:click="closeModal">
        <div class="modal-image-wrapper">
            <span class="close" v-on:click="closeModal">&times;</span>
            <img class="image-modal-content" :src="getImgUrl(imageName)">
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        props: {
            imageName: String, 
            modalId: String,
            imageUrl: {
                type: Boolean,
                default: false
            }
            }
    })

    export default class ImageModal extends Vue {

        public static openModal(modalId: string) {
            var modal: any = document.getElementById(modalId);
            modal.style.display = "flex";
        }

        public closeModal() {
            var modal: any = document.getElementById(this.$props.modalId);
            modal.style.display = "none";
        }
        
        getImgUrl(imageName: string) {
            if(this.$props.imageUrl) return imageName;
            else{
                var images = require.context('../assets/', false, /\.png$/)
                return images('./' + imageName + ".png")
            }
        }
        
    }
</script>