<template>
    <div :class="classComponent">
        <div style="height: 180px;">
            <img :src="imageSource"
                 style="width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: center;
                        object-position: center;">
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        props: {classComponent: String, imageSource : String}
    })

    export default class SectionArea extends Vue {
        
    }
</script>