<template>
    <div class="product" v-on:click="click(productId)">
        <div v-if="imageSource" class="esquerda">
            <img :src="imageSource">
        </div>
        <div v-bind:class="{'direita': true, 'full-width': !imageSource}">
            <div class="titulo">{{productName}}</div>
            <div class="conteudo">{{productInfo}} </div>
            <div class="preco">{{'R$' + price.toFixed(2)}}</div>
        </div>
    </div>
</template>
<script>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {productId: String, productName: String, productInfo: String, price: String, imageSource: String, click: String}
})

export default class Product extends Vue {
    
}
</script>
