<template>
    <ul >
        <slot name="li">
        </slot>
    </ul>
</template>

<style scoped>

</style>


<script  lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {
    }
})

export default class ListDivided extends Vue {

}

</script>