<template>
    <li class="collection-item" style="margin-top: 2%;">
        <div class="list-left primary-color" style="position: relative;">
            <span>{{name}}</span>
        </div>
        <div class="list-separator secondary-color" style="position: relative;">
            <span>-</span>
        </div>
         <div class="list-middle secondary-color" style="position: relative;">
            <span>{{number}}</span>
        </div>
        <!-- <div class="list-right" >
            <i class="material-icons" style="line-height: inherit !important; font-size: 35px; color: var(--primary-color)" >{{icone}}</i>
        </div> -->
    </li>
</template>

<style>
.list-left{
    width: 40%;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

.list-separator {
    width: 33%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    font-weight: 1000;
    text-align: center;
}

.list-middle {
    width: 33%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    font-weight: 1000;
    text-align: center;
}


.list-right{
    flex-direction: column; 
    justify-content: center !important;
}
.collection-item{
    border-bottom: 1px solid #e0e0e0 !important;
}
</style>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {name : String, icone: String, idIcon : String, number: Number}
})

export default class ListNumberIcon extends Vue{
}

</script>