<template>
    <div :id="modalId" class="image-modal" v-on:click="closeModal" style="z-index: 9999;">
        <div class="modal-image-wrapper" style="margin: auto !important;">
            <span class="close" v-on:click="closeModal">&times;</span>
            <img id="imgId" class="image-modal-content" :src="imageUrl">
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        props: {imageUrl: String, modalId: String}
    })

    export default class OpenImage extends Vue {

        public static openModal(modalId: string, urlImage: string) {
            var modal: any = document.getElementById(modalId);
            var img: any = document.getElementById('imgId');
            modal.style.display = "flex";
            img.src = urlImage;
        }

        public closeModal() {
            var modal: any = document.getElementById(this.$props.modalId);
            modal.style.display = "none";
        }
        
    }
</script>