<template>
    <div class="top-fix-home" style="width: 100%; height: 95px;">
        <div id="pedidosEmAndamento" class="carousel carousel-slider pedidosEmAndamento">
            <div :id="'slide-'+order.id" href="#" class="carousel-item" v-for="order in orders" :key="order.id">
                <div class="orderDetail" v-on:click="detailOrder(order.id)">
                    <div class="left">
                        <i class="material-icons primary-color">receipt</i>
                    </div>
                    <div class="right">
                        <div class="overflow-text orderStatus">
                            <span>Pedido {{order.orderStatus}}</span>
                        </div>
                        <div class="overflow-text orderStore">
                            <span>{{order.storeName}}</span>
                        </div>
                        <div class="overflow-text orderItems">
                            <span>{{order.items[0].quantity}}x {{order.items[0].name}} 
                                <span v-if="order.items.length > 1">+ {{order.items.length - 1}} 
                                    <span v-if="order.items.length - 1 > 1">itens</span>
                                    <span v-if="order.items.length - 1 == 1">item</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div v-if="order.enabledToCancel" class="orderDelete" v-on:click="cancelOrder(order.id)">
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import TextLink from '../components/TextLink.vue';


@Component({
    props: {
        orders: Array, detailOrder: Function, cancelOrder: Function
    },
    components: {TextLink}
})

export default class OrderInProgress extends Vue {

    mounted(){
        const panel :any      = document.querySelector('#pedidosEmAndamento');
        const carousel  = M.Carousel.init(panel);
    }

}
</script>

<style>

    .pedidosEmAndamento{
        height: 100% !important;width: 100%;
    }

    .pedidosEmAndamento.carousel .indicators .indicator-item{
        margin: auto 4px !important;
    }

    .pedidosEmAndamento.carousel.carousel-slider{
        height: 100% !important;
    }

    .pedidosEmAndamento.carousel .indicators .indicator-item{
        background-color: #b5b5b5;
    }

    .pedidosEmAndamento.carousel .indicators .indicator-item.active{
        background-color: var(--primary-color);
    }

    .pedidosEmAndamento > .carousel-item{
        height: 100%;
        width: 100%;
        display: flex;
        padding: 8px;
    }

    .carousel-item > .orderDetail{
        width: 87%;
        height: 100%;
        display: flex;
    }

    .orderDetail > .left{
        width: 11%;
        height: 100%;
    }

    .orderDetail > .left > i{
        padding-top: 10px;
    }

    .orderDetail > .right{
        width: 89%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .orderStatus{
        font-size: 1.1rem;
        text-align: left;
        color: black;
        padding-left: 10px;
        font-weight: 100;
    }

    .orderStore{
        padding-left: 10px;
        text-align: left;
        font-size: 1.1rem;
        color: #9a9a9a;
    }

    .orderItems{
        padding-left: 10px;
        text-align: left;
        color: var(--primary-color);
    }

    .orderDelete{
        width: 13%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid #00000024;
    }

    .orderDelete > i{
        color: #ff0000c2;
    }

    .menu-pedidos > .top-fix-home{
        margin-top: 0;
    }

</style>