<template>
    <div :class="classComponent">
        <img :src="imageFile" style="max-height: 15vh">
    </div>
</template>

<script lang="ts">

import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        classComponent: String, imageFile: String
    }
})
export default class  SectionArea extends Vue {

}
</script>
