<template>
    <div class="selectField">
        <div class="input-field col s12 material-select">
            <select v-bind:id="selectId" :name="name" :multiple="multiple" v-on:change="onOptionChange ? onOptionChange($event) : function() { }" :required="required">
                <slot name="option" ></slot>
            </select>
        </div>
    </div>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator';
import SelectFieldController from '../ts/SelectFieldController';

declare var M: any;
declare var $: any;
    
@Component({
    props: { selectId: String, multiple: String, onOptionChange: Function, required: String, name: String }
})

export default class SelectField extends SelectFieldController {
    mounted() {
        SelectFieldController.refresh();
        if (!!this.$props.change) {
            const self = this;
            $('#' + this.$props.selectId).on('change', function (e: any) {
                self.$props.change(e);
            });
        }
    }
}
</script>