<template>
    <div style="width: 100%" v-if="visible">  
        <div v-bind:id="sliderId" :class="'carousel carousel-slider ' + classes">
            <slot name="sliderContent"></slot>
            <span class="close" v-on:click="close()"><i class="material-icons">close</i></span>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';


@Component({
    props: {
        sliderId: String, classes: String, onClose: Function
    }
})

export default class Slider extends Vue {

    visible: boolean = true;

    close() {
        this.visible = false;
        if (this.$props.onClose) this.$props.onClose();
    }

    static refresh() {
        $('.indicators').html('');
        $('.carousel').carousel({
            fullWidth: true,
            indicators: true
        });
    }

}
</script>

<style>

.carousel-slider .close {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    display: flex;
}

.carousel-slider .close > i {
    font-size: 18px;
}

</style>