<template>
    <li class="three-options-general collection-item" v-on:click="clickHandler(clickHandlerParameter)">
        <div class="item-left">
            <span class="left">{{leftText}}</span>
        </div>
        <div class="item-middle">
            <span class="middle">{{middleText}}</span>
            <span v-if="badgeData" class="item-badge">{{badgeData}}</span>
        </div>
        <div class="item-right">
            <span class="right">{{rightText}}</span>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {leftText: Number, middleText: String, rightText: String, badgeData: String,  clickHandler: Function, clickHandlerParameter:Object}
})

export default class ThreeOptionsListGeneral extends Vue {

}

</script>

<style>
.three-options-general .item-left{
    width: 20%;
}

.three-options-general .item-middle{
    width: 59%;
    flex-direction: row;
}

.three-options-general .item-left .left {
    font-size: 15px;
    color: #5a5858;
    margin-left: 10px;
}

.three-options-general .item-middle .middle {
    font-size: 1.0rem;
    color: var(--primary-color);
    display: inline-block;
    width: calc(100% - 60px);
    margin: auto 0;
}

.three-options-general .item-middle .item-badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e43636;
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    color: white;
}

.three-options-general .item-right .right {
    font-size: 1.0rem;
    color: #5a5858;
    margin-right: 10px;
}

.three-options-general .item-right {
    width: 21%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
</style>
