<template>
    <div :class="classComponent + ' section-title'" style="padding: 0 10px;">
        <div class="table_header_vertical"><span class="table_header">{{titleText}}</span></div>
        <div>
            <div v-if="!allTicketsAreFree" style="display: flex;">
                <div class="table_header_vertical"><i class="material-icons primary-color">shopping_cart</i></div>
                <div><span>R${{value.toFixed(2)}}</span></div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: ['titleText', 'value', 'classComponent', 'allTicketsAreFree']
})

export default class Product extends Vue {
}
</script>
