<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="row modalCompraEventos">
                     <div class="margin-none">
                        <i class="material-icons" style="color: black; position: absolute; right: 0; margin: 8px; z-index: 9999;" v-on:click="closeThis()">close</i>
                    </div>
                    <div>
                        <div style="display: flex; position: relative; flex-direction:column; margin-bottom: 25px;">
                                <img src="../assets/hourglass.svg" class="material-icons" style="font-size: 6em; margin: 0 auto;margin-top: 25px !important; margin-bottom: 15px !important; color: var(--primary-color) !important; width: 60px;"/>
                                <span style="font-size: 1.3em; padding: 0 10px; color: var(--primary-color);"> Aguarde, em breve teremos compras de ingressos disponíveis no app.</span>
                        </div>
                        <div class="display-flex SIM" style="margin-bottom: 25px;">
                        <DefaultButton classDiv="width-38 in_the_middle" name-button="OK" class-component="button-outline width-100" v-on:buttonCallBack="closeThis"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TextLink from '../components/TextLink.vue';
import CleanList from '../components/CleanList.vue';
import DefaultButton from '../components/DefaultButton.vue';
import SectionArea from '../components/SectionArea.vue';

@Component({
    props: {
        icon: String, content: String, itens: Array, doIt: Function, closeWarning: Function, goToTelaEvents: Function, closeThis: Function
    },
    components: { TextLink, DefaultButton, CleanList, SectionArea }
})
export default class Warning extends Vue {
    //appHasBalance : any =  localStorage.getItem('APP_HAS_BALANCE') || false;
    
    mounted() {
        //this.appHasBalance = false;
    }
}
</script>