<template>
    <div class="custom-bottom-navigation" >
       <div :class="'navigation-item '+ option.iosClass +classComponent" v-for="option in options" :key="option.id" :ref="option.id" @click="goTo(option.route)">
            <font-awesome-icon :class="(option.active) ? 'custom-bottom-navigation-active': 'custom-bottom-navigation-inactive '" :id="option.id" :icon="(option.active) ? ['fas', option.icon]: ['fal', option.icon]" size="2x" fixed-width/>
            <label :class="(option.active) ? 'label-active': 'label-inactive'">{{option.name}}</label>
            <div class='nav-badge' v-if="option.notification && !option.active">{{option.notification}}</div>
        </div>
    </div>
</template>

<style>
.pulse {
  border-radius: 50%;
  width: 28px!important;
  box-shadow: 0 0 0 0 var(--primary-color);
  animation: pulse 2s infinite;
}

@media (max-height: 1200px){
    .custom-bottom-navigation{
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        border-top: solid 1px rgb(11,11,11, 0.2);
        width: 100%;
        background-color: white;
        z-index: 9;
        height: calc(3.5rem + env(safe-area-inset-bottom));
        padding-bottom: env(safe-area-inset-bottom) !important;
    }
    .custom-bottom-navigation > .navigation-item svg{
        font-size: 1.6rem;
    }
  
}

@media (min-height: 1200px){
    .custom-bottom-navigation{
        display: flex;
        justify-content: space-around;
        position: fixed;
        /* top: calc(3.5rem + env(safe-area-inset-top)); */
	border-top: solid 1px rgb(11,11,11, 0.2);
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 9;
        height: 7rem;
        padding-top: env(safe-area-inset-top) !important;
        border-bottom: solid 1px rgb(11,11,11, 0.2);
    }

    .custom-bottom-navigation > .navigation-item svg{
        font-size: 3.5rem;
    }

    .custom-bottom-navigation > .navigation-item label{
        font-size: 1.5rem;
    }
}



.custom-bottom-navigation > .navigation-item{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0.5rem;
    min-width: 15%;
    align-items:center;
}

.custom-bottom-navigation > .navigation-item > a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    widows: 100%;
    color: #C4C4C4;
    margin-left: 10px;
}

.custom-bottom-navigation > .navigation-item > a > span{
    font-size: 11px;
}

.custom-bottom-navigation > .navigation-item > a > i{
    font-size: 32px;
}

.custom-bottom-navigation-active{
    color: var(--primary-color)
}

.custom-bottom-navigation-inactive{
    color: gray;
}

.navigation-item > .label-active{
    color: var(--primary-color);
    font-weight: 800;
}

.classForIos {
    display: -webkit-flex;
    justify-content: center;
}

.nav-badge {
    position: relative;
    z-index: 10;
    background: var(--primary-color);
    border-radius: 100%;
    color: var(--background-color);
    padding: 0rem 0.4rem;
    font-size: 1rem;
    font-weight: 800;
    top: -3.5rem;
    left: 1rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0  var(--primary-color);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(23, 10, 214, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0  var(--primary-color);
    box-shadow: 0 0 0 0  var(--primary-color);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
      box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(33, 58, 199, 0);
      box-shadow: 0 0 0 0 rgba(33, 58, 199, 0);
  }
}
</style>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        nameButton: String,  classComponent: String, icon: String, classDiv: String, idComponent: String, routerGo: String, iconClass: String, openThis: Function, 
    }
})

export default class BottomNavigation extends Vue {    

    closeEventsCallback: Function = new Function();
    options: any = localStorage.getItem('BOTTOM_NAV_OPTIONS') ? JSON.parse(localStorage.getItem('BOTTOM_NAV_OPTIONS')||'[]') : [];
    mounted() {
        const route = this.$route.path;
        if(this.options.length){
            this.options.forEach((element: any) => {
                if (element.route == route) element.active = true;
                else element.active = false;
            });
        }

    }

    handleClick(option: any) {
        if (option.onclick) option.onclick();
        else this.$router.push(option.router);
    }

    openMenuOptions() {
        this.$emit('buttonCallBack');
    }

    goTo(route:string){
        if(this.$route.path != route) this.$router.push(route);
    }
}
</script>
