<template>
  <div class="home" style="width: 100%">
    <HeaderCircleButton v-bind:firstButton="false" :fb="backButton" :ob="otherButton" :logo="logo"/>
    <!-- <div class="center-banner-container"> -->
      <!-- <ListDefault  ref="bannerList"  @scroll="handleScroll" id="allNews" class="newsHeight" style="margin: 0 1rem !important; position: relative; top: 2rem; height: 40vh !important;" typeList="horizontalList">
            <Banner slot="options" v-for="homeNew in homeNews" :key="homeNew.ID" :news="homeNew" classComponent="addBanner" :callback="()=>openNewsModal(homeNew)"/>
      </ListDefault> -->
      <div class="banner-container" ref="bannerContainer" v-on:scroll.passive="handleScroll">
        <!-- <TextLink classDiv="row padding-orders home-section-title" link-label="Restaurantes" class-component="primary-color message title" /> -->
        <BannerStore
          v-for="p in posts"
          :key="p.id"
          classComponent="storeBanner"
          :store="p"
          :callback="goToNext"
          :post="true"
        />
      </div>
    <!-- </div> -->
    <BottomNavigation/>
    <LoginModal v-if="showLoginModal" @close="showLoginModal = false" :placeholder="'E-mail'" :type="'e-mail'" :modalId="'login-modal'" :registerRoute="'/Register'"/>
  </div>
</template>
<style>

.home .title {
  margin-top: 1rem;
  position: relative;
}

.home .addBanner{
  height: 40vh !important;
  width: calc(100% - 2rem) !important;
  scroll-snap-align: center;
}

.home .horizontalList{
    scroll-snap-type: x proximity;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
}

.home .addBanner {
  height: 40vh !important;
  width: calc(100% - 2rem) !important;
  float: unset !important;
  position: relative;
}


@media (max-height: 1200px){
  
  .home .banner-container {
    top: 3.5rem;
    width: 100%;
    height: calc(100% - 7rem - env(safe-area-inset-bottom));
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: solid rgb(11,11,11, 0.1) 1px;
  }  

  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(100% - 2rem);
    margin: 1rem;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 16rem;
  }
}

@media (min-height: 1200px){
  .home .banner-container {
    height: calc(100vh - 8.5rem);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1rem;
    /* top: 3.5rem; */
    top: var(--top-spacing);
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
  }
  
  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(75% - 2rem);
    margin: 0 auto 2rem;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 40vh;
  }

  .home .banner-store-image {
    height: 40vh;
  }

  .home .center-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 10.5rem - env(safe-area-inset-bottom));
    width: 100%;
    position: absolute;
    top: 10.5rem;
    overflow: hidden;
  }
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */


.home .banner .banner-store-header{
    min-height: 3rem;
}

.home-section-title{
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}
</style>

<script lang="ts" src='../controllers/Home.ts'></script>