<template>
  <div class="lfe-view-login" :style="(backgroundImage) ? `background-image: url('${backgroundImage}'); background-size: cover; background-repeat: no-repeat; background-position-x: 60%;` :  ` `">
    <!-- Logo da organização -->
    <SectionArea
      class="shadow-section"
    />
    <HeaderCircleButton v-bind:firstButton="false" :logo="logo"/>
    <div id="LOGIN_FORM" class="login-form">
      <!-- Texto de apresentação -->
      <div class="subtitle" style="padding: 0 2rem 2rem; font-size: 2.5rem">
        <span class="highlight">Apresente seu cartão</span>
      </div>

      <div class="subtitle" style="padding: 0 2rem;">
        <span class="normal">{{introductionMessage}}</span>
        <span class="highlight">{{introductionMessageHighlight}}</span>
      </div>
      <!-- Formulário -->
      <div style="padding: 0 2rem; display: flex; flex-direction: row;">
        <!-- Login Method -->

          <DefaultButton
          class=" button-start"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          name-button="Entrar com CPF"
          v-on:buttonCallBack="openLoginModal"
        />

         <DefaultButton
          class=" button-start"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          name-button="Entrar como convidado"
          v-on:buttonCallBack="noAuth"
        />
          
      </div>
      <!-- Sem número verificador -->
      <!-- <div  v-if="!(loginMethods.includes('PHONE'))"> -->
      <div>
        <DefaultButton
          v-if="!passFocused && emailFocused"
          class="bottom-mode button-start"
          id-component="next"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          name-button="PRÓXIMO"
          v-on:buttonCallBack="focusPassword()"
        />
        <!-- v-bind:class="{'circle-mode': !passFocused, 'bottom-mode': passFocused }" -->
        <DefaultButton
          v-if="!emailFocused && passFocused"
          id-component="auth"
          class="button-start bottom-mode"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          :name-button="emailFocused || passFocused ? 'ENTRAR' : ''"
          :icon="!emailFocused && !passFocused ? 'arrow_forward' : ''"
          v-on:buttonCallBack="preAuth()"
        />
      </div>
    </div>

    <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" :content="msgModal">
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="OK"
          class-component="button-modal"
          v-on:buttonCallBack="hideModal"
        />
      </div>
    </ModalCodigo>
    <ImageModal modalId="npf-image-modal" imageName="npf-info" />
    <LoadingPhases v-on:clickError="closeError" />
    <LoginModal v-if="showLoginModal" @close="closeLoginModal" :registerRoute="'/Register'"/>
  </div>
</template>
<style>

@media(max-height: 800px) {
  .lfe-view-login {
    justify-content: space-between; 
    position: relative; 
    height: 100vh; 
    display: flex; 
    flex-direction: column;
  }

  .lfe-view-login .login-form {
    background: white;
    border-radius: 15px 15px 0 0;
    padding-top: 2.5rem;
    box-shadow: 0px -1px 8px 3px #00000094;
    overflow-y: auto;
    font-size: 1.2rem;
  }

  .lfe-view-login .new-button-2 {
    height: 4rem !important;
  }

  .lfe-view-login .new-button-2 {
    height: 4rem !important;
  }

  .lfe-view-login .shadow-section{
    height: 3.5rem; 
    background: linear-gradient(180deg, rgb(70,70,70,0.65) 0%, rgb(70,70,70,0.4) 65%, rgb(70,70,70,0) 100%);
  }

}

@media(min-height: 800px) {
  .lfe-view-login {
    height: 100vh; 
  }
  .lfe-view-login .clean-button button{
    font-size: 1.5rem !important;
  }

  .lfe-view-login .login-form {
    background: white;
    border-radius: 1rem;
    padding: 3.5rem 0;
    box-shadow: 0px -1px 8px 3px #00000094;
    overflow-y: auto;
    font-size: 2rem;
    width: 75%;
    margin: auto;
    top: 25vh;
    position: relative;
  }

  .lfe-view-login .new-button-2 {
    height: 6rem !important;
    border-radius: 1rem;
    line-height: 2rem !important;
  }

  .lfe-view-login .login-form .button-start {
    height: 6rem !important;
    border-radius: 1rem;
    margin: 1rem;
  }

  .lfe-view-login .new-button-2 button{
    height: 6rem !important;
    border-radius: 1rem;
  }

  .lfe-view-login .modal-login .modal-form{
    width: 75%;
    height: 65vh;
  }

  .lfe-view-login .modal-login .login-icon-eye {
    position: relative;
    z-index: 9999999999;
    bottom: 3.5rem;
    left: 30vw;
  }

  .lfe-view-login .shadow-section{
    height: 7.5rem; 
    background: linear-gradient(180deg, rgb(70,70,70,0.65) 0%, rgb(70,70,70,0.4) 65%, rgb(70,70,70,0) 100%);
  }

  .lfe-view-login .header-circle-button .logo{
    height: 4.5rem;
  }

  .lfe-view-login .create-account-link{
    display: none;
  }
}

.lfe-view-login #EMAIL,
.lfe-view-login #NPF,
.lfe-view-login #PHONE,
.lfe-view-login #PASSWORD,
.lfe-view-login #AUTHCODE {
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  border-bottom: 0 !important;
  box-shadow: 0 0.1rem 0 0 lightgrey !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  -webkit-appearance: unset !important;
}

.lfe-view-login #EMAIL:focus,
.lfe-view-login #NPF:focus,
.lfe-view-login #PHONE:focus,
.lfe-view-login #PASSWORD:focus,
.lfe-view-login #AUTHCODE:focus {
  border: 0.1rem  solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  box-shadow: unset !important;
  -webkit-appearance: unset !important;
}

.lfe-view-login #EMAIL_l,
.lfe-view-login #NPF_l,
.lfe-view-login #PHONE_l,
.lfe-view-login #PASSWORD_l,
.lfe-view-login #AUTHCODE_l{
    padding-left: 1rem;
    transition: 0.1s !important;
}

.lfe-view-login #EMAIL_l.active,
.lfe-view-login #NPF_l.active,
.lfe-view-login #PHONE_l.active,
.lfe-view-login #PASSWORD_l.active,
.lfe-view-login #AUTHCODE_l.active {
    padding: 0.5rem 0.7rem 0;
    margin-left:0.8rem;
    color: var(--primary-color) !important;
    background-color: var(--background-color, white) !important;
    border-radius: 1rem;
    
}


.lfe-view-login .icon-eye-input{
    bottom: 3.2rem;
    left: calc(100% - 7vw);

}

.lfe-view-login {
  background: var(--background-color, white);
}

.lfe-view-login .header-circle-button .logo{  
  filter: brightness(0) invert(1);
}

.lfe-view-login .image-half-small img {
  width: 25%;
  margin: 0.5rem 0.2rem;
  max-height: 6vh;
  position: absolute;
  left: 0;
}

.lfe-view-login .metade {
  width: 100% !important;
}

.lfe-view-login .bottom-mode {
  position: fixed;
  bottom: 0 !important;
  left: 0;
  margin-bottom: env(safe-area-inset-bottom);
}
.lfe-view-login .circle-mode {
      position: relative;
      width: 4rem;
      height: 4rem;
      top: 3.5rem;;
      left: calc(50vw - 3rem);
}

/* @media (max-height: 400px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      top: 6rem;
      right: 20px;
    }
}

@media (min-height: 401px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      bottom: calc(18.5rem + env(safe-area-inset-bottom));
      right: 20px;
    }
} */

.lfe-view-login .circle-mode button {
  border-radius: 100%;
  font-weight: bold;
  font-size: 2rem !important;
}
.lfe-view-login .circle-mode button i {
  font-size: 1.8rem !important;
  line-height: 1.8rem !important;
  margin: auto;
}

.lfe-view-login .subtitle .highlight {
  color: var(--primary-color);
  font-weight: 800;
}
</style>
<script lang="ts" src='../controllers/LogIn.ts'></script>
