<template>
  <div class="lfe-view-login" :style="(backgroundImage) ? `justify-content: space-between; position: relative; height: 100vh; display: flex;flex-direction: column; background-image: url('${backgroundImage}'); background-size: cover; background-repeat: no-repeat; background-position-x: 60%;` :  `justify-content: space-between; position: relative; height: 100vh; display: flex;flex-direction: column; `">
    <!-- Logo da organização -->
    <SectionArea
      style="height: 3.5rem; background: linear-gradient(180deg, rgb(70,70,70,0.65) 0%, rgb(70,70,70,0.4) 65%, rgb(70,70,70,0) 100%);"
    />
    <HeaderCircleButton v-bind:firstButton="false" :logo="logo"/>
    <DefaultButton
          v-if="!emailFocused && !passFocused"
          id-component="auth-circle"
          class="button-start circle-mode"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          :name-button="emailFocused || passFocused ? 'ENTRAR' : ''"
          :icon="!emailFocused && !passFocused ? 'arrow_forward' : ''"
          v-on:buttonCallBack="preAuth()"
    />
    <div id="LOGIN_FORM" class="login-form">
      <!-- Texto de apresentação -->
      <div class="subtitle" style="padding: 0 1rem;">
        <span class="normal">{{introductionMessage}}</span>
        <span class="highlight">{{introductionMessageHighlight}}</span>
      </div>
      <!-- Formulário -->
      <div style="padding: 0 1.1rem;">
        <!-- Login Method -->
        <DivInput
          v-if="loginMethods.includes('EMAIL')"
          style="margin: 8px 0 !important;"
          id="EMAIL_d"
        >
          <input
            slot="input"
            id="EMAIL"
            label="E-mail"
            type="email"
            v-model="emailInput"
            @focus="()=>{emailFocused = true; scrollToThis('EMAIL_d')}"
            @blur="removeEmailFocus"
            @click="scrollToThis('EMAIL_d')"
            required
          />
          <label slot="input" id="EMAIL_l" for="EMAIL">E-mail</label>
        </DivInput>
        <DivInput
          v-if="loginMethods.includes('EXTERNAL_ID')"
          style="margin: 8px 0 !important;"
          id="NPF_d"
        >
          <input
            slot="input"
            id="NPF"
            label="CPF ou código externo"
            type="tel"
            v-model="inputCpfOrNpf"
            @focus="()=>{emailFocused = true; scrollToThis('NPF_d')}"
            @blur="removeEmailFocus"
            @click="scrollToThis('NPF_d')"
            required
          />
          <label slot="input" id="NPF_l" for="NPF">CPF ou código externo</label>
        </DivInput>
        <DivInput
          v-if="loginMethods.includes('PHONE')"
          style="margin: 8px 0 !important;"
          id="PHONE_d"
        >
          <input
            slot="input"
            id="PHONE"
            label="Telefone"
            type="tel"
            v-model="phoneInput"
            @focus="()=>{emailFocused = true; scrollToThis('PHONE_d')}"
            @blur="removeEmailFocus"
            @click="scrollToThis('PHONE_d')"
            required
          />
          <label slot="input" id="PHONE_l" for="PHONE">Telefone</label>
        </DivInput>
        <!-- Password -->
        <!-- <DivInput  v-if="loginMethods.includes('PHONE')" style="margin: 8px 0 !important;" id="PHONE_d">
          <input
            ref="authcode"
            slot="input"
            id="AUTHCODE"
            label="Código de verificação"
            v-model="passInput"
            type='tel'
            @focus="()=>{passFocused = true; scrollToThis('AUTHCODE_d')}"
            @blur="removePassFocus"
            @click="scrollToThis('AUTHCODE_d')"
            required
          />
          <label slot="input" id="AUTHCODE_l" for="AUTHCODE">Senha</label>
        </DivInput> -->
        <!--SEM NÚMERO NÂO ENCONTRADO-->
        <!-- <DivInput  v-if="!(loginMethods.includes('PHONE'))" style="margin: 8px 0 !important;" id="PASSWORD_d"> -->
        <DivInput  style="margin: 8px 0 !important;" id="PASSWORD_d" 
          v-if="loginMethods.includes('PHONE') || loginMethods.includes('EMAIL') || loginMethods.includes('EXTERNAL_ID')"
        >
          <input
            ref="password"
            slot="input"
            id="PASSWORD"
            label="Senha"
            v-model="passInput"
            :type="passwordVisibility?'text':'password'"
            @focus="()=>{passFocused = true; scrollToThis('PASSWORD_d')}"
            @blur="removePassFocus"
            @click="scrollToThis('PASSWORD_d')"
            required
          />
          <label slot="input" id="PASSWORD_l" for="PASSWORD">Senha</label>
        </DivInput>
        <span :class="['icon-eye-input', passFocused ? 'primary-color':'inactive-color']" v-on:click="changeInputPasswd($event)">
            <font-awesome-icon :icon="['far', passwordVisibility? 'eye-slash' : 'eye']" />
        </span>
        <!-- <DivInput  v-if="loginMethods.includes('PHONE')" style="margin: 8px 0 !important;" id="AUTHCODE_d">
          <input
            ref="authcode"
            slot="input"
            id="AUTHCODE"
            label="Código de verificação"
            v-model="authCodeInput"
            type='tel'
            @focus="()=>{passFocused = true; scrollToThis('AUTHCODE_d')}"
            @blur="removePassFocus"
            @click="scrollToThis('AUTHCODE_d')"
            required
          />
          <label slot="input" id="AUTHCODE_l" for="AUTHCODE">Código de Autenticação</label>
        </DivInput> -->
        <!-- Forgot Password -->
        
          <!-- <span 
            style="margin-bottom: 20px; text-align: left; font-size: 80%;"
            v-on:click="goForgotPassword()"
            v-if="!(loginMethods.includes('PHONE'))"
          >Esqueci minha senha</span> -->
       

        <div class="container-fluid" style="margin-bottom: calc( 1.1rem + env(safe-area-inset-bottom)); padding-top: 0rem; display: flex; justify-content:space-around; position: relative; width: 100%;">
          <!-- v-if="!emailFocused && !passFocused" -->
          <CleanButton
            name="ENTRAR COMO CONVIDADO"
            :center="true"
            :callback="noAuth"
          />
          <!-- v-if="!emailFocused && !passFocused && !(loginMethods.includes('PHONE'))" -->
          <!-- <CleanButton
            name="CRIAR CONTA"
            :right="true"
            :callback="goToRegister"
          /> -->
          <!--<DefaultButton id-component="noAuth" class="button-start" class-component="button-outline new-button-2" classDiv="margin-top-20" name-button="Entrar sem logar" v-on:buttonCallBack="noAuth()" />-->
        </div>
      </div>
      <!-- Sem número verificador -->
      <!-- <div  v-if="!(loginMethods.includes('PHONE'))"> -->
      <div>
        <DefaultButton
          v-if="!passFocused && emailFocused"
          class="bottom-mode button-start"
          id-component="next"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          name-button="PRÓXIMO"
          v-on:buttonCallBack="focusPassword()"
        />
        <!-- v-bind:class="{'circle-mode': !passFocused, 'bottom-mode': passFocused }" -->
        <DefaultButton
          v-if="!emailFocused && passFocused"
          id-component="auth"
          class="button-start bottom-mode"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          :name-button="emailFocused || passFocused ? 'ENTRAR' : ''"
          :icon="!emailFocused && !passFocused ? 'arrow_forward' : ''"
          v-on:buttonCallBack="preAuth()"
        />
      </div>
      <!-- <div  v-if="(loginMethods.includes('PHONE'))">
        <DefaultButton
          class="bottom-mode button-start"
          id-component="sendPhoneAuth"
          idButton="lucas"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          name-button="Enviar código de autenticação"
          v-on:buttonCallBack="sendPhoneAuthCode()"
        />
        <DefaultButton
          v-if="!emailFocused"
          v-bind:class="{'circle-mode': !passFocused, 'bottom-mode': passFocused }"
          id-component="auth"
          class="button-start"
          class-component="new-button-2"
          classDiv="row margin-top-20"
          :name-button="emailFocused || passFocused ? 'ENTRAR' : ''"
          :icon="!emailFocused && !passFocused ? 'arrow_forward' : ''"
          v-on:buttonCallBack="preAuth()"
        />
      </div> -->
    </div>

    <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" :content="msgModal">
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="OK"
          class-component="button-modal"
          v-on:buttonCallBack="hideModal"
        />
      </div>
    </ModalCodigo>
    <ImageModal modalId="npf-image-modal" imageName="npf-info" />
    <LoadingPhases v-on:clickError="closeError" />
  </div>
</template>
<style>

.lfe-view-login #EMAIL,
.lfe-view-login #NPF,
.lfe-view-login #PHONE,
.lfe-view-login #PASSWORD,
.lfe-view-login #AUTHCODE {
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  border-bottom: 0 !important;
  box-shadow: 0 0.1rem 0 0 lightgrey !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  -webkit-appearance: unset !important;
}

.lfe-view-login #EMAIL:focus,
.lfe-view-login #NPF:focus,
.lfe-view-login #PHONE:focus,
.lfe-view-login #PASSWORD:focus,
.lfe-view-login #AUTHCODE:focus {
  border: 0.1rem  solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  box-shadow: unset !important;
  -webkit-appearance: unset !important;
}

.lfe-view-login #EMAIL_l,
.lfe-view-login #NPF_l,
.lfe-view-login #PHONE_l,
.lfe-view-login #PASSWORD_l,
.lfe-view-login #AUTHCODE_l{
    padding-left: 1rem;
    transition: 0.1s !important;
}

.lfe-view-login #EMAIL_l.active,
.lfe-view-login #NPF_l.active,
.lfe-view-login #PHONE_l.active,
.lfe-view-login #PASSWORD_l.active,
.lfe-view-login #AUTHCODE_l.active {
    padding: 0.5rem 0.7rem 0;
    margin-left:0.8rem;
    color: var(--primary-color) !important;
    background-color: var(--background-color, white) !important;
    border-radius: 1rem;
    
}


.lfe-view-login .icon-eye-input{
    bottom: 3.2rem;
    left: calc(100% - 7vw);

}

.lfe-view-login {
  background: var(--background-color, white);
}

.lfe-view-login .header-circle-button .logo{  
  filter: brightness(0) invert(1);
}

.lfe-view-login .image-half-small img {
  width: 25%;
  margin: 0.5rem 0.2rem;
  max-height: 6vh;
  position: absolute;
  left: 0;
}
.lfe-view-login .login-form {
  background: white;
  border-radius: 15px 15px 0 0;
  padding-top: 2.5rem;
  box-shadow: 0px -1px 8px 3px #00000094;
  overflow-y: auto;
  font-size: 1.2rem;
}
.lfe-view-login .metade {
  width: 100% !important;
}
.lfe-view-login .new-button-2 {
  height: 4rem !important;
}
.lfe-view-login .bottom-mode {
  position: fixed;
  bottom: 0 !important;
  left: 0;
  margin-bottom: env(safe-area-inset-bottom);
}
.lfe-view-login .circle-mode {
      position: relative;
      width: 4rem;
      height: 4rem;
      top: 3.5rem;;
      left: calc(50vw - 3rem);
}

/* @media (max-height: 400px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      top: 6rem;
      right: 20px;
    }
}

@media (min-height: 401px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      bottom: calc(18.5rem + env(safe-area-inset-bottom));
      right: 20px;
    }
} */

.lfe-view-login .circle-mode button {
  border-radius: 100%;
  font-weight: bold;
  font-size: 2rem !important;
}
.lfe-view-login .circle-mode button i {
  font-size: 1.8rem !important;
  line-height: 1.8rem !important;
  margin: auto;
}

.lfe-view-login .subtitle .highlight {
  color: var(--primary-color);
  font-weight: 800;
}
</style>
<script lang="ts" src='../controllers/LogIn.ts'></script>
