/*Colors*/
.primary-color{
    color: var (--primary-color) !important;
}

.secundary-color{
    color: #11386B !important;
}
.icon-footer-color{
    color: red !important;
}

.primary-color-bg{
    background-color: var (--primary-color) !important;
}

.secundary-color-bg{
    background-color: #11386B !important;
}

/*Colors*/

/* Radio Button */
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: var(--primary-color);
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid var(--primary-color);
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: var(--primary-color);
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid var(--primary-color);
}

/* Checkbox */
[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/*Buttons Style*/
.button-outline{
    /* font-size: 10px !important; */
    font-weight: bold;
    background-color: transparent;
    color: var(--primary-color);
    height: 36px;
    line-height: 20px !important;
    padding: 0 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-outline:hover{
    background-color: var(--primary-color);
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media (max-width: 350px){
    .button-outline{
        width: 100% !important;
        /* font-size: 10px !important; */
    }
}

.button-outline:focus{
    background-color: var(--primary-color);
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-icon{
    color: white;
    width: auto;
    height: auto;
    min-width: 0 !important;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none ;
    box-shadow: none;
}

.button-icon:hover{
    background-color: transparent;
}

.button-icon:focus{
    background-color: transparent;
}

.button-icon > i{
    font-size: 25px !important;
}

.button-modal{
    color: white;
    width: 100%;
    font-size: 10px;
    -webkit-box-shadow: none ;
    box-shadow: none;
}

.datepicker-controls > button{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.datepicker-row > td > button{
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Buttons Style*/

/*List Color Icons*/

.color1{
    color: #FF6465;
}

.color2{
    color: #ED853A;
}

.color3{
    color: #EBD82D;
}

.color4{
    color: #A4F936;
}

.color5{
    color: #29EF84
}

.color6{
    color: #2EF2B7;
}

.color7{
    color: #3285E7;
}

.color8{
    color: #803EEC;
}

.color9{
    color: #B652CF;
}

.color0{
    color: #E53660
}

.extrato-red{
    color: #EE2A2A;
}

.extrato-green{
    color: #26D223;
}

.colorBlack{
    color: black;
}
/*List Color Icons*/

/*Also Style*/

.margin-none{
    margin: 0 !important;
}

.margin-10{
    margin: 10px !important;
}

.margin-bottom-7{
    margin-bottom: 7px !important;
}

.position-absolute{
    position: absolute;
}

.footer-logo{
    bottom: 0 !important;
    position: absolute;
    width: 100%;
}

.footer-logo > img{
    width: 112.5px;
    height: auto;
    margin-bottom: 3px;
}

.image-half > img{
    width: 44%;
}

@media (min-height: 992px){
    .image-half > img{
        width: 40%;
    }
}

@media (max-width: 350px){
    .change-passwd .margin-top-15{
        margin-top: 0 !important;
    }
}

/* @media (max-height: 550px){
     .bottom-10{
        position: relative !important;
    }
    .btn-bottom-10{
        position: relative;
    }
    /*.footer-logo{
        position: relative;
    } */
/*} */

.datepicker-controls {
    display: -webkit-box !important;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
}

.striper{
    padding: 10px;
    background-color: var(--primary-color);
}

.striper > a{
    color: white !important;
}

/*Also Style*/
/*Also Style*/

/*NProgress  Style*/

/* Make clicks pass-through */
#nprogress {
pointer-events: none;
}

#nprogress .bar {
background: #29d;

position: fixed;
z-index: 1031;
bottom: 0;
left: 0;

width: 100%;
height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
display: block;
position: absolute;
right: 0px;
width: 100px;
height: 100%;
box-shadow: 0 0 10px #29d, 0 0 5px #29d;
opacity: 1.0;

-webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
display: block;
position: fixed;
z-index: 1031;
top: 50%;
right: 50%;
}

#nprogress .spinner-icon {
width: 25px;
height: 25px;
box-sizing: border-box;

border: solid 2px transparent;
border-top-color: #4286f4;
border-left-color: #145cd1;
border-radius: 50%;

-webkit-animation: nprogress-spinner 400ms linear infinite;
        animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
overflow: hidden;
position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
position: absolute;
}

@-webkit-keyframes nprogress-spinner {
0%   { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
0%   { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

body, html, #app {
height: 100% !important;
}