<template>
    <div :class="classDiv" :id="idComponent">
        <button :class="classComponent">
            <i class="material-icons">{{icon}}</i>
        </button>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
  props: {
    nameButton: String,  classComponent: String, icon: String, classDiv: String, idComponent: String
  }
})

export default class BtnIcon extends Vue {
}
</script>