<template>
    <div class="">
        <div class="button" v-on:click="handleClick">
            <span class="label">{{label}}</span>
        </div>
    </div>
</template>

<style>
.button {
  padding-top: 5px;
}

</style>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({
  props: { label: String, goTo: String, callback: Function }
})
export default class Button extends Vue {
  handleClick() {
    if (this.$props.goTo) this.$router.push(this.$props.goTo);
    if (this.$props.callback) this.$props.callback();
  }
}
</script>