<template>
   <div :id="cardId" v-bind:class="{'card-50': true}" v-on:click="click(cardId)">
        <div v-if="imageSource" class="card-img">
            <img class="img" :src="imageSource">
        </div>
        <i class="icn right-align material-icons">favorite_border</i>
        <div class="card-content">
            <span class="card-date">{{cardDate}}</span>
            <span class="card-title activator grey-text text-darken-4">{{cardName}}</span>
            <span class="card-info">{{cardInfo}}</span>
        </div>
   </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: { imageSource: String, cardId: String, cardDate:String, cardName:String, cardInfo:String, click:String, disabled:String, date:String}
})
    export default class Card extends Vue {
    }
</script>