<template>
    <div class="clean item" v-on:click="funcao(id)">
        <div v-if="img" class="esquerda">
            <img :src="img">
        </div>
        <div v-bind:class="{'direita': true, 'full-width': !img}">
            <div class="conteudo">{{text}} </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
props:{ img : String , text : String ,funcao: Function, id: Number || String }
})

export default class CleanList extends Vue {

}
</script>