<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper warning">
                <div class="row modalCompraEventos">
                    <div v-if="itens.length > 0" class="margin-none">
                        <i class="material-icons" style="color: black; position: absolute; right: 0; margin: 8px; z-index: 9999;" v-on:click="closeThis()">close</i>
                        <TextLink v-if="itens.length > 0" style="padding: 10px 30px 0 30px !important; font-size: 1.3rem;" classDiv="row padding-cadastro label-intro-carteira compraEvento" link-label="Você está em algum destes eventos?" class-component="primary-color message"/>
                    </div>
                    <div v-if="appHasBalance">
                        <div v-if="itens.length > 0" id="cleanListBuy" style="margin: 0 0 45px 0;">    
                            <CleanList v-for="item in itens" :key="item.id" :text="item.name" :img="item.imageCover" :id="item.id" :funcao="doIt"></CleanList>
                        </div>
                    </div>
                    <!-- <div v-if="!appHasBalance">
                            <div style="display: flex; position: relative; flex-direction:column; margin-bottom: 25px;">
                                <img src="../assets/hourglass.svg" class="material-icons" style="font-size: 6em; margin: 0 auto; margin-top: 25px !important; margin-bottom: 15px !important; color: var(--primary-color) !important; width: 60px;"/>
                                <span style="font-size: 1.3em; padding: 0 10px; color: var(--primary-color);"> Aguarde, em breve teremos compras de produtos disponíveis no app.</span>
                            </div>
                            <div class="display-flex SIM" style="margin-bottom: 25px;">
                                <DefaultButton classDiv="width-38 in_the_middle" name-button="OK" class-component="button-outline width-100" v-on:buttonCallBack="closeThis"/>
                         </div>
                    </div> -->
                    <div v-if="appHasBalance">
                        <div v-if="itens.length == 0" style="">
                            <div style="display: flex; position: relative; flex-direction:column; margin-bottom: 25px; padding-top: 25px">
                                <img src="../assets/calendar-empty-ultrathin-page.svg" class="material-icons" style="font-size: 8em; margin: 0 auto; margin-top: 5px; width:80px;"/>
                                <span style="font-size: 1.3em; padding: 0 10px; color: var(--primary-color);"> No momento não existem eventos com venda de produtos pelo app.</span>
                            </div>
                            <div class="display-flex SIM" style="margin-bottom: 25px;">
                                <DefaultButton classDiv="width-38 in_the_middle" name-button="Fechar" class-component="button width-100" v-on:buttonCallBack="closeThis"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TextLink from '../components/TextLink.vue';
import CleanList from '../components/CleanList.vue';
import DefaultButton from '../components/DefaultButton.vue';
import SectionArea from '../components/SectionArea.vue';
import Util from '../ts/Util'

@Component({
    props: {
        icon: String, content: String, itens: Array, doIt: Function, closeCompraEventos: Function, goToTelaEvents: Function, closeThis: Function
    },
    components: { TextLink, DefaultButton, CleanList, SectionArea }
})
export default class CompraEventos extends Vue {
    appHasBalance : any =  true;
    
      mounted(){
        Util.setBackButtonBehavior(this.close)
    }

    close() {
        const self = this;
        Util.setBackButtonBehavior(function () {
            self.$router.go(-1);
        })
        this.$emit('close');
    }

}
</script>