<template>
    <div>
        
        <SelectField selectId="subjectMatters" style="margin: 10% 0; display:none;">
        </SelectField>
        
        <div class="input-field" style="width: 90%;margin: 50px 0 0 5%">
            <select id="documentType" v-model="docTypeValue">
                <option
                :key="structure.ID"
                :value="structure.ID"
                :selected="docTypeValue == structure.ID"
                v-for="structure in structures">
                {{structure.NAME}}</option>
            </select>
            <label style="left: 0; color: black; font-weight: 500;">Tipo do Documento</label>
        </div>
        
        <div class="bottom-10 inputFileBigDiv waves-effect" style="width:90%">
            <div style="display: flex;">
                <div v-on:click="cleanInputFile" v-show="contentFile" class="row detailsRow" style="margin:0!important; width:100%">
                    <i class="material-icons" id="deleteFile" style="color:red; display:flex; flex-direction:column; justify-content:center;">delete</i><span style="color:red; display: flex; flex-direction: column; justify-content: center; margin-left: 5px;">{{fileName}}</span>
                </div>
                <div v-show="!contentFile" class="row detailsRow" style="margin:0!important; width:100%">
                    <input @change="getFileInput" ref="fileInput" type="file" accept="image/*,.pdf" id="file" class="inputFileBig">
                    <label for="file" id="fileLabel">
                        <i class="material-icons">attachment</i>
                        Anexar documento
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Emit} from 'vue-property-decorator';
import SelectField from '../components/SelectField.vue';

@Component({
    components: { SelectField }
    // props: {
    //     contentFile: Object
    // }
})
export default class FileUploader extends Vue {
    contentFile: string = localStorage.getItem('FILE') || '';
    fileName: string = localStorage.getItem('FILE_NAME') || '';
    structures: string = JSON.parse(localStorage.getItem('DOCUMENT_STRUCTURES') || '');

    mounted() {
        setTimeout(() => {
            this.contentFile = localStorage.getItem('FILE') || '';
            this.fileName = localStorage.getItem('FILE_NAME') || '';
            this.docTypeValue = localStorage.getItem('DOCUMENT_TYPE') || '1';
        }, 1000);
    }

    get docTypeValue() {
        return localStorage.getItem('DOCUMENT_TYPE') || '1';
    }

    set docTypeValue(value:any) {
        localStorage.setItem('DOCUMENT_TYPE', value);
    }

    handleFileInput(e:any) {
        // console.log(this);
        const file = e.target.files && e.target.files.length ? e.target.files[0] : null
        if (file) {
            this.getFileInput(e)
        }
    }

    cleanInputFile() {
        const fileInput:any = this.$refs.fileInput;
        fileInput.value = null;

        this.contentFile = '';
        this.fileName = '';

        this.fileHandlingComplete(this.contentFile, this.fileName);
    }

    getFileInput(e:any) {
        // console.log(this,e);
        // const fileInput:any = this.$refs.fileInput;
        // const fileInput:any = ;
        // console.log(target);
        const files:FileList = e.target.files;
        const _window = window;

        if (files[0]) {
            if(files[0].type.match(/image.*/)) {
                const self = this;
                // console.log(self,this);

                const imgURL = _window.URL.createObjectURL(files[0]);
                const image = document.createElement('img');
                // console.log("beforeonload");
                image.onerror = console.error;
                image.onload = function() {
                    // console.log(self,this);
                    const canvas = document.createElement('canvas');
                    const maxHeight = 800;
                    const maxWidth = 600;
                    let canvasBlob: Blob|null = null;

                    if(image.width > maxWidth){
                        canvas.height *= maxHeight / image.width;
                        canvas.width = maxWidth;
                    } else if (image.height > maxHeight){
                        canvas.width *= maxWidth / image.height;
                        canvas.height = maxHeight;
                    }
                    const ctx: CanvasRenderingContext2D|null = canvas.getContext('2d');
                    if(ctx)
                        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                    else
                        throw new Error("CanvasRenderingContext2D is not supported.");

                    canvas.toBlob(function(img){
                        if(img){
                            const fileURL = _window.URL.createObjectURL(img);
                            const fileName = files[0].name;
                            self.fileHandlingComplete(fileURL, fileName);
                        }
                    }, 'image/jpeg');
                }
                image.src = imgURL;
            } else {
                const fileURL = _window.URL.createObjectURL(files[0]);
                const fileName = files[0].name;
                this.fileHandlingComplete(fileURL, fileName);
            }
        }
    }

    @Emit()
    fileHandlingComplete(file:string, fileName:string){
        this.contentFile = file;
        this.fileName = fileName;

        localStorage.setItem("FILE", file);
        localStorage.setItem("FILE_NAME", fileName);
        
        return {file, fileName};
    }
}
</script>
