<template>
    <div class="carousel-item fullticket" :id="ticketId" v-on:click="click ? click(ticketId) : function() { }">
        <div class="header">
            <div style="min-height: 116px;"><img style="height: 116px; object-fit: cover; object-position: center;" :src="imageEvent" alt=""></div>
            <div class="title">
                <span>
                {{titleEvent}}
                </span>
            </div>
            <div class="location">
                <div style="text-align: left;">
                    <span class="title-location">NOME</span>
                    <span style="text-transform: uppercase;">{{userTicket}}</span>
                </div>
                <div style="text-align: right;">
                    <span class="title-location">LOCAL</span>
                    <span>{{localEvent}}</span>
                </div>
            </div>
            <div class="dataevalor">
                <span class="title-data">DATA</span><span>{{dateEvent}}</span>
                <span class="title-data">VALOR</span><span>{{valueTicket}}</span>
            </div>
            <div class="dataevalor">
                <span class="title-data">Nº INGRESSO</span><span>{{numberTicket}}</span>
                <span class="title-data">INGRESSO</span><span>{{typeTicket}}</span>
            </div>
        </div>
        <div class="rip"></div>
        <div class="footer">
            <slot name="qrcode"></slot>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';


@Component({
    props: {
        imageEvent: String, titleEvent: String, localEvent: String, dateEvent: String, valueTicket: String, typeTicket: String, userTicket: String, numberTicket: Number, ticketId: Number, click: Function
    }
})

export default class FullTicket extends Vue {

}
</script>
