<template>
        <div v-on:click="closeThis()" class="modal-mask">
            <div class="modal-wrapper">
                <div style="padding:0" class="modal-container slide-modal-open" id="modalDependents">
                    <div name="header">
                        <font-awesome-icon class="checkAccount" :icon="['far', 'chevron-down']" style="display:inline-block;margin:10px 0 0 0;font-size:20px;" />
                    </div>
                    <div class="modal-header row margin-none" style="clear:both;">
                        <div class="modal-body row margin-none">
                            <slot name="body">
                            <p v-if="content">{{content}}</p>
                            </slot>
                        </div>
                        <div class="modal-footer row margin-none">
                            <slot name="footer">
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<style>
.tab-close{
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #ccc;
    display: inline-block;
}
</style>


<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        content: String, close: Boolean, closeThis: Function
    }
})
export default class ModalDependents extends Vue {

}
</script>