<template>
    <li :class="'collection-item' + (hasSoon?' disabled':'')">
        <div :id="idIcon" class="item-left" :onload="iconColor(idIcon)">
            <i class="material-icons">{{icone}}</i>
        </div>
        <div class="item-middle primary-color" style="position: relative;">
            <span>{{name}}</span>
            <span v-if="hasSoon" class="hasSoon-events">breve</span>
            <div v-if="notification == 'true'" style="position: absolute; top: 50%; right: 10%; transform: translateY(-50%); display: flex; flex-direction: column; justify-content: center; color: red;">
                <i class="material-icons">error_outline</i>
            </div>
        </div>
    </li>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {name : String, icone: String, idIcon : String, notification: String, hasSoon: Boolean }
})

export default class OptionList extends Vue{
    iconColor(idIcon :any) {
        setTimeout(function() {
            const numero = idIcon.split('');
            const tamanho = numero.length;
            let classNumber;
            if(tamanho == 1){
                classNumber = numero[0];
            }else{
                classNumber = numero[tamanho-1];
            };
            const el : HTMLElement | null = document.getElementById(idIcon);
            if (el) { 
                el.className += ' color' + classNumber; 
            }
        }, 1);
    }
}

</script>