<template>
    <div :id="id" class="button-card-wrapper col s6">
        <div class="collapsible-header-btn"> 
            <div class="header-number secundary-color">
                <div class="card-flag"><img :src="require(`../assets/${cardFlag}.svg`)"/></div>
                <div class="delete">
                    <font-awesome-icon :icon="['fal', 'trash-alt']" size="2x" fixed-width :removerItem="id" v-on:click="deletar(id)"/>
                </div>
            </div>
            <div>
                <span style="color: #333333"> •••• {{cardNumber}}</span>    
            </div>   
            <div class="header-name">
                <span style="color: #4F4F4F">{{typeCard}}</span>
                <span style="color: #828282" class="">Expira em {{cardExpiring}}</span>
            </div>
        </div>
        <!-- <div class="collapsible-body">
            <div class="content-collapse">
                <div class="user-name">
                    <div>
                        <span class="title secundary-color">Nome</span>
                        <span class="">{{userName}}</span>
                    </div>
                    <div>
                        <div class="switch switch-padrao">
                            <span class="secundary-color">Ativo</span>
                            <label>
                                <input v-bind:id="'check'+id" :checked="isMainCard"  type="checkbox" v-on:change="onChange(id)" />
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="expiration-date">
                    <div>
                        <span class="title secundary-color">Vencimento</span>
                        <span class="">{{cardExpiring}}</span>
                    </div>
                    <div>
                        <DefaultButton name-button="Remover" class-component="waves-effect waves-light btn-small primary-color-bg" v-on:buttonCallBack="toDo(id, cardNumber, cardFlag)"/>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script lang="ts" >
import DefaultButton from "../components/DefaultButton.vue";
import Vue from "vue";
import { Component } from "vue-property-decorator";
import RegisteredCards from "../controllers/RegisteredCards";
import ModalCodigo from "../components/ModalCodigo.vue";
import DefaultButtonOrd from "../components/DefaultButtonOrd.vue";

@Component({
  props: {
    name: String,
    icone: String,
    idcon: String,
    userName: String,
    cardNumber: String,
    cardExpiring: String,
    typeCard: String,
    cardFlag: String,
    id: Number,
    toDo: Function,
    isMainCard: Boolean,
    onChange: Function,
    deletar: Function
  },
  components: { DefaultButton, ModalCodigo, DefaultButtonOrd }
})
export default class OptionCollapse extends Vue {
  fullMethodSelected: any = JSON.parse(
    localStorage.getItem("FULL_METHOD_SELECTED") || "{}"
  );

  mounted() {
    const elems = document.querySelectorAll(".collapsible");
    const instances = M.Collapsible.init(elems, {});
  }
}
</script>

<style>
.delete {
  margin: 0 0 0 auto;
  font-size: 10px;
  color: #4f4f4f;
}
</style>