<template>
    <li :id="id" class="cardParent">
        <div class="collapsible-header">
            <div class="header-name primary-color">
                <span>{{typeCard}}</span>
            </div>
            <div class="header-number secundary-color">
                <div class="card-flag"><img :src="require(`../assets/${cardFlag}.svg`)"/></div>
                <div class="card-number"><span>{{cardNumber}}</span></div>
            </div>
        </div>
        <div class="collapsible-body">
            <div class="content-collapse">
                <div class="user-name">
                    <div>
                        <span class="title secundary-color">Nome</span>
                        <span class="">{{userName}}</span>
                    </div>
                    <!-- <div>
                        <div class="switch switch-padrao">
                            <span class="secundary-color">Ativo</span>
                            <label>
                                <input v-bind:id="'check'+id" type="checkbox" v-on:change="onChange(id)" :checked="isMainCard" />
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div> -->
                </div>
                <div class="expiration-date">
                    <div>
                        <span class="title secundary-color">Vencimento</span>
                        <span class="">{{cardExpiring}}</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>

<script lang="ts" >
import DefaultButton from '../components/DefaultButton.vue' 
import Vue from 'vue';
import { Component } from 'vue-property-decorator';


@Component({
    props: { name : String , icone  : String , idcon : String , userName : String , cardNumber : String , cardExpiring : String, typeCard : String , cardFlag : String, id: Number, toDo : Function, isMainCard : Boolean, onChange: Function },
    components: { DefaultButton}
})

export default class OptionCollapseParent extends Vue {

 mounted() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {});          
        }

}
</script>