<template>
    <div class="product-list" v-on:click="click(productId, productPrice)">
        <div v-bind:class="{'direita': true, 'full-width': !imageSource}">
            <div class="titulo">{{productName}}</div>
            <div class="conteudo">{{productInfo}} </div>
            <div class="preco">{{'R$' + productPrice.toFixed(2)}}</div>
        </div>
        <div v-if="imageSource" class="esquerda">
            <img :src="imageSource">
        </div>
    </div>
</template>
<script lang='ts'>
    import { Component, Prop, Vue } from 'vue-property-decorator'   

    @Component({
        props: ['productId', 'productName', 'productInfo', 'imageSource', 'click', 'productPrice'],
        components: { }
    })

    export default class Product extends Vue {
        
    }
</script>