<template>
  <ul style="list-style: none;">
    <p class="infoMsg" v-if="infoMsg">{{infoMsg}}</p>

    <li
      v-for="item in vForArr.array"
      @touchstart="changeHandler(item.id)"
      :key="item.id"
      :id="'li-'+item.id"
      :class="[{ 
                'li-active': vForArr.selectedOption === item.id,
                'styleDefault' : styleDefault,
                'fullWidth' : fullWidth,
                'li-disabled' : disabled
            },
            'chip']"
    >
      <input :id="preId+item.id" type="radio" :name="name" :value="item.id" :disabled="disabled" />

      <label :for="preFor+item.id" :class="{'disabled' : disabled}">{{msg || item.name}}</label>
    </li>
  </ul>
</template>

<style scoped>
.disabled:checked {
  color: white;
}

.disabled {
  color: #ffffff !important;
  pointer-events: none;
}

.li-disabled {
  background-color: #aaaaaa;
}

.infoMsg {
  margin: 0px 0px 0px 5px;
  color: grey;
  font-size: 85%;
}

.li-active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.li-active label {
  color: #ffffff !important;
}


label {
  cursor: pointer;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 85%;
}

.styleDefault {
  display: inline-block;
  margin-right: 5px;
  white-space: normal !important;
  color: black;
  border-radius: 5px;
  border-color: gray;
}

.input {
  position: absolute;
  visibility: hidden;
}

.fullWidth {
  width: 95% !important;
}
ul {
  margin: 0px !important;
}
</style>

<script lang="ts">
export class VForType {
  public array: Array<any> = [];
  public selectedOption: String = "";

  constructor(array?: Array<any>, initialOption?: String) {
    if (array) this.array = array;
    if (initialOption) this.selectedOption = initialOption;
  }
}

import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  props: {
    id: String,
    preId: String,
    msg: String,
    name: String,
    preFor: String,
    value: String,
    styleDefault: Boolean,
    fullWidth: Boolean,
    change: Function,
    disabled: Boolean,
    infoMsg: String,
    vForArr: VForType
  }
})

export default class RadioChipDefault extends Vue {
  changeHandler(id: string) {
    this.$props.vForArr.selectedOption = id;
    if (this.$props.change) this.$props.change();
  }
}
</script>

