<template>
    <li class="three-options collection-item" v-on:click="click(idIcon)">
        <div v-if="icone" :id="idIcon" class="item-left" :onload="iconColorExtrato(idIcon, icone)">
            <i class="material-icons">{{icone}}</i>
        </div>
        <div v-if="imageUrl" class="item-left" :onload="iconColorExtrato(idIcon, icone)">
            <img style="width: 100%; height: auto; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 50%;" :src="imageUrl" />
        </div>
        <div class="item-middle">
            <span class="titulo overflow-text" style="color: black;">{{status}}</span>
            <span class="dia overflow-text" style="color: var(--primary-color);">{{titulo}}</span>
            <span class="dia">{{dia}}</span>
        </div>
        <div :id="idIcon" class="item-right">
            <!-- <span v-if="!isFinished" class="status pendente">Pendente</span>
            <span v-else-if="status == 'Cancelado'" class="status cancelado">Cancelado</span>
            <span v-else class="status entregue">Entregue</span> -->
            <span class="" style="color: #4CAF50;">{{valor}}</span>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
@Component({
    props: { icone: String, imageUrl: String, idIcon: String, titulo: String, status: String, valor: String, dia: String, click: Function, isFinished: Boolean }
})
export default class ThreeOptionsListOrd extends Vue {

    iconColorExtrato(idIcon:any, icone:any) {
        setTimeout(function() {
            if (icone == 'arrow_downward') {
                const el : HTMLElement | null = document.getElementById(idIcon);
                if (el){el.className += " extrato-red";}
            } else {
                const el : HTMLElement | null =  document.getElementById(idIcon);
                if (el){el.className += " extrato-green";}
            };
        }, 1);
    }

}

</script>

<style>

/* #em_andamento > div > ul > li:nth-child(1){
    border-top: 1px solid #e0e0e0 !important;
} */

.collection {
    width: 95%;
    border-left: 0 !important;
    border-right: 0 !important;
}

.collection-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 !important;
    min-height: 55px;
}

.three-options .item-left {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.three-options .item-middle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}

.three-options .item-middle .titulo {
    font-size: 17px;
    color: var(--primary-color);
}

.three-options .item-middle .dia {
    font-size: 13px;
    color: #A8A8A8;
}

.three-options .item-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
}

</style>