<template>
    <li :id="idDependent" class="three-options-dependents collection-item">
        <div class="item-left" v-on:click="funcao(idDependent)">
            <i class="material-icons primary-color">{{icone}}</i>
        </div>
        <div class="item-middle" v-on:click="funcao(idDependent)">
            <span class="titulo">{{name}}</span>
        </div>
        <div class="item-right">
            <div class="switch switch-padrao">
                <label v-on:click="funcaoAI(idDependent)">
                    <input type="checkbox" :id="'STATUS_' + idDependent" v-bind:checked="checked">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { name: String, icone: String, idDependent: Number , funcao: Function, funcaoAI: Function, checked: String}
})

export default class ThreeOptionDependents extends Vue {
}

</script>