<template>
    <li class="three-options collection-item" v-on:click="click ? click(idIcon) : () => {}">
        <!-- <div :id="idIcon" class="item-left-extract" :onload="iconColorExtrato(idIcon, icone)">
            <span class="circulo"></span>
        </div> -->
        <div class="item-middle-extract">
            <span class="titulo">{{titulo}}<span class="info-adicional">{{infoAdicional ? ' (' + infoAdicional + ')' : ''}}</span></span>
            <span class="dia">{{dia}}</span>
        </div>

        <div :id="idIcon" v-bind:class="{'item-right': true, 'extrato-red': status === 'A', 'extrato-green': status === 'R'}">
            <span>{{valor}}</span>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component({
  props: {
    name: String,
    icone: String,
    idIcon: String,
    titulo: String,
    valor: String,
    dia: String,
    infoAdicional: String,
    status: String,
    click: Function
  }
})
export default class ThreeOptionsListExtract extends Vue {
  pedido: any = true;

  iconColorExtrato(idIcon: any, status: any) {
  }
}
</script>

<style>
.item-left-extract {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circulo {
  border-radius: 100%;
  border: 10px solid #c4c4c4;
  width: 34px;
  height: 34px;
  background-color: #c4c4c4;
}

.item-middle-extract {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  text-align: left;
  justify-content:space-around;
}

.item-middle-extract .titulo {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.item-middle-extract .titulo .info-adicional {
  font-size: 13px;
  color: darkslategray;
}

.item-middle-extract .dia {
  font-size: 13px;
  color: #a8a8a8;
}
</style>