<template>
    <div id="carousel_ticket" class="row carousel carousel-slider center">
        <slot class="carousel-item" name="tickets"></slot>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        
    }
})

export default class TicketsCarousel extends Vue {
    mounted() {
        
        let panel = document.querySelector("#carousel_ticket")  as HTMLElement;

        var carousel = M.Carousel.init(panel)
    }

    data() {
        return {}
    }

    changeMessage() {
    }
}
</script>