<template>
    <div class="small_ticket" :id="eventId">
        <div class="piece_left">
            <img :src="require(`../assets/${eventImage}`)">
        </div>
        <div class="piece_right">
            <span class="title">{{eventTitle}}</span>
            <div class="place">
                <span class="place_title">local</span>
                <span class="place_content">{{eventLocal}}</span>
            </div>
            <div class="date">
                <span class="date_title">data</span>
                <span class="date_content">{{eventDate}}</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        eventTitle: String,  eventLocal: String, eventDate: String, eventImage: String, eventId: String
    }
})

export default class Ticket extends Vue {
    
}
</script>