<template>
    <div v-on:click="buttonClickEvent()" class="button-card-wrapper">
        <div v-if="servicosPais" class="cardS button-card-img waves-effect-uni" v-on:click="handleClick">
            <font-awesome-icon class="card-icon" :class="'buttonCardIcon'" :icon="['fal',icon]" size="2x" fixed-width />
            <span class="card-label">{{label.toLowerCase()}}</span>
        </div>
                    
        <div v-if="servicosFilhos">
            <div class="cardServices" v-on:click="goToPage">
                <img style="width: 100%; height: 70%;" v-bind:src="img"/>
                <div class="textCard">
                  <span class="nameServico">{{label.toLowerCase()}}</span>
                  <span class="valorServico" v-show="price">R$ {{price}}</span>
              </div>
            </div>
        </div>
    </div>
</template>

<style>

.cardServices{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
    justify-content: center;
    flex-direction: column;
    height: calc(31vh - 60px) !important;
}

.cardServices img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.cardS{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    display: flex;
}

.cardS > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.buttonCardIcon {
  color: var(--primary-color);
  font-size: 27px;
}

.button-card-img {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  height: calc(31vh - 85px);
  position: relative;
  display: block;
}

.button-card-img .card-label {
  text-align: left;
  bottom: 5px;
  position: absolute;
  left: 10px;
  font-weight: 500;
  font-size: 130%;
  white-space: pre-line;
  max-width: 8rem;
  line-height: 1.6rem;
  text-transform: capitalize;
}

.button-card-img .card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.textCard{
    text-align: start !important;
    flex-direction: column;
    display: flex;
    margin: auto 7px;
    min-width: min-content;
    min-height: auto;
    text-transform: capitalize;
    width: 100%;
}
.nameServico{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
}

.valorServico{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

.waves-effect-uni {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

</style>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { VMoney } from "v-money";
import Util from '@/ts/Util'

@Component({

  props: {
    label: String,
    icon: String,
    goTo: String,
    callback: Function,
    text: String,
    servicosPais: Boolean,
    servicosFilhos: Boolean,
    reports: String,
    price: String,
    img: String,
  }
})
export default class ButtonCardImg extends Vue {
  money: any = {
    decimal: ",",
    thousands: ".",
    prefix: "R$",
    suffix: "",
    precision: 2,
    masked: false /* doesn't work with directive */
  };

  image:string = ''

  mounted() {
    if (this.$props.img === '' || this.$props.img === null) {
      this.$props.img = Util.getImgUrl("placeholder", ".png");
    }
  }
  
  buttonClickEvent() {
        this.$emit('buttonCallBack');
    }

    goToPage() {
      this.$emit('goToNextPage');
    }

  handleClick() {
    if (this.$props.goTo) this.$router.push(this.$props.goTo);
    if (this.$props.callback) this.$props.callback();
  }
}
</script>