<template>
    <div class="cardClass">
        <li class="mainLi" v-on:click="click ? click(id) : () => {}">
            <div class="boxImg">
                <img :src="image" alt="Imagem" class="cardDefaultImg img" /> 
                <span class="labelIconTop" v-if="isChecked">
                    <font-awesome-icon :icon="iconAwesome" :class="classCheckedIcon" size="2x" fixed-width  />
                </span>
                <span class="labelIconTop" v-else>
                </span>
            </div>
            <span class="spanText">{{cardText.toLowerCase()}}</span>
            <span v-if="cardSubText" class="subText">{{cardSubText}}</span>
        </li>
    </div>
</template>

<style scoped>

.boxImg {
    position: relative;
    width: 30vw;
    height: 15vh;
}

.boxImg img {
    border-radius: 4px;
    position: absolute;
    left: 55%;
    top: 25%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

.cardClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    object-fit: cover;
    height: 100%;
    object-position: center;
}

.boxImg img.portrait {
    width: 100%;
    height: auto;
}

.cardDefaultImg {
    width: 100%;
}

.mainLi {
    font-size: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.spanText {
    text-transform: capitalize;
    text-align: center;
    margin-top: -10px;
    height: 5vh;
}

.subText {
    opacity: 0.8;
    font-size: 85%;
}

.labelIconBottom {
    align-items: center;
    background-color: #FFF;
    display: flex;
    height: 35px;
    left: 7em;
    justify-content: center;
    position: relative;
    top: 8.5em;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #666;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 
        0px 0px 2px rgba(0, 0, 0, 0.12);
}

.labelIconTop {
    align-items: center;
    background-color: #FFF;
    display: flex;
    height: 25px;
    left: 4em;
    justify-content: center;
    position: relative;
    top: -2.5em;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #666;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 
        0px 0px 2px rgba(0, 0, 0, 0.12);
}

</style>

<script  lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import Util from '@/ts/Util';

@Component({
    props: {
        cardText: String,
        cardSubText: String,
        image: String,
        click: Function,
        id: [Number, String],
        iconAwesome: Array,
        classCheckedIcon: String,
        isChecked: Boolean
    }
})

export default class CardIconDefault extends Vue {

}

</script>