<template>
    <div id="dependendo" class="clean item2params" v-on:click="funcao(idExt, nome, img)">
        <div v-if="img" class="esquerda">
            <img :src="img">
        </div>
        <div  v-bind:class="{'direita': true, 'full-width': img}">
            <div class="conteudo">{{nome}} </div>
        </div>
        <div class="direita" style="width:50px;border-bottom: 1px solid rgba(11, 11, 11, 0.3);">
            <img v-if="checked" class="checkAccount" src="../assets/account-check.svg"/>
            <font-awesome-icon v-else class="checkAccount" :icon="['fal', 'circle']" size="2x" fixed-width />
        </div>
    </div>
</template>

<style>
.checkAccount{
    width:30px!important;
    height:30px!important;
}
</style>


<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props:{img : String, text : String, funcao: Function, chave: String, nome: String, valExt : String, idExt : Number, valPhoto: String, checked: Boolean}
})

export default class CleanListTwoParams extends Vue {

}
</script>