<template>
     <div class="row possitionLogo">
      <img src="@/assets/RGB-logo-zeedhi-ED-simples.png">
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: { }
})
    export default class FooterLogo extends Vue {
    }
</script>

<style>

.possitionLogo{
    height: 100px;
    min-height: 140px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
    max-height: 200px; */
}

.possitionLogo > img{
    width: 112.5px;
}


.testeEvent{
    justify-content: space-between;
    flex-direction: column;
    height: 23rem;

}
</style>