<template>
    <nav style="heigth: 36px;" class="header-fluxo-position-sticky">
        <div class="nav-wrapper">
            <div class="brand-logo center logo-title">
                <!-- <div class="logo-nav ajuste">
                    <img :src="LOGO"/>
                </div> -->
                <div class="title-tela"><span>{{nameFluxo}}</span></div>
            </div>
            <div class="brand-logo left btn-side">
                <slot name="left">
                </slot>
            </div>
            <div class="brand-logo right btn-side">
                <slot name="right">
                </slot>
            </div>
        </div>
    </nav>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        btn: String, nameFluxo: String
    }
})

export default class HeaderFluxo extends Vue {

    ORG_DATA: any = JSON.parse(localStorage.getItem('ORGANIZATION_DATA') || '{}');
    LOGO: any = this.ORG_DATA.CONFIGURATIONS.LOGO_IMAGE;

    buttonClickEvent() {
        this.$emit('buttonCallBack');
        }
    }

</script>