<template>
  <div :class="classComponent">
    <div class="HeaderBackground">
      <img :src="getImage()" />
    </div>
  </div>
</template>

<style>
.HeaderBackground {
  height: 15rem;
  position: fixed;
  z-index: 0;
  top:0;
}

.HeaderBackground img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "../ts/Util";

@Component({
  props: { classComponent: String, image: Object }
})
export default class HeaderBackground extends Vue {
  getImage() {
    return Util.getImgUrl(this.$props.image.name, this.$props.image.ext);
  }
}
</script>