<template>
    <div class="">
        <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline">
            <div class="SIM" slot="footer">
                <DefaultButton classDiv="width-100 display-flex-b" name-button="Câmera" iconClass="icon-middle" icon="camera_alt" class-component="button-modal" v-on:buttonCallBack="camera"/>
                <DefaultButton classDiv="width-100 display-flex-b" name-button="Galeria" iconClass="icon-middle" icon="insert_photo" class-component="button-modal" v-on:buttonCallBack="gallery"/>
                <DefaultButton classDiv="display-flex-b width-100" name-button="Cancelar" class-component="button-outline button-modal" v-on:buttonCallBack="closeModal"/>
            </div>
        </ModalCodigo>
    </div>
</template>
<style>
.display-flex-b .button-outline {
    color: var(--primary-color) !important;
}
.width-100 {
    width: 100%;
}
.display-flex-b {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.display-flex-b button {
    display: flex;
}
.icon-middle {
    margin: auto;
}
</style>
<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';
import ImageCompressor from '../ts/ImageCompressor';
import ModalCodigo from './ModalCodigo.vue';
import DefaultButton from './DefaultButton.vue';

declare var Camera: any;
declare var CameraPopoverOptions: any;

@Component({
    components: { ModalCodigo, DefaultButton }
})

export default class ImageUploader extends Vue {

    private static instance: ImageUploader;
    private static n: any = navigator;
    private static callbackSuccess: Function;
    private static callbackError: Function;
    private modal: boolean = false;

    mounted() {
        ImageUploader.instance = this;
    }

    private onPrompt(results: any, onSuccess: Function, onError: Function) {
        console.log("You selected button number " + results.buttonIndex);
        switch (results.buttonIndex) {
            case 1:
                ImageUploader.openCamera(onSuccess, onError);
                break;
            case 2:
                ImageUploader.openGallery(onSuccess, onError);
                break;
        }
    }

    static requestUploadMethod(onSuccess: Function, onError: Function) {
        ImageUploader.callbackSuccess = onSuccess;
        ImageUploader.callbackError = onError;
        ImageUploader.instance.modal = true;
    }

    private camera() {
        ImageUploader.openCamera(ImageUploader.callbackSuccess, ImageUploader.callbackError);
        this.modal = false;
    }

    private gallery() {
        ImageUploader.openGallery(ImageUploader.callbackSuccess, ImageUploader.callbackError);
        this.modal = false;
    }

    static openCamera(onSuccess: Function, onFail?: Function) {
        ImageUploader.n.camera.getPicture((f: any) => {
                var image = new Image();
                image.src = "data:image/jpeg;base64," + f;
                ImageCompressor.compressImage(image.src, 600, 600, 'jpeg', (compressedImage: string) => {
                    const _window = window;
                    const blob = new Blob([compressedImage], {type: 'application/json'});
                    const imgURL = _window.URL.createObjectURL(blob);
                    localStorage.setItem('COMPRESSED_IMAGE', imgURL);
                    onSuccess(compressedImage);
                });
            }, onFail, {
            destinationType: Camera.DestinationType.DATA_URL,
            sourceType: Camera.PictureSourceType.CAMERA,
            popoverOptions: new CameraPopoverOptions(300, 300, 100, 100, Camera.PopoverArrowDirection.ARROW_ANY, 300, 600)
        });
    }

    static openGallery(onSuccess: Function, onFail?: Function) {
        ImageUploader.n.camera.getPicture((f: any) => {
                var image = new Image();
                image.src = "data:image/jpeg;base64," + f;
                ImageCompressor.compressImage(image.src, 600, 600, 'jpeg', (compressedImage: string) => {
                    const _window = window;
                    const blob = new Blob([compressedImage], {type: 'application/json'});
                    const imgURL = _window.URL.createObjectURL(blob);
                    localStorage.setItem('COMPRESSED_IMAGE', imgURL);
                    onSuccess(compressedImage);
                });
            }, onFail, {
            destinationType: Camera.DestinationType.DATA_URL,
            sourceType: Camera.PictureSourceType.PHOTOLIBRARY,
            popoverOptions: new CameraPopoverOptions(300, 300, 100, 100, Camera.PopoverArrowDirection.ARROW_ANY, 300, 600),
            targetWidth: 300,
            targetHeight: 300,
            quality: 20
        });
    }

    private closeModal() {
        this.modal = false;
    }

}
</script>