<template>
   <div class="magazine">
        <div  v-on:click="click ? click(url) : () => {}" class="coverMagazine">
            <img :src="imageCover">
        </div>
        <span class="magazineTitle">{{title}}</span>
    </div>
</template>

<style>

.magazine{
    width: 45%;
    margin-bottom: 16px;
    text-align: left;
}

.coverMagazine{
    width: 100%;
    height: 50vw;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
}

.coverMagazine img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.magazineTitle{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 5px 10px;
    display: flex;
}

</style>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        props: { imageCover: String, title: String, url: String, click: Function }
    })

    export default class MagazineCover extends Vue {



    }

</script>