<template>
    <div>
        <div style="width: fit-content; margin:0 auto 15px;" class="image-half-small">
            <!-- <img class="preferences-image" src="../assets/preferences.png"> -->
        </div>

        <span class="card-title">Essa é a sua área!</span><br>
        <span class="card-title">O que você gostaria de ver aqui?</span>
        <div style="margin:20px;">
            <button classDiv="row" style="margin-top:25px" class="btn-relese waves-effect waves-light" v-on:click="personalize()">Personalizar minha área</button>
        </div>
        <span v-on:click="setSkipPreferences" class="clean-filter">Continuar sem personalizar</span>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';
import DefaultButton from '@/components/DefaultButton.vue';

@Component({
    components: { DefaultButton }
})
export default class Preferences extends Vue {
    @Emit()
    setSkipPreferences() {
        localStorage.setItem('SKIP_PREFERENCES', 'true');
        return true;
    }

    personalize() {
        this.$router.push('Personalize');
    }
}
</script>