<template>
    <div class="option">
        <div class="esquerda">
            <label :for="'option-' + optionId">
                <input v-if="multiple == 0" v-bind:id="'option-' + optionId" :name="'extra-' + extraId" type="radio" v-on:click="click(optionId, optionName, price, extraId, multiple)" />
                <input v-if="multiple == 1" v-bind:id="'option-' + optionId" type="checkbox" v-on:click="click(optionId, optionName, price, extraId, multiple)" />
                <span>{{optionName}}</span>
            </label>
        </div>
        <div v-bind:class="{'direita': true, 'full-width': true}">
            <div v-if="price > 0" class="preco">{{'R$' + price.toFixed(2)}}</div>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: ['optionId', 'optionName', 'price', 'multiple', 'required', 'extraId', 'click']
})

export default class Option extends Vue {
}
</script>
<style>

</style>