<template>
    <ul style="list-style: none; padding-top: 15px;">
        <p class="infoMsg" v-if="infoMsg">{{infoMsg}}</p>

        <li
            v-for="item in vForArr.array"
            @click="changeHandler(item.id)"
            :key="item.id"
            :id="'li-'+item.id"
            :class="[{ 
                'li-active': vForArr.selectedOption === item.id,
                'styleDefault' : styleDefault,
                'fullWidth' : fullWidth,
                'li-disabled' : item.disabled
            },
            'chip-interest']"
        >
            <input :id="preId+item.id" type="radio" :schedule="schedule" :value="item.id" :disabled="item.disabled" />

            <p :for="preFor+item.id" style="text-align: center!important;margin-left: 0;" :class="{'disabled' : item.disabled}">{{msg || item.schedule}}</p>
            <label :for="preFor+item.id" :class="{'disabled' : item.disabled}">{{item.interested}}</label>
        </li>
    </ul>
</template>

<style scoped>
.chip-interest {
    display: inline-flex;
    height: 60px;
    min-width: 126px;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 32px;
    white-space: pre;
    padding: 0 12px;
    border-radius: 16px;
    background-color: transparent;
    margin-bottom: 5px;
    border: 1px solid var(--primary-color);
    margin-right: 5px;
    text-align: center;
    line-height: 0px !important;
}

.disabled:checked {
  color: white;
}

.disabled {
  color: #ffffff !important;
  pointer-events: none;
}

.li-disabled {
  background-color: #aaaaaa;
  pointer-events: none;
  opacity: 0.7;
}

.infoMsg {
  margin: 0px 0px 0px 5px;
  color: grey;
  font-size: 85%;
}

.li-active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.li-active label {
  color: #ffffff !important;
}

.li-active p {
  color: #ffffff !important;
}


label {
  cursor: pointer;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 85%;
}

.styleDefault {
  display: inline-block;
  margin-right: 5px;
  white-space: normal !important;
  color: black;
  border-radius: 5px;
  border-color: gray;
}

.input {
  position: absolute;
  visibility: hidden;
}

.fullWidth {
  width: 95% !important;
}
ul {
  margin: 0px !important;
}
</style>

<script lang="ts">
export class VForType {
  public array: Array<any> = [];
  public selectedOption: String = "";

  constructor(array?: Array<any>, initialOption?: String) {
    if (array) this.array = array;
    if (initialOption) this.selectedOption = initialOption;
  }
}

import { Component, Prop, Vue, Emit } from "vue-property-decorator";

@Component({
  props: {
    id: String,
    preId: String,
    msg: String,
    schedule: String,
    interested: String,
    preFor: String,
    value: String,
    styleDefault: Boolean,
    fullWidth: Boolean,
    change: Function,
    disabled: Boolean,
    infoMsg: String,
    vForArr: VForType
  }
})



export default class RadioChipInterest extends Vue {
  @Emit("update:changeHandler")
  changeHandler(id: string) {
    this.$props.vForArr.selectedOption = id;
    if (this.$props.change) this.$props.change();
    return id;
  }
}


</script>

