<template>
    <div :id="cardId" v-bind:class="{'card': true, 'card-store': true, 'disabled': disabled}">
        <div v-if="imageSource" class="card-image waves-effect waves-block waves-light" v-on:click="!disabled ? click(cardId) : function() { }">
            <img class="activator" :src="imageSource">
        </div>
        <div class="card-content" v-on:click="!disabled ? click(cardId) : function() { }">
            <a v-if="disabled && imageSource" class="simbolo-fechado waves-effect waves-light red">FECHADA</a>
            <span class="card-title activator grey-text text-darken-4 overflow-text">{{cardName}}</span>
            <!-- <span class="card-info overflow-text">{{cardInfo}}</span> -->
            <div style="display:flex; padding: 8px 0;">
                <div class="" style="display:flex; margin-right: 10px;" v-if="cardWorkshifts"><span style="display:flex; flex-direction:column; justify-content:center; font-size: 0.9rem; padding: 0px 4px; background-color: #d8d8d8e0; color: #656565; border-radius: 3px;">{{formatTime(cardWorkshifts.INITIAL_TIME.date, cardWorkshifts.FINAL_TIME.date)}}</span></div>
                <div class="" style="display:flex; margin-right: 10px;" v-if="cardDeliversToTable"><span style="display:flex; flex-direction:column; justify-content:center; font-size: 0.9rem; padding: 0px 4px; background-color: #d8d8d8e0; color: #656565; border-radius: 3px;">Entrega na Mesa</span></div>
                <div class="" style="display:flex; margin-right: 10px;" v-if="cardDeliversToBalcony"><span style="display:flex; flex-direction:column; justify-content:center; font-size: 0.9rem; padding: 0px 4px; background-color: #d8d8d8e0; color: #656565; border-radius: 3px;">Entrega no Balcão</span></div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';
import moment from 'moment';

@Component({
    props: ['imageSource', 'cardId', 'cardName', 'cardInfo', 'click', 'disabled', 'cardWorkshifts', 'cardDeliversToTable', 'cardDeliversToBalcony']
})

export default class Card extends Vue {
    
    formatTime(stringDate: string, stringDate2:string) {
        const momentDate= moment(stringDate);
        const momentDate2= moment(stringDate2);
        const t1= momentDate.lang('pt-br').format('HH:mm');
        const t2= momentDate2.lang('pt-br').format('HH:mm');
        return t1 + ' às ' + t2;
    }

}
</script>