<template>
    <li class="three-options collection-item" v-on:click="click ? click(idIcon) : () => {}">
        <div :id="idIcon" class="item-left" :onload="iconColorExtrato(idIcon, icone)">
            <i class="material-icons">{{icone}}</i>
        </div>
        <div class="item-middle">
            <span class="titulo">{{titulo}}<span class="info-adicional">{{infoAdicional ? ' (' + infoAdicional + ')' : ''}}</span></span>
            <span class="dia">{{dia}}</span>
        </div>
        <div :id="idIcon" class="item-right">
            <span>{{valor}}</span>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { name: String, icone: String, idIcon: String, titulo: String, valor: String, dia: String, infoAdicional: String, click: Function }
})

export default class ThreeOptionsList extends Vue {

    iconColorExtrato(idIcon: any, icone: any) {
        setTimeout(function() {
            if (icone == 'arrow_downward') {
                const el : HTMLElement | null = document.getElementById(idIcon);
                if (el){el.className += " extrato-red";}
            } else {
                const el : HTMLElement | null =  document.getElementById(idIcon);
                if (el){el.className += " extrato-green";}
            };
        }, 50);
    }
}

</script>