<template>
    <li class="collection-item" v-on:click="click ? click(idIcon) : () => {}">
        <div :id="idIcon" class="file">
            <font-awesome-icon :icon="['fal', type === 'img' ? 'file-image' : 'file-pdf']" size="2x" :class="type === 'img' ? 'img-color' : 'pdf-color'" />
        </div>
        <div class="item-middle">
            <span class="titulo">{{title}}</span>
            <span class="status">{{desc}}</span>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { title: String, idIcon: String, desc: String, click: Function, status: String, type: String }
})

export default class ThreeOptionsListDocuments extends Vue {
}

</script>

<style>

.img-color {
    color:#37B6BE;
}

.pdf-color {
    color:#7F1A1A;
}

.file {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent !important;
}

.status {
    padding: 10px 0;
    text-align: left;
    font-size: 75%;
    color: rgba(0, 0, 0, 0.38);
}

.titulo {
    padding: 10px 0 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.87);
}

</style>