<template>
    <li class="three-options collection-item" v-on:click="click ? click(idIcon) : () => {}">
        <div :id="idIcon">
        </div>
        <div class="item-middle">
            <span class="titulo">{{name}}</span>
            <div class="info-adicional">{{desc}}</div>
            <span class="data">{{data}}</span>
        </div>
        <!-- <div :id="idIcon" class="item-right">
        </div> -->
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { name: String, idIcon: String, desc: String, data: String, click: Function }
})

export default class ThreeOptionsListNotifications extends Vue {

}

</script>

<style>
.upperCase {
    text-transform: uppercase;
}
</style>