<template>
    <div id="valueBalance" class="valueBalance radio">
        <label class="select_balance" :for="'value'+count.ID" v-for="count in counts" :key="count.ID" v-on:click="click(count.ID)">
            <input :id="'value'+count.ID" name="valueBalance" type="radio"/>
            <span v-if="(typeof count.VALUE != 'number')">{{count.VALUE}}</span>
            <span v-if="(typeof count.VALUE === 'number')">R${{count.VALUE.toFixed(2)}}</span>
        </label>
        <label v-if="(counts.length%2) != 0" class="select_balance visibility-hidden" style="text-align: left; display: block" for="none">
            <input id="none" name="valueBalance" type="radio"/>
            <span>none</span>
        </label>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { counts: Array, click: Function }
})

export default class ValueBalance extends Vue {
}
</script>

