<template>
    <div :class="'balanceAndCredit '+classDiv">
        <div class="vertical_align_center rs"><a :class="classComponent">{{linkLabel}}</a></div>
        <div class="vertical_align_center"><a :class="classComponent2">{{(linkLabel2)}}</a></div>
        <div class="vertical_align_center"><i v-on:click="click" :class="classComponentIcon + ' material-icons'">{{icon}}</i></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {click: Function, linkLabel: String, linkLabel2: String, classComponent: String, classComponent2: String, classComponentIcon: String, linkHref: String, icon: String, classDiv: String }
})

export default class BalanceAndCredit extends Vue {
}
</script>

