<template>
    <div v-bind:id="'boleto-' + identifier" :class="'boleto' + (opened ? ' b-opened' : '') + (classDiv ? ' ' + classDiv : '')" v-on:click="details ? details(ID) : () => {}">
        <div class="boleto-left">
            <div class="boleto-left-top">
                <div class="boleto-final-date">{{formatDate(finalDate)}}</div>
            </div>
            <div class="boleto-left-middle">
                <div class="boleto-value">{{value ? 'R$ ' + value.toFixed(2).replace('.', ',') : ''}}</div>
            </div>
            <div v-show="opened && !paid" class="boleto-left-bottom">
                <div style="white-space: pre-line;" class="boleto-bar-code">{{barCodeToShow}}</div>
            </div>
        </div>
        <div class="boleto-right">
            <div v-bind:class="{'boleto-status': true, 'paid': paid}">{{paid ? 'Pago' : 'Em aberto'}}</div>
            <div v-show="opened" class="boleto-right-middle">
                <!-- <i v-if="!paid && barCodeAvailable" class="material-icons" v-on:click="copy">content_copy</i> -->
                <!-- <i v-show="pdfUrl" class="material-icons" v-on:click="showBill">picture_as_pdf</i> -->
                <i class="material-icons" v-on:click="details ? details(ID) : () => {}">launch</i>
            </div>
        </div>
    </div>
</template>

<style>
.boleto {
    display: flex;
    margin: 10px 5%;
    border-bottom: 2px solid lightgray;
}
.boleto.b-opened {
    padding-bottom: 10px;
}
.boleto-left, .boleto-right {
    display: inline-flex;
    flex-direction: column;
}
.boleto-left .boleto-final-date {
    font-weight: 500;
    margin: auto auto auto 0;
    text-align: left;
}
.boleto-right .boleto-status {
    margin: 0 5% auto auto;
    padding: 2px 5px;
    font-weight: 700;
    font-size: 1.1rem;
    font-weight: bold;
    width: 9rem;
    background: white;
    color: var(--primary-color);
    text-transform: uppercase;
}
.boleto-right .boleto-status:not(.paid) {
    color: var(--primary-color);
    background: white;
}
.boleto-left {
    width: 100%;
    justify-content: space-between;
}
.boleto-left > div {
    display: inline-flex;
}
.boleto-left-middle {
}
.boleto-left-middle .boleto-value {
    font-weight: bold;
}
.boleto-left-bottom .boleto-bar-code {
    text-align: left;
    font-weight: 500;
}

.boleto-right {
    width: 10rem;
}
.boleto-right-middle {
    margin: auto 0;
    flex-direction: row;
    justify-content: center;
    display: flex;
    text-align: right;
}
.boleto-right-middle > i {
    margin: auto;
    color: var(--secundary-color);
}
</style>

<script lang="ts">
import Vue from 'vue';
import moment from 'moment';
import { Component } from 'vue-property-decorator';

declare var cordova: any;

@Component({
    props: { finalDate: String, value: Number, formattedBarCode: String, barCode: String, paid: Boolean, pdfUrl: String, errorMessage: String, classDiv: String, copyButtonClick: Function, ID: String, details: Function }
})

export default class Boleto extends Vue {

    opened: boolean = true;
    barCodeToShow: string = '';
    barCodeAvailable: boolean = false;
    identifier: number = -1;
    static instances: any = [];

    mounted() {
        this.identifier = Boleto.instances.length;
        Boleto.instances.push(this);
        this.formatBarCode();
    }

    formatBarCode() {
        if (this.$props.formattedBarCode) {
            const split = this.$props.formattedBarCode.split(' ');
            if (split.length == 5) {
                this.barCodeToShow = split[0] + ' ' + split[1] + `
                ` + split[2] + ' ' + split[3] + ' ' + split[4];
                this.barCodeAvailable = true;
            } else if (this.$props.errorMessage) {
                this.barCodeToShow = this.$props.errorMessage;
            } else this.barCodeToShow = this.$props.formattedBarCode;
        }
    }

    beforeDestroy() {
        Boleto.instances = [];
    }

    toggleOpened() {
        const newStatus = !this.opened;
        this.opened     = newStatus;
        if (newStatus == true) {
            Boleto.instances.forEach((boleto: any) => {
                if (boleto != this) boleto.opened = false;
            })
        }
    }

    private fallbackCopyTextToClipboard(text: string) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }
    
    private copyTextToClipboard(text: string) {
        const n: any = navigator;
        if (!n.clipboard) {
            this.fallbackCopyTextToClipboard(text);
            return;
        }
        n.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err: any) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    copy(e: Event) {
        e.stopPropagation();
        if (cordova && cordova.plugins && cordova.plugins.clipboard) cordova.plugins.clipboard.copy(this.$props.barCode);
        else this.copyTextToClipboard(this.$props.barCode);
        M.toast({html: 'Seu boleto foi copiado'}).timeRemaining = 1000
    }

    formatDate(date: string) {
        return moment(date).lang('pt-br').format('MMMM DD/MM/YYYY').toUpperCase();
    }

    showBill(e: Event) {
        e.stopPropagation();
        window.location.href = this.$props.pdfUrl;
    }

}
</script>

