<template>
    <div class="bottom-navigation">
        <div :class="'navigation-item '+classComponent" v-for="option in options" :key="option.id">
            <router-link :to="'/'+option.router" :id="option.id">
                <i :class="'material-icons '+ iconClass">{{option.icon}}</i>
                <span> {{option.name}} </span>
            </router-link>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';


@Component({
    props: {
        nameButton: String,  classComponent: String, icon: String, classDiv: String, idComponent: String, routerGo: String, iconClass: String
    }
})

export default class BottomNavigation extends Vue {

    data() {
        return {
            options:[
                { id:'option2', name:'Home', icon:'home', router:'HomeApp'},
                { id:'option0', name:'Eventos', icon:'today', router:'EventsMenu'},
                { id:'option3', name:'Pedidos', icon:'restaurant', router: 'MenuPedidos'},
                { id:'option4', name:'Opcoes Adicionais', icon:'person', router:'OpcoesAdicionais'},
            ]
        }
    }

    mounted(){
        var rota = this.$route.name
        switch (this.$route.name) {
            case 'Events':
                $("#option0").addClass("primary-color");   
                break;
            case 'HomeApp':
                $("#option2").addClass("primary-color");
                break;
            case 'MenuPedidos':
                $("#option3").addClass("primary-color");
                break;
            case 'OpcoesAdicionais':
                $("#option4").addClass("primary-color");
                break;
        }
    }

}
</script>

<style>

    .bottom-navigation{
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        -webkit-box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        -moz-box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        width: 100%;
        background-color: white;
    }

    .navigation-item{
        padding: 5px;
        width: auto;
        min-width: 20%;
    }

    .navigation-item > a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        widows: 100%;
        color: #C4C4C4;
    }

    .navigation-item > a > span{
        font-size: 11px;
    }

    .navigation-item > a > i{
        font-size: 32px;
    }

</style>