<template>
    <div class="bottom-navigation bottom-navigation">
       <div v-ga="$ga.event('BottomNavigation', 'click', option.router)" :class="'navigation-item '+ option.iosClass +classComponent" v-for="option in options" :key="option.id" @click="handleClick(option)">
            <font-awesome-icon :class="option.icon + option.myClass" :id="option.id" :icon="option.icon" size="2x" fixed-width />
        </div>
    </div>
</template>

<style>
.pulse {
  border-radius: 50%;
  width: 28px!important;
  box-shadow: 0 0 0 0 var(--primary-color);
  animation: pulse 2s infinite;
}

.classForIos {
    display: -webkit-flex;
    justify-content: center;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0  var(--primary-color);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(23, 10, 214, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0  var(--primary-color);
    box-shadow: 0 0 0 0  var(--primary-color);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
      box-shadow: 0 0 0 10px rgba(33, 58, 199, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(33, 58, 199, 0);
      box-shadow: 0 0 0 0 rgba(33, 58, 199, 0);
  }
}
</style>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        nameButton: String,  classComponent: String, icon: String, classDiv: String, idComponent: String, routerGo: String, iconClass: String, openThis: Function
    }
})

export default class BottomNavigation extends Vue {    
    data() {
        let myClass;
        let iosClass;

        if(!localStorage.getItem('PULSE_CLASS')) {
            myClass = ' pulse ';
            iosClass =  ' classForIos ';
        }
        else if (localStorage.getItem('PULSE_CLASS') === 'false')  {
            myClass = '';
            iosClass = '';
        }

        return {
            options:[
                { id:'btn0', name:'Home', icon:['fal','home-alt'], router:'HomeApp', onclick: '', myClass: ''},
                { id:'btn1', name:'Pedidos', icon:['fal','utensils'], router:'MenuPedidos', onclick: '', myClass: ''},
                { id:'btn2', name:'Opcoes Adicionais', icon:['fal','plus-circle'], myClass: myClass, iosClass: iosClass, router:'', onclick: this.$props.openThis},
                { id:'btn3', name:'Eventos', icon:['fal','calendar-alt'], router:'EventsMenu', onclick: '', myClass: ''},
                { id:'btn4', name:'Serviços', icon:['fal','grip-horizontal'], router:'MenuServices', onclick: '', myClass: ''},
            ]
        };
    }

    closeEventsCallback: Function = new Function();

    mounted() {
        const rota = this.$route.name;
        const DISABLED = 'icon-footer-color fal';
        const ENABLED  = 'primary-color fas';
        switch (rota) {
            case 'HomeApp':
                $('#btn0').removeClass(DISABLED);
                $('#btn0').addClass(ENABLED);
                $('#btn1').addClass(DISABLED); 
                $('#btn2').addClass(DISABLED); 
                $('#btn3').addClass(DISABLED);
                $('#btn4').addClass(DISABLED); 
                break;
            case 'MenuPedidos':
                $('#btn0').addClass(DISABLED); 
                $('#btn1').removeClass(DISABLED);
                $('#btn1').addClass(ENABLED); 
                $('#btn2').addClass(DISABLED);
                $('#btn3').addClass(DISABLED);
                $('#btn4').addClass(DISABLED); 
                break;
            case 'OpcoesAdicionais':
                $('#btn0').addClass(DISABLED); 
                $('#btn1').addClass(DISABLED); 
                $('#btn2').removeClass(DISABLED);
                $('#btn2').addClass(ENABLED);
                $('#btn3').addClass(DISABLED);
                $('#btn4').addClass(DISABLED); 
                break;
            case 'EventsMenu':
                $('#btn0').addClass(DISABLED);
                $('#btn1').addClass(DISABLED);
                $('#btn2').addClass(DISABLED); 
                $('#btn3').removeClass(DISABLED); 
                $('#btn3').addClass(ENABLED); 
                $('#btn4').addClass(DISABLED); 
                break;
            case 'MenuServices':
                $('#btn0').addClass(DISABLED); 
                $('#btn1').addClass(DISABLED); 
                $('#btn2').addClass(DISABLED);
                $('#btn3').addClass(DISABLED);
                $('#btn4').removeClass(DISABLED);
                $('#btn4').addClass(ENABLED); 
                break;
        }
    }

    handleClick(option: any) {
        if (option.onclick) option.onclick();
        else this.$router.push(option.router);
    }

    openMenuOptions() {
        this.$emit('buttonCallBack');
    }
}
</script>