<template>
    <a v-bind:class="{
    'waves-effect waves-light btn c-button': true, 
    'outlined': outlined, 
    'hide-shadow': hideShadow,
    'small': small,
    'right': right
    }" v-on:click="handleClick">
        <i v-if="leftIcon" class="material-icons left" style="margin-right: .7rem;">{{ leftIcon }}</i>
        {{ name }}
        <i v-if="rightIcon" class="material-icons right" style="margin-left: .8rem;">{{ rightIcon }}</i>
    </a>
</template>

<style>
a.c-button {
 background-color: var(--primary-color);
 color: white;
 display: inline-flex;
 width: 100%;
}

a.c-button.small {
 width: fit-content;
}

a.c-button:hover {
 background-color: var(--primary-color);
}

a.c-button.hide-shadow {
 box-shadow: unset;
}

a.c-button.outlined {
 color: var(--primary-color);
 background-color: white;
}

a.c-button i {
 height: 2rem;
 font-size: 2rem;
 line-height: 100%;
 margin: auto;
}
</style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        name: String,
        leftIcon: String,
        rightIcon: String,
        outlined: Boolean,
        hideShadow: Boolean,
        callback: Function,
        usesKeyEnterEvent: Boolean,
        usesKeyEscEvent: Boolean,
        small: Boolean,
        right: Boolean
    }
})

export default class Button extends Vue {

 event: any;

 mounted() {
    if (this.$props.usesKeyEnterEvent || this.$props.usesKeyEscEvent) {
        document.addEventListener("keyup", this.handleKeyUp);
    }
 }

 handleClick() {
    if (this.$props.callback) this.$props.callback();
 }

 handleKeyUp(e: any) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (this.$props.usesKeyEnterEvent && code==13) {
        e.preventDefault();
        if (this.$props.callback) this.$props.callback();
    } else if (this.$props.usesKeyEscEvent && code==27) {
        e.preventDefault();
        if (this.$props.callback) this.$props.callback();
    }
 }

 beforeDestroy() {
    document.removeEventListener("keyup", this.handleKeyUp);
 }

}
</script>