<template>
  <div class="button-card-wrapper col s6">
    <div class="button-card waves-effect" v-on:click="handleClick">
      <a v-if="reports > 0" class="circle notificationsReport">{{reports}}</a>
      <div class="card-icon">
        <font-awesome-icon :class="'buttonCardIcon'" :icon="['fal',icon]" size="2x" fixed-width />
      </div>
      <span class="card-label">{{label}}</span>
    </div>
  </div>
</template>
<style>
.buttonCardIcon {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.button-card-wrapper {
  margin: 6px 0 !important;
  padding: 0 6px !important;
}

.button-card {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  height: 20vh;
  position: relative;
  display: block !important;
}

.button-card .card-label {
  text-align: left;
  bottom: 5px;
  position: absolute;
  left: 10px;
  font-weight: 500;
  font-size: 130%;
  white-space: pre-line;
  max-width: 7rem;
  line-height: 1.6rem;
}

.button-card .card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button-card .card-icon svg {
  font-size: 2.4rem !important;
}
</style>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

    @Component({
        props: { label: String, icon: String, goTo: String, callback: Function, reports: Number }
    })

    export default class ButtonCard extends Vue {

        handleClick() {
            if (this.$props.goTo) this.$router.push(this.$props.goTo);
            if (this.$props.callback) this.$props.callback();
        }

    }
</script>