<template>
    <div class="clean item" v-on:click="funcao(chave,nome,img,idExt,valExt,valPhoto)">
        <div v-if="img" class="esquerda">
            <img :src="img">
        </div>
        <div v-bind:class="{'direita': true, 'full-width': !img}">
            <div class="conteudo">{{nome}} </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
props:{img : String , text : String ,funcao: Function, chave: String, nome: String, valExt : String, idExt : Number, valPhoto: String}
})

export default class CleanListParams extends Vue {

}
</script>