<template>
    <div :class="classDiv" :id="idComponent">
        <button :class="classComponent" v-on:click="buttonClickEvent($event)">
            <span style="float: left">{{nameLeft}}</span>
            <span>{{nameButton}}</span>
            <span style="float: right">{{nameRight}}</span>
            <i :class="'material-icons '+ iconClass">{{icon}}</i>
        </button>
    </div>
</template>

<script>
    export default {
        name:'DefaultButtonOrdView',
        props: ['nameButton', 'nameLeft', 'nameRight', 'classComponent', 'icon', 'classDiv', 'idComponent', 'iconClass'],
        data () {
            return {}
        },
        methods: {
            buttonClickEvent(event){
                console.log(event);
                this.$emit('buttonCallBack');
            }
        }
    }
</script>

<style>

    button{
        font-weight: bold;
        background-color: var(--primary-color);
        min-width: 53%;
        height: 36px;
        line-height: 20px !important;
        padding: 0 16px;
        border-radius: 2px;
        border: 2px solid var(--primary-color);
        color: white;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    button:hover{
        background-color: var(--secundary-color) !important;
        border-radius: 2px;
    }

    button:focus{
        background-color: var(--secundary-color) !important;
        border-radius: 2px;
    }

    @media (max-width: 350px){
        button{
            width: 100%;
            font-size: 76% !important;
        }
    }

    button i {
        font-size: 1.3rem !important;
        line-height: inherit;
    }

    .waves-effect {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        /* -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; */
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }

</style>