<template>
    <div :class="classComponent">
        <div class="overlay-newshome"></div>
        <img :src="imageFile">
    </div>
</template>

<script lang="ts">

import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        classComponent: String, imageFile: String
    }
})
    export default class  EventDetailImage extends Vue {
    }
</script>
