<template>
    <nav style="heigth: 36px;" class="header-fluxo-position-sticky">
        <div class="nav-wrapper">
            <div class="brand-logo center logo-title">
                <!-- <div class="logo-nav ajuste">
                    <img :src="LOGO"/>
                </div> -->
                <div class="title-tela"><span>{{nameFluxo}}</span></div>
            </div>
            <div class="brand-logo left btn-side">
                <slot name="left">
                </slot>
            </div> 
            <div v-if="userHasNotifications" class="right btn-side" style="position: absolute;left:78% !important; display: flex;" v-on:click="goToNotifications">
                <i style="font-size: 2.5rem !important;" class="material-icons">notifications</i>
                <div  style="position: absolute; top: 37%; right: -15%; transform: translateY(-50%); display: flex; flex-direction: column; justify-content: center; color: red;">
                    <i class="material-icons">error</i>
                </div> 
            </div>
            <div v-if="!userHasNotifications" class="right btn-side" style="position: absolute;left:78% !important; display: flex;" v-on:click="goToNotifications">
                <i style="font-size: 2.5rem !important;" class="material-icons">notifications</i>
            </div>
      
            <div class="brand-logo right btn-side">
                <router-link to="CarteiraDigital">
                    <img src="../assets/qrcode.svg">
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        btn: String, nameFluxo: String
    }
})
export default class HeaderFluxoIconRight extends Vue {
    userHasNotifications : any =  JSON.parse(localStorage.getItem('USER_HAS_NOTIFICATIONS') || 'true');

    mounted() {
    }

    goToNotifications() {
       this.$router.push('Notifications');
    }

    buttonClickEvent() {
        this.$emit('buttonCallBack');
        }
    }

</script>