<template :key="notificationsKey">
    <nav class="home header-home-position-fixed z-depth-0">
        <div class="nav-wrapper">
            <!-- <div class="brand-logo center logo-title">
                <div class="logo-nav">
                    <img :src="LOGO"/>
                </div>
            </div> -->
            <a data-target="slide-out" style="position: absolute;" class="sidenav-trigger" slot="left" href="slider-nav">
                <font-awesome-icon style="color:black;font-size:27px;" :icon="['fal', 'user']" size="2x" fixed-width />
            </a>
            <div class="brand-logo left btn-side">
                <slot name="left">
                </slot>
            </div>
            <!-- Notifications-->
            <div v-if="userHasNotifications" class="right btn-side" style="position: absolute; left: 75% !important; display: flex;" v-on:click="goToNotifications">
                <font-awesome-icon style="font-size: 26px !important;" :icon="['fal', 'bell']" size="2x" fixed-width />
                <div  style="position: absolute; top: 23%; right: 10.5%; transform: translateY(-50%); display: flex; flex-direction: column; justify-content: center; color: red;">
                    <font-awesome-icon style="color:red;" :icon="['fas', 'circle']" fixed-width />
                </div> 
            </div>
            <div v-if="!userHasNotifications" class="right btn-side" style="position: absolute; left: 75% !important; display: flex;" v-on:click="goToNotifications">
                <font-awesome-icon style="font-size: 26px !important;" :icon="['fal', 'bell']" size="2x" fixed-width />
            </div>
            <div class="brand-logo right btn-side">
                <router-link to="CarteiraDigital">
                    <font-awesome-icon :icon="['fal', 'qrcode']" size="2x" fixed-width />
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script lang="ts" >
import { Component, Prop, Vue } from 'vue-property-decorator';
import { library } from '@fortawesome/fontawesome-svg-core'
import { faBell, faQrcode, faUser } from '@fortawesome/pro-light-svg-icons';
import Util from '../ts/Util'

library.add(faBell, faQrcode, faUser)


@Component({
    props: {notificationsIcon : String, notificationsKey: Number}
})
export default class HeaderHome extends Vue {
    ORG_DATA: any = JSON.parse(localStorage.getItem('ORGANIZATION_DATA') || '{}');
    LOGO: any = this.ORG_DATA.CONFIGURATIONS.LOGO_IMAGE_SMALL;
    userHasNotifications : any =  JSON.parse(localStorage.getItem('USER_HAS_NOTIFICATIONS') || 'false');

   goToNotifications() {
       this.$router.push('Notifications');
   }

    buttonClickEvent() {
        this.$emit('buttonCallBack');
    }

    backbuttonEvent() {
        const self = this;
        Util.setBackButtonBehavior(function () {
            $('.sidenav').sidenav('close');
        })
        $('.sidenav').sidenav({
            onCloseStart: self.goHome
        })
    }


    goHome(){
        const self = this;
        Util.setBackButtonBehavior(function () {
           self.$router.push('HomeApp');
        })
    }

}
</script>