<template>
    <div class="headerRelease">
        <div class="backPage ajuste">
            <div style="display: flex; justify-content: center; flex-direction: column;" v-on:click="click">
                <i class="material-icons">arrow_back</i>
            </div>
            <div v-if="hasMoreButton" style="display: flex; position: relative; margin-left: auto;">
                <div v-if="showButtonOne" style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 10px;" v-on:click="clickButtonOne">
                    <i class="material-icons">{{iconButtonOne}}</i>
                </div>
                <div v-if="showButtonTwo" style="display: flex; justify-content: center; flex-direction: column; position: relative; margin-right: 15px;" v-on:click="clickButtonTwo">
                    <i class="material-icons" style="margin-left: 0;">{{iconButtonTwo}}</i>
                </div>
            </div>
        </div>
        
        <div class="titlePage">
            <div class="sun">
                <span class="titleHeader">{{title}}</span>
                <span class="display-none hitBox"></span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: ['desiredScrollTop', 'click', 'title', 'hasMoreButton', 'iconButtonOne', 'iconButtonTwo', 'showButtonOne', 'showButtonTwo', 'clickButtonOne', 'clickButtonTwo'],
    components: { }
})

export default class HeaderRelease extends Vue {
    mounted() {
        window.scrollTo(0, 0);
        window.addEventListener('scroll', this.scroll);
    }

    beforeDestroy() {
        /* Removendo event listener ao sair da tela */
        const w:any = window;
        if (w.removeEventListener) { 
            w.removeEventListener('scroll', this.scroll);
        } else if (w.detachEvent) {
            w.detachEvent('scroll', this.scroll);
        } else {}
    }

    scroll(event: any) {
        const nav: any = document.querySelector('.headerRelease');
        const categoryName: any = document.querySelector('.titleHeader');
        const hide: any = document.querySelector('.hitBox');
        // const titleInsideHeader: any = document.querySelector('.titleJoinedHeader');
        const w: any = window;
        if (nav) {
            if(w.pageYOffset >= this.$props.desiredScrollTop) {
                categoryName.classList.add('fixed');
                hide.classList.remove('display-none');
                // titleInsideHeader.classList.remove('display-none');
            } else {
                categoryName.classList.remove('fixed');
                hide.classList.add('display-none');
                // titleInsideHeader.classList.add('display-none');
            }
        }
    }
}

</script>

<style>

    .joinHeader{
        position: fixed;
        top: 0;
        margin-left: 30px !important;
        font-weight: normal;
        z-index: 1000001;
    }

    .headerRelease{
        position: sticky;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 9999999999;
    }

    .titleHere{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: auto;
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: 300;
        transition: .4s;
    }

    .titleJoinedHeader{
        transition: .4s;
    }

    .titlePage{
        transition: .4s;
    }

    .backPage.ajuste{
        flex-direction: initial;
        justify-content: initial;
    }

    .fixed{
        margin: 10px 35px 10px !important;
        position: fixed;
        margin-right: auto;
        margin-left: 20px;
        font-size: 1.3rem;
        font-weight: 300;
        transition: .6s;
        top: 0;
        z-index: 999999;
        margin: 11px 35px 10px !important;
    }

    .fixed > .titlePage > .sun{
        font-size: 1.3rem;
    }

    .titleHeader{
        transition: .2s;
    }

    .hitBox{
        height: 30px !important;
    }

</style>
