<template>
    <nav class="header_events" style="position: fixed;
                                      width: 100%;
                                      z-index: 99;
                                      background-color: white;">
        <div class="nav-wrapper">
            <div class="brand-logo center logo-title">
                <div>
                    <input type="text" name="" id="search_event" placeholder="Pesquisar evento" :maxlength="50"/>
                    <span id="search_icon_btn" class="submit-lente" v-on:click="buttonClickEvent()"><i class="material-icons">search</i></span>
                </div>
            </div>
            <div class="brand-logo left btn-side">
                <slot name="left">
                </slot>
            </div>
            <div class="brand-logo right btn-side">
                <slot name="right">
                </slot>
            </div>
        </div>
        <div>
            <slot name="tabs"></slot>
        </div>
    </nav>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        btn: String, nameFluxo: String
    }
})

export default class HeaderEvents extends Vue {

    mounted() {
        $('#search_event').focusin(function() {
            $('#search_icon_btn').addClass('primary-color');
        });
        $('#search_event').focusout(function() {
            $('#search_icon_btn').removeClass('primary-color');
        });
    }

    buttonClickEvent() {
        this.$emit('buttonCallBack');
    }
}
</script>