<template>
    <div :class="classDiv" :id="idComponent">
        <div class="profile-photo">
            <img class="photo" :src="image">
        </div>
        <slot name="changePhoto">
        </slot>
    </div>
</template>


<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        classDiv: String, idComponent: String, image : String
    }
})

export default class ImageProfile extends Vue {

}
</script>