<template>
    <div :class="classDiv">
        <div class="metade">
            <div class="input-field margin-bottom-0">
                <input :type="inputType" class="validate" :id="idComponent" v-model='value' v-mask="mask" @input="changeValue()" :disabled="disabledInput" readonly> -->
                <label :for="idComponent"> {{inputLabel}} </label>
                <!-- <input @input="updateInput($event)" /> -->
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({
        props: {
            inputLabel: String, inputType: String, idComponent: String, classDiv: String, disabledInput: String, mask: String
        }
    })

    export default class InputText extends Vue {

        changeValue(){
            const data:any = {};
            data.name = this.$props.idComponent;
            data.value = this.$props.value;
            this.$emit('parentVal', data);
        }
    }

</script>