<template>
    <div class="">
        <div id="carouselNews" class="row carousel carousel-slider center margin-none">
            <div class="carousel-item" :id="homeNew.ID" href="" v-for="(homeNew, index) in homeNews" :key="homeNew.ID" v-on:click="setNewsDetails(homeNew.ID, index)">
                <div class="overlay-newshome"></div>
                <div class="carousel-message overflow-text"><span class="newsTitle overflow-text"> {{homeNew.TITLE}} </span></div>
                <img v-if="!!homeNew.IMAGE" :src="homeNew.IMAGE">
            </div>
        </div>
    </div>
</template>

<script lang="ts" >

declare var M:any;

import Vue from 'vue';
import moment from 'moment';
import { Component } from 'vue-property-decorator';
import Request from '@/ts/Request';

@Component({
    props: {image:String}
})

export default class CarouselHome extends Vue {
    homeNews: object[] = JSON.parse(localStorage.getItem('NEWS') || '[]');

    mounted(){
        try {

        const lastGetHome: any = (typeof localStorage.getItem('LAST_GET_HOME') != 'undefined' && localStorage.getItem('LAST_GET_HOME') != null) ?  localStorage.getItem('LAST_GET_HOME')  : null;

        const duration: any    = (lastGetHome) ? moment.duration(moment().diff(lastGetHome)) : null;
        const diffTime: number = (duration) ? duration._data.minutes : 15;

        if (lastGetHome == '' || diffTime >= 15) {
            const self = this;
            const req = new Request();
                req.body = {
                'NRORG': localStorage.getItem('NRORG'),
                'MAX_RESULTS': 4
            };
            req.route  = 'getLastNews';
            req.callbackSuccess = function(response: any) {
                  self.homeNews = response.news;
                    localStorage.setItem('NEWS',JSON.stringify(self.homeNews));
                    setTimeout(function() {
                        let panel = document.querySelector('#carouselNews');
                        const carousel = M.Carousel.init(panel);
                    }, 100)
                    const now: any = moment();
                    localStorage.setItem('LAST_GET_HOME', now);
            };
            req.callbackError = function(error: any) {
                console.log(error);
            }
            req.blockTouchEvents = false;
            req.send();
            }
            else {
            this.homeNews = JSON.parse(localStorage.getItem('NEWS') || '{}');
            const panel       = document.querySelector('#carouselNews');
            const carousel  = M.Carousel.init(panel);
            // this.goToCurrentNews();
            }
        } catch (e){console.log(e);}
}

    goToCurrentNews() {
        const path            = window.location.href.split('/');
        const pathName   = path[path.length - 1];
        if (pathName.includes('#')) {
            const newsId = pathName.split('#')[1];
            const instance = M.Carousel.getInstance($('#carouselNews'));
            instance.options.duration = 0;
            instance.set(newsId);
            setTimeout(function() {
                instance.options.duration = 200;
            }, 50);
        }
    }

    setNewsDetails(ID: any, index: number){
        localStorage.setItem('NEWS_DETAIL', JSON.stringify(this.homeNews.find((news: any) => news.ID == ID)));
        localStorage.setItem('CURRENT_NEWS_INDEX', String(index));
        this.$router.push({ name: "NewsDetails" });
    }
}
</script>