<template>
    <option v-bind:id="optionId" :value="optionValue" :disabled="disabled" :selected="selected" >
        {{optionName}}</option>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

declare var $: any;

@Component({
    props: ['optionId', 'optionName', 'optionValue', 'disabled', 'selected']
})

export default class OptionField extends Vue {

}
</script>