<template>
  <div>
    <li class="three-options" v-on:click="click ? click(idIcon) : () => {}">
      <!-- <div class="col s3 optionCol">
        <div :id="idIcon" class="thumbnail">
          <img v-if="icon == ''" :src="img" alt="Imagem">
            <i v-else class="fa fa-restroom"></i>
        </div>
      </div> -->
      <div :id="idIcon" class="row">
          <div class="leftCol col s6">
            <span class="row nameTitle">{{name}}</span>
            <span class="row descInfo"> 
              <img src="../assets/location-pin.svg" class="iconLocation">{{desc}}
            </span>
            <!-- <span class="row smaller">{{date}}</span> -->
          </div>
          <div class="col s6">
            <!-- <span class="row inscritos"> Total de inscritos: <span class="numeroInscritos" > {{inscritos || '0'}} </span>  </span> -->
            <span v-bind:class="{
                'row' : true,
                'status': true,
                'inscrito': status === 'INSCRITO',
                'confirmado': status === 'CONFIRMADO',
                'matriculaDisponivel': status === 'MATRÍCULA DISPONÍVEL',
                'filaEspera': status === 'FILA DE ESPERA',
                'matriculado': status === 'MATRICULADO'
                }">
                {{status}}</span>
            <p class="row smaller">{{date}}</p>
          </div>
      </div>
    </li>
  </div>
</template>

<style scoped>
.leftCol {
    width: 50% !important;
    text-align: left !important;
    line-height: 125%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 10px!important;
}

.descInfo {
    margin-left: 5px!important;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
}

.nameTitle {
    padding-left:10px;
    font-size: 120%;
    color: var(--primary-color);
 }

.info-adicional {
  font-size: 75%;
}

.smaller {
    /* margin-left: 10px!important;
    font-size: 90%;
    font-weight: 300; */
    font-size: 90%;
    font-weight: 300;
    text-align: right;
    margin-right: 0.5px !important;

}

  @media(max-width: 390px){
    .smaller{
      padding-left: 1em !important;
    }
  }

  @media (min-width: 391px) {
    .smaller{
      padding-left: 3em !important;
    }
  }

.status {
  font-size: 90%;
  font-weight: 600;
  float: right;
  margin-bottom: 10px !important;
  margin-right: 0.1em !important;
  color: #d68c05;
}

.filaEspera {
  margin-left: 4em !important;
  margin-right: 0.1em !important;
}

  @media(max-width: 365px){
    .filaEspera {
      margin-left: 3em !important;
    }

  }

  @media (min-width: 366px) {
    .filaEspera {
      margin-left: 4em !important;
    }
  }


.matriculado {
  margin-left: 4em !important;
  margin-right: 0.1em !important;
  color: green!important;
}

.numeroInscritos{
  font-weight: 300;
}

.inscritos {
  font-size: 100%;
  font-weight: 250;
  float: right;
  margin-bottom: 15px !important;
}

.inscrito { 
    margin-left: 8em !important; 
    color: green!important;
}

.confirmado {
    color: green!important;
}

.matriculaDisponivel {
  color: #0BAD07!important;
  margin-right: 0.1em !important;
}

.iconLocation {
  width: 25px; 
  height: 25px; 
  position: relative; 
  top: 5px; 
  right: 2px;
}

@media (max-width: 350px){
  
  .desc {
    font-size: 90%;
  }

  .optionCol {
    width: 30%;
  }

}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "../ts/Util";

@Component({
  props: {name: String, desc: String, date: String, image: String, click: Function, idIcon: String, status: String, inscritos: Number}
})

export default class OptionListInfos extends Vue {
  private img: string = "";
  private icon: string = "";

  mounted() {
    if (this.$props.image == '' || this.$props.image === null) this.img = Util.getImgUrl("placeholder", ".png");
    else if(this.$props.image == 'sports') {
     this.img = Util.getImgUrl("waitline", ".svg");
    }
    else this.img = this.$props.image;
  }

}
</script>

 