<template>
    <li class="collection-item option-card">
        <div class="item-left">
            <span class="primary-color">Nome</span>
            <span>{{name}}</span>
        </div>
        <div class="item-middle">
            <span class="primary-color">Saldo</span>
            <span :class="infoSaldo">{{saldo}}</span>
        </div>
        <div class="item-right">
            <DefaultButton classDiv="" class-component="button-icon primary-color" icon="add_circle" v-on:buttonCallBack="buttonMethod(id)"/>
        </div>
    </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import DefaultButton from '../components/DefaultButton.vue';

@Component({
    props: {name: String, saldo: Number, buttonMethod: Function, infoSaldo: String, id: Number},
    components: { DefaultButton }
})

export default class OptionCard extends Vue{

}
</script>