<template>
    <div class="second-product-list" v-on:click="click">
        <div v-if="imageSource" class="esquerda">
            <img :src="imageSource">
        </div>
        <div v-bind:class="{'direita': true, 'full-width': !imageSource}">
            <div class="titulo">{{productName}}</div>
            <div class="conteudo">{{productInfo}} </div>
            <div class="preco">{{'R$' + productPrice.toFixed(2)}}</div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        props: ['productId', 'productName', 'productInfo', 'imageSource', 'productPrice', 'click'],
        components: { }
    })

    export default class Product extends Vue {
        
    }
</script>
<style>
.second-product-list {
    margin-top: 10px;
    max-height: 115px;
    display: flex;
    border-bottom: 1px solid rgba(11, 11, 11, .3);
    margin: 5px 10px;
    padding-bottom: 5px;
}
.second-product-list .direita {
    text-align: left;
    display: inline-block;
    width: 70%;
    height: 100%;
    padding-left: 10px;
}
.second-product-list .direita.full-width {
    width: 100%;
}
.second-product-list .esquerda {
    display: flex;
    width: 30%;
    height: 100%;
}
.second-product-list .esquerda > img {
    width: 100%;
    height: 100px;
    margin: auto 0;
}
.second-product-list .titulo {
    height: 30%;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 2px;
}
.second-product-list .conteudo {
    max-height: 2.8rem;
    color: #a0a0a0;;
    overflow: hidden;
    word-wrap: break-word;
}
.second-product-list .preco {
    height: 30%;
    color: #28c511;;
    font-size: 1.2rem;
}
</style>