<template>
    <div id="slider" class="slider" v-on:click="setNewsDetails(id, index)">
        <div class="overlay-newshome"></div>
        <div class="slider-cards">
            <img :src="image" draggable="false">
        </div>
        <div class="slider-info">
            <h1>{{title}}</h1>
        </div>
    </div>
</template>

<script lang="ts">
declare var M:any;

import Vue from 'vue';
import moment from 'moment';
import { Component } from 'vue-property-decorator';
import Request from '@/ts/Request';

@Component({
    props: { id:Number, index:Number, image:String, title: String, setNewsDetails: Function }
})

export default class Shortcuts extends Vue{
    
}

</script>