<template>
    <div id="slide-out" class="sidenav slidenav ajuste" style="display: flex; flex-direction: column;">
      <div>
        <div class="userPhoto">
          <img :src="userPhoto">
        </div>
        <div class="userName">
          <span>{{(userName || '').toLowerCase()}}</span>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <router-link to="/Perfil">
          <div style="display: flex; padding: 10px 0;" v-on:click="close">
            <div style="display: flex; justify-content: center; flex-direction: column;">
              <i data-feather="user" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
            </div>
            <div class="slideNavDiv">
              <span>Perfil</span>
            </div>
          </div>
        </router-link>
        <router-link to="/Dependents">
          <div style="display: flex; padding: 10px 0;" v-on:click="close">
            <div style="display: flex; justify-content: center; flex-direction: column;">
              <i data-feather="users" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
            </div>
            <div class="slideNavDiv">
              <span>Dependentes</span>
            </div>
          </div>
        </router-link>
        <router-link to="/RegisteredCards">
        <div style="display: flex; padding: 10px 0;" v-on:click="close">
          <div style="display: flex; justify-content: center: flex-direction: column;">
            <i data-feather="credit-card" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
          </div>
          <div style="display: flex; justify-content: center: flex-direction: column; font-size: 1.2rem; margin-left:15px; color: gray;">
            <span>Cartões</span>
          </div>
        </div>
        </router-link>
        <router-link to="/MeusBoletos">
          <div style="display: flex; padding: 10px 0;" v-on:click="close">
            <div style="display: flex; justify-content: center; flex-direction: column;">
              <i data-feather="file" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
            </div>
            <div class="slideNavDiv">
              <span>Boletos</span>
            </div>
          </div>
        </router-link>
        <router-link to="/SupportRequest">
          <div style="display: flex; padding: 10px 0;" v-on:click="close">
            <div style="display: flex; justify-content: center; flex-direction: column;">
              <i data-feather="volume-2" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
            </div>
            <div class="slideNavDiv">
              <span>Ouvidoria</span>
            </div>
          </div>
        </router-link>
        <router-link to="/Surveys">
          <div style="display: flex; padding: 10px 0;" v-on:click="close">
            <div style="display: flex; justify-content: center; flex-direction: column;">
              <i data-feather="clipboard" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
            </div>
            <div class="slideNavDiv">
              <span>Pesquisa de Satisfação</span>
            </div>
          </div>
        </router-link>
        <ul class="collapsible">
          <li style="line-height: 1;">
            <div class="collapsible-header" style="padding: 0; background-color: white;">
              <div style="display: flex; padding: 10px 0;">
                <div style="display: flex; justify-content: center; flex-direction: column;">
                  <i data-feather="plus-square" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
                </div>
                <div class="slideNavDiv">
                  <span>Mais Informações</span>
                </div>
              </div>
            </div>
            <div class="collapsible-body ajuste" style="padding: 0.5rem 1rem !important;">
              <router-link to="/PessoasNoClube">
                <div style="display: flex; padding: 10px 0;" v-on:click="close">
                  <div style="display: flex; justify-content: center; flex-direction: column;">
                    <i data-feather="umbrella" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
                  </div>
                  <div class="slideNavDiv">
                    <span>Pessoas no Clube</span>
                  </div>
                </div>
              </router-link>
                <div style="display: flex; padding: 10px 0;" v-on:click="clickChange">
                  <div style="display: flex; justify-content: center; flex-direction: column;">
                    <i data-feather="refresh-cw" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
                  </div>
                  <div class="slideNavDiv">
                    <span>Trocar de Clube</span>
                  </div>
                </div>
              <router-link to="/About">
                <div style="display: flex; padding: 10px 0;" v-on:click="close">
                  <div style="display: flex; justify-content: center; flex-direction: column;">
                    <i data-feather="info" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
                  </div>
                  <div style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem; margin-left:15px; color: gray;">
                    <span>Sobre</span>
                  </div>
                </div>
              </router-link>
            </div>
          </li>
        </ul>
        <div style="display: flex; padding: 10px 0;" v-on:click="clickLogout">
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <i data-feather="log-out" style="width: 27px; height: 27px; color: var(--primary-color);"></i>
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem; margin-left:15px; color: gray;">
            <span>Sair</span>
          </div>
        </div>
      </div>
      <div class="row padding-10 footer-logo" style="margin-bottom: 0; position: relative; margin-top: auto;">
        <img src="../assets/RGB-logo-zeedhi-ED-simples.png">
      </div>
    </div>
</template>

<script lang="ts" >
import { Vue, Prop, Component } from 'vue-property-decorator';
import Util from '../ts/Util';
import feather from 'feather-icons';

@Component({
    props: {
      userName: String, userPhoto: String, clickLogout: Function, clickChange: Function
    }
})

export default class SlideNav extends Vue {
  
  mounted() {
      $('.sidenav').sidenav();
      $('.collapsible').collapsible();
    }

    updated() {
      feather.replace();
    }

    close(){
      $('.sidenav').sidenav('close');
    }

    chooseOrg(){
      try {
        localStorage.setItem('USER_DATA', '');
        localStorage.setItem('TOTP', '');
        localStorage.setItem('USER_DATE', '');
        localStorage.setItem('EVENTS', '');
        localStorage.setItem('ENTERED_ORDERS_FROM', '');
        localStorage.setItem('ORG_FIELDS', '');
        localStorage.setItem('stores', '');
        localStorage.setItem('USER_TICKETS', '');
        localStorage.setItem('STRUCTURES', '');
        localStorage.setItem('DADOS_USUARIOS', '');
        localStorage.setItem('LAST_ROUTE', '');
        localStorage.setItem('CALENDAR', '');
        localStorage.setItem('HAS_NOTIFICATION', '');
        localStorage.setItem('ORGANIZATION_DATA', '');
        localStorage.setItem('FULL_METHOD_SELECTED', '');
        localStorage.setItem('FILTERED_TICKET_EVENTS', '');
        localStorage.setItem('STRUCTURE_ID', '');
        localStorage.setItem('CARDS_PARENT', '');
        localStorage.setItem('CREDIT_CARDS', '');
        localStorage.setItem('NEWS', '');
        localStorage.setItem('LAST_GET_USER_DATA', '');
        localStorage.setItem('METHOD_SELECTED', '');
        localStorage.setItem('FILTERED_TICKET_EVENTS', '');
        localStorage.setItem('QR_FROM', '');
        localStorage.setItem('WALLET', '');
        localStorage.setItem('CLOSE_EVENTS', '');
        localStorage.setItem('structureId', '');
        localStorage.setItem('deliversToTable', '');
        localStorage.setItem('MAIN_CARTAO', '');
        localStorage.setItem('SHOW_FILTERED_EVENTS', '');
        localStorage.setItem('USER_DEPENDENTS', '');
        localStorage.setItem('CURRENT_ORDERS', '');
        localStorage.setItem('LAST_DAY_ESCOLHER_UNIDADE', '');
        localStorage.setItem('deliverToBalcony', '');
        localStorage.setItem('STRUCTURES_QR', '');
        localStorage.setItem('LAST_GET_HOME', '');
        $('.sidenav').sidenav('close');
        this.$router.push('/LogIn');
      }catch (e) {
        console.log(e);
      }
    }

    openAndCloseCollapse(){
      $('.collapsible-header').toggleClass('opened');
    }

    logOff() {
     Util.logOff();
    }
}

</script>

<style>
.slideNavDiv {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  font-size: 1.2rem; margin-left:15px; 
  color: gray;
}

.sidenav .userPhoto{
  width: 22vw;
  height: 22vw;
  background-color: gray;
  border-radius: 70%;
}

.sidenav .userPhoto img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 70%;
}

.sidenav .userName{
  margin-top: 15px;
  text-align: left;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: capitalize;
}

.collapsible-body .ajuste{
  padding: 0.5rem 1rem !important;
  background-color: #dadada6b !important;
}

</style>

