<template>
    <div v-bind:id="id" class="row margin-none">
        <div>
            <ul :class="'tabs '+classDiv">
                <li v-bind:id="'tab-' + count.id" class="tab col s3" v-for="count in counts" :key="count.id" v-on:click="click(count.id)">
                    <a :href="'#'+count.IDTAB">{{count.NAME}}</a>
                </li>
            </ul>
        </div>
        <div :id="count.IDTAB" class="" v-for="count in counts" :key="count.id">
            <slot :name="count.IDTAB">
            </slot>
        </div>
    </div>
</template>


<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {classDiv: String, NAME : String, counts: Array, click: Function, id: String}
})

export default class TabsEvent extends Vue {
    mounted() {
        $(document).ready(function() {
            $('.tabs').tabs();
        });
    }
    changeMessage() {}
}

</script>