<template>
    <li class="three-options collection-item report-item" style="min-height: 75px;padding: 0!important;" v-on:click="click ? click(idIcon) : () => {}">
        <div :id="idIcon">
        </div>
        <div v-if="data">
            <h1 class="month">{{monthFormated}}</h1>
            <h1 class="day">{{data.split('/')[0]}}</h1>
        </div>
        <div class="item-middle">
            <span class="titulo">{{title}}</span>
            <span class="info-adicional">{{desc}}</span>
            <span class="data">{{data}}</span>
            <span v-if="status == 'P'" class="notification"></span>
        </div>
        <!-- <div :id="idIcon" class="item-right">
        </div> -->
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { title: String, idIcon: String, desc: String, data: {type: String, default: ''}, click: Function, status: String }
})

export default class ThreeOptionsListReports extends Vue {
    monthNames = ["", "JAN", "FEV", "MAR", "ABR", "MAI", "JUN","JUL", "AGO", "SET", "OUT", "NOV", "DEZ"];
    month:string = '';
    monthFormated: string = '';

    mounted() {
        if(this.$props.data){
            this.month = this.$props.data.split('/')[1].split('-')[0];
            this.monthFormated = this.monthNames[parseInt(this.month)];
        }
    }
}

</script>

<style>

.report-item {
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin: 20px 10px!important;
}

.upperCase {
    text-transform: uppercase;
}

.titulo {
    width: 40vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.month {
    margin: 25% 15px 0!important;
    font-size: 17px;
}

.day {
    margin: 0 15px 20%!important;
    font-size: 20px;
    font-weight: bold;
}

.notification {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    top: 44%;
    right: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

</style>