<template>
    <div :class="divFather">
        <div class="div_child">
            <span class="span_title">{{title}}</span>
        </div>
    </div>
</template>

<script lang="ts">

import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        divFather: String, title: String
    }
})

export default class  TitleSection extends Vue {

}
</script>