<template>
    <div v-if="tourCompleto == false || newFeatureCompleta == false" class="tourHome overlay"  v-on:click="goNext()" >

    <div style="z-index: -1 !importnant"  v-if="menuOptions">
        <TourMenuOptions :closeThis="closeMenuOptions"/>
    </div>

    <div v-if="primeiro" v-on:click="goSegundo($event)"  class="tourApresentacao">
        <div style="position: relative; display: flex; margin: auto; justify-content: center; flex-direction: column;">
            <span style="color: white; font-weight: bold; text-align: center;">
                <span style="font-size: 1.2rem;">Seja bem vindo(a) ao</span><br>
                <span style="font-size: 1.7rem;">Minas Tênis Clube</span><br>
            </span>
            <span style="font-size: 1.2rem; padding: 0 30px; color: white; margin-top: 10px; font-weight: bold;">Clique aqui para ver o tutorial das funcionalidades do seu aplicativo.</span>
        </div>
    </div>
    <div v-if="segundo" v-on:click="goTerceiro($event)" class="tourInicio">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'home-alt']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 12px; left: 30px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 21%; left: -20px; padding: 30px 80px;"> Navegue pelo aplicativo e quando quiser voltar para a página inicial, basta clicar aqui. </span>
    </div>

    <div v-if="terceiro" v-on:click="goQuarto($event)" class="tourEventos">
        <div class="botao" style="margin: auto 57% 0 auto;">
            <font-awesome-icon :icon="['fal', 'utensils']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 9px; left: 28px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 30px 80px;"> Acesse o cardápio dos restaurantes e faça pedidos diretamente da sua mesa.</span>
    </div>

    <div v-if="quarto" v-on:click="goQuinto($event)" class="tourEventos">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'plus-circle']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 9px; left: 31px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 45px 88px;">Os antigos atalhos da página inicial agora se encontram aqui.</span>
            <font-awesome-icon :icon="['fas', 'arrow-down']" size="2x" fixed-width class="upAndDownIconAnimation" style="color:white; font-size: 30px !important; bottom: 85px; left: 45%; position: absolute;"/>
    </div>
    
    <div v-if="quinto" v-on:click="goSexto($event)">
        <!-- <div class="botao" style="margin: auto 136px 0 auto;">
        <i class="fal fa-plus-circle fa-fw fa-2x" style="color:white; font-size: 36px !important; bottom: 9px; left: 31px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 200px 80px;">Agora os atalhos do app ficaram muito mias bonitos e de facil acesso. </span> -->
    </div>

    <div v-if="sexto" v-on:click="goSetimo($event)" class="tourPedidos">
        <div class="botao" style="margin: auto 21% 0 auto;">
            <font-awesome-icon :icon="['fal', 'theater-masks']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 9px; left: 31px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 0px 52px;"> Explore o calendário de eventos e fique por dentro de festas, shows e palestras. </span>
    </div>

    <div v-if="setimo" v-on:click="goOitavo($event)" class="tourPedidos">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'grip-horizontal']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 11px; left: 32px; right: 10px; position: absolute;"/> 
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 21%; right: -20px; padding: 12px 28px;"> Agora é possível consultar sua situação e posição na fila de espera de cursos através do novo menu de serviços.</span>
    </div>
    
    <div v-if="oitavo" v-on:click="goNono($event)" class="tourMenu">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'user']" size="2x" fixed-width style="color:white; font-size: 36px !important; top: 13px; left: 12px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: relative; margin: auto; padding: 0 80px;"> Acesse outras funcionalidades através do menu de acesso rápido. </span>
    </div>

    <div v-if="nono" v-on:click="finishTour($event)" class="tourCarteirinha">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'qrcode']" size="2x" fixed-width style="color: white; width: 27px !important; top: 10px; right: 10px; position: absolute;" />
        </div>
        <span style="color: white; font-weight: bold; position: relative; margin: auto; padding: 0 80px;"> Tenha rápido acesso à  sua Carteira Digital MTC. </span>
    </div>

    <div v-if="showEvents" v-on:click="finishTour($event)" class="tourMySchedule">
        <span style="color: white; position: absolute; top: 5%; left: 0; right: 0; font-weight: bold; padding: 45px 90px;"> Esta é a sua agenda. Nela estarão todos os seus eventos. </span>
        <div class="mySchedule">
            <TextLink classDiv="text-left" class-component="section-title ajuste" link-label="Minha Agenda"/>
            <!-- <div style="width: 100%; position: relative; margin: auto 0;">
                <div style="display: flex; position: relative; flex-direction:column; transform: scale(0.7, 0.7);">
                    <img src="../assets/calendar-empty-ultrathin-page.svg" class="material-icons" style="font-size: 8em; margin: 0 auto; color: var(--primary-color); width: 90px;"/>
                    <span style="font-size: 1.5em; padding: 0 10px; color: var(--primary-color);"> Sua agenda ainda estÃ¡ vazia. </span>
                </div>
            </div> -->
            <TabsHome :counts="tourSchedule.categories" :hideTabsMargin="notFound && !tourSchedule.categories">
                <div class="row margin-top-10 margin-bottom-0" :slot="tourSchedule.divs[0].category" style="width:100%;">
                    <EventCalendar :name="tourSchedule.divs[0].events[0].name" :initialDate="formatDate(tourSchedule.divs[0].events[0].initialDate.date)" :location="tourSchedule.divs[0].events[0].location" :imageCover="tourSchedule.divs[0].events[0].imageCover" :favoriteId="'favorito'+tourSchedule.divs[0].events[0].id"/>
                </div>
            </TabsHome>
        </div>
    </div>

    <!-- New features -->

    <div v-if="newFeature" v-on:click="goFeatureSecond($event)" class="tourEventos">
            <div class="botao" style="margin: auto 136px 0 auto;">
            <font-awesome-icon :icon="['fal', 'plus-circle']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 9px; left: 31px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 30px 88px;">Os antigos atalhos da página inicial agora se encontram aqui. </span>
    </div>
    
    <div v-if="newFeatureSecond" v-on:click="goFeatureThird($event)">
        <!-- <div class="botao" style="margin: auto 136px 0 auto;">
        <font-awesome-icon :icon="['fal', 'plus-circle']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 9px; left: 31px; right: 10px; position: absolute;"/>
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 31%; left: 0; left: 0; padding: 200px 80px;">Agora os atalhos do app ficaram muito mias bonitos e de facil acesso. </span> -->
    </div>

    <div v-if="newFeatureThird" v-on:click="closeFeature($event)" class="tourPedidos">
        <div class="botao">
            <font-awesome-icon :icon="['fal', 'grip-horizontal']" size="2x" fixed-width style="color:white; font-size: 36px !important; bottom: 11px; left: 32px; right: 10px; position: absolute;"/> 
        </div>
        <span style="color: white; font-weight: bold; position: absolute; bottom: 21%; right: -20px; padding: 12px 28px;"> Agora é possível consultar sua situação e posição na fila de espera de cursos através do novo menu de serviços.</span>
    </div>


    </div>
</template>

<script lang="ts" src="../controllers/TourHome.ts"></script>
