<template>
    <transition name="modal">
        <div v-on:click="closeThis()" class="modal-mask">
            <div class="modal-wrapper">

                <div class="row modalCompraEventos vivify popInBottom" :id="option.id"  v-for="option in options" :key="option.id">
                        <div style="display: flex; padding: 10px 10px;">
                            <div style="display: flex; justify-content: center; flex-direction: column;">
                                <font-awesome-icon :icon="option.icon" size="2x" fixed-width />
                            </div>
                            <div style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem; margin-left:15px; color: black;">
                                <span>{{option.name}}</span>
                            </div>
                        </div>
                </div>

                <div class="row modalCompraEventos vivify popIn" id="btn">
                    <DefaultButton style="color: #77a5ec !important;" name-button="Fechar" class-component="button-menu-fechar" v-on:buttonCallBack="closeThis()"/>           
                </div>

                <div class="tourButton">
                <span style="color: white; font-weight: bold; position: absolute; bottom: 35%; left: 0; left: 0; padding: 200px 80px;"> Tenha fácil acesso as principais funcionalidades do aplicativo. </span>
                </div>
            </div>
        </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TextLink from '../components/TextLink.vue';
import CleanList from '../components/CleanList.vue';
import DefaultButton from '../components/DefaultButton.vue';
import SectionArea from '../components/SectionArea.vue';

@Component({
    props: {
        closeThis: Function
    },
    components: { TextLink, DefaultButton, CleanList, SectionArea }
})

export default class TourMenuOptions extends Vue{
    
    data() {
        return {
            options:[
                { id:'option0', name:'Aluguel de Espaços', icon:['fal','key'], router:'SpaceRent'},
                // { id:'option1', name:'Comprar Ingressos', icon:['fal','ticket-alt'], router:'MenuPedidos'},
                { id:'option1', name:'Fila de Espera', icon:['fal','user-graduate'], router:'ModalityDependents'},
                { id:'option2', name:'Revista do MTC', icon:['fal','book-open'], router:'Magazine'},
                // { id:'option4', name:'Recarregar Saldo em Eventos', icon:['fal','donate'], router:'AddBalance'},
                // { id:'option5', name:'Comprar Produtos em Eventos', icon:['fal','glass-cheers'], router:'EventsMenu'},
                { id:'option3', name:'Fazer Pedido em Restaurante', icon:['fal','cheeseburger'], router:'Lojas'}
            ]
        };
    }
}

</script>