<template>
    <li class="collection-item space_around">
        <div class="item-left-two">
            <slot name="item_left">
            </slot>
        </div>
        <div class="item-right-two">
            <slot name="item_right">
            </slot>
        </div>
    </li>
</template>

<script lang="ts" >
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({
        props: {
            name: String, icone: String
        }
    })

    export default class TwoOptionList extends Vue {

    }

</script>