<template>
  <div id="app">
    <!-- <transition name="fade"> -->
    <router-view />
    <div
      v-if="showLogoutModal"
      class="fade-in-object"
      style="
        color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 99999999999;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
      "
    >
      <div style="height: 15rem; margin: 2rem auto">
        <div style="font-size: 2rem">Saindo automaticamente em:</div>
        <div style="font-size: 6rem; margin: 2rem 0; font-weight: bold">
          {{ remainingTime }}
        </div>
      </div>
      <div style="font-size: 2rem; font-weight: bold">
        Toque em qualquer lugar da tela para continuar.
      </div>
    </div>
    <!-- </transition> -->
    <!-- <div class="row padding-cadastro striper margin-none" v-if="warning" @close="warning = false" style="z-index:9999; z-index: 9999; position: fixed; width: 100%; top: calc(100% - 86px);">
        <div class="vertical_align_center rs menssagem" style="display: flex; justify-content: center;">
          <div style="display: flex; flex-direction: column; justify-content: center;"><i class="material-icons">signal_wifi_off</i></div>
          <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 5px;"><span>Aguardando conexão</span></div>
        </div>
    </div>-->
    <!-- <div id="loading-overlay"></div> -->
  </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import vMoney from "v-money";
import LoginFrontEnd, {
  LoginConfig,
} from "./modules/login-frontend/LoginFrontEnd";
import Orders, { StoresConfig } from "./modules/orders-module/Orders";
import Wallets from "./modules/wallet-module/Wallets";
import EventsInitializer from "./modules/events-frontend/EventsInitializer";
import Util from "./ts/Util";

// import "./thirdparty/vivify.min.css";
// import './thirdparty/card/card.js';
// import './thirdparty/card/card.css';
// import './thirdparty/slick/slick.css';
// import './thirdparty/slick/slick.js';
// import './thirdparty/slick/slick-theme.css';
// import './thirdparty/to-title-case.js';

declare var M: any;
declare var $: any;

declare var codePush: any;
declare var SyncStatus: any;
declare var window: any;
@Component({
  components: {},
})
export default class App extends Vue {
  warning: boolean = false;
  componentKey: number = 0;
  nrorg: string = process.env.VUE_APP_NRORG || "";
  showLogoutTimer: any = undefined;
  logoutTimer: any = undefined;
  showLogoutModal: any = false;
  remainingTime: number = 20;
  decreaseRemainingTimeInterval: any = undefined;
  taaTimer: any = 1;
  naoAtualizar: boolean = true;

  created() {
    LoginFrontEnd.addRoutes();
    Orders.addRoutes();
    Orders.addPaymentRoutes();
    Orders.addRecentOrdersRoutes();
    Orders.setShareOptions(
      true,
      "Acho que você vai gostar destes produtos, confira no BipFun:",
      "https://bipfun.teknisa.com/open_event"
    );
    Wallets.addRoutes();
    EventsInitializer.prepare(
      process.env.VUE_APP_BACKEND_URI || "",
      this.goToRecentOrders
    );
    EventsInitializer.setShareOptions(
      true,
      "Acho que você vai gostar deste evento, confira no BipFun:",
      "https://bipfun.teknisa.com/open_event",
      false,
      "/Home"
    );
    LoginFrontEnd.start(
      new LoginConfig(
        ["EXTERNAL_ID"],
        "ao terminal de autoatendimento do Eattake",
        "Bem vindo",
        "logo-teknisa.svg",
        this.goToExplorar,
        "Preencha o cadastro e crie sua conta no ",
        "BipFun",
        this.nrorg,
        "",
        "#2d68c4",
        "#11386B"
      )
    );
    const bottomNavOptions: any = [
      // { id:'btn0', name:'Início', icon: 'home-alt', active: false, route: '/Home', notification: 0},
      // { id:'btn1', name:'Comprar', icon: 'store', active: false, route: '/Explorar', notification: 0},
      // { id:'btn2', name:'Carteira', icon: 'wallet', active: false, route:'/Carteira', notification: 0},
      // { id:'btn3', name:'Compras', icon:'bags-shopping',  active: false, route:'/PedidosRealizados', notification: 0},
      // { id:'btn4', name:'Perfil', icon: 'user', active: false, route:'/Perfil', notification: 0}
      {
        id: "btn0",
        name: "Início",
        icon: "home-alt",
        active: false,
        route: "/Home",
        notification: 0,
      },
      // { id:'btn1', name:'Comprar', icon: 'store', active: false, route: '/Explorar', notification: 0},
      {
        id: "btn2",
        name: "Comprar",
        icon: "bags-shopping",
        active: false,
        route: "/Explorar",
        notification: 0,
      },
      // { id:'btn3', name:'Eventos', icon:'compass',  active: false, route:'/MenuEvents', notification: 0},
      // { id:'btn4', name:'Agenda', icon: 'calendar-alt', active: false, route:'/Schedule', notification: 0},
      {
        id: "btn5",
        name: "Serviços",
        icon: "sparkles",
        active: false,
        route: "/Services",
        notification: 0,
      },
      {
        id: "btn6",
        name: "Mais",
        icon: "ellipsis-h",
        active: false,
        route: "/Extras",
        notification: 0,
      },
    ];
    localStorage.setItem(
      "BOTTOM_NAV_OPTIONS",
      JSON.stringify(bottomNavOptions)
    );
  }
  mounted() {
    Vue.use(vMoney);
    //document.addEventListener("deviceready", this.syncCodePush);
    //document.addEventListener("resume", this.syncCodePush);
    document.addEventListener("touchstart", this.refreshLogoutTime, true);
    document.addEventListener(
      "keypress",
      this.refreshLogoutTimeOnKeyPress,
      true
    );
    if (document.documentElement && localStorage.getItem("PRIMARY_COLOR"))
      document.documentElement.style.setProperty(
        "--primary-color",
        localStorage.getItem("PRIMARY_COLOR")
      );
    if (document.documentElement && localStorage.getItem("SECONDARY_COLOR"))
      document.documentElement.style.setProperty(
        "--secundary-color",
        localStorage.getItem("SECONDARY_COLOR")
      );
    if (document.documentElement && localStorage.getItem("SECONDARY_COLOR"))
      document.documentElement.style.setProperty(
        "--support-color",
        localStorage.getItem("SECONDARY_COLOR")
      );
    if (document.documentElement && localStorage.getItem("SECONDARY_COLOR"))
      document.documentElement.style.setProperty(
        "--secundary-support-color",
        localStorage.getItem("SECONDARY_COLOR")
      );
  }

  userIsLogged() {
    const _window: any = window;
    return localStorage.getItem("USER_ID") && localStorage.getItem("TOKEN");
  }

  goHome() {
    this.$router.push("Home");
  }

  goToExplorar() {
    this.$router.push("Explorar");
  }

  openLogoutModal() {
    clearTimeout(this.showLogoutTimer);
    this.showLogoutTimer = undefined;
    clearTimeout(this.logoutTimer);
    this.logoutTimer = undefined;
    clearInterval(this.decreaseRemainingTimeInterval);
    this.decreaseRemainingTimeInterval = undefined;
    if (
      !(
        this.$route.path == "/Explorar" ||
        this.$route.path == "/LogIn" ||
        this.$route.path == "/" ||
        this.$route.path == "/TicketPayment" ||
        this.$route.path == "/ChooseStructure" ||
        this.$route.path == "/ChooseTaas"
      ) &&
      this.logoutTimer === undefined
    ) {
      this.showLogoutModal = true;
      if (this.decreaseRemainingTimeInterval === undefined)
        this.decreaseRemainingTimeInterval = setInterval(
          () => this.decreaseRemainingTime(),
          1000
        );
      this.logoutTimer = setTimeout(this.logoutUserAndGoToHome, 30000);
    } else {
      this.showLogoutTimer = setTimeout(this.openLogoutModal, 600000);
      this.syncCodePush();
    }
  }

  decreaseRemainingTime() {
    this.remainingTime -= 1;
  }

  logoutUserAndGoToHome() {
    localStorage.setItem("SHOW_EXPLORAR_OVERLAY", "true");
    this.refreshLogoutTime();
    if (
      !(
        this.$route.path == "/Explorar" ||
        this.$route.path == "/LogIn" ||
        this.$route.path == "/" ||
        
        this.$route.path == "/ChooseStructure" ||
        this.$route.path == "/ChooseTaas"
      )
    ) {
      this.goToExplorar();
      document.location.reload();
    }
  }

  refreshLogoutTimeOnKeyPress(event: any) {
    const keyName = event.key;
    if (keyName === "Enter") this.refreshLogoutTime();
  }

  refreshLogoutTime() {
    this.taaTimer = localStorage.getItem("TIMER_TAA");
    this.showLogoutModal = false;
    clearTimeout(this.showLogoutTimer);
    this.showLogoutTimer = undefined;
    clearTimeout(this.logoutTimer);
    this.logoutTimer = undefined;
    clearInterval(this.decreaseRemainingTimeInterval);
    //console.log(this.logoutTimer)
    this.decreaseRemainingTimeInterval = undefined;
    this.remainingTime = 30;
    if (!!window.cordova) window.plugins.insomnia.keepAwake();
    localStorage.getItem("atualizar")
      ? (this.naoAtualizar = true)
      : (this.naoAtualizar = false);
    if (
      this.showLogoutTimer === undefined &&
      this.$route.path == "/Pedido" &&
      this.naoAtualizar
    ) {
      this.showLogoutTimer = setTimeout(() => {
        localStorage.getItem("atualizar")
          ? (this.naoAtualizar = true)
          : (this.naoAtualizar = false);

        if (this.naoAtualizar) this.openLogoutModal();
      }, 60000);
    } else if (
      this.showLogoutTimer === undefined &&
      this.$route.path != "/Pedido"
    ) {
      if (localStorage.getItem("TIMER_TAA") && this.taaTimer > 5)
        this.showLogoutTimer = setTimeout(
          this.openLogoutModal,
          1000 * this.taaTimer
        );
      else this.showLogoutTimer = setTimeout(this.openLogoutModal, 30000);
    }
  }

  update() {
    if (document.documentElement)
      document.documentElement.style.setProperty(
        "--primary-color",
        localStorage.getItem("PRIMARY_COLOR")
      );
    if (document.documentElement)
      document.documentElement.style.setProperty(
        "--secondary-color",
        localStorage.getItem("SECONDARY_COLOR")
      );
  }

  goToRecentOrders() {
    this.$router.push("PedidosRealizados");
  }

  syncCodePush() {
    codePush.notifyApplicationReady();
    let message = "";
    if (typeof codePush !== "undefined")
      codePush.sync((status: any) => {
        if (typeof SyncStatus !== "undefined") {
          if (status === SyncStatus.UPDATE_INSTALLED)
            message =
              "A atualização será concluída após a aplicação ser reiniciada";
          //else if (status === SyncStatus.UP_TO_DATE) message = 'Nenhuma atualização disponível';
          //else if (status === SyncStatus.ERROR) message = 'Erro ao atualizar aplicação';
          //else if (status === SyncStatus.IN_PROGRESS) message = 'Em progresso';
          //else if (status === SyncStatus.CHECKING_FOR_UPDATE) message = 'Buscando atualizações';
          else if (status === SyncStatus.DOWNLOADING_PACKAGE)
            message = "Baixando atualização";
          else if (status === SyncStatus.INSTALLING_UPDATE)
            message = "Instalando atualização";

          if (message) M.toast({ html: message, displayLength: 1500 });
        }
      });
  }
}
</script>

<style>
</style>
