<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <title>Eattake</title>
    <script src="cordova.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but produto doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script src="jquery.min.js"></script>
    <script type="text/javascript" src="draggableCal.umd.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
