<template>
  <div class="buy-credit">
    <HeaderRelease desiredScrollTop="22" :click="goBack" title="Saldo" :hasMoreButton="false"/>     

    <!-- <HeaderFluxo name-fluxo="Saldo">
        <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
    </HeaderFluxo> -->
    <TextLink style="font-size: 1.2rem; margin-top: 20px !important;" classDiv="row  margin-top-none" link-label="Este saldo é de uso exclusivo para eventos." class-component="primary-color message"/>
    <SectionTitle class-component="section-title left-align margin-10" titleText="Titular" />
    <ListDefault v-if="USER_DATA.FIRST_NAME" typeList="collection">
        <OptionCard slot="options" :info-saldo="USER_DATA.FIRST_NAME" :name="USER_DATA.FIRST_NAME + ' ' + USER_DATA.LAST_NAME" :saldo="'R$ ' + (USER_BALANCE.BALANCE || 0)" :button-method="goToAddBalance" :id="USER_DATA.ID"/>
    </ListDefault>
    <TextLink v-else classDiv="text-left" class-component="section-title primary-color no-border" link-label="Buscando dados..."/>
    
    <div class="footer-see-orders" v-on:click="goToExtrato" >
        <span>EXTRATO</span>
    </div>

    <div v-if="DEPENDENT_USERS.length > 0"> 
        <SectionTitle class-component="section-title left-align margin-10" titleText="Dependentes" />
        <ListDefault typeList="collection">
            <OptionCard slot="options" :info-saldo="dependent.USER_DATA.FIRST_NAME" :name="dependent.USER_DATA.FIRST_NAME + ' ' + dependent.USER_DATA.LAST_NAME" :saldo="'R$ ' + (dependent.USER_DATA.ORGANIZATION_DATA.BALANCE || 0)" :button-method="goToAddBalance" :id="dependent.USER_DATA.ID" v-for="dependent in DEPENDENT_USERS" :key="dependent.USER_DATA.ID"/>
        </ListDefault>
    </div>
  </div>
</template>

<script lang='ts' src="@/controllers/Balance.ts"></script>

<style>
</style>