<template>
    <div class="buy_event_ticket">
       <HeaderCircleButton v-bind:firstButton="true" :fb="backButton" :visibleAt="-1" logo="bipfun-logo.svg" :title="eventDetail.name"/>
        <div class="info">
            <div class="display-flex margin-bottom-10">
                <div class="display-flex">
                    <div style="display: flex; flex-direction: column;"><i class="material-icons primary-color">location_on</i></div>
                    <div style="display: flex; flex-direction: column;"><span style="margin-left: 5px;">{{eventDetail.location}}</span></div>
                </div>
            </div>
            <div class="display-flex margin-bottom-10">
                <div class="display-flex">
                    <div style="display: flex; flex-direction: column;"><i class="material-icons primary-color">event_available</i></div>
                    <div style="display: flex; flex-direction: column;"><span style="margin-left: 5px;">{{formatDate(eventDetail.initialDate.date)}} até {{formatDate(eventDetail.finalDate.date)}}</span></div>
                </div>
            </div>
        </div>
        <div id="row products-list"  class="tickets-list">
            <TicketBuyHeader class-component="table_header" titleText="Ingressos" :value="totalValue"/>
            <TicketBuy :condition1="verify(ticket.finalSale.date)" :condition2="verifyAmount(ticket.amount)" :ticketPrice="ticket.price" :ticketId="ticket.id" :ticketName="ticket.name" :ticketPeriod="'Vendas até '+formatDate(ticket.finalSale.date)" :addTicket="addCountTicket" :subTicket="subCountTicket" :counter="amountFromId(ticket.id)" v-for="ticket in ticketsEvent" :key="ticket.id"/>
        </div>
        <div class="row card-list">
            <div v-if="mainCartao && mainCartao.FLAG" class="" style="text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column; margin:1rem 0;">
                <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Pagando com: </span>
            </div>
            <div v-if="mainCartao && mainCartao.FLAG" style="display: flex; justify-content: space-between;">
                <span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{mainCartao.FLAG +' •••• '+ lastNumberCard(mainCartao.LAST_NUMBERS)}}</span>
                <div class="display-flex">
                    <img style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`@/assets/${mainCartao.FLAG}.svg`)"/>
                    <div class="justify-column-center primary-color" v-on:click="telaPaymentMethods">
                        <i class="material-icons">cached</i>
                    </div>
                </div>
            </div>
            <div v-else>
                <div style="display: flex; justify-content: space-between; padding: 8px 0;"><span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">Nenhum cartão de crédito cadastrado.</span></div>
                <div style="display: flex; justify-content: center; margin: 0 10px 10px 10px;" v-on:click="telaPaymentMethods"><span style="font-size: 1.2em; color: var(--primary-color); font-weight: 300;">Cadastrar cartão de crédito.</span></div>
            </div>
        </div>
        <div v-if="verifyAllTickets() && verifyAmounts()" class="flex" style="margin-top: 30px;">
            <DefaultButton classDiv="" name-button="CONTINUAR"  classDiv="bottom-fixed" classComponent="full-width bottom-button" v-on:buttonCallBack="continuar" idButton="finalizarCompra"/>
        </div> 

        <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="showModalTelaCartoes = false;"/>
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="telaCartoes"/>
            </div>
        </ModalCodigo>
    </div>
</template>
<script lang='ts' src="../controllers/BuyEventTicket.ts"></script>
<style>

    .row.title_event{
        padding: 5px;
        color: var(--primary-color);
    }

    .justify-center{
        justify-content: center;
    }

    .table_header{
        display: flex;
        justify-content: space-between;
    }

    .margin_left{
        margin-left: 5px !important;
    }

    .buy_event_ticket .info{
        position: relative;
        top: 3.5rem;
        margin: 0 1rem 0 1rem;
    }

    .buy_event_ticket .tickets-list{
        position: relative;
        top: 3.5rem;
        margin: 0 1rem 0 1rem;
    }

    .buy_event_ticket .card-list{
        position: relative;
        top: 3.5rem;
        margin: 2rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
    }

    .buy_event_ticket .bottom-button {   
    padding: 1rem !important;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom)) !important;
    font-size: 1rem !important;
    height: auto;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color) 100%);
    border: 0;
    }

    .buy_event_ticket .section-title{
        margin-left: 0;
    }

</style>