<template>
    <div class="">
        <HeaderFluxo name-fluxo="Dependentes">
          <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
        </HeaderFluxo>
        <div v-if="dependents.length > 0">
            <TitleSection divFather="row centralize-child margin-none" title="dependentes"/>
            <ListDefault typeList="collection margin-top-none">
                <ThreeOptionDependents slot="options" :name="dependent.USER_DATA.FIRST_NAME + ' ' + dependent.USER_DATA.LAST_NAME" icone="settings" :idDependent="dependent.USER_DATA.ID" v-for="dependent in dependents" :key="dependent.USER_DATA.ID" :funcao="goTo" :checked="dependent.DEPENDENCY_DATA.STATUS == 'A' ? 'checked' : undefined" :funcaoAI="enableDisableDependent"/>
            </ListDefault>
            <!-- <TextLink v-if="dependents.length == 0" classDiv="text-left" class-component="section-title primary-color no-border" link-label="Você não possui nenhum dependente."/> -->
        </div>
        <EmptyState v-if="dependents.length == 0" image="dependents" text="Você não possui nenhum dependente." />
        <div v-if="dependents.length > 0">
            <TitleSection divFather="row centralize-child margin-none" title="preferências"/>
            <div class="row centralize-child" style="margin-top: 20px;">    
                <div class="input-field margin-bottom-0" style="width: 90% !important;">
                    <input id="SEND_EMAIL" type="email" v-model="emailPref" v-on:change="disabledButton('SAVE_RECEIPTS_TO')" :maxlength="128"/>
                    <label id="LABEL_SEND_EMAIL" for="SEND_EMAIL">Enviar recibo para email:</label>
                </div>
            </div>
            <DefaultButton idComponent="SAVE_RECEIPTS_TO" name-button="salvar" classDiv="" class-component="default-button waves-effect waves-light btn-small primary-color-bg" v-on:buttonCallBack="editDependentReceiptsTo"/>
        </div>
        <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" :content="statusDep">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>
        <!-- <div class="row padding-10 footer-logo">
            <img src="../assets/zeedhi_new_logo.svg">
        </div> -->
    </div>
</template>

<script lang='ts' src='../controllers/Dependents.ts'>
