<template>
    <div class="escolherUnidadeNew">
        <!-- <HeaderFluxo name-fluxo="Escolher Unidade">
            <DefaultButtonOrd slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
        </HeaderFluxo> -->
        <!-- <DefaultButtonOrd classDiv="position-absolute" class-component="button-icon" icon="keyboard_arrow_left" v-on:buttonCallBack="goBack" />        
        <SectionArea class-component="row primary-color-bg image-half" image-file="https://imgur.com/GPscTMH.png"/> -->
        <div style="display: flex; margin: 0 20px 0 20px; border-bottom: 1px solid #b3b3b3; padding-bottom: 7px; padding-top: 20px;">
            <font-awesome-icon aria-hidden= true :class="'icon ' + 'primary-color'" :icon="['fal', 'map-marker-alt']" size="2x"/>
            <TextLink style="font-size: 1.5rem !important; text-align: left; margin-left:10px;" link-label="Selecione uma Unidade" class-component="primary-color mensagem"/>
        </div>
        <div v-on:click="buttonAvancar(structure.id, structure.name)" :id="'div-option-'+structure.id" class="option" v-for="structure in structures" :key="structure.id" style=" margin: 0 20px !important; display: flex; flex-direction: row-reverse; border-bottom: 1px solid #b3b3b3; padding: 20px 20px !important;">
            <div class="esquerda" style="display: flex; justify-content: flex-end; width: 10% !important;">
            </div>
            <div class="direita full-width" style=" display: flex; justify-content: flex-start;">
                <div class="preco" style="margin-left: 20px; height: auto !important; font-size: 1.4rem !important; text-align: left;">{{structure.name}}</div>
            </div>
        </div>
        <!-- <SelectField selectId="select-structure"> 
            <template slot="option">
                <OptionField optionName="Unidades" disabled="disabled" selected="selected"></OptionField>
                <OptionField :optionName="structure.name" :optionValue="structure.id" v-for="structure in structures" :key="structure.id" ></OptionField>
            </template>
        </SelectField> -->
        
        <div v-on:click="lerQrMesa()">
            <div style="display: flex; margin: 10px 20px 0 20px; padding-bottom: 7px;">
                <font-awesome-icon aria-hidden= true :class="'icon ' + 'primary-color'" :icon="['fal', 'qrcode']" size="2x"/>
                <TextLink style="font-size: 1.5rem !important; text-align: left; margin-left:10px;" link-label="Ler QrCode" class-component="primary-color mensagem"/>
            </div>
            <TextLink classDiv="row" style="font-size: 1.2rem !important; text-align: left; margin: 0 20px 10px; border-bottom: 1px solid #b3b3b3; padding-bottom: 15px;" link-label="*Leia o QrCode que se encontra em sua mesa para pegarmos sua localização." class-component="secundary-color mensagem"/>
        </div>
        <!-- <DefaultButtonOrd classDiv="row" name-button="LER COMANDA" class-component="full-width-new bottom-button-produto alreadyFinished margin-bottom-none" icon="border_clear" iconClass="left" v-on:buttonCallBack="lerQrMesa()" /> -->
        <div class="row padding-10 footer-logo margin-none">
           <img src="../assets/RGB-logo-zeedhi-ED-simples.png">
        </div>
        <!-- <SectionArea class-component="row padding-10 footer-logo margin-none" image-file="https://imgur.com/OI41ANL.png" /> -->

        <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" content="Por favor, selecione uma unidade para realizar seu pedido.">
            <DefaultButtonOrd slot="footer" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
        </ModalCodigo>
    </div>
</template>
<script lang="ts" src='../controllers/EscolherUnidade.ts'></script>
<style>
    #app > .escolherUnidadeNew > nav > div > div.brand-logo.center.logo-title > div.logo-nav.ajuste{
        display:none;
    }

    #app > .escolherUnidadeNew > div.selectField > div{
        margin: 0 20px 20px 20px !important;
    }

    #app > .escolherUnidadeNew > div.selectField > div > div > input{  
        font-size: 1.4rem !important;
        border: none !important;
    }

    .label-introducao {
        margin-bottom: 0;
    }

    .label-subtitulo > a {
        font-size: 1.6em;
        font-weight: bold;
    }
    #app > .escolherUnidadeNew > div:nth-child(3) > div.compTextLink.row > div.vertical_align_center.rs > a{
        color: #b3b3b3 !important;
        line-height: 1;
    }

    .btn-bottom-0 {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }

    #next {
        bottom: 4%;
    }

    .label-ou-entao {
        margin: 0 0px 10px 0px !important;
        padding: 0;
    }
</style>
