<template>
    <div class="events-home full-height">
        <div class="events-top-wrapper">
            <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton":visibleAt="-1" title="Eventos"/>
                <!-- <HeaderEvents>
                    <DefaultButton slot="left" class-component="button-icon primary-color" icon="keyboard_arrow_left" v-on:buttonCallBack="goBack"/>
                    <DefaultButton slot="right" class-component="button-icon primary-color" v-on:buttonCallBack="goTo" icon="filter_list"/>
                    
                    <TextLink style="background-color: white;" slot="tabs" id="limpar-filtros" classDiv="row margin-none" link-label="Limpar filtros" class-component="primary-color mensagem" :click="limparFiltros" />
                </HeaderEvents> -->
                <!-- <div class="" style="display: flex !important; justify-content: space-evenly !important; -webkit-flex-flow: row wrap !important; margin-bottom: 70px;" v-for="div in calendar" :key="div.dates" :slot="div.dates">
                    <CardEvent slot="ALL" :cardId="event.id" :cardDate="formatData(event.id)" :cardName="event.name" :imageSource="event.imageCover" :cardInfo="event.genStructureName" v-for="event in events" :key="event.id" :click="click"/>
                    EU NAO SEI
                    <CardEvent slot="TODAY" classDiv="" cardId="invisivel" cardDate="invisivel" cardName="invisivel" imageSource="invis" cardInfo="invisivel" :click="doNothing"/>
                </div> --> 
            <TabsEvent slot="tabs" id="tabs" classDiv="height_37" :counts="calendar.dates" :click="dayChange"/>
            <div v-if="!cameFromTickets" class="" style="margin: 0px 2rem !important; position: relative; top: calc(var(--top-spacing) + 2rem - 10.5rem); max-height: calc(100vh - var(--top-spacing)) !important; overflow: scroll; padding: 2rem 0; display: flex; flex-flow: row wrap;justify-content: space-between;">
                <BannerStore
                    v-for="p in eventsToShow2"
                    :key="p.id"
                    classComponent="storeBanner"
                    :store="p"
                    :callback="goToNext"
                    :post="false"
                />
                <!-- <CardEvent :cardId="event.id" :cardDate="formatData(event.id)" :cardName="event.name" :imageSource="event.imageCover" :cardInfo="event.genStructureName" v-for="(event, index) in eventsToShow2" :key="index" :click="click" :click2="toggleFavorite" :icone="event.favoriteId ? 'favorite' : 'favorite_border'" /> -->
                <!-- <CardEvent v-if="eventsToShow2.length % 2 != 0" classDiv="visibility-hidden" :cardId="-1" cardDate="invisivel" cardName="invisivel" imageSource="invis" cardInfo="invisivel"/> -->
            </div>
            <div v-else class="" style="margin: 0px 2rem !important; position: relative; top: calc(var(--top-spacing) + 2rem - 10.5rem); max-height: calc(100vh - var(--top-spacing)) !important; overflow: scroll; padding: 2rem 0; display: flex; flex-flow: row wrap;justify-content: space-between;">
                <BannerStore
                    v-for="p in filteredEvents"
                    :key="p.id"
                    classComponent="storeBanner"
                    :store="p"
                    :callback="goToNext"
                    :post="false"
                />
                <!-- <CardEvent :cardId="event.id" :cardDate="formatData(event.id)" :cardName="event.name" :imageSource="event.imageCover" :cardInfo="event.genStructureName" v-for="(event, index) in filteredEvents" :key="index" :click="click" :click2="toggleFavorite" :icone="event.favoriteId ? 'favorite' : 'favorite_border'" /> -->
                <!-- <CardEvent v-if="eventsToShow2.length % 2 != 0" classDiv="visibility-hidden" :cardId="-1" cardDate="invisivel" cardName="invisivel" imageSource="invis" cardInfo="invisivel"/> -->
            </div>
        </div>
        <div v-if="notFound && !events[0]">
            <EmptyState v-if="!cameFromTickets" image="calendar-empty-ultrathin-page" text="Nenhum evento foi encontrado." />
        </div>
        <div v-if="notFound && !filteredEvents[0]">
            <EmptyState v-if="cameFromTickets" image="not-ticket" text="Não encontramos ingressos para compra no momento." />
        </div> 

        <ModalCodigo v-if="syncRequest" @close="syncRequest = false" :content="'Sincronizar este evento com a Agenda do seu celular?'">
            <div slot="footer"> 
                <p style="color: #333333; font-size: 14px; font-weight: normal !important; line-height: 115%; margin-bottom: 24px !important;">Ao sincronizar este evento na agenda do seu celular, ela irá te lembrar dele quando a data estiver chegando.</p>
            </div>
            <div class="display-flex SIM" slot="footer">
                <a class="first-button" v-on:click="closeModalSync">NÃO, OBRIGADO</a>
                <a class="second-button" @click="callSyncCalendar">VINCULAR</a> 
            </div>
        </ModalCodigo>
    </div>
</template>
<script lang='ts' src="../controllers/Events.ts"></script>
<style>
  .events-home .banner-container {
    height: calc(40vh + 4rem);
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 1rem;
    /* top: 3.5rem; */
    top: var(--top-spacing);
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    scroll-snap-type: x mandatory;
  }
  
  .events-home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(50% - 1rem);
    margin: 0 0 2rem 0;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .events-home .storeBanner {
    position: relative;
    height: 20vh;
    width: calc(50% - 1rem);
    scroll-snap-align: start;
    border-radius: 1rem;
  }

  .events-home .banner-store-image {
    height: 18vh;
    width: 100%;
    position: absolute;
  }

  .events-home .center-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 10.5rem - env(safe-area-inset-bottom));
    width: 100%;
    position: absolute;
    top: 10.5rem;
    overflow: hidden;
  }

  .events-home .banner .banner-store-header{
    min-height: 3rem;
  }

  .events-home .tabs .tab a {
    font-size: 2rem !important;
    padding: 0 2rem !important; 
  }

  .events-home .tabs .tab a.active {
    font-size: 2rem !important;
    padding: 0 2rem !important; 
    font-weight: 600 !important;
  }

  .events-home .tabs{
    width: unset !important; 
  }

  .events-home #tabs{
    top: 2rem;
    position: relative;
  }

</style>