<template>
   <div class="event-details">
    <div v-show="!sharedEventParent">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :ob="otherButton" :visibleAt="-1" :title="eventDetail.name"/>
        <HeaderBackground :imageSrc="eventDetail.imageCover" />
        <div class= "event-details-content">
            <div class="title_event category-name title" style="width:100%; height:100%; margin-left: 0 !important; padding: 2rem 1rem 0 1rem;">
                <a class="msgTitleEvents">{{eventDetail.name}}</a>
            </div>
            <div style="display: block; margin:0 1rem 0.5rem 1rem; font-size: 0.9rem; position: relative">
                <div v-for="b in breadCrumbs" :key="b.id" style="float: left; display: flex;">
                    <font-awesome-icon :icon="['fal', 'chevron-right']" fixed-width style="font-size: 0.6rem; line-height:0.8rem; color:#4F4F4F; margin: auto 0.25rem auto 0;" />
                    {{b.name}}
                </div>
            </div>
            <div style="position: relative;">
                <div class="card-title about">{{eventDetail.about}}</div>
            </div>
            <div class="info-left">
                <div style="display: flex; margin: 0 1rem 0 1rem;" v-if="formatDate(eventDetail.initialDate.date)">
                    <font-awesome-icon :icon="['fal', 'calendar']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 3px;" />
                    <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">{{formatDate(eventDetail.initialDate.date)}}</span>
                </div>
                <div style="display: flex; margin: 1rem 1rem 0 1rem;">
                    <font-awesome-icon :icon="['fal', 'map-marker-alt']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 3px;" />
                    <span style="text-align: left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">{{eventDetail.location}}</span>
                </div>
                <div style="display: flex; margin: 1rem 1rem 0 1rem; justify-content: space-between;">
                    <div style="display: flex;">
                        <!-- <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">event_seat</i> -->
                        <font-awesome-icon :icon="['fal', 'loveseat']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 3px;" />
                        <span v-if="eventDetail.rating" style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; text-align:left; color:#333333;">{{eventDetail.rating}}</span>
                        <span v-else style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">Livre</span>
                    </div>
                </div>
                <div style="display: flex; margin: 1rem 1rem 0 1rem; justify-content: space-between;" v-if="loadedMenuData">
                    <div style="display: flex;">
                        <!-- <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">attach_money</i> -->
                        <font-awesome-icon :icon="['fal', 'dollar-sign']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 3px;" />
                        <span style="text-align:left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;" v-if="!eventDetail.values">Entrada gratuita</span>
                        <span style="text-align:left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;" v-else><span>{{eventDetail.values}}</span></span> 
                        <!-- <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;" v-if="ticketsEvent.length == 1"><span>Valor do ingresso: <span style="font-weight: bold;"> R${{cheapestTicket.price}}</span></span></span> 
                        <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;" v-if="ticketsEvent.length > 1"><span>Ingressos à partir de: <span style="font-weight: bold;"> R${{cheapestTicket.price}}</span></span></span> -->
                    </div>
                </div>
            </div>
            <div class="flex row transition" style="margin: 7vh 0 0 0; display: flex; flex-direction: column" v-if="loadedMenuData">
                <DefaultButton v-if="schedule.length" classDiv="relative-auto" class-component="alreadyFinished" name-button="Programação" v-on:buttonCallBack="goToEventSchedule" />
                <DefaultButton v-if="!children.length &&  (eventDetail.ordMenuId  || eventDetail.menuId)" classDiv="relative-auto" class-component="alreadyFinished" name-button="Cardápio" v-on:buttonCallBack="goToStore" />
                <DefaultButton v-if="children.length" classDiv="relative-auto" class-component="alreadyFinished" name-button="Cardápios" v-on:buttonCallBack="goToEventStores" />
                <DefaultButton v-if="ticketsEvent.length" classDiv="gradient-border" name-button="Comprar ingresso" class-component="white-button" v-on:buttonCallBack="goToBuyEventTicket"/>
            </div>
            <div v-else class="transition">

            </div>
        </div>
    </div>
    <div v-show="sharedEventParent">
        
    </div>
   </div>
</template>
<script lang='ts' src="../controllers/EventDetails.ts"></script>
<style>

    .data-evento {
        margin-bottom: 15px;
    }

    .relative-auto{
        width: 80%;
        position: relative;
        margin: auto;
        top: 100%;
        padding-bottom: 10px;
    }

    .info .info-left, .info .info-right {
        display: inline-block;
        padding-top: 5px;
    }

    .info .info-middle {
        display: inline-block;
        width: calc(100% - 88px);
        left: 42px;
    }

    .image_content{
        position: relative;
        display: flex;
    }

    .image_content > .title_event{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        color: white;
        font-weight: 600;
        margin-bottom: 2%;
    }

    .event_image > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .event_image{
        width: 100%;
        height: 256px;
        display: flex;
        flex-direction: column;
    }

    .msgTitleEvents.visibleHeader {
        font-size: 13px;
        margin-top: 8px;
        color: #2D68C4 !important;
    }

    .msgTitleEvents{
        color: rgba(0, 0, 0, 0.87);
        transition: .2s;
        font-size: 18px!important;
    }

   .w-100.image-half > img{
        width: 100% !important;
        margin: 20px;
   }

   .event-details > .info{
        padding: 10px;
   }

   .justify{
       justify-content: space-between;
   }

   .margin-bottom-15{
       margin-bottom: 15px;
   }

   .margin-bottom-10{
       margin-bottom: 10px;
   }

   .vertical{
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
   }

   .section-title{
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.3em;
   }

   .about{
        margin: 1rem;
        color:#828282;
        text-align: justify;
        position: relative;
   }
   
   .display-flex{
       display: flex;
   }

   .name-ticket{
       text-align: left;
   }

   .price-ticket{
       color: var(--primary-color);
       font-weight: 500;
       text-align: left;
       margin-left: 10px;
   }

   .event-details .event-details-content{
       position: relative;
       top: 11.5rem;
       margin-bottom: calc( 1rem + env(safe-area-inset-bottom));
       display: flex;
       flex-direction: column;
   }

   .event-details .gradient-border{
        background: linear-gradient(90deg, var(--primary-color) 10%, var(--support-color) 90%);
        border-radius: 3rem !important;
        padding: 1px;
        box-shadow: unset !important;
        width: 80%;
        position: relative;
        margin: auto;
        top: 100%;
    }

    .event-details .white-button{
        background: var(--background-color, white) !important;
        color: black; 
        border-radius: 3rem !important;
        border: var(--background-color) !important;
        box-shadow: unset !important;
        font-size: 1rem !important;    
        height: 2rem;
    }

    .event-details .alreadyFinished{
        height: 2rem;
        border: unset !important;
    }

    .event-details .transition{
        transition: 0.5s;
    }

</style>