<template>
  <div class="event-schedule-view" style="width: 100%">
    <HeaderCircleButton v-bind:firstButton="true" :fb="backButton" :visibleAt="0" logo="bipfun-logo.svg" :title="'Programação - ' + event.name "/>
    <div :class="{'banner-container':true, 'banner-container-unset-height':(schedule && schedule.length > 4)}" >
      <!-- <ListDefault  ref="bannerList"  @scroll="handleScroll" id="allNews" class="newsHeight" style="margin: 0 !important;" typeList="shortcuts">
          <Banner slot="options" v-for="homeNew in homeNews" :key="homeNew.ID" :news="homeNew" classComponent="addBanner" :callback="()=>openNewsModal(homeNew)"/>
      </ListDefault> -->
      <!-- <TextLink classDiv="row padding-orders home-section-title" link-label="Restaurantes" class-component="primary-color message title" /> -->
      <Minicard v-for="s in schedule" :key="s.id" @click.native="getEventData(s.id)">
        <span slot='title'>{{s.name}}</span>
        <span slot='description'>{{s.about}}</span>
        <img slot='image' :src="s.imageLogo"/>
        <div slot='image' v-if="!s.imageLogo" style="width: 100%; height: 100%; position: absolute; top: 0rem; left: 0px;display: flex; flex-direction: column; justify-content: center;">
          <font-awesome-icon   class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" style="color: white; font-size: 2rem; margin: auto; width: 2rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
        </div>
        <div slot='info'>
          <!-- <font-awesome-icon class='icon' :aria-hidden="true" :icon="['fal', 'stopwatch']" size="1x" />
          {{s.minTime}} - {{s.maxTime}}min -->
        </div>
      </Minicard>
    </div>
  </div>
</template>
<style>

.event-schedule-view .minicard-wrapper {
  width: calc(100% - 1rem);
  height: 7rem;
}

.event-schedule-view .minicard .icon{
  color: var(--primary-color);
  font-size:1rem;
  margin-right: 0.1rem;
  widows: 1rem;
}

.event-schedule-view .title {
  margin-top: 1rem;
  position: relative;
}
.event-schedule-view .storeBanner {
  position: relative;
  height: 14rem;
  width: 100%;
}

.event-schedule-view .banner-container {
  top: 3.5rem;
  padding: 1rem 0 env(safe-area-inset-bottom) 1rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.event-schedule-view .banner-container-unset-height {
  height: unset;
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */
.event-schedule-view .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(50% - 1rem);
    max-width: 14rem;
    margin: 0 1rem 1rem 0;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
    float: left;
}

.event-schedule-view-section-title{
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}
</style>

<script lang="ts" src='../controllers/EventSchedule.ts'></script>