<template>
  <div class="explorar" style="width: 100%">
    <HeaderCircleButton
      v-bind:firstButton="false"
      :fb="backButton"
      :ob="[]"
      :showTitle="false"
      :logo="logo"
      title=""
    />
    <div
      v-if="showInstructionOverlay"
      :style="{
        color: 'var(--primary-color)',
        position: 'fixed',
        display: 'flex',
        'flex-direction': 'column',
        'justify-content': 'space-between',
        top: '0',
        left: '0',
        'z-index': '99999999',
        height: '100%',
        width: '100%',
        background: 'white',
      }"
    >
      <div
        @touchstart="fechaOverlay"
        :style="{
          height: 'calc(100% - 10vw - 4rem)',
          'font-weight': 'bold',
          'background-image': 'url(' + overlayBackgroundImage + ')',
          'background-size': '100% 100%',
          'background-position': 'center',
        }"
      >
        <!-- <div style="font-size: 2rem;">Selecione uma loja para começar a comprar</div> -->
      </div>
      <!-- <div class='wave'></div> -->
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 2rem;
        "
      >
        <div
          class="logo"
          @click="exitKiosk"
          :style="{
            'background-image': 'url(' + logoOverlay + ')',
            height: 'auto',
            width: '25vw',
            'background-repeat': 'no-repeat',
            'background-size': '90% 90%',
            'background-position': 'center',
          }"
        >
          <!-- <img :src="getImage()"/> -->
          <div
            style="
              color: black;
              font-size: 2vw;
              font-weight: bold;
              margin: auto 0;
              width: 100%;
              opacity: 0.5;
            "
          >
            Version:2.1
          </div>
        </div>
        <div
          @click="fechaOverlay"
          style="
            font-size: 2rem;
            display: flex;
            flex-flow: row;
            background: linear-gradient(
              90deg,
              rgb(255, 199, 2) 0%,
              rgb(248, 217, 11) 100%
            );
            border-radius: 10vw;
            width: 50vw;
            height: 10vw;
            padding: 0 2.5vw;
            justify-content: space-around;
          "
        >
          <div style="margin: auto 0">
            <font-awesome-icon
              class="icon arrow-icon"
              :icon="['fal', 'hand-point-up']"
              fixed-width
              style="color: black; margin: auto; height: 6.5vw; width: 6.5vw"
            />
          </div>
          <div
            style="
              color: black;
              font-size: 3.5vw;
              font-weight: bold;
              margin: auto 0;
            "
          >
            Toque para começar
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        color: rgba(0, 0, 0, 0.95);
        width: 100%;
        font-size: 4.5vw;
        text-align: center;
        font-weight: bold;
      "
      @click="exitKiosk"
    >
      Selecione uma das lojas
    </div>
    <div
      class="banner-container"
      ref="bannerContainer"
      v-on:scroll.passive="handleScroll"
    >
      <!-- <ListDefault  ref="bannerList"  @scroll="handleScroll" id="allNews" class="newsHeight" style="margin: 0 !important;" typeList="shortcuts">
          <Banner slot="options" v-for="homeNew in homeNews" :key="homeNew.ID" :news="homeNew" classComponent="addBanner" :callback="()=>openNewsModal(homeNew)"/>
      </ListDefault> -->
      <TextLink
        classDiv="row padding-orders home-section-title"
        link-label="Acontecendo agora:"
        class-component="primary-color message title"
        v-if="showEvent"
      />
      <BannerStore
        classComponent="storeBanner"
        :store="event"
        :callback="
          () => {
            goToEvent(event.id);
          }
        "
        v-if="showEvent"
      />

      <TextLink
        classDiv="row padding-orders marginActive"
        link-label="Restaurantes:"
        class-component="primary-color message title"
        v-if="showEvent"
      />
      <Minicard
        v-for="(s, index) in stores"
        :key="s.id"
        @click.native="goToNext(s)"
        :classComponent="
          stores && stores.length && stores.length < 4 ? 'highlight' : ''
        "
      >
        <!--div slot='side' v-if="index==0" style="height: 100%;">
            <font-awesome-icon   class='icon' :aria-hidden="true" :icon="['fas', 'star']" size="2x" style="color: goldenrod; font-size: 2rem; margin: auto; width: 2rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
          </div-->
        <span slot="title">
          {{ s.name }}
        </span>

        <span slot="description" style="diplay: flex; flex-direction: column">
          <div
            style="diplay: flex; flex-direction: row"
            v-if="s.type == 'S' && getCurrentWorkshift(s)"
          >
            <font-awesome-icon
              class="icon"
              :aria-hidden="true"
              :icon="['fal', 'store-alt']"
              size="1x"
            />
            {{ getCurrentWorkshift(s) }}
          </div>

          <div
            style="diplay: flex; flex-direction: row"
            v-else-if="s.type == 'E' && s.initialDate.date"
          >
            <font-awesome-icon
              class="icon"
              :aria-hidden="true"
              :icon="['fal', 'calendar']"
              size="1x"
            />
            {{ getEventDate(s) }}
          </div>
          <div
            style="
              diplay: block;
              color: black;
              width: fit-content;
              height: 100%;
              font-weight: 300;
            "
          >
            <div v-if="s.deliversToBalcony == 'T'" class="delivery-tag">
              Retirada no balcão
            </div>
            <!-- <div v-if="s.deliversToTable == 'T'" style=" border-radius:0.5rem; background: rgba(0,0,0, 0.1); float:left; padding: 0 0.5rem;">Entrega na mesa</div> -->
          </div>
        </span>
        <img slot="image" :src="s.imageLogo || s.imageCover" />
        <div
          slot="image"
          v-if="!s.imageCover && !s.imageLogo"
          style="
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0rem;
            left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          "
        >
          <font-awesome-icon
            class="icon"
            :aria-hidden="true"
            :icon="['fal', 'store-alt']"
            size="1x"
            style="
              color: var(--primary-color);
              font-size: 5vw;
              margin: auto;
              width: 10vw;
              left: calc(50% - 1rem);
              top: calc(50% - 1.5rem);
            "
          />
        </div>
      </Minicard>

      <!--BottomNavigation/-->
      <LoginModal
        v-if="showLoginModal"
        @close="showLoginModal = false"
        :placeholder="'E-mail'"
        :type="'e-mail'"
        :modalId="'login-modal'"
        :registerRoute="'/Register'"
      />
      <NewsModal
        :modalId="'ad-banner'"
        :imageName="selectedNews.IMAGE"
        v-bind:imageUrl="true"
      />

      <div
        v-if="stores && !stores.length && storesLoaded"
        style="position: absolute; position: absolute; width: 100%"
      >
        <EmptyState
          text="Infelizmente não encontramos nenhuma loja aberta no momento."
          iconClass="fal"
          icon="store-alt"
        />
      </div>
    </div>
  </div>
</template>
<style>
.explorar .title {
  position: relative;
  width: 100%;
  font-size: 2rem;
  padding: 0 1rem !important;
}

.explorar .home-section-title {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: unset;
  padding: unset !important;
}

.explorar .marginActive {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: unset !important;
  text-align: left;
}

.explorar .banner-store .main {
  border-radius: 1rem !important;
}

.explorar .storeBanner {
  position: relative;
  height: 30rem;
  width: 100%;
}

.explorar .banner .banner-store-image {
  position: relative;
  height: 28.75rem;
  background: lightgray;
  border-radius: 1rem;
  top: 0;
  border-top-right-radius: 1rem;
}

.explorar .banner .banner-store-name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 450;
  text-align: left;
}

.explorar .banner .banner-store-info {
  display: block;
  font-size: 1.8rem;
  color: gray;
  padding: 0.25rem 0;
}

.explorar .banner .banner-store-header {
  padding: 1rem;
}

.explorar .banner-container {
  /*top: var(--top-header-space); */
  width: 100%;
  height: calc(
    100vh - 4.5vw - var(--top-header-space) - env(safe-area-inset-bottom)
  );
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 1rem;
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */
.explorar .banner {
  animation-name: fade;
  animation-duration: 0.6s;
  width: calc(100% - 3rem);
  margin: 1rem;
  box-shadow: rgb(11, 11, 11, 0.2) 0 0.1rem 0.3rem 0.1rem;
  border-radius: 0.5rem;
}

.explorar-section-title {
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.explorar .minicard-wrapper {
  width: calc(100% - 3rem);
  height: 18vh;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.explorar .minicard-wrapper .minicard-main {
  flex-direction: row-reverse;
}

.explorar .minicard-wrapper .minicard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-left: 1rem;
  overflow: hidden;
}

.explorar .minicard-wrapper .minicard-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  text-align: right;
}

.explorar .minicard-wrapper .minicard-title {
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: 400;
  width: 100%;
  text-align: left;
}

.explorar .minicard .icon {
  color: var(--primary-color);
  font-size: 2vw;
  margin-right: 0.1rem;
  widows: 1rem;
}

.explorar .minicard-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 1rem;
}

.explorar .minicard .minicard-image {
  border-radius: 100%;
  width: calc(18vh - 2rem);
  height: calc(18vh - 2rem);
  position: relative;
}

.explorar .minicard .minicard-body {
  font-size: 3vw;
  margin-top: 2vw;
}

.explorar .minicard .icon {
  font-size: 3vw;
}

.explorar .minicard .delivery-tag {
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  float: left;
  padding: 0 0.5rem;
  margin-right: 1rem;
  font-size: 3vw;
}

.explorar .highlight .minicard-wrapper {
  height: 25vh;
  box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

.explorar .highlight .minicard-wrapper .minicard-main {
  height: 100%;
}

.explorar .highlight .minicard-wrapper .minicard-header {
  width: calc(100% - 25vh + 2rem);
}

.explorar .highlight .minicard-wrapper .minicard-side {
  width: 0;
  display: none;
}

.explorar .highlight .minicard-wrapper .minicard-title {
  font-size: 5vw;
}

.explorar .minicard.highlight .icon {
  color: var(--primary-color);
  font-size: 2vw;
  margin-right: 0.1rem;
  widows: 1rem;
}

.explorar .highlight .minicard-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.explorar .minicard.highlight .minicard-image {
  width: calc(25vh - 2rem);
  height: calc(25vh - 2rem);
}

.explorar .minicard.highlight .minicard-body {
  font-size: 4vw;
}

.explorar .minicard.highlight .icon {
  font-size: 4vw;
}

.explorar .minicard.highlight .delivery-tag {
  font-size: 3.6vw;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}

.explorar .banner .banner-store-info .icon {
  font-size: 1.8rem;
  width: 1.8rem;
  margin-top: 0.25rem;
}

.explorar .header-circle-button .header-title {
  position: unset;
  margin-left: 1vw;
  text-align: left;
  font-size: 4vw;
}

.explorar .header-circle-button .logo {
  width: 18vw;
  background-size: 90% 90%;
}

/* .explorar .header-circle-button .logo {
    height: 10vw;
    width: 10vw;
    background-position: right;
} */
.explorar .emptyStateIcon {
  font-size: 12vw;
  margin: 0 auto;
}

.explorar .emptyStateText {
  font-size: 4vw;
  color: gray;
  font-weight: bold;
  text-align: center;
}
.explorar .emptyStateDiv {
  width: 100%;
  position: absolute;
  margin: auto 0;
  margin-top: 50%;
}
</style>

<script lang="ts" src='../controllers/Explorar.ts'></script>