<template>
  <div class="extras">
    <!-- <div class="dependentes" v-if="dependents.length">
        <LoadingPhases />
        <div v-for="item in dependents" :key="item.DEPENDENT_ID" v-on:click="click(item.DEPENDENT_ID)">
          <ButtonCard class="carousel-item" :carteiraDependentes="true" :labelDepedentes="item.FULL_NAME" :valorSaldo="item.BALANCE ?'R$ '+ item.BALANCE.toFixed(2).replace('.', ',') : 'R$ 0,00'" :callback="function() { }" />
        </div>
    </div>-->
    <HeaderCircleButton :logo="logo"/>
    <div class="row carteira-menu-container">
      <!-- <ImageCardButton :label="'Dependentes'" :callback="goToDependents" :image="coursesPic"/>
      <ImageCardButton :label="'Reclamações e sugestões'" :callback="goToSupportRequests" :image="complaintsPic"/>
      <ImageCardButton :label="'Cartões'" :callback="goToRegisteredCards" :image="cardsPic"/>
      <ImageCardButton :label="'Boletos'" :callback="goToBillings" :image="billingPic"/> -->
      <!-- <ButtonCard icon="file" label="Boletos" goTo :callback="()=>{this.$router.push('Ingressos')}" /> -->
      <!-- <ButtonCard icon="sign-out-alt" label="Sair" goTo :callback="goToLogin" /> -->

      <Minicard  :classComponent="''">
          <span slot='title'>
            Dependentes
          </span>
          <div slot='description' style="diplay:flex; flex-direction:column;">
            <div style="diplay:flex; flex-direction:row;">
              Visualize e gerencie as informaçõoes de seus dependentes
            </div>
          </div>
          <img slot='image' :src="coursesPic"/>
      </Minicard>

      <Minicard  :classComponent="''">
          <span slot='title'>
            Reclamações e sugestões
          </span>
          <div slot='description' style="diplay:flex; flex-direction:column;">
            <div style="diplay:flex; flex-direction:row;">
              Deixe reclamações e sugestões na ouvidoria
            </div>
          </div>
          <img slot='image' :src="complaintsPic"/>
      </Minicard>

      <Minicard  :classComponent="''">
          <span slot='title'>
            Cartões
          </span>
          <div slot='description' style="diplay:flex; flex-direction:column;">
            <div style="diplay:flex; flex-direction:row;">
              Gerencie seus cartões cadastrados
            </div>
          </div>
          <img slot='image' :src="cardsPic"/>
      </Minicard>

      <Minicard  :classComponent="''">
          <span slot='title'>
            Boletos
          </span>
          <div slot='description' style="diplay:flex; flex-direction:column;">
            <div style="diplay:flex; flex-direction:row;">
              Gere e imprima boletos
            </div>
          </div>
          <img slot='image' :src="billingPic"/>
      </Minicard>

    </div>

    <div style="position: fixed; bottom: 0; padding: 2rem; display: flex; width: 100%; justify-content: flex-end;">
      <CircleButton iconClass='fal' icon='sign-out-alt' classComponent="logout-button" classDiv="logout-button-div" v-on:buttonCallBack="()=>{showLogoutModal = true}"/>
    </div>

    <!-- <ListDefault typeList="collection">
            <router-link slot="options" to="/RegisteredCards">
                <OptionList idIcon="1" name="Cartões de Crédito" icone="credit_card"/>
            </router-link>
            <router-link slot="options" to="Balance">
                <OptionList idIcon="2" name="Comprar Saldo de Eventos" icone="attach_money"/>
            </router-link>
    </ListDefault>-->
    <!-- <div class="row padding-10 footer-logo">
          <img src="../assets/zeedhi_new_logo.svg">
    </div>-->
    <BottomNavigation :key="bnKey"/>
    <LoginModal v-if="showLoginModal" @close="closeLoginModal" :registerRoute="'/Register'"/>
    <ModalCodigo v-if="showLogoutModal" @close="showLogoutModal = false" icon="error_outline" >
      <div style="display:flex; flex-direction:column;" slot="body">
          Para reiniciar o totem é necessário se autenticar com uma conta de administrador.
        
      <form class="button-container" style="padding: 0 2rem; display: flex; flex-direction: column; " >
        <!-- Login Method -->
        
        <InputText
                inputLabel="E-mail"
                inputType="text"
                idInput="ADMIN_EMAIL_INPUT"
                idLabel="ADMIN_EMAIL_LABEL"
                @changeFunction="updateEmailInput"
                :value="emailInput"
                :maxlength="50"
                :required="true"
        />
        <InputText
                inputLabel="Senha"
                inputType="password"
                idInput="ADMIN_PASSWORD_INPUT"
                idLabel="ADMIN_PASSWORD_LABEL"
                @changeFunction="updatePasswordInput"
                :value="passwordInput"
                :maxlength="50"
                :required="true"
        />
      
      </form> 
        <div style="display:flex; width 100%; justify-content:space-between;">
          <DefaultButton
            class="button-start-50"
            classDiv="row margin-top-20"
            name-button="Cancelar"
            class-component="new-button-2"
            v-on:buttonCallBack="()=>{showLogoutModal = false}"
          />
          <DefaultButton
            class="button-start-50"
            classDiv="row margin-top-20"
            name-button="Confirmar"
            class-component="new-button-2"
            v-on:buttonCallBack="adminAuth()"
          />
        </div>
      </div>
      
        
      
    </ModalCodigo>
    <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" >
      <div class="display-flex SIM" slot="body">
        {{modalMessage}}
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20"
          name-button="OK"
          class-component="new-button-2"
          v-on:buttonCallBack="()=>{showModal = false}"
        />
      </div>
    </ModalCodigo>
  </div>
</template>

<script lang='ts' src='../controllers/Extras.ts'></script>

<style>
.titleHeader {
  color: #333333;
}

.row p {
  font-size: 20px;
  color: #333333;
  text-align: left !important;
  margin-left: 0.6rem;
}

  @media (max-height: 600px){
  .extras .payment-instructions{
    margin: 10px 0;
    font-size: 1.1rem;
  }

  .extras .button-card .card-label {
    text-align: left;
    bottom: 5px;
    position: absolute;
    left: 10px;
    font-weight: 500;
    font-size: 130%;
    white-space: pre-line;
    max-width: 8rem;
    line-height: 1.6rem;
  }

  .extras .button-card .card-icon svg {
    font-size: 2.4rem !important;
  }

  .extras .button-card .card-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.5rem;
  }

  .carteira-menu-container{
    left: 0rem; 
    position: relative; 
    margin: 1rem; 
    width: calc(100% - 2rem);
  }

}

@media (min-height: 600px){

  .extras .logout-button-div{
    width: 6rem;
    height: 6rem;
  }

  .extras .logout-button{
    width: 6rem;
    height: 6rem;
    border: 0;
    background-color: var(--primary-color)!important;
    padding: 1.5rem
  }

  .extras .round-button button:hover{
    width: 6rem !important;
    height: 6rem !important;
    border: 0 !important;
    background-color: var(--primary-color)!important;
    padding: 1.5rem !important;
  }

  .extras .round-button .logout-button .icon {
    width: 3.5rem;
    max-height: 3.3rem;
  }

  .extras .payment-instructions{
    margin: 0rem 0 2rem !important;
    font-size: 2rem;
  }

  .extras .button-card .card-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30%;
  }

  .extras .button-card .card-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 6rem;
  }

  .extras .button-card .card-label {
    text-align: left;
    bottom: 1rem;
    position: absolute;
    left: 1rem;
    font-weight: 500;
    font-size: 3rem;
    white-space: pre-line;
    line-height: 3rem;
    max-width: 40vw;
  }

  .carteira-menu-container{
    position: relative;
    left: 0rem; 
    top: var(--top-spacing);
    margin: 0 1rem; 
    width: calc(100% - 2rem);
  }
}

.extras .minicard-wrapper {
  width: calc(100% - 2rem);
  height: 15vh;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.extras .minicard-wrapper .minicard-main{
  flex-direction: row-reverse;
}

.extras .minicard-wrapper .minicard-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 12rem);
  padding-left: 1rem;
}

.extras .minicard-wrapper .minicard-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  text-align: right;
}

.extras .minicard-wrapper .minicard-title{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.extras .minicard .icon{
  color: var(--primary-color);
  font-size:1rem;
  margin-right: 0.1rem;
  widows: 1rem;
}

.extras .minicard-image img{
  width: 100%;
  height: 100%;
  background-color: lightgray;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
}

.extras .minicard .minicard-image{
  border-radius: 100%;
  width:  calc(15vh - 2rem);
  height:  calc(15vh - 2rem);
  position: relative;
}

.extras .minicard .minicard-body{
  font-size: 1.5rem;
}

.extras .minicard .icon{
  font-size: 1.5rem;
}

.extras .minicard .delivery-tag{
  border-radius:0.5rem;
  background: rgba(0,0,0, 0.1);
  float:left;
  padding: 0 0.5rem;
  margin-right:1rem;
  font-size: 1.5rem;
}

.extras .highlight .minicard-wrapper {
  height: 25vh;
  box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

.extras .highlight .minicard-wrapper .minicard-main{
  height: 100%;
}

.extras .highlight .minicard-wrapper .minicard-header{
  width: calc(100% - 25vh + 2rem);
}

.extras .highlight .minicard-wrapper .minicard-side{
  width: 0;
  display: none;
}

.extras .highlight .minicard-wrapper .minicard-title{
  font-size: 2.5rem;
}

.extras .minicard .minicard-body{
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
}

</style>