<template>
  <div class="home" style="width: 100%">
    <HeaderCircleButton v-bind:firstButton="false" :fb="backButton" :ob="otherButton" :logo="logo"/>
    <!-- <div class="center-banner-container"> -->
      <ListDefault  ref="bannerList"  @scroll="handleScroll" id="allNews" class="newsHeight" style="margin: 0 0 1rem 1rem !important; padding-right:2rem; position: relative; top: var(--top-spacing); height: calc(40vh - 1rem) !important;" typeList="horizontalList">
            <Banner slot="options" v-for="homeNew in homeNews" :key="homeNew.ID" :news="homeNew" classComponent="addBanner" :callback="()=>openNewsModal(homeNew)"/>
      </ListDefault>
      <div class="banner-container" ref="bannerContainer" v-on:scroll.passive="handleScroll">
        <!-- <TextLink classDiv="row padding-orders home-section-title" link-label="Restaurantes" class-component="primary-color message title" /> -->
        <!-- <BannerStore
          v-for="p in posts"
          :key="p.id"
          classComponent="storeBanner"
          :store="p"
          :callback="goToNext"
          :post="false"
        /> -->
        <!-- <div class="light-button-wrapper">
          <div class="light-button" v-on:click="()=>{$router.push('Explorar')}">
            <div class="light-button-label">Comprar</div>
            <div :style="'background-image:  linear-gradient(to bottom, rgba(255, 255, 254, 1), rgba(255, 255, 255, 0)), url('+purchasePic+'); border-radius:1rem; background-position: center; background-size: cover; width:100%; height:80%; background-position-y: bottom;'"  ></div>
          </div>  
        </div>
         <div class="light-button-wrapper">
          <div class="light-button">
            <div class="light-button-label">Programação</div>
            <div :style="'background-image:  linear-gradient(to bottom, rgba(255, 255, 254, 1), rgba(255, 255, 255, 0)), url('+schedulePic+'); border-radius:1rem; background-position: center; background-size: cover; width:100%; height:80%; background-position-y: bottom;'"  ></div>
          </div>  
        </div>
        <div class="light-button-wrapper">
          <div class="light-button">
            <div class="light-button-label">Boletos</div>
            <div :style="'background-image:  linear-gradient(to bottom, rgba(255, 255, 254, 1), rgba(255, 255, 255, 0)), url('+billingPic+'); border-radius:1rem; background-position: center; background-size: cover; width:100%; height:80%; background-position-y: bottom;'"  ></div>
          </div>  
        </div>
        <div class="light-button-wrapper">
          <div class="light-button">
            <div class="light-button-label">Cursos</div>
            <div :style="'background-image:  linear-gradient(to bottom, rgba(255, 255, 254, 1), rgba(255, 255, 255, 0)), url('+coursePic+'); border-radius:1rem; background-position: center; background-size: cover; width:100%; height:80%; background-position-y: bottom;'"  ></div>
          </div>  
        </div> -->
        <ImageCardButton label="Comprar" :image="purchasePic" :callback="()=>{$router.push('Explorar')}"/>
        <ImageCardButton label="Programação" :image="schedulePic" :callback="()=>{}"/>
        <ImageCardButton label="Boletos" :image="billingPic" :callback="()=>{}"/>
        <ImageCardButton label="Cursos" :image="coursesPic" :callback="()=>{}"/>
      </div>
    <!-- </div> -->
    <BottomNavigation/>
    <LoginModal v-if="showLoginModal" @close="showLoginModal = false" :placeholder="'E-mail'" :type="'e-mail'" :modalId="'login-modal'" :registerRoute="'/Register'"/>
  </div>
</template>
<style>

.home .title {
  margin-top: 1rem;
  position: relative;
}

.home .horizontalList{
    scroll-snap-type: x proximity;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125px;
    overflow-x: auto;
    overflow-y: hidden;
}

.home .addBanner {
  height: calc(40vh - 2rem) !important;
  width: calc(100% - 1rem) !important;
  float: unset !important;
  position: relative;
  scroll-snap-align: center;
  box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.24);
}


@media (max-height: 600px){
  
  .home .banner-container {
    top: 3.5rem;
    width: 100%;
    height: calc(100% - 7rem - env(safe-area-inset-bottom));
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: solid rgb(11,11,11, 0.1) 1px;
  }  

  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(100% - 2rem);
    margin: 1rem;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 16rem;
  }
}

@media (min-height: 600px){
  .home .banner-container {
    height: calc(32vh + 4rem);
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 1rem;
    /* top: 3.5rem; */
    top: var(--top-spacing);
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    scroll-snap-type: x mandatory;
  }
  
  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(50% - 2rem);
    margin: 0 1rem 2rem;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 20vh;
  }

  .home .banner-store-image {
    height: 18vh;
    width: 100%;
    position: absolute;
  }

  .home .center-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 10.5rem - env(safe-area-inset-bottom));
    width: 100%;
    position: absolute;
    top: 10.5rem;
    overflow: hidden;
  }

}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */


.home .banner .banner-store-header{
    min-height: 3rem;
}

.home-section-title{
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}
</style>

<script lang="ts" src='../controllers/Home.ts'></script>