<template>
  <div class="home" style="width: 100%">
    <HeaderCircleButton v-bind:firstButton="false" :fb="backButton" :ob="[]" :logo="logo"/>
    <!-- <div class="center-banner-container"> -->
      <div  ref="bannerList"  class="carousel-slider center newsHeight carousel" style="margin: 0 2rem 0 2rem !important; position: relative; top: var(--top-spacing); height: 50vh !important; width: calc(100% - 4rem);">
            <Banner slot="options" v-for="homeNew in homeNews" :key="homeNew.ID" :news="homeNew" classComponent="addBanner carousel-item" :callback="()=>openNewsModal(homeNew)" />
            <div class="slide-button-container">
              <font-awesome-icon class="slide-button-icon" :icon="['fal', 'chevron-left']" v-on:click="goToPreviousSlide"/>
              <font-awesome-icon class="slide-button-icon" :icon="['fal', 'chevron-right']" v-on:click="goToNextSlide"/>
            </div>
      </div>
      <!-- <TextLink classDiv="row padding-orders home-section-title" link-label="Próximos eventos" class-component="primary-color message title" /> -->
      <div class="storeBanner" style="display: flex; flex-direction: row; justify-content: space-between; font-weight: 600; width: 100%; height: 5vh; position: relative; top: calc(var(--top-spacing) + 1rem); text-align: left; padding: 0 2rem;"> 
        <div style="font-size: 4vw; color: var(--primary-color); margin: auto 0;">Próximos Eventos </div>
        <div style="font-size: 3vw; color: gray; margin: auto 0; line-height: 4vw;" v-on:click="goToEvents">Ver todos </div>
      </div>
      <div class="horizontalList" style="margin: 0 2rem 0 2rem !important; position: relative; top: calc(var(--top-spacing) + 2rem); height: calc(20vh + 2rem) !important;" ref="bannerContainer" v-on:scroll.passive="handleScroll">
        <BannerStore
          v-for="p in posts"
          :key="p.id"
          classComponent="storeBanner"
          :store="p"
          :callback="goToNext"
          :post="false"
          :showTag="ongoingEventCheck(p)"
        />
        <!-- <div class="storeBanner" style="font-size:4vw; color: var(--primary-color); display: flex; flex-direction: column; justify-content: center; font-weight: 600;"> Ver todos os eventos </div> -->
      </div>
      
    <!-- </div> -->
    <BottomNavigation/>
    <LoginModal v-if="showLoginModal" @close="showLoginModal = false" :placeholder="'E-mail'" :type="'e-mail'" :modalId="'login-modal'" :registerRoute="'/Register'"/>
  </div>
</template>
<style>

.home .title {
  margin-top: 1rem;
  position: relative;
}

.home .horizontalList{
    scroll-snap-type: x proximity;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125px;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 4rem);
}

.home .addBanner {
  height: 50vh !important;
  width: 100% !important;
  margin: 0 !important;
  float: unset !important;
  position: relative;
}


@media (max-height: 600px){
  
  .home .banner-container {
    top: 3.5rem;
    width: 100%;
    height: calc(100% - 7rem - env(safe-area-inset-bottom));
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: solid rgb(11,11,11, 0.1) 1px;
  }  

  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(100% - 2rem);
    margin: 1rem;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 16rem;
  }
}

@media (min-height: 600px){
  .home .banner-container {
    height: calc(40vh + 4rem);
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 1rem;
    /* top: 3.5rem; */
    top: var(--top-spacing);
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    scroll-snap-type: x mandatory;
  }
  
  .home .banner {
    animation-name: fade;
    animation-duration: 0.6s;
    width: calc(50% - 2rem);
    margin: 0 2rem 2rem 0;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
  }

  .home .storeBanner {
    position: relative;
    height: 20vh;
    width: calc(65% - 2rem);
    scroll-snap-align: start;
    border-radius: 1rem;
  }

  .home .banner-store-image {
    height: 18vh;
    width: 100%;
    position: absolute;
  }

  .home .center-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 10.5rem - env(safe-area-inset-bottom));
    width: 100%;
    position: absolute;
    top: 10.5rem;
    overflow: hidden;
  }
  
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */


.home .banner .banner-store-header{
    min-height: 3rem;
}

.home-section-title{
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}

.home .carousel .indicators .indicator-item{
  margin: 0.5rem !important;
}

.home .carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 0.5rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 0;
}

.home .carousel .indicators{
  background-color: var(--primary-color);
  margin: 0 auto 1rem;
  width: 16rem;
  height: 1.5rem;
  border-radius: 1rem;
  display: none;
}

.home .carousel .carousel-item > img{
  min-height: unset;
  height: calc(100% );
}

.home .slide-button-container{
  position: absolute;
  top: calc(50% - 3em);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.home svg.slide-button-icon{
  font-size: 8rem;
  width: 6rem !important;
  height: 6rem;
  padding: 1rem;
  border-radius: 100%;
  background: white;
  opacity: 0.4;
}
</style>

<script lang="ts" src='../controllers/Home.ts'></script>