<template>
    <div class="lerQrMesa">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Ler QRCode"/>
        <div class="molduraQr">
            <div class="moldura">
                <div class="left_top"></div>
                <div class="right_top"></div>
                <div class="left_bot"></div>
                <div class="right_bot"></div>
            </div>
        </div>
        <TextLink classDiv="row padding-cadastro label-intro-carteira margin-none info_message" link-label="Inclua o código QRcode dentro da moldura" class-component="primary-color message"/>
        <ModalCodigo v-show="showModal" @close="showModal = false" icon="error_outline" :content="errorMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>
    </div>
</template>
<script type="text/javascript">
</script>

<script lang="ts" src="../controllers/LerQrMesa.ts" ></script>