<template :key="reportsKey">
  <div class="eventsMenu">
    <HeaderCircleButton :key="favoritedKey" ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton"  :visibleAt="-1" :title="servicesName" />

    <div class="row" style="margin: 0 1rem; position:relative; top: 4.5rem;">
      <ButtonCard icon="newspaper" label="Comunicados para Alunos" goTo="ModalityDependents" :callback="openReports" :reports="reportsCount" />
      <ButtonCard icon="graduation-cap" label="Novas Matrículas" goTo="ModalityDependents" :callback="openEnrolls" />
      <ButtonCard icon="books" label="Meus Cursos e Academia" goTo="ModalityDependents" :callback="openModality" />
      <ButtonCard icon="calendar" label="Calendário" goTo="ModalityDependents" :callback="openCalendar" />
    </div>
    <!-- <div class="footer-logo">    
      <FooterLogo />
    </div> -->
    <ModalDependents v-if="showDependents" @close="showDependents = false" :closeThis="closeModalDependents">
      <div slot="body">
        <CleanListTwoParams :nome="fullName.toLowerCase().toTitleCase()" :img="profileImage" :idExt="npf" :funcao="dependentClick" :checked="checkedUserNpf == npf"></CleanListTwoParams>
        <CleanListTwoParams v-for="dependent in dependents" :key="dependent.npf" :nome="dependent.nome.toLowerCase().toTitleCase()" :img="dependent.foto_url" :idExt="dependent.npf" :funcao="dependentClick" :checked="checkedUserNpf == dependent.npf"></CleanListTwoParams>
      </div>
    </ModalDependents>
  </div>
</template>
<script lang='ts' src="../controllers/MenuEducation.ts"></script>