<template>
    <div class="meus-boletos" style="height: 100%">
        <HeaderRelease desiredScrollTop="22" :click="goBack" title="Boletos" :hasMoreButton="false"/>
        <Boleto :finalDate="boleto.finalDate" :paid="boleto.paid" :value="boleto.value" :formattedBarCode="boleto.formattedBarCode" :barCode="boleto.barCode" :pdfUrl="boleto.pdfUrl" :errorMessage="boleto.errorMessage" v-for="(boleto, index) in boletos" v-bind:key="index" :ID="boleto.billId" :details="billDetails" />

        <EmptyState v-if="hasNoBoletos && !boletos[0]"  image="bill" text="Você não possui nenhum boleto disponível." desc="Aqui você confere todas as cobranças do seu condomínio." />
        <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" :content="msgModal">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="hideModal"/>
            </div>
        </ModalCodigo>
    </div>
</template>

<script lang="ts" src='../controllers/MeusBoletos.ts'></script>