<template>
    <div class="view-modality-dependents">
        <HeaderRelease desiredScrollTop="22" style="text-transform: none;" :click="goBack" :hasMoreButton="true"/>

        <h1 class="header-title">Selecione o usuário desejado para verificar{{title}}</h1>
        <CleanListTwoParams :nome="fullName.toLowerCase().toTitleCase()" :img="profileImage" :idExt="npf" :funcao="dependentClick" :checked="checkedUserNpf == npf"></CleanListTwoParams>
    
        <CleanListTwoParams v-for="dependent in dependents" :key="dependent.npf" :nome="dependent.nome.toLowerCase().toTitleCase()" :img="dependent.foto_url" :idExt="dependent.npf" :funcao="dependentClick" :checked="checkedUserNpf == dependent.npf"></CleanListTwoParams>
    </div>
</template>

<style>
.view-modality-dependents .header-title{
    font-size:22.5px;
    margin-top: -10px!important;
    padding-left:15px;
    padding-right:15px;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}
</style>


<script lang='ts' src="../controllers/ModalityDependents.ts"></script>