<template>
    <div class="nominateTicket">
        <HeaderCircleButton v-bind:firstButton="true" :fb="backButton" :visibleAt="0" logo="bipfun-logo.svg" :title="'Comprar Ingressos'"/>
        <TextLink classDiv="row striper" link-label="Defina o usuário de cada ingresso." class-component="mensagem"/>
        <div class="row" style="text-align: left;">
            <div class="nominate_card" v-for="(order, index) in orders" :key="index">
                <h6 style="padding: 15px 15px 10px 15px; color: var(--primary-color); font-weight: 500;">Ingresso {{index+1}} - {{order.name}}</h6>
                <div class="container-retirada" style="display: flex; justify-content: space-between;">
                    <label style="text-align: left; display: block; margin-bottom: 10px;" :for="'dependente'+index" v-on:click="verifyRadioDependent(index)">
                        <input :id="'dependente'+index" :name="'retirada'+index" type="radio"/>
                        <span>Dependente/Titular</span>
                    </label>
                    <label style="text-align: left; display: block" :for="'outros'+index" v-on:click="verifyRadioOutros(index)">
                        <input :id="'outros'+index" :name="'retirada'+index" type="radio"/>
                        <span>Outros</span>
                    </label>
                </div>
                <div :id="'nameOutro'+index" class="row margin-none centralize-child display-none">
                    <div class="metade input-field margin-bottom-0" style="width: 92% !important; margin-top: 0;">
                        <input :id="'outro_name'+index" type="text" placeholder="Nome" style="margin-bottom: 15px;" v-on:focus="focusInput('outro_name'+index)"/>
                    </div>
                </div>
                <div :id="'nameDependente'+index" class="row margin-none centralize-child display-none">
                    <div class="metade input-field margin-bottom-0" style="width: 92% !important; margin-top: 0;">
                        <input type="text" placeholder="Nome" style="margin-bottom: 15px;" :id="'dependente_nome'+index" v-on:focus="focusInput('dependente_nome'+index)" class="autocomplete"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex" style="margin: 20px 0;">
            <DefaultButton classDiv="" name-button="FINALIZAR COMPRA" classDiv="bottom-fixed" classComponent="full-width bottom-button" v-on:buttonCallBack="validateAllTickets()" idButton="finalizarCompra"/>
        </div>
        <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" :content="'Deseja confirmar a compra de '+orders.length+' ingressos no valor total de R$'+totalValueOrders.toFixed(2)+' ?'">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="closeModal()"/>
                <DefaultButton  classDiv="row metade centralize-child margin_left" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="openPasswordRequest()"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalError" @close="showModalError = false" icon="error_outline" :content="modalMessage">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="OK" class-component="button-modal" v-on:buttonCallBack="closeModalError()"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalSuccess" @close="showModalSuccess = false" icon="error_outline" :content="modalMessage">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="OK" class-component="button-modal" v-on:buttonCallBack="goToCarteira()"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="modalPasswordRequest" @close="modalPasswordRequest = false" icon="error_outline" content="Digite sua senha:">
            <p slot="body" style="color: white; margin-bottom: 0;">Digite sua senha:</p>
            <input slot="body" id="PASSWORD" type="password" style="color: white; text-align: center; margin-bottom: 20px;" v-model="passwordValue" />
            <p v-if="passwordWrong" slot="body" style="color: red; margin-top: 0;">Senha incorreta.</p>
            <DefaultButtonOrd slot="footer" name-button="CANCELAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="closePasswordRequest"/>
            <DefaultButtonOrd slot="footer" name-button="FINALIZAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="afterPasswordRequest"/>
        </ModalCodigo>

        <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="fechaModalTelaCartoes"/>
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="goToTelaCartoes"/>
            </div>
        </ModalCodigo>
        
    </div>
</template>

<script lang='ts' src="../controllers/NominateTicket.ts"></script>

<style>

    .container-retirada {
        margin: 0 10px;
        padding-left: 0;
        text-align: left;
    }

    .nominate_card{
        margin: 8px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
        background-color: #2D68C4 !important;
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
        border: 2px solid #2D68C4 !important;
    }

</style>