<template>
<div class="tela-notifications">
    <!-- <HeaderCircleButton /> -->
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Notificações"/>
    <ListDefault v-if="currentNotifications.length > 0" typeList="collection">
        <ThreeOptionsListNotifications slot="options" :idIcon="notification.id + ''" :name="notification.name" :desc="notification.description" :data="formatDateTime(notification.createdAt.date)" :click="goToNotification"  v-for="notification in currentNotifications" :key="notification.id" />
    </ListDefault>
    
    <EmptyState v-else icon='bell' iconClass='fal' text="Você não possui novas notificações." />
</div>
</template>

<script lang="ts" src="../controllers/Notifications.ts"></script>

<style>

.backPage{
    width: 100%;
    position: sticky;
    display: flex;
    height: 40px;
    justify-content: center;
    flex-direction: column;
    top: 0px;
    left: 0px;
    z-index: 999999;
    background-color: white;
}

.backPage i {
    position: relative;
    margin-right: auto;
    margin-left: 0.6em;
}

.titlePage{
    display: flex;
    flex-direction: column;
    margin: 5px 18px 10px;
}

.titlePage > .sun{
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tela-notifications .status {
    color : black;
}

/* .tela-notifications .item-left {
    width: 6%;

}
.tela-notifications .three-options .item-left {
    width: 6%;
} */

.tela-notifications .item-middle {
    width: 94%;
    /* width: 89%; */

}
.tela-notifications .three-options .item-middle {
    width: 94%;
    margin-left: 0;
    /* width: 89%; */
}
.tela-notifications .item-right {
    font-weight: bold;
    font-size: 125%;
    width: 10%;

}
.tela-notifications .three-options .item-right {
    font-weight: normal;
    font-size: 160%;
    width: 10%;
}

.tela-notifications .titulo {
    font-size: 125%;
    font-weight: 800;
    padding-top: 1%;
    text-align: left;
}

.tela-notifications .collection .collection-item {
    padding: 3% 0px 1% 0px !important;
}

.tela-notifications .info-adicional {
    text-align: left;
    width: 45vh;
    color: #828282;
    font-size: 14px;
    padding-bottom: 2%;
    padding-top: 2%;
    line-height: normal;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

.tela-notifications .data{
    text-align: left;
    font-size: 11px;
    color: #BDBDBD;
    padding-bottom: 1px;
}

.tela-notifications .margin-bottom-7{
    margin-bottom: calc( 7px + env(safe-area-inset-bottom)) !important;
}

</style>