    <template>
    <div class="fluxo-perfil">
        <!-- <HeaderFluxo nameFluxo="Perfil">
            <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left" />
        </HeaderFluxo> -->
        <!-- <ImageProfile classDiv="row centralize-child margin-top-10" :image="imgProfile"> -->
        <!-- </ImageProfile> -->
        <HeaderCircleButton v-bind:firstButton="false" :logo="logo"/>
        <BottomNavigation/>
        <form class="fontSmall profile-form" v-if="isUserLog">
            <div class="row margin-none centralize-child">
                <div v-if="editData" class="input-field" style="width: 90% !important;">
                    <input class="validate" required id="userInput" type="text" v-model="fullName" :maxlength="100" placeholder="Nome Completo"/>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="NOME_LABEL" style="color: black" > <span style="font-weight: 500"> Nome Completo: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{fullName}}</span> </label>
                </div>
            </div>
            <div class="row margin-none centralize-child">
                <div v-if="editData" class="input-field " style="width: 90% !important;">
                    <input class="validate" required id="userInput" type="tel" v-model="cpf" v-mask="'999.999.999-99'" :maxlength="14" placeholder="CPF"/>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="CPF_LABEL" style="color: black" > <span style="font-weight: 500; "> CPF: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{cpf}}</span> </label>
                </div>
            </div>
            <div class="row margin-none centralize-child" v-if="birthDate">
                <div v-if="editData" class="input-field " style="width: 90% !important;">
                    <input class="validate" required id="userInput" type="tel" v-model="birthDate" v-mask="'99/99/9999'" :maxlength="14" placeholder="Data de nascimento"/>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="BIRTH_DATE_LABEL" style="color: black" > <span style="font-weight: 500; "> Data de nascimento: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{birthDate}}</span> </label>
                </div>
            </div>
            <div class="row margin-none centralize-child" v-if="phoneNumber">
                <div v-if="editData" class="input-field " style="width: 90% !important;">
                    <input class="validate" required id="userInput" type="tel" v-model="phoneNumber" v-mask="'(99) 99999-9999'" :maxlength="14" placeholder="Telefone"/>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="PHONE_LABEL" style="color: black" > <span style="font-weight: 500; "> Telefone: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{phoneNumber}}</span> </label>
                </div>
            </div>
            <!-- <div class="row margin-none centralize-child">
                <div v-if="!npfDisabled" class="metade input-field margin-bottom-0" style="width: 90% !important;">
                    <input class="validate" required id="NPF" type="tel" v-model="npf" v-mask="'99999-9'" :maxlength="7"/>
                    <label id="NPF_LABEL" for="NPF"> NPF * </label>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="NPF_LABEL" style="color: black" > <span style="font-weight: 500"> NPF: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{npf}}</span> </label>
                </div>
            </div> -->
            <!-- <div class="row margin-none centralize-child">
                <div v-if="editData" class="input-field" style="width: 90% !important;">
                    <input class="validate" required id="userInput" label="Email" type="text" v-model="email" v-on:keydown="disabledButton('ATUALIZAR_DADOS')" v-on:focus="focusInput('EMAIL')" :disabled="emailDisabled" :maxlength="123" placeholder="E-mail"/>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="EMAIL_LABEL" style="color: black" > <span style="font-weight: 500"> Email: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{email}}</span> </label>
                </div>
            </div> -->
            <!-- <div class="row margin-none centralize-child">
                <div v-if="!phoneDisabled" class="metade input-field margin-bottom-0" style="width: 90% !important;">
                    <input class="validate celular" required id="CELULAR" v-mask="'(99) 99999-9999'" label="Celular" type="tel" v-model="phoneNumber" v-on:keydown="disabledButton('ATUALIZAR_DADOS')" v-on:focus="focusInput('CELULAR')" :disabled="phoneDisabled" data-mask="(00) 00000-0000" data-mask-selectonfocus="true"/>
                    <label id="CELULAR_LABEL" for="CELULAR"> Celular * </label>
                </div>
                <div v-else style="width: 100%; text-align: left; margin-left: 5%; margin-bottom: 10px;">
                    <label id="CPF_LABEL" style="color: black" > <span style="font-weight: 500"> Celular: </span><br/> <span style="font-size: 16px; color: #2d2d2d !important">{{phoneNumber}}</span> </label>
                </div>
            </div> -->
            <DefaultButton idComponent="logout-button" classDiv="row margin-top-20 profile-button" class-component="default-button waves-effect waves-light btn-small primary-color-bg" name-button="Sair" v-on:buttonCallBack="goToLogin"/>
        </form>
        <div v-else>
            <EmptyState iconClass='fal' icon='user' text="Entre no app e compre sem enfrentar filas." />
            <div style="width: 100%; position: absolute; top: calc(50% + 5rem);">
                <DefaultButton idComponent="profile-login-button" classDiv="row margin-top-20 profile-button" class-component="default-button waves-effect waves-light btn-small primary-color-bg" name-button="Realizar login" v-on:buttonCallBack="goToLogin"/>
                <DefaultButton idComponent="create-account-button" classDiv="row margin-top-20 profile-button" class-component="default-button waves-effect waves-light btn-small primary-color-bg" name-button="Criar uma conta" v-on:buttonCallBack="createAccount"/>
            </div>
        </div>
        <div data-role="footer" class="container-fluid margin-top-30" style="width: 100%; padding: 1.1rem; position: absolute; bottom: 5rem">
            <DefaultButton v-if="editData" idComponent="EDITAR_DADOS" classDiv="row margin-top-20" class-component="default-button waves-effect waves-light btn-small primary-color-bg" name-button="Editar dados cadastrados" v-on:buttonCallBack="()=>{editData = true}"/>
            <DefaultButton v-if="editData" idComponent="ATUALIZAR_DADOS" classDiv="row margin-top-20" class-component="default-button waves-effect waves-light btn-small primary-color-bg" name-button="Confirmar" v-on:buttonCallBack="updateUserData"/>
            <!-- <router-link to="/AlteraEndereco">
                <DefaultButton classDiv="row  margin-top-20" name-button="ALTERAR ENDEREÇO" notificationIcon="error_outline" notificationIconClass="right" :notificationOn="notificacao" class-component="default-button waves-effect waves-light button-outline" />
            </router-link> -->
        </div>
        <ModalCodigo v-if="showModal" @close="showModal = false" :icon="modalIcon" :content="modalMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>
    </div>
</template>
<style>


    .fluxo-perfil button.default-button{
        border-radius: 5rem;
        
    }
    .fluxo-perfil .profile-button{
        width:80%;
    }
    @media(max-height:1200px){
        .profile-form{
            position: relative;
            top: 1rem;
        }
    }
    @media(min-height:1200px){
        .profile-form{
            position: relative;
            top: calc(var(--top-spacing) - 1rem);
        }
    }
</style>
<script lang='ts' src='../controllers/Perfil.ts'>
</script>