<template>
  <div class="menu-events">
    <HeaderCircleButton :logo="logo"/>
    <div class="row minicard-menu-container ">
      <!-- <ImageCardButton v-for="s in parentsMenu" :key="s.ID" :label="s.NAME" :callback="()=>{handleServiceClick(s)}" :image="s.IMAGE"/> -->
      <Minicard v-for="(s, index) in parentsMenu" :key="s.id" @click.native="handleServiceClick(s)" :classComponent="''">
          <span slot='title'>
            {{s.NAME}}
          </span>
          <div slot='description' style="diplay:flex; flex-direction:column;">
            <div style="diplay:flex; flex-direction:row;">
              {{s.DECRIPTION}}
            </div>
          </div>
          <img slot='image' :src="s.IMAGE"/>
          <div slot='image' v-if="!s.IMAGE" style="width: 100%; height: 100%; position: absolute; top: 0rem; left: 0px;display: flex; flex-direction: column; justify-content: center;">
            <font-awesome-icon   class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" style="color: white; font-size: 2rem; margin: auto; width: 2rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
          </div>
      </Minicard>
    </div>
    <BottomNavigation :key="bnKey"/>
  </div>
</template>

<script lang="ts" src="../controllers/Services.ts">

</script>

<style>
.titleHeader {
  color: #333333;
}

.dependentes {
  width: 100%;
  height: 22vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 412px) {
  .dependentes {
    width: 100%;
    height: 23vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.carousel-item {
  width: 11rem;
  margin-left: 1rem !important;
  margin-right: -1rem !important;
}

/* .button-card-wrapper:not(.carousel-item){
  margin: 6px 0 !important;
  padding: 0 6px !important;
} */

.row p {
  font-size: 20px;
  color: #333333;
  text-align: left !important;
  margin-left: 0.6rem;
}

  @media (max-height: 1200px){
  .menu-events .payment-instructions{
    margin: 10px 0;
    font-size: 1.1rem;
  }

  .menu-events .button-card .card-label {
    text-align: left;
    bottom: 5px;
    position: absolute;
    left: 10px;
    font-weight: 500;
    font-size: 130%;
    white-space: pre-line;
    max-width: 8rem;
    line-height: 1.6rem;
  }

  .menu-events .button-card .card-icon svg {
    font-size: 2.4rem !important;
  }

  .menu-events .button-card .card-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.5rem;
  }

  .carteira-menu-container{
    left: 0rem; 
    position: relative; 
    margin: 1rem; 
    width: calc(100% - 2rem);
  }

}

@media (min-height: 1200px){

  .menu-events .payment-instructions{
    margin: 1rem 0;
    font-size: 2rem;
  }

  .menu-events .button-card .card-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30%;
  }

  .menu-events .button-card .card-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 6rem;
  }

  .menu-events .button-card .card-label {
    text-align: left;
    bottom: 1rem;
    position: absolute;
    left: 1rem;
    font-weight: 500;
    font-size: 3rem;
    white-space: pre-line;
    line-height: 3rem;
    max-width: 12rem;
  }

  
}



</style>