<template>
    <div class="full-height event-details" style="justify-content:space-between; position: relative; min-height: 100vh;">
        <HeaderRelease desiredScrollTop="22" :click="goBack" title="Agendar Serviço" :hasMoreButton="false"/>

                <DraggableCal id="calendar" :days="MAX_DAYS" accentColor="#2d68c4" @dateSelected="dateSchedule"></DraggableCal>

                <div style="margin: 10px 0 0 10px; text-align: left;" v-show="hasHour">
                    <div class="labelHours">Horários</div>
                </div>
                <div class="blockHours">
                    <span class="msgError" v-if="!hasHour && chosenDay !== ''">{{msgErro}}</span>
                    <RadioChipInterest :vForArr="horarios" :preId="'hora-'" name="hora" :preFor="'hora-'" :styleDefault="true" :fullWidth="false" :changeHandler.sync="selectHour" />
                </div>

                <div style="justify-content:space-arround !important;
                    position: relative;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    min-height: 25vh;
                    max-height: 100vh;
                    text-align: left !important;">
                    <div class="display-flex SIM" slot="footer" style="position: relative; margin: auto 18px 0;padding-bottom: 1.1rem;">
                        <DefaultButton class="button-start" id-component="authenticate" style="margin-bottom: 15px !important;" class-component="btn-relese waves-effect waves-light" classDiv="row margin-top-20" name-button="Confirmar interesse" v-on:buttonCallBack="relateUserToTennisCourt" v-show="checkedOption" />
                    </div>
                </div>

    </div>
</template>

<script lang="ts" src='../controllers/ServiceInterest.ts'></script>

<style>

.blockHours {
    display: inline-flex;
    flex-wrap: wrap;
}

.labelHours {
    font-weight: 700;
    margin-right: 14.5em;
}

.hours {
    border: 2px solid #000;
    height: 45px;
    margin: 0.5em;
    padding-top: 1em;
    text-align: center;
    width: 96px;
}

.hide {
    display: none;
}

.seeMore {
    font-size: 85%; 
    color: #ccc;
    text-align:right;
    cursor: pointer
}

.checkCircleClass {
    font-size: 40px;
    color: rgb(0, 162, 0);
    margin: 1px;
    padding: 1px;
}

.carouselContainer{
    overflow-x: auto;
    height: 32vh;
    padding-top: 5px;
}

.content {
    display: inline-flex;
}

.msgError {
    color: red;
    font-weight: 700;
    font-size: 110%;
    margin: 0 auto;
    margin-top: 20px;
}

</style>