<template>
    <div>
        <HeaderRelease desiredScrollTop="22" :click="goBack" title="Agenda" :hasMoreButton="false"/>

        <div v-bind:class="{'stikey': true}" style="padding: 15px 15px 10px;">
            <div style="display: flex; justify-content: space-evenly; border-radius: 2px; 
            box-shadow: rgb(133, 133, 133, 0.5) 1px 1px 4px 0px;">
                <div style="display: flex; justify-content: center; flex-direction: column;">
                    <i id="search_icon_btn" class="material-icons" style="color: rgb(165, 165, 165);">search</i>
                </div>
                <div class="searchProducts" style="display: flex; justify-content: center; flex-direction: column;">
                    <input type="text" name="" id="search_service" placeholder="Pesquisar por reservas, eventos..." :maxlength="50" style="border-bottom: unset; margin: unset;"/>
                </div>
            </div>
        </div>

        <TabsHome :counts="abas" style="padding:0">
            <div slot="Agendamentos" style="justify-content:space-between; position: relative;">
                <div v-for="serviceChildren in servicesChildren" :key="serviceChildren.ID"> 
                    <div class="row" style="margin: 20px 10px 20px;" v-show="!notFound" v-for="service in serviceChildren.SERVICES"  :key="service.ID" @click="goToInfo(serviceChildren.ID, service.ID)">
                        <div class="col s4" style="padding: 0px !important;">
                            <div class="service" style="width: 100%; height: 100%;">
                                <div class="service-image waves-effect">
                                    <img :src="service.IMAGE">
                                </div>
                            </div>
                        </div>
                        <div class="col s8" style="text-align: left; padding: 0px!important;">
                            <p class="serviceName">{{service.NAME}}</p>
                            <p class="serviceLocation" style="font-weight: normal!important;">{{serviceChildren.LOCATION}}</p>
                            <label style="font-size: 13px;">{{formatDate(serviceChildren.SCHEDULE_INITIAL_DATE)}}</label>
                        </div>
                    </div>
                </div>
                <EmptyState style="margin-top: 60%;" v-if="notFound" image="busca" text="Nenhum agendamento encontrado." />
            </div>

            <div slot="Eventos" style="justify-content:space-between; position: relative;">
                <div v-for="event in events" :key="event.id"> 
                    <div class="row" style="margin: 20px 10px 20px;" v-show="!eventsNotFound" @click="goToEvent(event.id)">
                        <div class="col s4" style="padding: 0px !important;">
                            <div class="service" style="width: 100%; height: 100%;">
                                <div class="service-image waves-effect ">
                                    <img :src="event.imageCover">
                                </div>
                            </div>
                        </div>
                        <div class="col s8" style="text-align: left; padding: 0px!important;">
                            <p class="serviceName">{{event.name}}</p>
                            <p class="serviceLocation" style="font-weight: normal!important;">{{event.location}}</p>
                            <label style="font-size: 13px;">{{formatDate(event.initialDate.date)}}</label>
                        </div>
                    </div>
                </div>
                <EmptyState style="margin-top: 60%;" v-if="eventsNotFound" image="busca" text="Nenhum evento encontrado." />
            </div>
        </TabsHome>


    </div>
</template>

<script  lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import moment from 'moment';
import HeaderRelease from '@/components/HeaderRelease.vue';
import ListDefault from '@/components/ListDefault.vue';
import HeaderModality from '@/components/HeaderModality.vue';
import HeaderFilter from '@/components/HeaderFilter.vue';
import EmptyState from '@/components/EmptyState.vue';
import Util from '@/ts/Util';
import Request from '@/ts/Request';
import feather from 'feather-icons';
import TabsHome from '@/components/TabsHome.vue';

declare var $: any;

@Component({
    props: {},
    components:{ HeaderRelease, ListDefault, HeaderFilter, EmptyState, TabsHome }
})


export default class ServicesSchedule extends Vue {
    notFound: boolean = false;
    eventsNotFound: boolean = false;
    allEvents: any = JSON.parse(localStorage.getItem('EVENTS') || '[]');
    services: any = JSON.parse(localStorage.getItem('SERVICES_SCHEDULE') || '[]');
    servicesChildren: any = JSON.parse(localStorage.getItem('SERVICES_SCHEDULE') || '[]');
    events: any = JSON.parse(localStorage.getItem('FAVORITED_EVENTS') || '[]');
    search: boolean = true;
    abas: any = [
        { id: 1, NAME: 'Agendamentos' },
        { id: 2, NAME: 'Eventos'}
    ];

    mounted(){
        Util.setBackButtonBehavior(this.goBack);
        const self = this;
        this.getServicesSchedule();
        this.favoritedEvents();
        $('.tabs').tabs()
    }

    formatDate(stringDate: string) {
        const momentDate: any = moment(stringDate);
        return momentDate.lang('pt-br').format('dddd, DD [de] MMMM [às] HH:mm');
    }

    getServicesSchedule(){
        try {
            const self = this
            const req = new Request();
            req.body = {
                'USER_ID': localStorage.getItem('USER_ID') || '',
                'NRORG': localStorage.getItem('NRORG'),
                'TOKEN': localStorage.getItem('TOKEN') || '',
            };
            req.route = 'getAllSchedulesByUser';
            req.callbackSuccess = function(response: any) {
            
                // Ordena o array pela data decrescente
                let sortedSchedules = response.ScheduleUserRels.sort((a:any, b:any) => new Date(b.SCHEDULE_INITIAL_DATE).getTime() - new Date(a.SCHEDULE_INITIAL_DATE).getTime())
                self.servicesChildren = sortedSchedules;
                localStorage.setItem('SERVICES_SCHEDULE', JSON.stringify(sortedSchedules.reverse()));
            }
            req.callbackError = function (error: any) {
                self.notFound = true;
                console.log(error);
            };
            
            req.blockTouchEvents = false;
            req.send();
        } catch (e) {
            console.log(e);
        }
    }

    favoritedEvents() {
        const self = this
        const req = new Request();
        req.body = {
            'USER_ID': localStorage.getItem('USER_ID') || '',
            'NRORG': localStorage.getItem('NRORG'),
            'TOKEN': localStorage.getItem('TOKEN') || ''
        };
        req.route = 'favorite';
        req.callbackSuccess = function(response: any) {
            const events = response.calendar;

            if (!events || events.length == 0) {
                self.eventsNotFound = true; 
                localStorage.setItem('FAVORITED_EVENTS', "");
                return;
            }
            
            localStorage.setItem('FAVORITED_EVENTS', JSON.stringify(events));
        };
        req.callbackError = function(error: any) {
            self.eventsNotFound = true;
            console.log(error);
        };
        req.send();
    }

    removeSpecialCharacters(s: string) {
        s = s ? s.toLowerCase() : '';
        s = s.toLowerCase();
        s = s.replace(new RegExp(/\s/g),'_');
        s = s.replace(new RegExp(/[àáâãäå]/g),'a');
        s = s.replace(new RegExp(/æ/g),'ae');
        s = s.replace(new RegExp(/ç/g),'c');
        s = s.replace(new RegExp(/[èéêë]/g),'e');
        s = s.replace(new RegExp(/[ìíîï]/g),'i');
        s = s.replace(new RegExp(/ñ/g),'n');                
        s = s.replace(new RegExp(/[òóôõö]/g),'o');
        s = s.replace(new RegExp(/œ/g),'oe');
        s = s.replace(new RegExp(/[ùúûü]/g),'u');
        s = s.replace(new RegExp(/[ýÿ]/g),'y');
        s = s.replace(new RegExp(/\W/g),'');
        return s;
    }

    goToInfo(idChildren:any, idService:any) {
        this.servicesChildren.forEach((service: any) => {
            if(service.ID == idChildren){
                this.services = service.SERVICES;
            }
        });
        
        let children = this.servicesChildren.find((children: any) => children.ID == idChildren);
        let service = this.services.find((service: any) => service.ID == idService);

        localStorage.setItem('SERVICE_CHILDREN', JSON.stringify(children));
        localStorage.setItem('SERVICE', JSON.stringify(service));
        this.$router.push('InfoService');
    }

    goToEvent(id:any) {
        let event = this.allEvents.find((event: any) => event.id == id);
        
        localStorage.setItem('EVENT', JSON.stringify(event));
        localStorage.setItem('EVENTS', JSON.stringify(this.allEvents));
        localStorage.setItem('SELECTED_EVENT', JSON.stringify(id));

        this.$router.push('EventDetails');
    }

    goBack() {
        this.$router.push('ServicesMenu');
    }

}

</script>

<style>
.serviceName {
    margin:0 0 2px 0!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px!important;
}

.serviceLocation {
    margin:0 0 2px 0!important;
    font-size: 13px!important;
}
</style>
