<template>
    <div>
        <HeaderCircleButton :key="favoritedKey" ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton"  :visibleAt="-1" :title="servicesName" />
        <div>
            <div v-if="ocultarPais" class="row minicard-menu-container" style="top: calc(var(--top-header-space) - 6rem);">
                <Minicard v-for="(s, index) in serviceChildren" :key="s.id" @click.native="handleServiceClick(s)" :classComponent="''">
                    <span slot='title'>
                        {{s.NAME}}
                    </span>
                    <div slot='description' style="diplay:flex; flex-direction:column;">
                        <div style="diplay:flex; flex-direction:row;">
                        {{s.DECRIPTION}}
                        </div>
                    </div>
                    <img slot='image' :src="s.IMAGE"/>
                    <div slot='image' v-if="!s.IMAGE" style="width: 100%; height: 100%; position: absolute; top: 0rem; left: 0px;display: flex; flex-direction: column; justify-content: center;">
                        <font-awesome-icon   class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" style="color: white; font-size: 2rem; margin: auto; width: 2rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
                    </div>
                </Minicard>

                <!-- <div class="col s6" style="padding: 0px !important" v-for="item in serviceChildren" :key="item.ID" >
                    <ButtonCardImg :servicosPais="true" v-show="item.PARENT_ID !== '' && item.PRICE === '' && item.TYPE !== 'INTEREST'" style="width: 100%; height: 100%;" v-on:buttonCallBack="getServiceChildren(item.ID)" :icon="item.ICON" :label="item.NAME"/>
                    <ButtonCardImg :servicosFilhos="true" v-show="item.PARENT_ID !== '' && item.PRICE !== '' && item.TYPE !== 'INTEREST'" style="width: 100%; height: 100%;" :label="item.NAME" :img="item.IMAGE" :price="item.PRICE" @goToNextPage="goToNextStep(item)" />
                    <ButtonCardImg :servicosFilhos="true" v-show="item.PARENT_ID !== '' && item.TYPE === 'INTEREST'" style="width: 100%; height: 100%;" :label="item.NAME" :img="item.IMAGE" @goToNextPage="goToNextStep(item)" />
                </div> -->
            </div>
            <div v-if="mostrarFilhos" class="row minicard-menu-container">
                <Minicard v-for="(s, index) in serviceChildren2" :key="s.id" @click.native="handleServiceClick(s)" :classComponent="''">
                    <span slot='title'>
                        {{s.NAME}}
                    </span>
                    <div slot='description' style="diplay:flex; flex-direction:column;">
                        <div style="diplay:flex; flex-direction:row;">
                        {{s.DECRIPTION}}
                        </div>
                    </div>
                    <img slot='image' :src="s.IMAGE"/>
                    <div slot='image' v-if="!s.IMAGE" style="width: 100%; height: 100%; position: absolute; top: 0rem; left: 0px;display: flex; flex-direction: column; justify-content: center;">
                        <font-awesome-icon   class='icon' :aria-hidden="true" :icon="['fal', 'store-alt']" size="1x" style="color: white; font-size: 2rem; margin: auto; width: 2rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
                    </div>
                </Minicard>
                <!-- <div class="col s6" v-for="item in serviceChildren2" :key="item.ID" >
                    <ButtonCardImg :servicosPais="true" v-show="item.PARENT_ID !== '' && item.PRICE === '' && item.TYPE !== 'INTEREST'" style="width: 100%; height: 100%;" v-on:buttonCallBack="getServiceChildren(item.ID)" :icon="item.ICON" :label="item.NAME"/>
                    <ButtonCardImg :servicosFilhos="true" v-show="item.PARENT_ID !== '' && item.PRICE !== '' && item.TYPE !== 'INTEREST'" style="width: 100%; height: 100%;" :label="item.NAME" :img="item.IMAGE" :price="item.PRICE" @goToNextPage="goToNextStep(item)" />
                    <ButtonCardImg :servicosFilhos="true" v-show="item.PARENT_ID !== '' && item.TYPE === 'INTEREST'" style="width: 100%; height: 100%;" :label="item.NAME" :img="item.IMAGE" @goToNextPage="goToNextStep(item)" />
                </div> -->
            </div>
            <EmptyState v-if="!serviceChildren || serviceChildren.length == 0" image="busca" text="Não foram encontrados serviços para a unidade selecionada." />
        </div>
        <span :search="false" :headerRelease="true" :filter="false" id="d" v-if="decription" v-html="descricao">{{descricao}}</span>
    </div>
</template>

<script  lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import HeaderRelease from '@/components/HeaderRelease.vue';
import ListDefault from '@/components/ListDefault.vue';
import HeaderModality from '@/components/HeaderModality.vue';
import HeaderFilter from '@/components/HeaderFilter.vue';
import ButtonCardImg from '@/components/ButtonCardImg.vue';
import EmptyState from '@/components/EmptyState.vue';
import Util from '@/ts/Util';
import Request from '@/ts/Request';
import HeaderCircleButton from '@/modules/shared-components/HeaderCircleButton.vue';
import ImageCardButton from '@/modules/shared-components/ImageCardButton.vue';
import Minicard from '@/modules/shared-components/Minicard.vue'
import feather from 'feather-icons';

declare var $: any;

@Component({
    props: {},
    components:{ HeaderRelease, ListDefault, HeaderFilter, ButtonCardImg, EmptyState, HeaderCircleButton, ImageCardButton, Minicard }
})


export default class ServicesChildren extends Vue {
    structures: any = JSON.parse(localStorage.getItem('UNIDADES_RENT') || '[]');
    canShowCards: boolean = false;
    notFound: boolean = false;
    showFilter: any = { canShow: false };
    checked: any = JSON.parse(localStorage.getItem('RENT_UNIT') || '{}').id || 0;
    tiposFiltrados: any = JSON.parse(localStorage.getItem('TYPE_SERVICES') || '[]');
    descricao: any = JSON.parse(localStorage.getItem('DECRIPTION_SERVICES') || '[]');
    services: any = JSON.parse(localStorage.getItem('SERVICE_PARENTS') || '[]');
    parentsMenu: any = JSON.parse(localStorage.getItem('MENU_SERVICE_PARENTS') || '[]');
    servicesName: any = JSON.parse(localStorage.getItem('NAME_SERVICO_MENU') || '');
    services2: any = JSON.parse(localStorage.getItem('SERVICE_CHILDREN') || '[]');
    serviceChildren: any = JSON.parse(localStorage.getItem('SERVICE_CHILDREN') || '[]');
    serviceChildren2: any = JSON.parse(localStorage.getItem('SERVICE_CHILDREN2') || '[]');
    filter: boolean = true;
    headerRelease: boolean = false;
    search: boolean = true;
    decription: boolean = false;
    ocultarPais: boolean = true;
    mostrarFilhos:boolean = false;
    d: any;
    backButton: any = {iconClass: 'fal', icon: 'chevron-left', callback:this.goBack}

    mounted(){
        Util.setBackButtonBehavior(this.goBack);
        const self = this;
        this.getStructures();
        this.getServices();
        $('#search_service').keydown( function(e:any) {
            setTimeout(function() {
                self.serviceChildren = self.services2.filter((serv: any) => {
                    if(!self.removeSpecialCharacters(serv.NAME).includes(self.removeSpecialCharacters($('#search_service').val()))) self.notFound = true;
                    else self.notFound = false; 
                    return (
                        !$('#search_service').val() || 
                        self.removeSpecialCharacters(serv.NAME).includes(self.removeSpecialCharacters($('#search_service').val()))
                    ) 
                })
            }, 100);
        });
        if(this.checked == 0){
            this.openShowFilter();
        } else {
            this.filterService();
        }
    }

    getStructures() { 
        try {
        const self = this;
        const req = new Request();
        req.body = {
            'NRORG': localStorage.getItem('NRORG'),
            'TOKEN': localStorage.getItem('TOKEN'),
            'USER_ID': localStorage.getItem('USER_ID')
        };
        req.route = 'getStructuresWithService';
        req.callbackSuccess = function(response: any) { 
            let structures = response.structures;
            self.structures = structures;
            localStorage.setItem('UNIDADES_RENT', JSON.stringify(response.structures));
            // self.fillStructures();
        };
        req.callbackError = function(error: any) {
            console.log(error);
        }
        req.blockTouchEvents = false;
        req.send();
        } catch (e) {
            
            console.log(e);
        }

        if (this.tiposFiltrados == "FILA"){
            this.$router.push('ModalityDependents');

        } else if (this.tiposFiltrados == "MAGAZINE") {
            this.$router.push('Magazine');

        } else if (this.tiposFiltrados == "RUNNERS") {
            this.$router.push('Runners');

        }else if(this.tiposFiltrados == 'HTML'){
            this.serviceChildren = true;
            this.decription = true;
            this.search = false;
            this.filter = false;
            this.headerRelease = true;
        }
        else if(this.tiposFiltrados == "EDUCACIONAL") {
            this.$router.push('MenuEducation');
        }
    }


    getServices() {
        this.services2 = this.serviceChildren;
    }

    openShowFilter(){
        this.checked = JSON.parse(localStorage.getItem('RENT_UNIT') || '{}').id || 0;
        this.structures = JSON.parse(localStorage.getItem('UNIDADES_RENT') || '{}');
        this.showFilter.canShow = true;
    }

    removeSpecialCharacters(s: string) {
        s = s ? s.toLowerCase() : '';
        s = s.toLowerCase();
        s = s.replace(new RegExp(/\s/g),'_');
        s = s.replace(new RegExp(/[àáâãäå]/g),'a');
        s = s.replace(new RegExp(/æ/g),'ae');
        s = s.replace(new RegExp(/ç/g),'c');
        s = s.replace(new RegExp(/[èéêë]/g),'e');
        s = s.replace(new RegExp(/[ìíîï]/g),'i');
        s = s.replace(new RegExp(/ñ/g),'n');                
        s = s.replace(new RegExp(/[òóôõö]/g),'o');
        s = s.replace(new RegExp(/œ/g),'oe');
        s = s.replace(new RegExp(/[ùúûü]/g),'u');
        s = s.replace(new RegExp(/[ýÿ]/g),'y');
        s = s.replace(new RegExp(/\W/g),'');
        return s;
    }

    closeShowFilter() {
        if(!JSON.parse(localStorage.getItem('RENT_UNIT') || '{}').id) {
            this.checked = -1;
            this.showFilter.canShow = true;
        } else {
            this.showFilter.canShow = false;
        }
    }

    goBack() {   
        if(this.mostrarFilhos == false && this.ocultarPais == true){
            localStorage.setItem("SERVICE_CHILDREN2", '[]');
            localStorage.setItem("SERVICE_CHILDREN", '[]');
            this.$router.go(-1);
        }     
        if(this.mostrarFilhos = true){
            this.ocultarPais = true;
            this.mostrarFilhos = false;
        }   
    }


    getServiceChildren(PARENT_ID: any){
        const self = this;
        const serviceChildren2 = this.services.filter(( d: any ) => d.PARENT_ID == PARENT_ID);
        self.serviceChildren2 = serviceChildren2;
        
        localStorage.setItem("SERVICE_CHILDREN2", JSON.stringify(serviceChildren2));
        this.ocultarPais = false;
        this.mostrarFilhos = true;
        this.filterChildren(self.serviceChildren2);
    }

    filterService() {
        let serviceChildren2 = JSON.parse(localStorage.getItem("SERVICE_CHILDREN2") || '{}');

        if(Object.keys(serviceChildren2).length > 0){
            this.filterChildren(serviceChildren2);
        }

        this.checked = JSON.parse(localStorage.getItem('RENT_UNIT') || '{}').id;

        const self = this;
        let arrayService:any = [];

        for (let i = 0; i < this.services2.length; i++) {
            if(Array.isArray(this.services2[i].EVENT_RELS)) {
                for (let k = 0; k < this.services2[i].EVENT_RELS.length; k++){
                    if(this.services2[i].EVENT_RELS[k].STRUCTURE === this.checked){
                        arrayService.push(this.services2[i]);
                        break;
                    }
                }
            }
            else {
                arrayService.push(this.services2[i]);
            }
        }
        this.serviceChildren = arrayService;
    }

    filterChildren(service:any) {
        this.checked = JSON.parse(localStorage.getItem('RENT_UNIT') || '{}').id;

        const self = this;
        let arrayService:any = [];

        for (let i = 0; i < service.length; i++) {
            if(Array.isArray(service[i].EVENT_RELS)) {
                for (let k = 0; k < service[i].EVENT_RELS.length; k++){
                    if(service[i].EVENT_RELS[k].STRUCTURE === this.checked){
                        arrayService.push(service[i]);
                        break;
                    }
                }
            }
            else {
                arrayService.push(service);
            }
        }
        this.serviceChildren2 = arrayService;
    }

    goToNextStep(item:any) {
        if(item.TYPE === 'AGENDA') {
            localStorage.setItem('SERVICE', JSON.stringify(item));
            this.$router.push('ServiceScheduling');
        }
        else if(item.TYPE == 'INTEREST') {
            localStorage.setItem('SERVICE', JSON.stringify(item));
            this.$router.push('ServiceInterest');
        }
    }

    handleServiceClick(item: any){
        if (item.PARENT_ID !== '' && item.PRICE === '' && item.TYPE !== 'INTEREST'){
            this.getServiceChildren(item.ID);
        }
        else this.goToNextStep(item);
    }
}

</script>

<style></style>
