<template>
    <div class="support-request">
        <div class="product_menu">
            <HeaderFluxo :name-fluxo="'Minhas Solicitações'">
                <DefaultButton slot="left" v-on:buttonCallBack="goBack" class-component="button-icon secundary-color" icon="keyboard_arrow_left"/>
            </HeaderFluxo>
        </div>
        <div>
            <ThreeOptionsListGeneral :clickHandler="goSupportRequestDetails" :clickHandlerParameter="supportRequest" :leftText="supportRequest.id" :middleText="supportRequest.genSubjectMatter ? supportRequest.genSubjectMatter.subjectMatter : ''"  :rightText="supportRequest.status" v-for="supportRequest in supportRequests.slice().reverse()" :key="supportRequest.id"/>
        </div>
        
        <EmptyState v-if="hasNoSupportRequest && !supportRequests[0]" image="chat" text="Nenhuma solicitação de Ouvidoria em aberto." desc="Entre em contato com o Minas para relatar algum problema ou fazer elogios." />

        <div class="support-request-footer container-fluid" style="padding: 1.1rem; margin-bottom: 5% !important;">
            <DefaultButton style="padding-top: 5px;" idComponent="SAVE_RECEIPTS_TO" name-button="Fale com o Minas" classDiv="" class-component="default-button waves-effect waves-light btn-small primary-color-bg" v-on:buttonCallBack="goNewSupportRequest"/>
        </div>
    </div>
</template>
<script lang="ts" src="../controllers/SupportRequest.ts"></script>

<style>
.support-request{
    margin-bottom: 60px;
}
/* .bottom-fixed-footer{
    position: fixed;
    width: 100%;
    bottom: 70px;
    background-color: white;
} */
.support-request-footer{
    background-color: white;
    position: fixed;
    height: 60px;
    bottom: 0px;
    width: 100%;

}
</style>
