<template>
    <div class="support-request-details" style="height: 100vh;">
    <!-- <HeaderFluxo :name-fluxo="'Solicitação'">
        <DefaultButton slot="left" v-on:buttonCallBack="goBack" class-component="button-icon secundary-color" icon="keyboard_arrow_left" />
        </HeaderFluxo> -->
    <div class="support-request-header">
        <div style="display: flex; height: 100%;">
            <div class="" style="width: 20%; height: 100%; display: flex; justify-content: center; flex-direction: column;" v-on:click="goBack()">
                <i class="material-icons" style="font-size: 33px; padding-right: 15px;">keyboard_arrow_left</i>
            </div>
            <div class="" style="width: 80%; height: 100%; display: flex; justify-content: center; flex-direction: column; text-align: left;">
                <span style="font-size: 1.2rem;">{{supportRequest.genSubjectMatter.subjectMatter}}, N° {{supportRequest.id}}</span>
                <span style="font-size: 1.1rem; color: #696666;">{{supportRequest.status}}</span>
            </div>
        </div>
    </div>
    <div v-if="activities.length > 0" style="height: calc(100vh - 125px);">
        <ActivitySupportRequest :activities="activities" :openThis="openThisImage"/>
    </div>
    <div style="height: auto; position: relative; background-color: white; position: absolute; bottom: 0; z-index: 9999; width: 100vw; box-shadow: rgb(88, 88, 88) 0px 0px 15px -4px;">
        <div v-if="showDeleteAction" style="height: 120px; width: 95vw; margin: 0 10px; display: flex; padding: 7px 0;">
            <img v-if="isImagem" id="blah" src="" style="border-style: none; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 6px;" />
            <img v-else src="https://via.placeholder.com/468x60?text=ANEXO" style="border-style: none; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 6px;" />
        </div>
        <div class="row" style="margin: 0 10px; display: flex; padding: 7px 0;">
            <!-- Textarea and bnts add and remove file -->
            <div style="width: 85%; display: flex; box-shadow: rgb(88, 88, 88) 0px 0px 18px -4px; border-radius: 9px;">
                <!-- Btns add end remove file -->
                <div v-if="showDeleteAction" style="width: 20%;display: flex;flex-direction: column;justify-content: flex-end; padding: 0.8rem 0.8rem 0.8rem 0;">
                <i class="material-icons" style="font-size: 25px; color:red;" v-on:click="cleanInputFile()" >delete</i>
                </div>
                <div v-else id="inputFileRequest" style="width: 20%; display: flex; flex-direction: column; justify-content: flex-end; padding: 0.8rem 0.8rem 0.8rem 0;">
                <input @click="previewFiles" id="file" class="inputfile" multiple>
                <label for="file" style="display: flex; justify-content: center;"><i class="material-icons primary-color" style="font-size: 25px;">attach_file</i></label>
                </div>
                <!-- Textarea box for description variable -->
                <div style="width: 80%;">
                <div class="input-field s12 material-select margin-none" style="display: flex; flex-direction: column; justify-content: center;" id="mensagemSupportRequest">
                    <textarea v-model="description" id="textarea1" maxlength="1500" class="materialize-textarea margin-bottom-none" style="height: 42px; border-bottom: unset; padding: .8rem .8rem .8rem 0;" v-on:focus="focusInput('lastMessage')"></textarea>
                </div>
                </div>
            </div>
            <div style="width: 15%;display: flex;justify-content: flex-end; flex-direction: column; padding: 0.8rem 0 0.8rem 0px;" v-on:click="createActivity()">
                <!-- <div v-on:buttonCallBack="createActivity" style="width: 50px; height: 50px; background-color: var(--primary-color); color: white; display: flex; justify-content: center; flex-direction: column; border-radius: 50%; position: relative; margin: 0 auto;">
                <i class="material-icons" style="font-size: 25px;">send</i>
                </div> -->
                <i class="material-icons primary-color" style="font-size: 25px;">send</i>
            </div>
        </div>
    </div>
    <ModalCodigo v-if="alert" @close="alter = false" icon="error_outline" :content="msg">
        <div class="display-flex SIM" slot="footer">
            <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="alert=false;"/>
        </div>
    </ModalCodigo>
    <OpenImage modalId="image-modal" :imageName="thisImage" />
    <!-- <div class="support-request-footer">
        <div class="batata1">
        <textarea class="border-radius-10" rows="15" v-model="description"></textarea>
        </div>
        <div class="bottom-10" style="">
        <div class="bottom-10">
        <div style="display:flex;">
        <div style="display: flex; margin: auto;">
        <div>
        <input type="file" accept="image/*,.pdf" @change="previewFiles" id="file" class="inputfile" multiple>
        <label for="file">Enviar arquivo</label>
        </div>
        <div v-if="showDeleteAction" style="margin: auto 10px; display:flex;" id="deleteFile" v-on:click="cleanInputFile"><i class="material-icons" style="color:red; display:flex; flex-direction:column; justify-content:center;">delete</i><span style="color:red; display: flex; flex-direction: column; justify-content: center; margin-left: 5px;">Deletar</span></div>
        </div>
        </div>
        </div>
        </div>
        <DefaultButton idComponent="SAVE_RECEIPTS_TO" name-button="Responder" classDiv="" class-component="default-button waves-effect waves-light btn-small primary-color-bg" v-on:buttonCallBack="createActivity"/>
        </div> -->

        <ImageUploader />
    </div>
</template>
<script lang="ts" src="../controllers/SupportRequestDetails.ts"></script>
<style>

.support-request-header{
 position: -webkit-sticky;
 position: sticky;
 top: -1px;
 left: 0;
 z-index: 9999;
 height: 60px !important;
 color: var(--header-fluxo-color) !important;
 background-color: white !important;
 -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.body-request {
 margin: 0 20px 0 20px;
 margin: 20px;
 color: var(--primary-color);
 font-weight: 300;
 font-size: 15px;
}

.hn1 {
 display: inline-block;
 width: 50%;
}

.support-request-details > img {
}

.batata1 {
 margin: 0 20px 0 20px;
}

#mensagemSupportRequest > textarea.materialize-textarea:focus:not([readonly]){
 border-bottom: none;
 box-shadow: none;
}

#inputFileRequest > .inputfile:focus + label, .inputfile + label:hover, .inputfile + label:focus{
 background-color: none;
 border-radius: none;
 color: none;
 border: none;
 cursor: none;
}

#inputFileRequest > .inputfile + label{
 max-width: unset;
 text-transform: unset;
 height: unset;
 font-weight: unset;
 background-color: unset;
 line-height: unset;
 padding: unset;
 border-radius: unset;
 border: unset;
 color: unset;
 display: flex;
 -ms-flex-pack: unset;
 justify-content: center;
 -ms-flex-direction: unset;
 flex-direction: unset;
 margin: unset;
}


</style>