<template>
  <div class="ticket-payment-view" >
    <!-- Logo da organização -->
    <HeaderCircleButton v-bind:firstButton="true" :fb="backButton"  :visibleAt="-1" :showTitle="false" v-if="multComanda" />

    <div class="header-section">
      <div class='logo' :style="`background-image: url('${logo}'); padding-bottom:4rem;`"  @click="exitKiosk"></div>
      <div class="highlight">{{introductionMessageHighlight}}</div>
      <!-- <div class="normal" style="color: gray">{{introductionMessage}}</div> -->
    </div>

    <div class="description-section">
      <div v-if="multComanda" class="normal" style="font-size: 5.6vw;">Para acrescentar sua nova comanda, <span style="font-weight: bold">aproxime-a do leitor </span> e aguarde.</div>
      <div v-else @click="abreEmail" class="normal" style="font-size: 5.6vw;">Para pagar sua comanda, <span style="font-weight: bold">aproxime-a do leitor </span> e aguarde.</div>
      <div style="margin: 5vw auto 5vw;">
   
        <div @click="showLog" :style="`background-image: url('${barCodeImg}');`" class="ticket-img"></div>
        <!-- <font-awesome-icon :icon="['fas', 'rss']" style="color: var(--primary-color); font-size: 5rem; position: relative; top: -7.2rem; left: 0.8rem" /> -->
      <div @click="showLogTransaction" slot="footer" style="position: fixed; bottom: 0px; right: 0; height: 25vw; width: 25vw; display: flex; flex-flow: row-reverse; background: rgba(0,0,0, 0.34); border-top-left-radius: 100%;">
        <font-awesome-icon class='icon arrow-icon' :icon="['fas', 'long-arrow-alt-right']"  fixed-width style="color: white; margin: auto; height: 22.5vw;width: 16.5vw;transform: rotate(90deg) translateX(2vw) translateY(-3vw); "/>
      </div>
      </div>
      
    </div>
<!-- <div >
  <DefaultButton  v-if="multComanda" class="voltarPedido" nameButton="Voltar para o pagamento"  v-on:buttonCallBack="goToPedidoComanda()" style="
 position: absolute;
    right: 0%;
    bottom: 25%;
    min-width: 11%;
    /* width: 26%; */
    font-size: small;
    height: 5vw;
}" />
</div>  -->
         <ModalCodigo v-if="loadingComanda"   >
        <div slot="body">           
        <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%;font-size: 6rem;margin-bottom: 0rem;color: var(--primary-color);" spin/>
        carregando comanda...
      </div>
        </ModalCodigo> 
    <!-- <input v-model="barCode"> -->
    <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" >
      <div class="display-flex SIM" slot="body">
        {{msgModal}}
      </div>
      <div class="modal-button-container" slot="footer">
      <DefaultButtonOrd syle="height:4vh" name-button="OK" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="hideModal"/>
      </div>
    </ModalCodigo>

      <div class="log" @click="showMLog=false">
        
     <ModalCodigo v-if="showMLog" @close="showMLog = false" >
    <div slot="body">{{log}}</div>
        
     
      <div class="modal-button-container" slot="footer">
      <DefaultButtonOrd syle="height:4vh" name-button="OK" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="showMLog = false"/>
      <DefaultButtonOrd syle="height:4vh" name-button="apagar" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="apagaLog()"/>

      </div>
    </ModalCodigo>
    </div>
  </div>
</template>
<style>
.width-40{
  width: calc(50% - 1rem) !important;
}


 
  .ticket-payment-view .modal-button{
    height: 5vh;
    border-radius: 2rem;
    font-size: 3vh;
}


  .voltarPedido button{
    font-weight: bold;
    background-color: var(--primary-color);
    min-width: 25%;
    height: 50px;
    line-height: 20px !important;
    padding: 1px 2vw;
    border-radius: 2px;
    border: 6px solid var(--primary-color);
    color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 80%;
  }
  .ticket-payment-view .header-section{
    padding: 5vw 10vw; 
    font-size: 3vw; 
    display: flex; 
    flex-direction: column;
  }

  .ticket-payment-view .description-section{
    padding: 0 18vw; 
    margin-top: 20vw;
    font-size: 3vw; 
    display:flex; 
    flex-direction:column;
    font-size: 4vw;
  }

  .ticket-payment-view .clean-button button{
    font-size: 1.5rem !important;
  }

  .ticket-payment-view .login-form {
    background: white;
    border-radius: 1rem;
    padding: 3.5rem 0;
    box-shadow: 0px -1px 8px 3px #00000094;
    overflow-y: auto;
    font-size: 2rem;
    width: 75%;
    margin: auto;
    top: 25vh;
    position: relative;
  }

  .ticket-payment-view .shadow-section{
    height: 7.5rem; 
    background: linear-gradient(180deg, rgb(70,70,70,0.65) 0%, rgb(70,70,70,0.4) 65%, rgb(70,70,70,0) 100%);
  }


    .ticket-payment-view .new-button-2 {
        height: 10vw !important;
        border-radius: 5vw;
    }

    .ticket-payment-view .button-start {
        height: 10vw !important;
        border-radius: 5vw !important;
        margin: 1rem auto;
        width: 70%;
        font-size: 2rem !important;
    }

    .ticket-payment-view .button-start-50 {
        height: 10vw !important;
        border-radius: 5vw !important;
        margin: 1rem auto;
        width: 40%;
        font-size: 2rem !important;
    }

    .ticket-payment-view .new-button-2 button{
        height: 8vw !important;
        border-radius: 8vw !important;
    }




.ticket-payment-view .logo {
  height: auto;
  width: 30vw;
  margin: 2rem auto;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}


.ticket-payment-view {
  background: var(--background-color, white);
}

.ticket-payment-view .header-circle-button .logo{  
  filter: brightness(0) invert(1);
}



.ticket-payment-view .header-section .highlight {
  color: gray;
  font-weight: 800;
  font-size: 150%;
}

.ticket-payment-view  .ticket-img {
    width: 35vw;
    height: 47.5vw;
    margin: 2rem auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: inherit;
}

.ticket-payment-view  .ticket-img::after{
    content: "";
    width: 35vw;
    height: 47.5vw;
    position: absolute;
    margin: 0 auto;
    left: 0;
    background: var(--primary-color);
    mix-blend-mode: lighten;
}
</style>
<script lang="ts" src='../controllers/TicketPayment.ts'></script>
