<template>
    <div class="button-card-wrapper col s6">
        <div class="button-card waves-effect" v-on:click="handleClick">
            <a v-if="reports > 0" class="circle notificationsReport">{{reports}}</a>
            <img v-if="img" class="card-img" :src="img"/>
            <font-awesome-icon v-if="icon" class="card-icon" :class="'buttonCardIcon'" :icon="['fal',icon]" size="2x" fixed-width />
            <div v-show="carteiraDependentes" class="saldoClubePay">
                <span class="label-depedentes">{{labelDepedentes}}</span>
                <span class="card-text-saldo">Saldo MTC Pay</span>
                <span class="card-saldo" v-bind="money">{{valorSaldo}}</span>
            </div>
            <span class="card-label">{{label}}</span>
        </div>
    </div>
</template>

<style>
.buttonCardIcon {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.button-card-wrapper {
  margin: 6px 0 !important;
  padding: 0 6px !important;
}

.button-card {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  height: 20vh;
  position: relative;
  display: block !important;
}



.label-depedentes {
  font-weight: 500;
  font-size: 130%;
  white-space: pre-line;
  line-height: 1.6rem;
}

.card-text-saldo {
  font-size: 14px;
  color: #828282;
  margin-top: auto;
}

.card-saldo {
  color: #4f4f4f;
  font-size: 17px;
}

.button-card .card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-height: 1200px){

  .button-card .card-label {
    text-align: left;
    bottom: 5px;
    position: absolute;
    left: 10px;
    font-weight: 500;
    font-size: 130%;
    white-space: pre-line;
    max-width: 8rem;
    line-height: 1.6rem;
  }

  .button-card .card-icon svg {
    font-size: 2.4rem !important;
  }

  .button-card .card-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.5rem;
  }
}

@media (min-height: 1200px){
  .button-card .card-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30%;
  }

  .button-card .card-icon svg {
    width: 50% !important;
    height: 50% !important;
  }

  .button-card .card-label {
    text-align: left;
    bottom: 1rem;
    position: absolute;
    left: 1rem;
    font-weight: 500;
    font-size: 3.5rem;
    white-space: pre-line;
    line-height: 4rem;
  }
}


.saldoClubePay{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  padding: 12px;
}

</style>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { VMoney } from "v-money";

@Component({
  components: {
    VMoney
  },

  props: {
    label: String,
    icon: String,
    goTo: String,
    callback: Function,
    text: String,
    carteiraDependentes: Boolean,
    labelDepedentes: String,
    valorSaldo: String,
    reports: String,
    img: String
  }
})
export default class ButtonCard extends Vue {
  money: any = {
    decimal: ",",
    thousands: ".",
    prefix: "R$",
    suffix: "",
    precision: 2,
    masked: false /* doesn't work with directive */
  };

  handleClick() {
    if (this.$props.goTo) this.$router.push(this.$props.goTo);
    if (this.$props.callback) this.$props.callback();
  }
}
</script>