<template>
    <div>
        <div id="carousel-imagem" class="row carousel carousel-slider center margin-none">
            <div class="carousel-item" :id="list.id" v-for="list in lists" :key="list.id">
                <img :src="require(`../assets/${list.image}`)">
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        nameButton: String, classComponent: String, icon: String, classDiv: String, idComponent: String
    }
})

export default class Carousel extends Vue {
    mounted() {    
        const panel = document.querySelector('#carousel-imagem')  as HTMLElement;
        const carousel = M.Carousel.init(panel);
    }

    data() {
        return {
            lists: [
                { id: 'c2', message: 'Aproveite seu dia longe das filas.', image: 'eventos.jpg' },
                { id: 'c3', message: 'Aproveite seu dia longe das filas.', image: 'pscina.jpg' }
            ]
        };
    }
}
</script>

<style>
.carousel.carousel-slider .carousel-item {
    min-height: auto !important;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 214px !important;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.carousel .carousel-item > img {
    min-height: 100%;
}
</style>
