<template>
    <div :class="'compDatepicker'+classDiv">
        <div class="metade">
            <div class="date input-field margin-bottom-0">
                <input type="text" class="datepicker" :id="idComponent" v-model='value' @input="changeValue()" :disabled="disabledInput">
                <label v-bind:id="'l-' + idComponent" :for="idComponent"> {{pickerLabel}} </label>
                <span class="limpar-data" v-on:click="limparData">x</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        pickerLabel: String, idComponent: String, classDiv: String, disabledInput: String
    }
})

export default class DatePicker extends Vue {

    value: string = "";

    mounted () {
        var elems = document.querySelectorAll('.datepicker');
        
        var instances = M.Datepicker.init(elems, {});

        var datepickerOptions: any = { 
            firstDay: true, 
            format: 'dd/mm/yyyy',
            i18n: {
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
                weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                weekdaysAbbrev: ['D', 'S','T', 'Q', 'Q', 'S', 'S'],
                cancel: 'Cancelar',
                done: 'Ok',
            }
        };

        $('.datepicker').datepicker(datepickerOptions);

    }

    limparData() {
        $('#' + this.$props.idComponent).val('');
        $('#l-' + this.$props.idComponent).removeClass('active');
    }

    changeValue() {
        const data: any = {};
        data.name = this.$props.idComponent;
        data.value = this.value;
        this.$emit('parentVal', data);
    }
}
</script>

