<template>
    <div class="emptyStateDiv">
        <div class="emptyStateDivChild">
            <font-awesome-icon :aria-hidden="true" class="emptyStateIcon" :icon="[iconClass, icon]" fixed-width size="8x"/>
            <span class="emptyStateText">{{text}}</span>
            <span class="emptyStateDesc">{{desc}}</span>
        </div>
    </div>
</template>

<style>
.emptyStateDiv {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.emptyStateDivChild {
  display: flex;
  position: relative;
  flex-direction: column;
}

.emptyStateDivChild svg{
  color: gray;
  height: 6rem;
  width: 6rem !important;
}

.emptyStateImg {
  font-size: 8em;
  margin: 0 auto;
  opacity: 50%;
  width: 70px;
}

.emptyStateIcon {
  font-size: 6rem;
  margin: 0 auto;
}

.emptyStateText {
  font-size: 1em;
  padding: 15px 25px 0px 25px;
  color: gray;
  font-weight: bold;
}

.emptyStateDesc {
  font-size: 1em;
  padding: 8px 25px;
  color: rgba(0, 0, 0, 0.5);
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "../ts/Util";

@Component({
  props: { icon: String, iconClass: String, text: String, desc: String }
})
export default class EmptyState extends Vue {
  private img: string = "";

  mounted() {
    if (this.$props.image == "" || this.$props.image === null)
      this.img = Util.getImgUrl("placeholder", ".png");
    else this.img = Util.getImgUrl(this.$props.image, ".svg");
  }
}
</script>

