<template>
    <div class="card" v-on:click="clickEvent(favoriteId)">
        <div class="card-image">
            <img :src="imageCover">
        </div>
        <div class="card-event">
            <span class="card-title">{{name}}</span>
            <p class="card-info">{{location}}</p>
            <p class="card-date">{{initialDate}}</p>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        favoriteId: String, name : String, initialDate: String, location: String, imageCover: String, favoriteEvent: Function, clickEvent: Function
    }
})

export default class EventCalendar extends Vue {

}
</script>