<template>
    <li :id="id">
        <div class="three-options collection-item collapsible-header">
            <div :id="idIcon" class="item-left" :onload="iconColorExtrato(idIcon, icone)">
                <i class="material-icons">{{icone}}</i>
            </div>
            <div class="item-middle">
                <span class="titulo">{{titulo}}<span class="info-adicional">{{infoAdicional ? ' (' + infoAdicional + ')' : ''}}</span></span>
                <span class="dia">{{dia}}</span>
            </div>
            <div :id="idIcon" class="item-right">
                <span>{{valor}}</span>
            </div>
        </div>
        <div v-if="itens.length != 0" class="collapsible-body">
            <div class="content-collapse">
                <div style="display:flex; position:relative; color: #535050; padding: 0 15px; font-size: 1.1rem;"
                     v-for="item in itens"
                     :key="item.id">
                    <div> {{item.quantity}}x </div>
                    <div style="margin-left:35px; margin-right:auto;"> {{item.name}} </div>
                    <div> R${{item.unitaryPrice.toFixed(2)}} </div>
                </div>
            </div>
        </div>
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: { name: String, icone: String, idIcon: String, titulo: String, valor: String, dia: String, infoAdicional: String, itens: Array }
})

export default class ExtratoEventDetails extends Vue {

    mounted() {
            const elems = document.querySelectorAll('.collapsible');
            const instances = M.Collapsible.init(elems, {});           
    }

    iconColorExtrato(idIcon: any, icone: any) {
        setTimeout(function() {
            if (icone == 'arrow_downward') {
                const el : HTMLElement | null = document.getElementById(idIcon);
                if (el){el.className += " extrato-red";}
            } else {
                const el : HTMLElement | null =  document.getElementById(idIcon);
                if (el){el.className += " extrato-green";}
            };
        }, 50);
    }

}

</script>
<style>
.collapsible-header i{
    width: auto !important;
}
</style>
