<template>
    <nav class="invisible-header invisible">
        <div class="nav-wrapper">
            <div class="brand-logo left btn-side">
                <slot name="left">
                </slot>
            </div>
            <div class="brand-logo right btn-side">
                <slot name="right">
                </slot>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: ['desiredScrollTop'],
    components: { }
})

export default class InvisibleHeader extends Vue {
    mounted() {
        window.scrollTo(0, 0);
        window.addEventListener('scroll', this.scroll);
    }

    beforeDestroy() {
        /* Removendo event listener ao sair da tela */
        const w:any = window;
        if (w.removeEventListener) { 
            w.removeEventListener('scroll', this.scroll);
        } else if (w.detachEvent) {
            w.detachEvent('scroll', this.scroll);
        } else {}
    }
    scroll(event: any) {
        const nav: any = document.querySelector('nav');
        const categoryName: any = document.querySelector('.category-name.title a');
        const w: any = window;
        if (nav) {
            if(w.pageYOffset >= this.$props.desiredScrollTop) {
                nav.classList.add('visible');
                nav.classList.remove('invisible');
                categoryName.classList.add('visibleHeader');
            } else {
                nav.classList.add('invisible');
                nav.classList.remove('visible');
                categoryName.classList.remove('visibleHeader');
            }
        }
    }
}

</script>