<template>
  <div v-if="visible" class="mainLoading container-fluid">
    <div
      style="width: 100%;display: flex;height: fit-content;position: absolute;top: 0;height: 100%;left: 0;"
    >
      <div style="margin: auto;display: flex;flex-direction: column; padding: 6px">
        <i
          id="loadingIcon"
          class="material-icons"
          :class="{
                'animationOn' : animationOn,
                'colorSuccess':colorSuccess,
                'colorError':colorError,
                'colorLoading': colorLoading
            }"
          style="font-size: 450%;"
        >{{icon}}</i>
        <span
          style="margin: 20px auto 10px auto;font-size: 1.8em; color: black; font-weight: 125; padding: 10px;"
        >{{msg}}</span>
        <span
          v-show="notLoading"
          style="text-decoration: underline; margin: 30px auto 10px auto;font-size: 1.2em; color: black; font-weight: 125; padding: 10px;"
        >Clique para continuar</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
.mainLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99999999999;
}

.alignCenter {
  display: flex;
  justify-content: center;
  flex-direction: space-between;
}

.animationOn {
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.colorSuccess {
  color: #0fe40f;
}

.colorError {
  color: #ce1010;
}

.colorLoading {
  color: #e47e07;
}
</style>

<script lang="ts" src="../controllers/LoadingPhases.ts"></script>   


