<template>
    <div class="modal-mask">
        <div class="modal-wrapper" >
            <div class="modal-container slide-modal-open" id="modal">
                <div class="modal-header row margin-none">
                    <slot name="header">
                        <CircleButton classDiv="modal-back-button" iconClass='fal' icon='chevron-left' v-on:buttonCallBack="close" v-if="dismissable"/>
                        <!-- <div class='logo' :style="`background-image: url('${logo}'); padding-bottom:4rem;`"></div> -->
                    </slot>
                    <div class="modal-body row margin-none">
                        <slot name="body">
                            <p v-if="content">{{content}}</p>
                        </slot>
                    </div>
                    <div class="modal-footer row margin-none">
                        <div class="modal-description row margin-none">
                            <slot name="footer">
                                <p v-if="description">{{description}}</p>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Util from '../ts/Util';
import CircleButton from '../../../shared-components/CircleButton.vue'

@Component({
    props: {
        icon: String, 
        content: String, 
        description: String, 
        logo: {type: String, 
        default: null}, 
        dismissable: {type: Boolean, default: true}
    },
    components: { CircleButton }
})
export default class ModalCodigo extends Vue {
   listener: EventListener = Util.getBackButtonBehavior();

    mounted(){
        Util.setBackButtonBehavior(this.close)
    }

    close() {
        let elem = $('.sidenav');
        const self = this;
        Util.setBackButtonBehavior(this.listener);
        this.$emit('close');
    }

}
</script>