<template>
  <div>
    <li class="three-options" v-on:click="click ? click(idIcon) : () => {}">
      <div :id="idIcon" class="row">
          <div class="leftCol col s6" style="display: flex; flex-direction: column;">
            <span class="row nameTitle"
              style="margin: 0 0 10px 0; display: flex; flex-direction: column;">{{name}}</span>
            <span class="row descInfo" style="margin: 0; display: flex;"> 
              <img src="../assets/location-pin.svg" class="iconLocation">
              <span style="display: flex; flex-direction: column; justify-content: center;">{{desc}}</span>
            </span>
          </div>
          <div class="col s6">
            <span v-bind:class="{
                'row': true,
                'statusCol': true,
                'inscrito': status === 'INSCRITO',
                'confirmado': status === 'CONFIRMADO',
                'matriculaDisponivel': status === 'MATRÍCULA DISPONÍVEL',
                'filaEspera': status === 'FILA DE ESPERA',
                'matriculado': status === 'MATRICULADO'
                }">
                {{status}}</span>
            <p class="smaller col s12">{{dataTurma[0]}}</p>
            <p style="margin-top: 5px" class="smaller col s12">{{dataTurma[1]}}</p>
          </div>
      </div>
    </li>
  </div>
</template>

<style scoped>
.leftCol {
  width: 50% !important;
  text-align: left !important;
  line-height: 125%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 10px!important;
}

.descInfo {
  padding: 0;
  font-size: 1.1em;
  color: black;
  text-transform: uppercase;
}

.nameTitle {
  padding-left: 0.5rem;
  font-size: 120%;
  color: var(--primary-color);
}

.info-adicional {
  font-size: 75%;
}

.smaller {
  font-size: 90%;
  font-weight: 300;
  text-align: right;
  margin-right: 0.5px !important;
}

p.smaller {
  margin: 0;
  padding: 0;
}

@media(max-width: 390px){
  .smaller{
    padding-left: 1em !important;
  }
}

@media (min-width: 391px) {
  .smaller{
    padding-left: 3em !important;
  }
}

.statusCol {
  font-size: 90%;
  font-weight: 600;
  float: right;
  margin-bottom: 5px !important;
  margin-right: 0.1em !important;
  color: #d68c05;
}

.filaEspera {
  margin-left: 4em !important;
  margin-right: 0.1em !important;
}

@media(max-width: 365px){
  .filaEspera {
    margin-left: 3em !important;
  }

}

@media (min-width: 366px) {
  .filaEspera {
    margin-left: 4em !important;
  }
}


.matriculado {
  margin-left: 4em !important;
  margin-right: 0.1em !important;
  color: green!important;
}

.numeroInscritos{
  font-weight: 300;
}

.inscritos {
  font-size: 100%;
  font-weight: 250;
  float: right;
  margin-bottom: 15px !important;
}

.inscrito { 
    margin-left: 8em !important; 
    color: green!important;
}

.confirmado {
    color: green!important;
}

.matriculaDisponivel {
  color: #0BAD07!important;
  margin-right: 0.1em !important;
}

.iconLocation {
  width: 25px; 
  height: 25px; 
  position: relative;
  right: 2px;
}

@media (max-width: 350px){
  
  .desc {
    font-size: 90%;
  }

  .optionCol {
    width: 30%;
  }

}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Util from "../ts/Util";

@Component({
  props: {name: String, desc: String, date: String, image: String, click: Function, idIcon: String, status: String, inscritos: Number}
})

export default class OptionListInfos extends Vue {
  private img: string = "";
  private icon: string = "";
  private dataTurma: any = [];
  arrayData: any = [];

  mounted() {
    if (this.$props.image == '' || this.$props.image === null) this.img = Util.getImgUrl("placeholder", ".png");
    else if(this.$props.image == 'sports') {
      this.img = Util.getImgUrl("waitline", ".svg");
    }
    else this.img = this.$props.image;

    this.dataTurma = this.$props.date.split('-');
    
  }

}
</script>