<template>
    <div class="orderItem">
        <div class="esquerda" style="text-overflow: ellipsis; overflow: hidden; font-size: 4vw;">
            <span style="font-weight: 500; display: flex; flex-direction: column; justify-content: center; text-align: left; color: dimgray">{{amount}}x</span>
        </div>
        <div class="meio pedido" style="text-overflow: ellipsis; overflow: hidden; font-size: 4vw;">
            <span class="" style="font-weight: 500; display: flex; flex-direction: column; justify-content: center; text-align: left">{{productName}}</span>
            <div v-for="extra in extras" v-bind:key="extra.extraId">
                <div style="font-size: 0.85em; text-align: left" v-for="option in extra.selectedOptions" v-bind:key="option.id">
                    <span>
                        {{option.name}}
                    </span>
                    <span>
                        {{option.price ? ' (R$' + option.price.toFixed(2) + ')' : ''}}
                    </span>
                </div>
            </div>
        </div>
        <div class="direita">
            <span class="item-price" style="font-weight: 500;">{{'R$' + (Number.parseFloat(price) * Number.parseFloat(amount)).toFixed(2)}}</span>
        </div>
        <font-awesome-icon v-if="click" v-on:click="click(itemId)" style="color: red; float: right; margin: auto 0; height: 5vw; width: 8vw; margin:10px 0;  padding-left:0.6em" class="card-icon" :class="'buttonCardIcon'" :icon="['fal','trash-alt']" size="1x" fixed-width/>
    </div>
</template>
<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator'

    @Component({
        props: ['itemId', 'productId', 'productName', 'extras', 'amount', 'price', 'click'],
        components: { }
    })

    export default class OrderItem extends Vue {
        
    }
</script>
<style>
.orderItem {
    display: flex;
    margin: 0 10px;
    border-bottom: 1px solid rgba(11,11,11,.3);
    padding: 0 10px;
}

.orderItem .esquerda {
    color: green;
    font-size: 1.2rem;
}

.orderItem .esquerda, .orderItem .direita {
    display: flex;
    height: auto;
    padding: 10px 0;
    align-self: flex-start;
    font-size: 1.2rem;
}

.orderItem .esquerda{
    width: 10%;
}

.orderItem .direita{
    width: 20%;
}

.orderItem .esquerda *, .orderItem .meio *, .orderItem .direita * {
    margin: auto 0;
}

.orderItem .meio.pedido {
    display: flex;
    height: auto;
    width: 60%;
    padding: 10px 0;
    color: dimgrey;
    flex-direction: column;
    font-size: 1rem;
}

.orderItem .item-price {
    height: auto;
    color: dimgrey;
    font-size: 4vw;
    margin-left: auto !important;
}
</style>