<template>
    <div style="width: 100%">
        <div :slideId="orderId" class="slide-order" v-on:click="click ? click(orderId) : function() { }" >
            <div style="position:relative;">
                <i class="material-icons iconeExpandOrder" style="position: absolute;left: 47%;top: -17px;color:black;">expand_less</i>
                <div class="overflow-text" style="text-align: center; margin-top: 8px;">
                    <span class="store-name">Seu pedido em {{storeName}}</span><br/>
                </div>
                <div style="display: inline-block; width: 45%;" class="overflow-text">
                    <span class="order-status-label indicatorNumeric">Status: </span>
                    <span class="order-status indicatorNumeric">{{orderStatus}}</span><br/>
                </div>
                <div style="display: inline-block; width: 10%; text-align:center;" class="overflow-text">
                    <span class="indicatorNumeric" style="color:#646363;">{{orderIndex + 1}}/{{ordersAmount}}</span>
                </div>
                <div style="display: inline-block; width: 45%; text-align: right" class="overflow-text">
                    <span class="order-id indicatorNumeric">Pedido n° {{orderId}}</span>
                </div>
            </div>
            <div style="margin-top:17px;">
                <div style="display: flex; justify-content: space-evenly; margin-bottom: 10px;">
                    <div style="display:flex; width: 60px; height: 60px; position: relative; background-color: #c1c1c1; border-radius: 50%;"><img style="width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 50px;" :src="orderStoreLogo"></div>
                    <div style="display:flex; flex-direction: column; justify-content: center; margin-left: 10px;">
                        <div style="font-size: 1.1em;">
                            <span class="black-text">Pedido </span>
                            <span class="value black-text">{{orderId}}, </span>
                            <span class="value black-text">{{orderStatus}}</span>
                        </div>
                        <span class="value black-text"> {{dateTime}}</span>
                        <span class="value black-text">{{paymentMethodName}}</span>
                        <div style="font-size: 1.1em;">
                        <span v-if="deliverTo=='T'" class="value black-text">Entregar em {{structure}}</span>
                        <span v-if="deliverTo!='T'" class="value black-text">Retirada no balcão</span>
                    </div>
                    </div>
                </div>
                <!-- <div class="infos-container" style="text-align:center;">
                    <div style="display:flex; justify-content: space-evenly;">
                        <div style="font-size: 1.1em;">
                            <span class="black-text">Pedido </span>
                            <span class="value black-text">{{orderId}}, </span>
                            <span class="value black-text">{{orderStatus}}</span>
                        </div>
                    </div>
                    Forma de Pagamento
                    <div v-if="paymentMethodName" style="font-size: 1.1em;">
                        <span class="value black-text">{{paymentMethodName}}</span>
                    </div>
                    Forma de Entrega
                    <div style="font-size: 1.1em;">
                        <span v-if="deliverTo=='T'" class="value black-text">Entregar em {{structure}}</span>
                        <span v-if="deliverTo!='T'" class="value black-text">Retirada no balcão</span>
                    </div>
                </div> -->
                <div class="items-container orderInProgress">
                    <TextLink style="font-size: 1.2rem !important;" classDiv="row padding-orders category-name" link-label="Itens: " class-component="primary-color message items-table"/>
                    <OrderItem :itemId="item.id" :productName="item.name" :extras="item.extras" :price="item.total && item.quantity ? (item.total / item.quantity).toFixed(2) : ''" :amount="item.quantity" v-for="item in itens" :key="item.id"></OrderItem>
                    <!-- Total -->
                    <div style="margin: 10px">
                        <span class="bold" style="float: left">Total: </span>
                        <span style="float: right" v-if="orderTotal" class="value">{{'R$' + orderTotal.toFixed(2)}}</span>
                    </div>
                </div>
                <div class="row details" style="display: flex; position: relative;">
                    <div v-if="initialSatus == orderStatusDuring" style="margin: 0 auto; display:flex;"><i class="material-icons" style="color:red; display:flex; flex-direction:column; justify-content:center;">delete_sweep</i><span v-on:click="cancelOrder(orderId)" style="color:red; display: flex; flex-direction: column; justify-content: center; margin-left: 5px;">Cancelar</span></div>
                    <div style="margin: 0 auto; display:flex;"><i class="material-icons" style="display: flex; flex-direction: column; justify-content: center; max-width: 30px;">list_alt</i><span v-on:click="orderDetail(orderId)" style="">Ver Detalhes</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import TextLink from '../components/TextLink.vue';
import OrderItem from '../components/OrderItem.vue';


@Component({
    props: {
        orderId: Number, storeName: String, orderStatus: String, dateTime: String, paymentMethodName: String, structure: String, orderDetail: Function, deliverTo: String, orderIndex: Number, orderStoreLogo: String, ordersAmount: Number, click: Function, cancelOrder: Function, initialSatus: Number, orderStatusDuring: Number, itens: Array
    },
    components: {TextLink, OrderItem}
})

export default class OrderInProgress extends Vue {

}
</script>

<style>

.orderInProgress{
    min-height: 200px;
    max-height: 200px;
}

.orderInProgress > .orderItem > .esquerda{
    font-size: 1.1rem !important;
}

.orderInProgress > .orderItem > .meio.pedido{
    font-size: 1.1rem !important;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.orderInProgress > .orderItem > .direita > .preco{
    font-size: 1.1rem !important;
}

.slide-order .order-label {
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}

.slide-order .store-name {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: black;
}

.slide-order .order-status-label {
    font-size: 1.1rem;
    color: #646363;
}

.slide-order .order-status {
    font-size: 1.1rem;
    color: #646363;
}

.slide-order .order-counter {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 0.9rem);
    color: black;
}

.slide-order .order-id {
    color: #646363;
    font-size: 1.1rem;
}

.text-align-center{
    text-align: center;
}

#pedidos-em-andamento > ul:last-child > .indicator-item{
    background-color: #0000004d;
}

#pedidos-em-andamento > ul:last-child > .indicator-item.active{
    background-color: black;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.font-11{
    font-size: 1.1rem !important;
}

.font-normal{
    font-weight: normal !important;
}

</style>