<template>
    <div class="product-list">
        <a :href="'#'+productId"></a>
        <div v-bind:class="{'direita': true, 'full-width': !imageSource}" >
            <div class="titulo" v-on:click="click(productId, productPrice)">{{productName}}</div>
            <!-- <div class="conteudo" v-on:click="click(productId, productPrice)">{{productInfo}} </div>   -->
            <div class="product-list-row" v-on:click="click(productId, productPrice)">
                <div  :class="{'preco direita': true}">{{'R$' + productPrice.toFixed(2).replace('.', ',')}}</div> 
                <!-- <DefaultButtonOrd classDiv="add-product-button-container left-button" :classComponent="productQuantity ? 'waves-effect hasQuantity' : 'waves-effect zeroQuantity'" :nameLeft="'R$' + productPrice.toFixed(2)" :nameRight="productQuantity ? productQuantity:''" nameButton="Adicionar" v-on:buttonCallBack="addProduct" /> -->
            </div>
        </div>
     <div v-on:click.self="click" class="esquerda waves-effect" style="border-radius: 0rem;  border-top-left-radius: 0.5rem;
     border-top-left-radius: 0.5rem;" >
                <img v-if="imageSource" :src="imageSource" v-on:click.self="click" >
                <font-awesome-icon v-else class='icon' v-on:click="click" :aria-hidden="true" :icon="['fal', 'burger-soda']" size="1x" style="color: var(--primary-color); margin: auto; width: 10vw; height: 10vw; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"/>
                <!-- <div class='preco' style="font-size: 2vw;font-weight: 300;text-align: center;position: absolute;bottom: 0px;background-color: rgba(10, 23, 55, 0.5);width: -webkit-fill-available;color: white;height: 4vw;}"> {{'R$' + ((productQuantity||1)*productPrice).toFixed(2).replace('.', ',')}}</div> -->
                <div class='badge' v-if="productQuantity">{{productQuantity}}</div>
                <div class='retirar' v-if="productQuantity" v-on:click="ret">-</div>
        </div>
    </div>
</template>


<style>
.product-list .product-list-col{
    display: flex;
    flex-direction: column;
    position: relative;
    /* max-height: 6.4rem; */
}
.product-list .altera-quantidade{
flex-direction:row-reverse; 
display:flex; 
font-size: 4vw;
height: 3rem;
}
.product-list .product-list-row{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    /* max-height: 6.4rem; */
}
/* .product-list .product-list-row .adicionar{
    
} */
.product-list .product-list-row .titulo{
    /* overflow: hidden; */
    color:white;
}
.product-list .product-list-row .retira{
   
    width: 3.5rem;
    font-size: 5vw;
}
.product-list .product-list-row .adiciona{
    
    width: 3.5rem;
    font-size: 5vw;

}
.product-list .left-button{
    display: flex;
    height: 3.5rem;
    margin: auto 0;
    padding: 0.5rem 0;
}

.product-list .left-button button{
    height: 2rem;
    border-radius: 0.25rem;
    border: unset;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem !important;
    line-height: 0.7rem !important; 
    box-shadow: unset;
    margin: auto;
}

.product-list .badge {
    position: absolute;
    z-index: 10;
    background: var(--primary-color);
    border-bottom-left-radius: 100%;
    color: var(--background-color, white);
    padding: 0.5vw 2.5vw;
    font-size: 3vw;
    text-align: left;
    font-weight: 800;
    top: 0;
    right: 0;
    width: 6vw;
    height: 6vw;
}
.product-list .retirar {
    position: absolute;
    z-index: 10;
    background: #e60e0e;
    border-top-right-radius: 100%;
    color: var(--background-color, white);
    padding: 0.5vw 0.5vw;
    font-size: 5vw;
    text-align: center;
    font-weight: 800;
    /* top: 0; */
    /* right: 0; */
    left: 0;
    bottom: 0;
    width: 6vw;
    height: 6vw;
}
.product-list .esquerda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    height: 20vw;
    border-top-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    /* border-radius: 1rem; */
    -webkit-box-shadow: 0rem 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.24);
    box-shadow: 0rem 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.24);
    z-index: 0 !important;
}





@media (max-height: 600px){
    .product-list .left-button button.zeroQuantity, .product-list .left-button button.hasQuantity:hover{
        background-color: var(--background-color, white) !important;
        border: solid 0.05rem var(--primary-color) !important;
        color: var(--primary-color);
        min-width: 8rem;
        z-index: 0 !important;
    }
    .product-list .left-button button{
    height: 2rem;
    border-radius: 0.25rem;
    border: unset;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem !important;
    line-height: 0.7rem !important; 
    box-shadow: unset;
    margin: auto;
    }
    .product-list .left-button button.hasQuantity, .product-list .left-button button.hasQuantity:hover{
    color: var(--background-color, white) !important;
    background-color: var(--primary-color) !important;
    min-width: 10rem;
    z-index: 0 !important;
}
}

@media (min-height: 600px){
    .product-list .left-button button.zeroQuantity, .product-list .left-button button.hasQuantity:hover{
        background-color: var(--background-color, white) !important;
        border: solid 0.2rem var(--primary-color) !important;
        color: var(--primary-color);
        min-width: 18rem;
        z-index: 0 !important;
    }
    .product-list .left-button button{
    height: 3rem;
    border-radius: 0.25rem;
    border: unset;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem !important;
    line-height: 1.7rem !important; 
    box-shadow: unset;
    margin: auto;
    }
    .product-list .adicionar {
       height: 5vw;
        width: 20vw;

    }
    .product-list .left-button button.hasQuantity, .product-list .left-button button.hasQuantity:hover{
        color: var(--background-color, white) !important;
        background-color: var(--primary-color) !important;
        min-width: 22rem;
        z-index: 0 !important;
    }
}



</style>

<script lang='ts'>
    import { Component, Prop, Vue } from 'vue-property-decorator' 
    import DefaultButtonOrd from './DefaultButtonOrd.vue'  

    @Component({
        props: ['productId', 'productName', 'productInfo', 'imageSource', 'click','ret', 'productPrice', 'productQuantity'],
        components: {DefaultButtonOrd }
    })

    export default class Product extends Vue {
        addProduct() {
            this.$emit('addProduct');
        }
    }
</script>