<template>
  <div :id="modalId" class="qr-image-modal" v-on:click="closeModal">
    <div class="modal-qr-wrapper">
      <div class="close-qr-image-modal" v-on:click="closeModal">
        <font-awesome-icon class="secudary-color" :icon="['fal', 'times']" size="2x" />
      </div>
      <div class="qr-image-header caption">
        <img v-if="order.storeLogo" class="qr-image-logo" :src="order.storeLogo" />
        <div class="qr-image-title">{{order.storeName}}</div>
      </div>
      <div class="qr-image-orders caption" style="{width:100%; text-align: left; font-size: 1.5rem; font-weight:500; }">Produtos:</div>
      <div class="qr-image-orders caption" v-if="order.items && order.items.length < 4">
          <div class="qr-image-order-item caption" v-for="item in order.items" :key="item.itemId">
              <div class="esquerda">{{item.quantity}}x </div >
              <div class="direita">{{item.name}} </div>
          </div>
      </div>
      <div class="qr-image-orders caption" v-else-if="order.items">
          <div class="qr-image-order-item caption" v-for="item in order.items.slice(0,2)" :key="item.itemId">
              <div class="esquerda">{{item.quantity}}x </div >
              <div class="direita">{{item.name}} </div>
          </div>
          <div class="qr-image-more-itens">+{{order.items.length - 2}} itens</div>
      </div>
      <img class="qr-image-modal-content" :src="imageName" />
      <!-- <p class="qr-image-modal-content">{{imageName}}</p> -->
      <div class="qr-image-info-extra caption">{{subsubtitle}}</div>
      <div class="qr-image-info caption">{{getOrderValue()}}</div>
      <div class="qr-image-info-extra caption">
        <!-- <div class="direita">
            <font-awesome-icon class="secudary-color" :icon="['fas', 'location-arrow']"  />
          {{getOrderDeliveryLocation()}} 
        </div> -->
      </div>
    </div>
  </div>
</template>
<style>
.qr-image-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--background-color,white); /*Fallback color */
  /* background: linear-gradient(0deg, var(--background-color,white) 0%, var(--primary-color) 130%); */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.6s;
  animation-name: fade;
  animation-duration: 0.6s;
}

/* Modal Content (image) */
.qr-image-modal-content {
  margin: 5vh auto;
  display: block;
  width: 30vh;
  max-width: 300px;
  border-radius: 1rem;
  box-shadow: var(--primary-color) 0 0 0.5rem 0.1rem;
}


.modal-qr-wrapper {
  margin: 1rem 1rem 1rem;
  width: 100%
}

/* Add Animation */
.qr-image-modal-content,
.caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* The Close Button */
.close-qr-image-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  transition: 0.6s;
  /* border: var(--background-color) solid 0.15rem; */
  /* background-color: var(--primary-color); */
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 3rem;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.qr-image-header {
  color: black;
  /* background: rgba(0, 0, 0, 0.7); */
  margin: 0 auto 0;
  border-radius: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
}

.qr-image-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  width: calc(100% - 2.5rem - 1rem);
  line-height: 5rem;
  max-height: 5rem;
  overflow: hidden;
  text-align: left;
  padding-left: 1rem;
}

.qr-image-logo {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 100%;
  box-shadow: var(--primary-color) 0 0 0.15rem 0.15rem;
  border: solid 0.2rem white;
  /* border-top-right-radius: 4vmin;
  border-bottom-right-radius: 4vmin; */
  /* border-top-left-radius: 2vmin;
  border-bottom-left-radius: 2vmin; */
}

.qr-image-info {
  color: white;
  background: var(--primary-color);
  font-size: 2rem;
  font-weight: 400;
  margin: 0.5rem auto 0;
  border-radius: 2rem;
  width: 100%;
}

.qr-image-info-extra {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem auto 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.qr-image-orders {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem auto 0;
  width: 100%;
  max-height: 13.5vh;
  overflow-y: scroll;
}

.qr-image-order-item {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.qr-image-order-item .esquerda{
  width: 20%;
  text-align: right;
}

.qr-image-order-item .direita{
  width: 60%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.qr-image-more-itens{
    color: var(--primary-color);
    text-align: center;
    font-weight: 500;
}
</style>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import OrderItem from "./OrderItem.vue";
import Util from '../ts/Util';

@Component({
  components: {
      OrderItem
  },
  props: {
    imageName: String,
    modalId: String,
    onClose: {
      default: ()=>{},
      type: Function
    },
    title: {
      default: "",
      type: String
    },
    subtitle: {
      default: "",
      type: String
    },
    subsubtitle: {
      default: "",
      type: String
    },
    order: {
      default: () => {
        return {};
      },
      type: Object
    }
  }
})
export default class QRCodeImg extends Vue {
  public static listener: EventListener = Util.getBackButtonBehavior();

  mounted(){
      Util.setBackButtonBehavior(this.closeModal)
  }

  public static openModal(modalId: string) {
    var modal: any = document.getElementById(modalId);
    modal.style.display = "flex";
  }

  public static closeModal(modalId: string) {
    var modal: any = document.getElementById(modalId);
    Util.setBackButtonBehavior(this.listener);
    modal.style.display = "none";
  }

  public closeModal() {
    // if (!this.$props.onClose || !!this.$props.onClose()) {
      var modal: any = document.getElementById(this.$props.modalId);
      if (this.$props.onClose) this.$props.onClose();
      modal.style.display = "none";
    // }
  }

  public getOrderValue() {
      return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 2 }).format(this.$props.order.total);
  }

  public getOrderDeliveryLocation() {
    if(this.$props.order.deliverTo == 'B') return 'Pegar no balcão'
    else if(this.$props.order.deliverTo == 'T') return 'Entrega na mesa'
  }

  beforeDestroy() {
    var modal: any = document.getElementById(this.$props.modalId);
  }

  getImgUrl(imageName: string) {
    var images = require.context("../assets/", false, /\.png$/);
    return images("./" + imageName + ".png");
  }
}
</script>