<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div style="padding:20px" class="modal-container slide-modal-open" id="modalPwd">
                <div class="modal-body row margin-none">
                    <p slot="body" style="margin-bottom: 0;">Digite sua senha:</p>

                    <input slot="body" id="PASSWORD" type="password" style="text-align: center; margin-bottom: 20px;" v-model="passwordValue" v-on:keyup="storePwd(passwordValue)"/>
                    <p v-if="passwordWrong" slot="body" style="color: red; margin-top: 0;">Senha incorreta.</p>

                    <DefaultButtonOrd slot="footer" name-button="CANCELAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="closeThis"/>
                    <DefaultButtonOrd slot="footer" name-button="FINALIZAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="afterPasswordRequest"/>
                </div>
            </div>
        </div>
    </div>   
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import DefaultButtonOrd from '../components/DefaultButtonOrd.vue';

@Component({
    props: { closeThis: Function, passwordWrong: Boolean, afterPasswordRequest: Function },
    components: { DefaultButtonOrd }
})

export default class RequestPwd extends Vue{
    passwordValue: any = '';

    storePwd(pwd: any) {
        localStorage.setItem('CONFIRM_PASSWORD', pwd);
    }
}
</script>