<template>
    <div :class="classComponent + ' section-title left-align'">
        <span class="card-title margin-left-10">{{titleText}}</span>
    </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: {classComponent: String, titleText: String}
})

export default class SectionArea extends Vue{
}
</script>