<template>
    <div v-bind:id="'slide-' + slideId" class="carousel-item" href="#">
        <slot name="slideContent"></slot>
    </div>
</template>

<script lang="ts" >
import Vue from 'vue';
import { Component } from 'vue-property-decorator';


@Component({
    props: {
        slideId: String
    }
})

export default class SliderItem extends Vue {

}
</script>