<template>
    <div :id='squareId' style="display: flex">
        <div>
            <p>TESTE ME EXIBA</p>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: { squareId: String, namePartner: String, imageSource:String, flag: String}
})

export default class SquareCards extends Vue {

}

</script>

