<template>
<div ref="modalDependent"
    class="modalDependent modal-container slide-modal-open"
    :data-state="isMove ? 'move' : state"
    :style="{ top: `${isMove ? y : calcY()}px` }" :data-open="state === 'open' ? 1 : 0">
 
    <div class="contents">
      <slot></slot>
    </div>
</div>
</template>

<script>
import Hammer from "hammerjs"
import { Vue, Component } from 'vue-property-decorator';

@Component({
    props: {
        openY: {
        type: Number,
        default: 0.1
        },
        halfY: {
        type: Number,
        default: 0.8
        },
        defaultState: {
        type: String,
        default: "close"
        }
    }
})
export default class SwipeableBottomSheet extends Vue {
    
    mc = null;
    y = 0;
    startY = 0;
    isMove = false;
    state = this.defaultState;
    rect = {};

    mounted () {
        window.onresize = () => {
        this.rect = this.$refs.modalDependent.getBoundingClientRect()
        }
        this.rect = this.$refs.modalDependent.getBoundingClientRect()

        this.mc = new Hammer(this.$refs.pan)
        this.mc.get('pan').set({ direction: Hammer.DIRECTION_ALL })

        this.mc.on("panup pandown", (evt) => {
        this.y = evt.center.y - 16
        })

        this.mc.on("panstart", (evt) => {
        this.startY = evt.center.y
        this.isMove = true
        })

        this.mc.on("panend", (evt) => {
        this.isMove = false

        switch (this.state) {
            case "open":
            if (this.startY - evt.center.y < -120) {
                this.state = "open"
            }

            if (this.startY - evt.center.y < -50) {
                this.state = "close"
            }
            break;
        }
        })
    }

    beforeDestroy () {
        this.mc.destroy()
        window.onresize = null
    }
    
    calcY () {
      switch (this.state) {
        case "close":
          return this.rect.height
        case "open":
          return this.rect.height * this.openY
        default:
          return this.y
      }
    }

    setState (state) {
      this.state = state
    }
}
</script>

<style lang="scss" scoped>
.wrapper[data-open="1"] {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper[data-open="1"] .bg {
  display: block;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.modalDependent {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px 12px 0 0;
}

.modalDependent[data-state="half"], .modalDependent[data-state="open"], .modalDependent[data-state="close"] {
  transition: top .3s ease-out;
}

.modalDependent[data-state="close"] {
  box-shadow: none;
}

.bar {
  width: 45px;
  height: 8px;
  border-radius: 14px;
  background: rgba(0, 0, 0, .3);
  margin: 0 auto;
  cursor: pointer;
}

.pan-area {
  padding: 12px 0;
}

.contents {
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: calc(100vh * 0.2);
  box-sizing: border-box;
}
</style>