<template>
    <div :class="classDiv">
        <p :class="classComponent">{{linkLabel}}</p>
        <i class="material-icons">{{icon}}</i>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {
        linkLabel: String, classComponent: String, icon: String, classDiv: String
    }
})

export default class TextArea extends Vue {
}
</script>

<style>
</style>

