<template>
    <div :class="'compTextLink '+classDiv" v-on:click="click ? click() : function() { }">
        <div style="display: inline-block !important;" class="vertical_align_center rs"><a :class="classComponent">{{linkLabel}}</a><a :class="classComponent2">{{linkLabel2}}</a></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
    props: {click: Function, linkLabel: String, linkLabel2: String, classComponent: String, classComponent2: String, classComponentIcon: String, linkHref: String, icon: String, classDiv: String }
})

export default class TextBegin extends Vue {
}
</script>