<template>
    <li class="three-options-qr-item" >
        <div v-if="icone" :id="idIcon" class="item-left" >
            <i class="material-icons">{{icone}}</i>
        </div>
        <div v-if="imageUrl" class="three-options-qr-left" v-on:click="click(idIcon)">
            <img style="width: 4rem; height: 4rem; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 100%;" :src="imageUrl" />
        </div>
        <div class="three-options-qr-middle" v-on:click="click(idIcon)">
            <p> {{titulo}} </p>
            <p class='dia' :style="'color:' + statusColor"> {{status}} </p>
            <p class="price" style="color: var(--secundary-color);">{{valor}}</p>
            <p class="dia">{{dia}}</p>
        </div>
        <div :id="idIcon" class="three-options-qr-right" v-on:click="openQrCodeModal" v-if="!isFinished">
            <font-awesome-icon class='secudary-color' :icon="['fal', 'qrcode']" size="2x"/>
        </div>
        <!-- <QRCodeImg :modalId="qrCode" :imageName="getQrImage()" :subsubtitle="'Utilize o código acima para retirar seu pedido'"  /> -->
    </li>
</template>

<script lang='ts'>
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import QRCodeImg from "./QRCodeImg.vue";

@Component({
    components: {QRCodeImg},
    props: { icone: String, imageUrl: String, idIcon: String, titulo: String, status: String, valor: String, dia: String, click: Function, isFinished: Boolean, statusColor: String, qrCode: String }
})
export default class ThreeOptionsListOrd extends Vue {
    qrCodeImage: string = ""; 

    iconColorExtrato(idIcon:any, icone:any) {
        setTimeout(function() {
            if (icone == 'arrow_downward') {
                const el : HTMLElement | null = document.getElementById(idIcon);
                if (el){el.className += " extrato-red";}
            } else {
                const el : HTMLElement | null =  document.getElementById(idIcon);
                if (el){el.className += " extrato-green";}
            };
        }, 1);
    }

    openQrCodeModal(){
        this.$emit('viewQrCode', this.$props.qrCode)
    }

}

</script>

<style>

/* #em_andamento > div > ul > li:nth-child(1){
    border-top: 1px solid #e0e0e0 !important;
} */

.collection {
    width: 95%;
    border-left: 0 !important;
    border-right: 0 !important;
}

.three-options-qr-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0.5rem !important;
    min-height: 4rem;
    /* height: 6rem; */
    background-color: #fff;
    line-height: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.three-options-qr-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.three-options-qr-middle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500 !important;
    text-align: left;
    margin-left: 10px;
}

.three-options-qr-middle p{
    margin: 0;
}

.three-options-qr-middle .price {
    font-size: 1rem;
    color: var(--secundary-color);
}

.three-options-qr-middle .store {
    font-size: 1.5rem;
    /* color: var(--primary-color); */
}

.three-options-qr-middle .dia {
    font-size: 13px;
    color: #A8A8A8;
}

.three-options-qr-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
    font-size: 1.5rem;
    padding-left:1.5rem;
    margin-left: auto;
}

</style>