<template>
    <div class="ticketBuy">
        <div class="esquerda ticket">
            <div class="ticket_name"><span>{{ticketName}}</span></div>
            <div class="ticket_price"><span>R$ {{ticketPrice.toFixed(2)}}</span></div>
            <div class="ticket_period_buy">
                <span v-if="condition1 && condition2">{{ticketPeriod}}</span>
                <span v-else>Vendas encerradas</span>
            </div>
        </div>
        <div style="display: flex;" v-if="condition1 && condition2">
            <div style="display: flex;">
                <div class="table_header_vertical">
                    <div class="rounder" v-on:click="subTicket(ticketId)"><span>-</span></div>
                </div>
                <div class="table_header_vertical">
                    <span :id="'count'+ticketId" class="margin_side">{{counter}}</span>
                </div>
                <div class="table_header_vertical">
                    <div class="rounder" v-on:click="addTicket(ticketId)"><span>+</span></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    props: ['ticketPrice', 'ticketId', 'ticketName', 'ticketPeriod', 'click', 'counter', 'subTicket', 'addTicket', 'condition1', 'condition2']
})

export default class TicketBuy extends Vue {
    
}
</script>