
// Early Variables
// End Variables

// Early General Settings

body, html, #app {
    font-family: var(--main-font);
    color: var(--main-font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: fit-content !important;
}

// End General Settings

/* Early disable text selection highlighting */
    * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }
/* End disable text selection highlighting */

// Early Class Colors

    // Early main colors to text and background
        .primary-color{
            color: #0069c8 !important;
        }

        .secundary-color{
            color: #11386B !important;
        }

        .white-color{
            color: white !important;
        }

        .primary-color-bg{
            background-color: #0069c8 !important;
        }

        .secundary-color-bg{
            background-color: #11386B !important;
        }
    // End main colors to text and background

// Early Class Colors

// Early NProgress  Style

    // Early Make clicks pass-through
    #nprogress {
        pointer-events: none;
    }
    // End Make clicks pass-through

    #nprogress .bar {
        background: #0069c8;

        position: fixed;
        z-index: 1031;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;
    }

    // Early Fancy blur effect
    #nprogress .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #0069c8, 0 0 5px #0069c8;
        opacity: 1.0;

        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    #nprogress .spinner {
        display: block;
        position: fixed;
        z-index: 1031;
        top: 50%;
        right: 50%;
    }

    #nprogress .spinner-icon {
        width: 25px;
        height: 25px;
        box-sizing: border-box;

        border: solid 2px transparent;
        border-top-color: #4286f4;
        border-left-color: #145cd1;
        border-radius: 50%;

        -webkit-animation: nprogress-spinner 400ms linear infinite;
        animation: nprogress-spinner 400ms linear infinite;
    }

    .nprogress-custom-parent {
        overflow: hidden;
        position: relative;
    }

    .nprogress-custom-parent #nprogress .spinner,
    .nprogress-custom-parent #nprogress .bar {
        position: absolute;
    }
    // End(??) Fancy blur effect

// End NProgress  Style

// Early Striper Class

    .striper{
        padding: 10px;
        background-color: var(--striper-color);
    }

    .striper > a{
        color: white !important;
    }

// End Striper Class

// Early Also Class

    .margin-top-30{
        margin-top: 30px;
    }

    .margin-none{
        margin: 0 !important;
    }

    .margin-10{
        margin: 10px !important;
    }

    .margin-bottom-7{
        margin-bottom: 7px !important;
    }

    .position-absolute{
        position: absolute;
    }

    .footer-logo{
        bottom: 0 !important;
        position: absolute;
        width: 100%;
    }

    .footer-logo > img{
        width: 33vmin;
        height: auto;
        margin-bottom: 2vmin;
    }

    .image-half > img{
        width: 44%;
    }

    .datepicker-controls {
        display: -webkit-box !important;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 280px;
        margin: 0 auto;
    }

    .no-border {
        border: unset !important;
    }

    .metade{
        width: 80% !important;
    }

    .terco{
        width: 60% !important;
    }

    .full-width > img {
        width: 100%;
        min-height: 170px;
    }

    .display-none{
        display: none !important;
    }

    .display-flex{
        display: flex !important;
    }

    .height-auto{
        height: auto !important;
    }

    .margin-left-5{
        margin-left: 5%;
    }
  
    .margin-right-5{
        margin-right: 5%;
    }

    .margin-top-20 {
        margin-top: 20px;
    }

    .justify-center{
        justify-content: center;
    }

    .margin_left{
        margin-left: 5px !important;
    }

    .menssagem{
        font-weight: 500;
        font-size: 14px;
    }

    .margin-bottom-20{
        margin-bottom: 20px;
    }

    .btn-bottom-10{
        position: absolute;
        width: 100%;
        bottom: 10%;
    }

    .margin-top-10{
        margin-top: 10px;
    }

    .margin-top-2{
        margin-top: 2rem !important;
    }

    .display-block{
        display: block;
    }

    .margin-top-none{
        margin-top: 0 !important;
    }

// End Also Class

// Early Media Queries

    @media (min-height: 992px){
        .image-half > img{
            width: 40%;
        }
    }

    @media (max-height: 500px){
        .change-passwd .margin-top-15{
            margin-top: 0 !important;
        }
        .bottom-navigation {
            position: relative !important;
        }
    }

    @media (max-height: 620px){
        .bottom-10{
            position: relative !important;
        }
        .btn-bottom-10{
            position: relative;
        }
    }

// End Media Queries

// Early Keyframes

    @-webkit-keyframes nprogress-spinner {
        0%   { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes nprogress-spinner {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

// End Keyframes

.brand-logo.left.btn-side {
    height: 0;
}

.page-title {
    font-size: 7vmin;
    text-align: left;
    color: #0069c8;
}

.modal-overlay {
    z-index: 9999 !important;
}
.datepicker-modal{
    z-index: 99999 !important;
}
.timepicker-modal{
    z-index: 99999 !important;
}
.datepicker-footer{
    display: unset !important;
}

.timepicker-footer{
    display: unset !important;
}