
// Early Variables
    html{
    // Early Colors
        --primary-color: #0069c8;
        --secundary-color: #11386B;
        --select-balance-color: #0069c8;
        --datepicker-theme: #0069c8;
        --input-text-theme: #0069c8;
        --header-event-color: #11386B;
        --header-fluxo-color: #11386B;
        --header-home-color: #11386B;
        --modal-background-gradient: linear-gradient(to right, #2D68C4, #316ece, #3574d7, #397be1, #3d81eb);
    // End Colors
    }
// End Variables

// Early DefaultButton

    button{
        font-size: 5vmin !important;
        font-weight: bold;
        background-color: #0069c8;
        color: #0069c8;
        height: 10vmin;
        line-height: 5vmin !important;
        min-width: 53%;
        padding: 0 2vmin;
        border-radius: 1vmin;
        border: 2px solid #0069c8;
        color: white;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    button:hover{
        background-color: #11386B;
        border-radius: 2px;
    }

    button:focus{
        background-color: #11386B;
        border-radius: 2px;
    }

    @media (max-width: 350px){
        button{
            width: 60%;
            font-size: 76% !important;
        }
    }

    button i {
        font-size: 1.3rem !important;
        line-height: inherit;
    }

    .waves-effect {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }

    .sidenav-trigger{
        margin: 0 !important;
        height: 10vmin;
        width: 10vmin;
    }

    // Early Anothes Btn Styles

        // Early Ghost Button/ Outline Button
            .button-outline{
                font-size: 5vmin !important;
                font-weight: bold;
                background-color: transparent;
                color: #0069c8;
                height: 10vmin;
                line-height: 5vmin !important;
                padding: 0 2vmin;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .button-outline:hover{
                background-color: #0069c8;
                color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .button-outline:focus{
                background-color: #0069c8;
                color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
            @media (max-width: 350px){
                .button-outline{
                    width: 60%;
                    font-size: 10px !important;
                }
            }
        // End Ghost Button/ Outline Button

        // Early You can use a icon as button
            .button-icon{
                color: darkslategray !important;
                width: auto;
                height: 50px;
                min-width: 0 !important;
                padding: 0;
                background-color: transparent;
                border: none;
                -webkit-box-shadow: none ;
                box-shadow: none;
                font-size: 12px !important;
                line-height: 12px !important;
            }

            .button-icon:hover{
                background-color: transparent;
            }

            .button-icon:focus{
                background-color: transparent;
            }

            .button-icon > i{
                font-size: 7.5vmin !important;
            }
        // End You can use a icon as button

        // Early Button for modal
            .button-modal{
                border: 2px solid white;
                color: white;
                width: 100%;
                font-size: 10px;
                -webkit-box-shadow: none ;
                box-shadow: none;
            }

            .datepicker-controls > button{
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .datepicker-row > td > button{
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        // End Button for modal

        // Early Btn Change Photo
            .btn-change-photo {
                background-color: #2D68C4 !important;
                border-radius: 50%;
                width: 37px !important;
                height: 37px !important;
                min-width: 0 !important;
                color: white;
                position: absolute;
                top: 150px;
                right: 33%;
                font-size: 26px !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* margin: 0px; */
                padding: 5px !important;
                text-align: center;
            }
        
            .btn-change-photo i {
                font-size: 26px !important;
            }
        
            .btn-change-photo {
                border-radius: 50% !important;
            }
        // End Btn Change Photo

    // End Anothes Btn Styles

// End DefaultButton


// Early Most of Lists

    .collection{ 
        width: 95%;
        border-left: 0 !important;
        border-right: 0 !important;
    }
        
    .collection .collection-item:last-child {
        border-bottom: 0.25vh solid #e0e0e0 !important;
    }

    .collection-item{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding: 0 !important;
        min-height: 70px;
    }

    .item-left{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .item-middle{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        text-align: center;
    }

    // Early Colors to the icons of OptionList

        .color1{
            color: #FF6465;
        }

        .color2{
            color: #ED853A;
        }

        .color3{
            color: #EBD82D;
        }

        .color4{
            color: #A4F936;
        }

        .color5{
            color: #29EF84
        }

        .color6{
            color: #2EF2B7;
        }

        .color7{
            color: #3285E7;
        }

        .color8{
            color: #803EEC;
        }

        .color9{
            color: #B652CF;
        }

        .color0{
            color: #E53660
        }

    // End Colors to the icons of OptionList

    // Early ThreeOptionsList

        .three-options .item-left {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .three-options .item-middle {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 500;
            text-align: left;
        }
        
        .three-options .item-middle .titulo {
            font-size: 2.5vh;
            color: #0069c8;
        }

        .three-options .info-adicional {
            font-size: 2vh;
            color: darkslategray;
        }

        .three-options .item-middle .titulo .info-adicional {
            font-size: 13px;
            color: darkslategray;
        }
        
        .three-options .item-middle .dia {
            font-size: 2vh;
            color: #A8A8A8;
        }
        
        .three-options .item-right {
            width: 35%;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 2.5vh;
            text-align: right;
            justify-content: center;
        }

        .extrato-red{
            color: #EE2A2A;
        }
    
        .extrato-green{
            color: #26D223;
        }

    // End ThreeOptionsList

// End Most of Lists

// Early ValueBalance

    .radio{
        display: flex ;
        justify-content: space-evenly ;
        flex-flow: row wrap ;
        margin: 0px;
    }
    
    .valueBalance {
        width: 90%;
        margin: 0 auto;
    }

    .valueBalance.radio > .select_balance{
        text-align: left;
        display: block;
        width: calc(50% - 10px);
        position: relative;
        padding: 5px 0;
        margin: 0 5px;
    }

    .valueBalance > .select_balance > [type="radio"] + span:before{
        display: none;
    }

    .valueBalance > .select_balance > [type="radio"]:checked + span:after{
        display: none;
    }

    .valueBalance > .select_balance > [type="radio"]:not(:checked) + span{
        padding-left: 0 !important;
        width: 100%;
        color: var(--select-balance-color);
        font-weight: 300;
        text-align: center;
        font-size: 5vmin;
        border: 2px solid var(--select-balance-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 10vmin;
        border-radius: 6px;
    }

    .valueBalance > .select_balance > [type="radio"]:checked + span{
        padding-left: 0 !important;
        width: 100%;
        color: var(--select-balance-color);
        font-weight: 300;
        text-align: center;
        font-size: 5vmin;
        border: 2px solid var(--select-balance-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 10vmin;
        border-radius: 6px;
    }

    .valueBalance > .select_balance > [type="radio"]:checked + span{
        color: white;
        background-color: var(--select-balance-color);
        border-radius: 6px;
    }

// End ValueBalance

// Early BottomNavigation

    .bottom-navigation{
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        -webkit-box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        -moz-box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        box-shadow: 0px -1px 9px 0px rgba(199,189,199,1);
        width: 100%;
        background-color: white;
    }

    .bottom-navigation > .navigation-item{
        padding: 5px;
        width: auto;
        min-width: 20%;
    }

    .bottom-navigation > .navigation-item > a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        widows: 100%;
        color: #C4C4C4;
    }

    .bottom-navigation > .navigation-item > a > span{
        font-size: 11px;
    }

    .bottom-navigation > .navigation-item > a > i{
        font-size: 32px;
    }
 
// End BottomNavigation

// Early BalanceAndCredit and TextLink

    .balanceAndCredit > .vertical_align_center.rs, .compTextLink > .vertical_align_center.rs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white !important;
    }

    .balanceAndCredit > .vertical_align_center, .compTextLink > .vertical_align_center.rs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
    }

// End BalanceAndCredit

// Early Card

    .card-50 {
        margin: 1.5%!important;
        width: 47% !important;
        min-height: 150px !important;
        height: auto;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
        border-radius: 15px;
        display: inline-grid;
    }
    .card-50 .card.disabled img,
    .card-50 .card.disabled span {
        opacity: .5;
    }
    .card-50 .card .simbolo-fechado {
        background-color: red;
        color: white;
        padding: 10px;
        font-weight: bold;
        position: absolute;
        right: 24px;
        border-radius: 5px;
        top: 100px;
    }
    .card-50 .card-content > .card-title {
        margin-bottom: 0 !important;
        font-size: 1em !important;
        color: black;
        font-weight: bold;
    }
    .card-50 .card-img {
        height: 100% !important;
        width: auto !important;
    }
    .card-50 .img {
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
        border-radius: 15px 15px 0 0;
    }
    .card-50 .card .card-content {
        padding: 4px 10px !important;
    }
    .card-50 .card-content {
        text-align: left !important;
        margin: 4px;
        height: 75px !important;

    }
    .card-50 .card-info {
        color: gray;
        display: block;
    }
    .card-50 .card-date {
        color: black;
        display: block;
        text-transform: uppercase;
        font-size: 0.9em !important;

    }
    .card-50 .icn{
        color: red;
        margin-top: -28px;
        margin-right: 10px;
    }

// End Card

// Early CardEvent

    .card_content{
        width: 46%;
        max-height: 162px;
        max-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.75);
    }

    .card_content > .card_image {
        width: 100%;
        height: 52%;
        border-radius: 6px;
        position: relative;
    }

    .card_content > .card_image > img{
        width: 100%;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px 6px 0 0;
    }

    .card_content > .card_image > .card_favorite{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        display: flex;
        margin: 5px;
        flex-direction: column;
        justify-content: center;
    }

    .card_content > .card_info{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 5px 5px 5px;
    }

    .card_content > .card_info > .event_date{
        width: 100%;
        height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        text-align: left;
        margin:0 0 2px 0;
        color: #333333;
        text-overflow: ellipsis;
    }

    .card_content > .card_info > .event_title{
        width: 100%;
        font-size: 14px;
        height: 48px;
        line-height: inherit;
        font-weight: 600;
        text-align: left;
        color: black;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card_content > .card_info > .event_title > span{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card_content > .card_info > .event_local{
        width: 100%;
        height: 18px;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #808080;
        text-overflow: ellipsis;
        overflow: hidden;
    }

// End CardEvent

// Early CleanList

    .item {
        font-size: 4vmin;
        height: 20vmin;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(11, 11, 11, .3);
        margin: 0 15px;
    }

    .item .direita {
        text-align: center;
        font-weight: 500;
        color: #0069c8;
        text-transform: uppercase;
        width: 60%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .clean .direita.full-width {
        width: 100%;
    }

    .clean .esquerda {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 100%;
    }

    .clean .esquerda > img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center;
        margin: 2vmin 0;
        border-radius: 50%;
    }

    .clean .item .conteudo {
        color: #0069c8;
        height: auto;
        font-weight: bold;
        overflow: hidden;
        word-wrap: break-word;
    }

    #app > .pegar-produto > div:nth-child(4) > div:nth-child(1){
        border-top:1px solid rgba(11, 11, 11, .3);
    }

// End CleanList

// Early Datepicker

    .confirmation-btns{
        display: flex !important;
    }

    .datepicker-date-display {
        background-color: var(--datepicker-theme) !important;
    }

    .datepicker-table td.is-today {
        color: var(--datepicker-theme) !important;
    }

    .datepicker-table td.is-selected {
        background-color: var(--datepicker-theme) !important;
        color: #fff !important;
    }

    .datepicker-done, .datepicker-cancel{
        color: var(--datepicker-theme) !important;
    }

    // .datepicker {
    //     padding-left: 1.2rem !important;
    // }

    .limpar-data {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .date.input-field > label {
        left: 15px !important;
    }

// End Datepicker

// Early InputText

    .centralize-child{
        display: flex;
        justify-content: center;
    }

    input:not(.browser-default):focus:not([readonly]){
        border-bottom: 1px solid var(--input-text-theme) !important;
        -webkit-box-shadow: 0 1px 0 0 var(--input-text-theme) !important;
        box-shadow: 0 1px 0 0 var(--input-text-theme) !important;
    }

    input:not(.browser-default):focus:not([readonly])+label{
        color: var(--input-text-theme) !important;
    }

    .margin-bottom-0{
        margin-bottom: 0 !important;
    }

// End InputText

// Early EventCalendar

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, .2);
    }

    .folder-event {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }

    .folder-content{
        width: 95%;
        height: 160px;
        overflow: hidden;
        border-radius: 6px;
        display: flex;
        position: relative;
    }

    .folder-image {
        position: relative;
        width:100%;
    }

    .folder-image > img {
        width: 100%;
        min-height: 100%;
    }

    .folder-info{
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
        padding: 12px 10px;
        flex-direction: column;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%,rgba(0, 0, 0, .5) 100%) !important;;
    }

    .folder-info-title{
        color: white;
        font-size: 17px;
        font-weight: 300;
        text-align: left;
    }

    .folder-info-more{
        display: flex;
        color: white;
        justify-content: space-between;
    }

    .folder-info-more > .time, .local{
        display: flex;
    }

    .folder-info-more > .favorite{
        color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .folder-info-more > .time > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .folder-info-more > .local > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .folder-info-more > .time > div > span{
        font-size: 11px;
    }

    .folder-info-more > .local > div > span{
        font-size: 11px;
    }

// End EventCalendar

// Early FullTicket

    .ticket{
        width: 90% !important;
        height: auto;
        display: block;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ticket:target{
        display: block;
    }

    .header{
        background-color: white;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding-bottom: 18px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    }

    .header img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width:100%;
    }

    .title{
        font-weight: bold;
        text-align: center;
        padding: 10px 10px 0px 10px;
    }
    .sub-title{
        font-weight: normal;
    }

    .rip{
        background-color: white;
        height: 20px;
        margin: 0 10px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
        background-size: 4px 2px;
        background-repeat: repeat-x;
        background-position: center;
        position: relative;
        box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
    }

    .rip:before, .rip:after {
        content: '';
        position: absolute;
        width: 27px;
        height: 27px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        border: 5px solid transparent;
        border-top-color: #fff;
        border-right-color: #fff;
        border-radius: 100%;
        pointer-events: none;
    }

    .rip:before {
        left: -9px;
    }
    .rip:after {
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
        transform: translate(-50%, -50%) rotate(225deg);
        right: -36px;
    }


    .footer {
        background-color: white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 18px;
        height: 80px;
        padding-top: 10px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    }

    .location{
        padding: 10px 10px 0px 10px;;
        color: #000000;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
    }

    .location > div{
        display: flex;
        flex-direction: column;
    }

    .location .title-location{
        font-weight: bold;
    }

    .dataevalor{
        padding: 10px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .dataevalor{
        color: #000000;
        font-size: 10px;
        width: auto;
        text-transform: uppercase;
    }

    .title-data{
        font-weight: bold;
    }

    .valor{
        color: #000000;
        font-size: 10px;
        width: auto;
    }

    .dataevalor .valor .title-valor{
        font-weight: bold;
    }

// End FullTicket

// Early HeaderEvents

    .header_events {
        color: var(--header-event-color) !important;
        background-color: white !important;
        height: 40px !important;
        box-shadow: none !important;
    }

    .header_events > .nav-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header_events > .nav-wrapper > .logo-title > div{
        display: flex;
        justify-content: center;
        position: relative;
        width: 75%;
    }

    .header_events > .nav-wrapper > .logo-title > div > .submit-lente {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        border: none;
        color: #a5a5a5;
        background: white;
        outline: none;
        box-shadow: none;
        height: 24px;
        max-width: 24px !important;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        bottom: 0;
        left: 0;
    }

    .header_events > .nav-wrapper > .logo-title > div > .submit-lente > .material-icons{
        line-height: normal !important;
        height: auto !important;
    }

    .header_events > .nav-wrapper > .logo-title > div > input {
        width: 100%;
        height: 25px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 14px;
        text-align: center;
    }

    ::placeholder{
        color: #a5a5a5 !important;
    }

    .btn-side div .button-icon{
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }

    .btn-side i{
        height: auto !important;
        line-height: 0 !important;
    }

    nav .brand-logo i, nav .brand-logo i.material-icons{
        margin-right: 0 !important;
    }

// End HeaderEvents

// Early HeaderFluxo

nav {
        color: var(--header-fluxo-color) !important;
        background-color: white !important;
        // height: 12.5vmin !important;
        height: 50px !important;
        z-index : none;
        font-size: 5vmin;
    }

    .nav-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo-nav.ajuste{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo-nav img{
        height: 75%;
    }

    .brand-logo.center.logo-title{
        height: 100% !important;
        display: inline-flex !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        font-size: 0.95rem !important;
        color: var(--header-fluxo-color) !important;
        font-weight: normal !important;
        width: 80% !important;
    }

    .title-tela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8px;
        font-weight: 500;
    }

    .btn-side div .button-icon{
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }

    .btn-side i{
        height: auto !important;
    }

    nav .brand-logo i, nav .brand-logo i.material-icons{
        margin-right: 0 !important;
    }

// End HeaderFluxo

// Early HeaderHome

    .home {
        color: var(--header-home-color) !important;
        background-color: white !important;
        height: 7.5vh !important;
    }

    // .home .nav-wrapper{
    // }

    .home > .nav-wrapper > .brand-logo{
        display: flex;
    }

    .home > .nav-wrapper > .brand-logo > .logo-nav{
        height: auto;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    .home > .nav-wrapper > .brand-logo > .logo-nav > img{
        width: 87% !important;
        height: auto !important;
    }

    .home .btn-side div .button-icon{
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }

    .home .btn-side i{
        height: auto !important;
        line-height: 0 !important;
    }

    .home nav .brand-logo i, nav .brand-logo i.material-icons{
        margin-right: 0 !important;
    }

    #app > div > nav > div > div.brand-logo.left.btn-side > div > button > i{
        font-size: 34px !important;
    }

    #app > div > nav > div > div.brand-logo.right.btn-side > div > button > i{
        font-size: 34px !important;
    }

    .brand-logo.right > a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand-logo.right > a > img{
        width: 27px;
        color: var(--header-home-color) !important;
    }

// End HeaderHome

// Early ImageProfile

    .profile-photo{
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
    }

    .profile-photo > .photo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #c7c5c5;
    }

// End ImageProfile

// Early InvisibleHeader

    nav.invisible-header.visible {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important; background: white !important; color: #11386B;
    }

    nav.invisible-header.visible .btn-side div .button-icon {
        color: #0069c8 !important;
        transition: .8s;
    }

    nav.invisible-header.invisible .btn-side div .button-icon {
        color: white !important;
        transition: .8s;
    }
        
    .category-name.title .visibleHeader {
        position: fixed;
        top: 0;
        margin-left: 30px !important;
        font-weight: lighter;
        z-index: 1000001;
    }
    .category-name.title {
        padding: 0 10px;
        z-index: 1000001;
    }

    nav.invisible-header {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.03) 100%) !important;
        box-shadow: none !important;
        height: 35px !important;
        position: fixed !important;
        z-index: 1000000;
        top: -1px;
        transition: .4s;
        left: 0;
    }

    .invisible-header .nav-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .invisible-header .logo-nav img{
        height: 85% !important;
    }

    .invisible-header .logo-title{
        height: 100%;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        font-size: 0.95rem !important;
        color: #11386B !important;
        font-weight: normal;
        width: 80%;
    }

    .invisible-header .title-tela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8px;
        font-weight: 500;
    }

    .invisible-header .btn-side div .button-icon{
        color: white !important;
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }

    .invisible-header .btn-side i{
        height: auto !important;
        line-height: 0 !important;
    }

    .invisible-header nav .brand-logo i, nav .brand-logo i.material-icons{
        margin-right: 0 !important;
    }

// End InvisibleHeader

// Early ListProductItem

    .product {
        margin-top: 10px;
        height: 115px;
        display: flex;
        border-bottom: 1px solid rgba(11, 11, 11, .3);
        margin: 5px 10px;
    }

    .product .direita {
        text-align: left;
        display: inline-block;
        width: 70%;
        height: 100%;
        padding-left: 10px;
    }

    .product .direita.full-width {
        width: 100%;
    }

    .product .esquerda {
        display: flex;
        width: 30%;
        height: 100%;
    }

    .product .esquerda > img {
        width: 100%;
        height: 90%;
        margin: auto 0;
    }

    .product .titulo {
        height: 30%;
        font-weight: bold;
        font-size: 1.2rem;
        padding-top: 2px;
    }

    .product .conteudo {
        height: 40%;
        color: dimgrey;
        overflow: hidden;
        word-wrap: break-word;
    }

    .product .preco {
        height: 30%;
        color: dimgrey;
        font-size: 1.2rem;
    }

// End ListProductItem

// Early ModalCodigo

    .modal-mask {
        position: fixed;
        z-index: 9999999999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .modal.modal-container.open {
        z-index: 9999999 !important;
        width: 100%;
        bottom: 0 !important;
        position: fixed !important;
        top: initial !important;
        margin: 0px auto;
        padding: 3.5vmin 5vmin;
        background-color: white !important;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        color: var(--primary-color);
        font-family: Helvetica, Arial, sans-serif;
        border-radius: 2.5vmin 2.5vmin 0 0;
        font-size: 4vmin !important;
    }

    .modal-header h3 {
        margin-top: 0;
    }

    .modal-header i {
        font-size: 40px;
    }

    .modal-body {
        margin: 20px 0;
        padding: 0 !important;
    }

    .modal-body p {
        font-weight: bold;
        margin-block-end: 1.6em;
        font-size: 5vmin;
    }

    .modal-body input {
        font-size: 5vmin !important;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

// End ModalCodigo

// Early NewsHome

    .carousel.carousel-slider .carousel-item{
        min-height: auto !important;
    }

    .carousel .indicators .indicator-item{
        margin: 4px 4px !important;
    }

    .carousel {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 214px !important;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    .carousel-message{
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        font-weight: 500;
        padding: 1px 3px;
        height: auto;
        max-height: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #00000075;
    }
    .newsTitle{
        font-weight: 750;
        font-size: 125%;
    }

// End NewsHome

// Early OptionCard

    .option-card{
        justify-content: space-between !important;
        padding: 3px 0 3px 0 !important;
    }

    .option-card .item-left{
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
    }

    .option-card .item-middle{
        width: 19%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
    }

    .option-card .item-right{
        width: 19%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
    }

// End OptionCard

// Early OptionCollapse

    .content-collapse{
        display: flex;
        flex-direction: column;
    }

    .collapsible-body{
        background-color: #c1c1c1;
        padding: 5px 0 2px 0 !important;
    }

    .collapsible-header{
        justify-content: space-between;
        width: 100%;
        padding: 1.5vmin !important;
    }

    .collapsible-header .header-name{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 500;
    }

    .collapsible-header .header-number{
        display: flex;
        justify-content: center;
    }

    .collapsible-header > .header-number > div > img{
        height: 40px;
    }

    .collapsible-header > .header-number > .card-flag, .card-number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    .user-name{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .user-name > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .user-name > div > .title{
        font-weight: 500;
    }

    .expiration-date{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
    }

    .expiration-date > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .expiration-date > div > .title{
        font-weight: 500;
    }

    .expiration-date > div > div > button{
        width: 100%;
    }

    .switch-padrao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .switch-padrao{
        font-weight: 500;
    }

    .switch label input[type=checkbox]:checked + .lever:after {
        background-color: #0069c8 !important;
    }

    .switch label input[type=checkbox]:checked + .lever {
        background-color: #79a4e6 !important;
    }

// End OptionCollapse

// Early OptionCollapseParent

    .content-collapse{
        display: flex;
        flex-direction: column;
    }

    .cardParent > .collapsible-body{
        background-color: #cfcccc;
        padding: 1rem !important;
    }

    .cardParent > .collapsible-header{
        justify-content: space-between;
        background-color: #d9d9d9; 
    }

    .collapsible-header .header-name{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 500;
    }

    .collapsible-header .header-number{
        display: flex;
        justify-content: center;
    }

    .collapsible-header > .header-number > div > img{
        height: 40px;
    }

    .collapsible-header > .header-number > .card-flag, .card-number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    .user-name{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .user-name > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .user-name > div > .title{
        font-weight: 500;
    }

    .expiration-date{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
    }

    .expiration-date > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .expiration-date > div > .title{
        font-weight: 500;
    }

    .expiration-date > div > div > button{
        width: 100%;
    }

    .switch-padrao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .switch-padrao{
        font-weight: 500;
    }

    .switch label input[type=checkbox]:checked + .lever:after {
        background-color: #0069c8 !important;
    }

    .switch label input[type=checkbox]:checked + .lever {
        background-color: #79a4e6 !important;
    }

// End OptionCollapseParent

// Early OptionField

    .select-dropdown li.disabled,
    .select-dropdown li.disabled>span,
    .select-dropdown li.optgroup {
        color: rgba(0, 0, 0, 0.3) !important;
        background-color: transparent !important;
    }

// End OptionField

// Early Product

    .product {
        display: flex;
        border-bottom: 1px solid rgba(11, 11, 11, .3);
        margin: 0 10px;
        flex-flow: wrap;  
    }

    .product .direita {
        text-align: left;
        display: flex;
        width: 70%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .product .direita.full-width {
        width: 100%;
    }

    .product .esquerda {
        display: flex;
        width: 30%;
        height: 100%;
    }

    .product .esquerda > img {
        width: 100%;
        height: 90%;
        margin: auto 0;
    }

    .product .titulo {
        height: 30%;
        width: 70%;
        color: dimgrey;
        font-size: 1rem;
        display: inline;
        padding-top: 2px;
        text-align: left;
    }

    .product .conteudo {
        height: 40%;
        color: dimgrey;
        overflow: hidden;
        word-wrap: break-word;
    }

    .product .preco {
        height: 30%;
        width: 30%;
        color: #0069c8;
        font-size: 1rem;
        display: inline;
        text-align: right;
    }

// End Product

// Early ProductOption

    .option {
        margin-top: 10px;
        display: flex;
        border-bottom: 1px solid rgba(11, 11, 11, .3);
        margin: 5px 10px;
        padding-bottom: 5px;
    }

    .option .titulo {
        height: 30%;
        font-weight: bold;
        font-size: 1.2rem;
        padding-top: 2px;
    }

    .option .conteudo {
        height: 40%;
        color: dimgrey;
        overflow: hidden;
        word-wrap: break-word;
    }

    .option .preco {
        height: 30%;
        color: dimgrey;
        font-size: 1.2rem;
        text-align: right;
    }

    .option .esquerda {
        width: 90%;
        text-align: left;
    }

// End ProductOption

// Early SectionTitle

    .section-title{
        border-bottom: 2px solid #0069c8;
        color: #0069c8;
        font-size: 1.3em;
    }

    .section-title.margin-20 {
        margin-bottom: 0 !important;
    }
    
    .margin-left-10{
        margin-left: 10px;
    }

// End SectionTitle

// Early SectionField

    .material-select {
        margin: 0 10% 20px 10%;
    }

    .select-wrapper input.select-dropdown:focus {
        border-bottom: 1px solid #0069c8 !important;
    }

// End SectionField

// Early Shortcuts

    .shortcuts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 140px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 5px;
    }

    .shortcut{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .shortcut-item {
        margin: 2px 10px 2px 10px;
        margin-bottom: unset;
        width: 80px;
        height: 80px;
        background-color: #0069c8;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .shortcut-item > img {
        height: 55%;
    }

    .shortcut > a {
        color: black !important;
        font-size: 13px;
        text-align: center;
    }

// End Shortcuts

// Early SlideNav

    .sidenav .sidenav-item span {
        color: #454545;
        line-height: 7.5vmin;
        margin-left: 2vmin;
        font-size: 4.5vmin;
    }

    .sidenav .sidenav-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .sidenav .sidenav-icon svg {
        color:#0069c8;
        font-size: 6vmin;
    }

    .sidenav.ajuste{
        width: 70vw;
        z-index: 10001;
        padding: 16px;
        height: 100vh;
        overflow-y: scroll;
    }

    .sidenav-overlay{
        z-index: 10000;
    }

    .sidenav .collapsible-header{
        padding: 0 20px;
        color:var(--secundary-color);
    }

    .sidenav li > a{
        color: var(--secundary-color) !important;
        padding: 0 15px !important;
        text-transform: uppercase;
        text-align: left;
    }

    .sidenav .collapsible-body{
        background-color: #dadada66 !important;
    }

    .sidenav .collapsible-body li a{
        color: var(--secundary-color) !important;
    }

    .opened{
        background-color: white !important;
        border-right: 6px solid var(--secundary-color) !important;
    }

    @media only screen and (max-width: 992px){
        .sidenav.slidenav > a {
            padding: 0 !important;
        }
    }

// End SlideNav

// Early StoreCard

    .card-store.card {
        margin: 10px auto !important;
        width: 95%;
        height: auto;
        margin: 0.5rem 0 .5rem 0;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.14), 0 3px 1px 0px rgba(0, 0, 0, 0.12), 0 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
    }

    .card-store.disabled img, .card-store.disabled span {
        opacity: .5;
    }

    .card-store .simbolo-fechado {
        background-color: red;
        color: white;
        padding: 10px;
        font-weight: bold;
        position: absolute;
        right: 24px;
        border-radius: 2px;
        top: 100px;
    }

    .card-store .card-title {
        margin-bottom: 0 !important;
    }

    .card-store .card-image {
        height: 120px;
        width: 100%;
    }

    .card-store .card-content {
        padding: 4px 10px !important;
    }

    .card-store .card-content > span {
        text-align: left;
    }

    .card-store .card-info {
        color: gray;
        display: block;
    }

// End StoreCard

// Early TabsEvent and TabsHome

    .height_37{
        height: 37px !important;
    }

    .height_37 > .tab > a{
        padding: 0 10px !important;
    }

    .height_37 > .tab{
        text-transform: none !important;
    }

    .height_37 > .col.s3 {
        width: auto !important;
    }

    .tabs .tab a {
        color: #808080 !important;
        font-size: 11px !important;
    }
    
    .tabs .tab a:hover,
    .tabs .tab a.active {
        color: #0069c8 !important;
        font-weight: 500 !important;
    }
    
    .tabs .indicator {
        background-color: #0069c8 !important;
    }
    
    .tabs .tab a:focus {
        background-color: rgba(236, 241, 249, 0) !important;
    }

    @media only screen and (max-width: 992px) {
        .tabs .tab a {
            padding: 8px 5px !important;
        }
        .height_37 > .tab > a{
            padding: 0 13px !important;
        }
    }

// End TabsEvent and TabsHome

// Early ThreeOptionDependents

    .three-options-dependents .item-left {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .three-options-dependents .item-middle {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        text-align: left;
        margin-left: 10px;
    }

    .three-options-dependents .item-middle .titulo {
        font-size: 17px;
        color: rgb(111, 111, 111);
    }

    .three-options-dependents .item-right {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        font-size: 17px;
    }

// End ThreeOptionDependents

// Early Ticket

    .small_ticket{
        width: 90%;
        height: 130px;
        display: flex;
        border-radius: 5px;
        margin-bottom: 12px;
        -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.541);
        -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.541);
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.541);
        margin-left: auto;
        margin-right: auto;
    }

    .piece_left{
        width: 30%;
        position: relative;
        display: flex;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: white;
    }

    .piece_left::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
        top: -10px;
        right: -8px;
    }

    .piece_left::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        border-top: 2px solid rgba(0, 0, 0, 0.13);
        bottom: -10px;
        right: -8px;
    }

    .piece_left > img{
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    .piece_right{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 8px;
        background-color: white;
    }

    .piece_right > .title{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        color: #0069c8;
    }

    .piece_right > .place{
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    }

    .piece_right > .place > .place_title{
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: #808080;
    }

    .piece_right > .place > .place_content{
        text-transform: uppercase;
        font-size: 11px;
    }

    .piece_right > .date{
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    }

    .piece_right > .date > .date_title{
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: #808080;
    }

    .piece_right > .date > .date_content{
        text-transform: uppercase;
        font-size: 11px;
    }

// End Ticket

// Early TicketBuy

    .ticketBuy {
        display: flex;
        border-bottom: 1px solid rgba(11, 11, 11, .3);
        margin: 5px 10px;
        flex-flow: wrap;
        justify-content: space-between;

    }

    .ticket_name{
        font-weight: 600;
        color: black;
    }

    .margin_side{
        margin: 0 5px;
    }

    .ticket_price{
        color: black;
    }

    .ticket_period_buy{
        font-style: italic;
    }

    .ticketBuy .direita {
        text-align: left;
        display: flex;
        width: 48%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .ticketBuy .direita.full-width {
        width: 100%;
    }

    .esquerda.ticket {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 65% !important;
        height: 100%;
    }
    
    .esquerda.ticket > img {
        width: 100%;
        height: 90%;
        margin: auto 0;
    }

    .ticketBuy .titulo {
        height: 30%;
        width: 70%;
        color: dimgrey;
        font-size: 1rem;
        display: inline;
        padding-top: 2px;
        text-align: left;
    }

    .ticketBuy .conteudo {
        height: 40%;
        color: dimgrey;
        overflow: hidden;
        word-wrap: break-word;
    }

    .ticketBuy .preco {
        height: 30%;
        width: 30%;
        color: #0069c8;
        font-size: 1rem;
        display: inline;
        text-align: right;
    }

    .rounder{
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        border: 2px solid #0069c8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
        line-height: normal;
        color: #0069c8;
    }

// End TicketBuy

// Early TicketBuyHeader

    .section-title{
        border-bottom: 2px solid #0069c8;
        color: #0069c8;
        font-size: 1.3em;
    }

    .section-title.margin-20 {
        margin-bottom: 0 !important;
    }

    .margin-left-10{
        margin-left: 10px;
    }

    .table_header{
        display: flex;
        justify-content: space-around;
    }

    .table_header_vertical{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

// End TicketBuyHeader

// Early TicketsCarousel

    #carousel_ticket{
        min-height: 500px !important;
    }

    .carousel.carousel-slider .carousel-item {
        min-height: auto !important;
    }

    .carousel {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 214px !important;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

// End TicketsCarousel

// Early TitleSection

    .div_child{
        padding: 15px 15px 3px;
        width: 95%;
        border-bottom: 2px solid #11386B;
        text-align: left;
    }

    .div_child > .span_title{
        font-size: 20px;
        font-weight: 500;
        color: #11386B;
        text-transform: capitalize;
    }

    @media (max-width: 350px){
        .div_child > .span_title{
            font-size: 18px;
        }
    }

// End TitleSection

// Early TwoOptionList

    .item-left-two{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item-right-two{
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .space_around{
        justify-content: space-around;
    }

// End TwoOptionList

// Early MiniCard

// Earlyly MiniCa

.venda-checkout .overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 71.8%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.venda-checkout{
    width: 100% !important;
    // height: calc(- 50px - 78% +100%);
    background-color: #ffffff !important;
    bottom: 50px;
    position: fixed;
    z-index: 900000;
    padding: 0 !important;
}

.text-amount {
    width: 3rem !important;
    margin: auto 0 !important;
    text-align: center !important;
    font-size: 1.5rem !important;
}
.quantity {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 4px solid rgba(11,11,11,.1);
}
.quant-container {
    width: auto;
    height: auto;
    margin: auto;
    width: auto;
    display: flex;
}
.quant-container > div {
    display: inline-block;
}
.button-quant.button-icon i {
    font-size: 4rem !important;
}
.button-quant:hover {
    background-color: transparent !important;
}

.venda-footer{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #2D68C4;
    background-color: #2D68C4;
    padding: 5px 10px;
    font-size: 1.2rem;
}
rd
// Early MiniCard


.card-menu{
    width: 40%;
    max-width: 200px;
    border: 1px solid #2D68C4;
    height: 140px;
    display: inline-flex !important;
    margin: 10px;
    padding: 7px;
    flex-direction: column;       /* Rotate Axis */
}

.card-menu .card-cifrao{
    position: absolute;
}

.card-menu .card-cifrao > span{
    font-size: 1.3rem;
    color: #2D68C4;
}

.card-menu .card-price{
    background-color: #2D68C4;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
}

.card-menu .card-price > .batatinha{
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
}
.card-menu .card-price .card-real > span{
    font-size: 2.5rem;
    color: #fff;
}
.nice{
    font-size: 1rem !important;
    color: #fff;
}
.card-menu .card-price .card-centavos{
    margin-top: calc(100% - 1.1rem);
}
.card-menu .card-price .card-real{
    /* margin-top: calc(100% - 2.5rem); */
}
.card-menu .card-footer > span{
    font-size: 1.1rem;
    color: #2D68C4;
    font-weight: 300;
}

.card-menu .card-footer{
    margin-top: 10px;
}




.mini-card-checkout {
    display: inline-flex !important;
}

.mini-card-checkout .mini-card {
  height: 130px;  
  width: 140px;                 /* Set width of cards */
  flex-direction: column;       /* Rotate Axis */
  border: 1px solid #51afcc ;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 10px;                  /* Add space between cards */
  display: inline-flex;
}

.card-header {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #51afcc  ;
  background-color: #51afcc;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

.material-icons {
  font-size: 36px;
  /* color: #D32F2F; */
  margin-bottom: 5px;
}

.main-description {
  color: rgba(0,0,0,.6);
  font-size: 12px;
  text-align: center;
}
// End MiniCard

// Early Venda

.venda-checkout .overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.venda-checkout{
    width: 100% !important;
    background-color: #ffffff !important;
    bottom: 50px;
    position: fixed;
    z-index: 900000;
    padding: 0 !important;
}

.text-amount {
    width: 3rem !important;
    margin: auto 0 !important;
    text-align: center !important;
    font-size: 1.5rem !important;
}
.quantity {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 4px solid rgba(11,11,11,.1);
}
.quant-container {
    width: auto;
    height: auto;
    margin: auto;
    width: auto;
    display: flex;
}
.quant-container > div {
    display: inline-block;
}
.button-quant.button-icon i {
    font-size: 4rem !important;
}
.button-quant:hover {
    background-color: transparent !important;
}

.venda-footer{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #2D68C4;
    background-color: #2D68C4;
    padding: 5px 10px;
    font-size: 1.2rem;
}

// End Venda

// Start CategoryList
.category-list {

    cursor: pointer;
    margin: 0;
    box-shadow: none;

    .dir {
        margin: auto;
        padding-right: 10px;
    }

    .dir i {
        border-radius: 100%;
        padding: 3px;
    }

    .dir i:hover {
        background: rgba(11, 11, 11, .1);
    }

    .icon-edit {
        color: var(--secundary-color);
    }

    .icon-remove-menu {
        color: crimson;
    }

    .collapsible-body {
        padding: 0 !important;
    }

    .div-product-list .product-item {
        display: flex; 
        text-align: left; 
        margin-left: 2rem; 
        margin: auto 1rem; 
        width: 100%; 
        padding-left: 10px !important;
    }

    .collapsible-header {
        width: 100%;
        padding: 0;
        display: flex;
    }

    .collapsible-header i {
        margin-right: 0;
    }

    .category {
        margin: auto 0px;
        text-align: left;
        padding: 2rem 0;
        width: calc(100% - 110px);
    }

    .categoryName {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .category .ativo {
        color: var(--secundary-color) !important;
        font-weight: bold;
    }

    .today {
        text-decoration: underline; 
        color: var(--secundary-color) !important;
    }

}

.div-product-list .product-item {
    display: flex; 
    text-align: left; 
    margin-left: 2rem; 
    margin: auto 1rem; 
    width: 100%; 
    padding-left: 10px !important;
}

.product-item {
    cursor: pointer;

    background: #f1f1f1;
    margin-bottom: 3px;
    min-height: 3rem;
    text-align: left;
    padding-left: 1rem !important;
    
    .icon-remove-product {
        margin-left: 5px;
        color: #d00808ad;
    }

    .icon-remove-product:hover {
        color: #d00808d6;
    }
}

.product-item:hover {
    background: #f1f1f1;
}

.prod.disabled {
    opacity: .3;
    pointer-events: none;
}

.prod .disabled-message {
    display: none;
}

.prod.disabled .disabled-message {
    display: inline-block;
}

/* */
.btn-floating.btn-large {
    width: 10vh;
    height: 10vh;
    padding: 0;
    line-height: 10vh !important;
}
.btn-large i{
    font-size: 5vmax !important;
    line-height: inherit !important;
}

.full-width.bottom-button {
    width: 100%;
    height: 10vh;
    font-size: 3vmin !important;
}

.gradient-button-background{
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color, var(--primary-color)) 100%);
    color: var(--background-color, white);
    border: var(--background-color, white);
}
