// Early Variables
    html{
    // Early App Settings
        --main-font: 'Ubuntu', sans-serif;
        --main-font-color: black;
    // End App Settings

    // Early Colors
        --primary-color: #0069c8;
        --secundary-color: #11386B;
    // End Colors
    }
// End Variables

// Early QrcodeTicket

    .bottom-qrcode-ticket{
        position: absolute;
        width: 100%;
        bottom: 20%;
    }

    .top-qrcode-ticket{
        position: absolute;
        width: 100%;
        top: 13%;
    }

// End QrcodeTicket

// Early AddCard

    .select-wrapper input.select-dropdown{
        color: #9e9e9e;
        font-size: 4vmin !important;
    }

// End AddCard

// Early AlterarEndereco

    .center-two-elements {
        display: inline-flex;
        margin: auto;
        width: 80%;
    }

    .center-two-elements > div {
        width: 50%;
    }

    .width-49 {
        width: 49%;
    }

    .fluxo-perfil .bottom-10 {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }

    .inp-right {
        position: absolute;
        right: 10%;
    }

    .half-width {
        width: 42%;
    }

    .half-width > div {
        width: 100%;
    }

    @media (max-width: 350px) {
        .bottom-10 {
            position: relative;
            width: 100%;
            bottom: none;
        }
    }

// End AlterarEndereco

// Early AlterarSenha

    .title-senha {
        font-size: 25px;
        font-weight: 500;
    }

    .alterar-senha > .bottom-10 {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }

    .width-45 {
        width: 45%;
    }

    .SIM a,
    .two {
        width: 45%;
        margin-left: 24px;
    }

// End AlterarSenha

// Early Balance, BuyCredit

    #app > div > div > div > div > div.modal-body.row.margin-none > div > div > div > input{
        color: white !important;
        text-align: center;
    }

    .collection.row.margin-bottom-7{
        border-top-color: transparent !important;
            border-bottom-color: transparent !important;

    }

    .section-title{
        border-bottom: 1px solid #0069c8;
        color: #0069c8 !important;
        font-size: 0.7em;
    }

// End Balance, BuyCredit

// Early BuyEventTicket

    .row.title_event{
        padding: 5px;
        color: #0069c8;
    }

    .table_header{
        display: flex;
        justify-content: space-between;
    }

// End BuyEventTicket

// Early Cadastros
    label {
        transition: 0s !important
    }

// End Cadastros

// Early CarteiraDigital

    .label-intro-carteira {
        margin: 20px 10%;
        font-weight: 500;
    }
    .label-intro-carteira-top {
        border-bottom: 2px solid #0069c8 !important;
        padding-bottom: 0 !important;
        margin: 0 10% !important;
    }
    .label-intro-carteira-bot {
        padding: 0 !important;
        margin: 0 !important;
    }
    .label-intro-carteira-bot2 {
        padding: 0 !important;
        margin: 0 !important;
        margin-top: -2px !important;
    }

    .margin-top-none{
        margin-top: 0 ! important;
    }

    .padding-none{
        padding: 0 !important;
    }

    .border_bottom_shadow{
        border-bottom: 2px solid #d4d4d4;
    }

    .card-carteira {
        border-radius: 15px;
        height: 410px;
        margin: 0 5%;
        box-shadow: 0px 1px 1px 1px rgb(158, 158, 158);
        overflow: hidden;
    }
    .card-carteira .top {
        background: rgba(0, 0, 0, 0.05);
        height: 45%;
    }
    .card-carteira .bottom {
        padding-top: 5px;
        height: 55%;
    }
    .card-carteira .top .image-container {
        padding: 10px 20% 0 20%;
        margin-bottom: 0px;
        height: 110px;
        display: flex;
        margin: unset;
        justify-content: center;
    }
    .card-carteira .top .image-container > div > img {
        border-radius: 100%;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .card-carteira .bottom .qrcode-container {
        margin-bottom: 0px;
        height: 205px;
        display: flex;
    }
    .card-carteira .bottom .qrcode-container #qrcode {
        width: calc(200px - 1rem);
        height: calc(200px - 1rem);
        margin: auto;
    }
    .card-carteira .bottom .qrcode-container #qrcode img {
        width: 100%;
        height: 100%;
    }
    .bottom .progress {
        height: 10px !important;
        background-color: white !important;
        margin: 0.5rem 0 1rem 0 !important;
    }
    .progress .determinate {
        height: 100% !important;
        background-color: #0069c8 !important;
    }

    .qrcode_heigth{
        display: flex;
        justify-content: center;
    }

    .qrcode_heigth > img{
        width: 50px;
        height: 50px;
    }

    .flex_column{
        flex-direction: column;
    }

    .striper.ingress{
        padding: 10px !important;
        margin-bottom: 10px !important;
        margin-top: -10px;
    }

    .ticket.carousel{
        height: auto !important;
        overflow: visible;
        margin: 0 !important;
        margin-left: 0 !important;
    }

    .centralizado{
        display: flex;
        justify-content: center;
    }

    .carousel_tickets > button{
        display: none !important;
    }

    .slick-dots li button{
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .slick-dots li button:hover{
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .slick-slide .slick-current .slick-active{
        width: 100%;
    }

    .menssagem{
        color: white;
    }

// End CarteiraDigital

// Early CreditSuccess

    .creditsuccess .meio{
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
    }

// End CreditSuccess

// Early Dependent

    .btn_edit_dependent{
        width: 100% !important;
        border: 2px solid #0069c8 !important;
    }

    .used_month{
        text-align: left;
        color: #0069c8;
    }

    .card_number{
        color: rgba(0, 0, 0, 0.42);;
    }

    .used_value{
        text-align: right;
        color: red;
    }

    .switch_habilitar{
        display: flex;
        justify-content: flex-end;
    }

    .value_green{
        color: #26D223 !important;
    }

// End Dependent

// Early Dependents

    .preferences{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .in_the_middle{
        margin-left: auto;
        margin-right: auto;
    }

    .preferences > .preferences-input{
        width: 56%;
        margin-left: auto;
    }

    .preferences > .preferences-button{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .preferences > .preferences-button > div > button{
        width: 70%;
    }

    .width-80{
        width: 80% !important;
    }

    .btn-cancel{
        border: 2px solid !important;
    }

// End Dependents

// Early EscolherUnidade, FilterEvents, SelectEventWithMenu

    .label-introducao {
        margin-bottom: 0;
    }

    .label-subtitulo > a {
        font-size: 1.6em;
        font-weight: bold;
    }

    .btn-bottom-0 {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }

// End EscolherUnidade

// Early EventDetails

    .data-evento {
        margin-bottom: 15px;
    }

    .info .info-left, .info .info-right {
        display: inline-block;
        padding-top: 5px;
    }

    .info .info-middle {
        display: inline-block;
        width: calc(100% - 88px);
        position: absolute;
        left: 42px;
    }

    .image_content{
        position: relative;
        display: flex;
    }

    .image_content > .title_event{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        color: white;
        font-weight: 600;
        margin-bottom: 2%;
    }

    .event_image > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .event_image{
        width: 100%;
        height: 256px;
        display: flex;
        flex-direction: column;
    }

    .msgTitle.visibleHeader {
        font-size: 13px;
        margin-top: 8px;
        color: #0069c8 !important;
    }

    .msgTitle{
        color: white !important;
        transition: .2s;
    }

    .w-100.image-half > img{
        width: 100% !important;
    }

    .event-details > .info{
        padding: 10px;
    }

    .justify{
        justify-content: space-between;
    }

    .margin-bottom-15{
        margin-bottom: 15px;
    }

    .margin-bottom-10{
        margin-bottom: 10px;
    }

    .vertical{
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .section-title{
        border-bottom: 2px solid #0069c8;
        color: #0069c8;
        font-size: 1.3em;
    }

    .about{
        text-align: justify;
    }

    .display-flex{
        display: flex;
    }

    .name-ticket{
        text-align: left;
    }

    .price-ticket{
        color: #0069c8;
        font-weight: 500;
        text-align: left;
        margin-left: 10px;
    }

// End EventDetails

// Early Events

    .visibility-hidden{
        visibility: hidden;
    }

    .card_events_content{
        display: flex !important;
        justify-content: space-evenly !important;
        flex-flow: row wrap !important;
    }

    .full-height {
        height: 100%;
    }

    .events-top-wrapper {
        min-height: calc(100% - 58px);
    }

// End Events

// Early FilterEvents

    .margin-top {
        margin-top: 2rem;
        margin-bottom: 0 !important;
    }

    .bottom-10-large {
        position: absolute !important;
    }

    @media (max-height: 670px) {
        .bottom-10-large {
            position: relative !important;
        }
    }

// End FilterEvents

// Early HomeApp

    .section-title{
        color: black;
        font-weight: 300;
        margin-left: 15px;
    }

    .section-title.ajuste{
        color: black !important;
        border-bottom: 0 !important;
    }

    .text-left{
        text-align: left;
        margin-top: 3px;
    }

    .separator{
        height: 10px;
        background-color: #EAEAEA;
    }

    .schedule {
        margin-bottom: 40px;
    }

// End HomeApp

// Early InfoView

    .info-view > img{
        width: 50% !important;
    }

    .title-info{
        font-size: 25px;
        color: #11386B !important;
        font-weight: normal;
    }

    .na-recebi{
        font-weight: bold;
        font-size: 14px;
    }

    .margin-top-15{
        margin-top: 10%;
    }

// End InfoView

// Early NewsDetails

    .image_content{
        position: relative;
        display: flex;
    }

    .news-content {
        white-space: normal;
        text-align: left;
    }

    .news-content img {
        max-width: 100%;
    }

    .image_content > .title_news{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        color: white;
        font-weight: 600;
        margin-bottom: 2%;
    }

    .news_image > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .news_image{
        width: 100%;
        height: 256px;
        display: flex;
        flex-direction: column;
    }

    .msgTitle.visibleHeader {
        font-size: 13px;
        margin-top: 8px;
        color: #0069c8 !important;
    }

// End NewsDetails

// Early NominateTicket

    .container-retirada {
        margin: 0 10px;
        padding-left: 0;
        text-align: left;
    }

    .nominate_card{
        margin: 8px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
        background-color: #0069c8 !important;
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
        border: 2px solid #0069c8 !important;
    }

// End NominateTicket

// Early Perfil

    .margin-auto {
        margin: auto;
    }

    .btn-change-photo.perfil {
        background-color: #0069c8 !important;
        border-radius: 50%;
        width: 37px !important;
        height: 37px !important;
        min-width: 0 !important;
        color: white;
        position: absolute;
        top: 140px;
        right: 33%;
        font-size: 26px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 0px; */
        padding: 5px !important;
        text-align: center;
    }

    .btn-change-photo.perfil i {
        font-size: 26px !important;
    }

    .btn-change-photo.perfil {
        border-radius: 50% !important;
    }

    @media (max-width: 350px) {
        .bottom-10 {
            position: relative;
            width: 100%;
            bottom: none;
        }
    }

// End Perfil

// Early QrcodeProduct, QrcodeTicket

    .qrcode_product > div > div > .count_ball{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #0069c8;
        color: white;
        font-size: 25px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bottom .qrcode-container {
        margin-bottom: 0px;
        height: 205px;
        display: flex;
    }

    .bottom .qrcode-container #qrcode {
        width: calc(200px - 1rem);
        height: calc(200px - 1rem);
        margin: auto;
    }

    .bottom .qrcode-container #qrcode img {
        width: 100%;
        height: 100%;
    }

    .progress {
        height: 10px !important;
        background-color: white !important;
        margin: 0 !important;
    }

    .progress .determinate {
        height: 100% !important;
        background-color: #0069c8 !important;
    }

    .event-name {
        font-weight: bold;
        font-size: 1.5rem;
    }

// End QrcodeProduct, QrcodeTicket

// Early Tickets

    .qrcode_heigth{
        display: flex;
        justify-content: center;
    }

    .qrcode_heigth > img{
        width: 50px;
        height: 50px;
    }

    .flex_column{
        flex-direction: column;
    }

    .striper.ingress{
        padding: 10px !important;
        margin-bottom: 10px !important;
        margin-top: -10px;
    }

    .ticket.carousel{
        height: auto !important;
        overflow: visible;
        margin: 0 !important;
        margin-left: 0 !important;
    }

    .centralizado{
        display: flex;
        justify-content: center;
    }

    .carousel_tickets > button{
        display: none !important;
    }

    .slick-dots li button{
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .slick-dots li button:hover{
        box-shadow: none !important;
        background-color: transparent !important;
    }

// End Tickets

// Early BeginningCreatePassword

.padding-cadastro{
    padding: 2vmin 5vmin 2vmin 5vmin;
    font-size: 6vmin;
  }

  .menssagem{
    font-weight: 500;
    font-size: 14px;
  }

  .margin-bottom-20{
    margin-bottom: 20px;
  }

  .btn-bottom-10{
    position: absolute;
    width: 100%;
    bottom: 10%;
  }

  .margin-top-10{
    margin-top: 10px;
  }

// End BeginningCreatePassword

// Early InfoView


.info-view > img{
    width: 50% !important;
}

.title-info{
    font-size: 30px;
    color: #11386B;
    font-weight: normal;
}

.na-recebi{
    font-weight: bold;
    font-size: 14px;
}

.margin-top-15{
    margin-top: 10%;
}

// End InfoView


// Early OrderDetails


.items-container {
    margin-bottom: 20px;
}
.infos-container {
    /* margin-top: 20px; */
    text-align: left;
    padding: 0 10px;
}
.bold {
    font-weight: bold;
}
.infos-container .nome-loja {
    font-size: 1.4rem !important;
}
.order-details > .divBtnReadQrcode > .bottom_fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.order-details > .divBtnReadQrcode > .bottom_fixed > button{
    width: 100%;
    border-radius: 0;
    height: 50px !important;
    font-size: 15px !important;
}


// End OrderDetails


// Early ProductMenu
.store-image-header {   
    width: 100%;
}
.branco{
    color: white !important;
}

#chips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
}
#about-store {
    text-align: left;
    padding: 5px 10px 0;
    font-size: 1.1rem;
}
.chip {
    margin: 10px 2px;
    margin-bottom: unset;
}
.store-content {
    position: absolute;
    top: 200px;
    background-color: white;
    min-height: calc(100% - 200px);
    width: 100%;
}
.store-content.full-height {
    top: 40px;
}
#store-info {
    position: relative;
    display: block;
}
#products-list {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.category-name a {
    font-size: 1.6rem;
    font-weight: bold;
}
.category-name{
    margin: 0 0 0 0;
    margin-bottom: 0 !important;
    text-align: left;
    padding: 10px;
}
.product_menu-checkout.striper{
    padding: 1px !important;
    background-color: #2D68C4;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
}

.striper > a{
    color: white;
}
.batata{
    color: white;
}
.margin-20{
    margin: 20px 10px 20px 10px !important;
}

.product_menu-checkout .bottom-fixed, .order-details .bottom-fixed {
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: fit-content;
    z-index: 10000;

}
.product_menu-checkout .bottom-fixed button, .order-details .bottom-fixed button {
    border-radius: 1vmin;
}
@media (min-width: 600px) {
    .product_menu-checkout .bottom-fixed button, .order-details .bottom-fixed button {
        border-radius: 2vmin;
    }
    .product_menu-checkout .bottom-fixed, .order-details .bottom-fixed {
        height: auto !important;
        width: 60vw;
        bottom: 15px;
        left: 15%;
    }
}
.product_menu-checkout .bottom-fixed .full-width.bottom-button, .order-details .bottom-fixed .full-width.bottom-button {
    width: 100% !important;
    font-size: 1rem !important;
    height: 100%;
}

.botao-flutuante{
    position: fixed;
    z-index: 9999999;
    right: 2vh;
    bottom: calc(10% - 25px);
}

@media (min-width: 600px) {
    .botao-flutuante{
        position: fixed;
        z-index: 9999999;
        right: 2vh;
        bottom: 20px;
    }
}
// End ProductMenu

// Early LerQRMesa
.lerQrMesa > .info_message{
    position: absolute;
    width: 100%;
}

.lerQrMesa > .molduraQr{
    transition: 0.5s;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lerQrMesa > .molduraQr > .moldura{
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.75);
    border: 0.5vmin solid #0069c8;
}

.lerQrMesa > .molduraQr > .moldura > div{
    width: 12vmin;
    height: 12vmin;
}

.lerQrMesa > .molduraQr > .moldura > .left_top{
    position: absolute;
    top:0;
    left: 0;
    border-top: 2.5vmin solid #0069c8;
    border-left: 2.5vmin solid #0069c8;
}

.lerQrMesa > .molduraQr > .moldura > .right_top{
    position: absolute;
    top:0;
    right: 0;
    border-top: 2.5vmin solid #0069c8;
    border-right: 2.5vmin solid #0069c8;
}

.lerQrMesa > .molduraQr > .moldura > .left_bot{
    position: absolute;
    bottom:0;
    left: 0;
    border-bottom: 2.5vmin solid #0069c8;
    border-left: 2.5vmin solid #0069c8;
}

.lerQrMesa > .molduraQr > .moldura > .right_bot{
    position: absolute;
    bottom:0;
    right: 0;
    border-bottom: 2.5vmin solid #0069c8;
    border-right: 2.5vmin solid #0069c8;
}

// End LerQRMesa

