<template>
  <div class="choose-taas-view" style="width: 100%">
    <HeaderCircleButton
      v-bind:firstButton="true"
      :fb="backButton"
      :visibleAt="-1"
      logo="bipfun-logo.svg"
      :title="'Terminais'"
    />
    <div
      style="
        color: rgba(0, 0, 0, 0.95);
        width: 100%;
        font-size: 4.5vw;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
      "
    >
      Selecione um terminal de atendimento
    </div>

    <!-- <TextLink classDiv="padding-orders instruction-text" link-label="" class-component="message" />
    <div class='banner-container banner-container-unset-height' > -->
    <div
      v-if="taas && taas.length"
      class="banner-container"
      ref="bannerContainer"
    >
      <!-- <div class='banner-container banner-container-unset-height' > -->
      <div v-for="(t, index) in taas" :key="index">
        <Minicard @click.native="goToNext(t)">
          <span slot="title" style="text-align: center">{{ t.name }}</span>
        </Minicard>
      </div>
    </div>

    <div
      v-else-if="taas && taas.length == 0 && taasLoaded"
      style="
        position: absolute;
        position: absolute;
        width: 100%;
        top: 1rem;
        margin: calc(50% - 7vw) 0;
      "
    >
      <EmptyState
        text="Desculpe, não encontramos nenhum terminal."
        iconClass="fal"
        icon=""
      />
    </div>

    <div
      v-else
      style="
        position: absolute;
        position: absolute;
        width: 100%;
        top: 1rem;
        margin: calc(50% - 7vw) 0;
      "
    >
      <EmptyState text="Aguarde um momento..." iconClass="fal" icon="lupa" />
    </div>

    <LoadingPhases v-on:clickError="closeError" />
  </div>
</template>
<style>
.choose-taas-view .title {
  position: relative;
  width: 100%;
  font-size: 2rem;
  padding: 0 1rem !important;
}

.choose-taas-view .home-section-title {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: unset;
  padding: unset !important;
}

.choose-taas-view .marginActive {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: unset !important;
  text-align: left;
}

.choose-taas-view .banner-container {
  /*top: var(--top-header-space); */
  width: 100%;
  height: calc(
    100vh - 4.5vw - var(--top-header-space) - env(safe-area-inset-bottom)
  );
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 1rem;
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */
.choose-taas-view .banner {
  animation-name: fade;
  animation-duration: 0.6s;
  width: calc(100% - 3rem);
  margin: 1rem;
  box-shadow: rgb(11, 11, 11, 0.2) 0 0.1rem 0.3rem 0.1rem;
  border-radius: 0.5rem;
}

.choose-taas-view-section-title {
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.choose-taas-view .minicard-wrapper {
  width: calc(100% - 3rem);
  height: 18vh;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.choose-taas-view .minicard-wrapper .minicard-main {
  flex-direction: row-reverse;
}

.choose-taas-view .minicard-wrapper .minicard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  overflow: hidden;
}

.choose-taas-view .minicard-wrapper .minicard-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  text-align: right;
}

.choose-taas-view .minicard-wrapper .minicard-title {
  font-size: 6vw;
  line-height: 6vw;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.choose-taas-view .minicard .icon {
  color: var(--primary-color);
  font-size: 2vw;
  margin-right: 0.1rem;
  widows: 1rem;
}

.choose-taas-view .minicard .minicard-image {
  display: none;
}

.choose-taas-view .minicard .minicard-body {
  font-size: 3vw;
  margin-top: 2vw;
}

.choose-taas-view .minicard .icon {
  font-size: 3vw;
}

.choose-taas-view .minicard .tass-tag {
  border-radius: 0.5rem;
  background: rgba(78, 63, 63, 0.1);
  float: left;
  padding: 0 0.5rem;
  margin-right: 1rem;
  font-size: 3vw;
}

.choose-taas-view .highlight .minicard-wrapper {
  height: 25vh;
  box-shadow: 0px 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

.choose-taas-view .highlight .minicard-wrapper .minicard-main {
  height: 100%;
}

.choose-taas-view .highlight .minicard-wrapper .minicard-header {
  width: calc(100% - 25vh + 2rem);
}

.choose-taas-view .highlight .minicard-wrapper .minicard-side {
  width: 0;
  display: none;
}

.choose-taas-view .highlight .minicard-wrapper .minicard-title {
  font-size: 5vw;
}

.choose-taas-view .minicard.highlight .icon {
  color: var(--primary-color);
  font-size: 2vw;
  margin-right: 0.1rem;
  widows: 1rem;
}

.choose-taas-view .highlight .minicard-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.choose-taas-view .minicard.highlight .minicard-image {
  width: calc(25vh - 2rem);
  height: calc(25vh - 2rem);
}

.choose-taas-view .minicard.highlight .minicard-body {
  font-size: 4vw;
}

.choose-taas-view .minicard.highlight .icon {
  font-size: 4vw;
}

.choose-taas-view .minicard.highlight .tass-tag {
  font-size: 3.6vw;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}

.choose-taas-view .header-circle-button .header-title {
  position: unset;
  margin-left: 1vw;
  text-align: left;
  font-size: 4vw;
}

.choose-taas-view .header-circle-button .logo {
  width: 18vw;
  background-size: 90% 90%;
}

.choose-taas-view .emptyStateIcon {
  font-size: 12vw;
  margin: 0 auto;
}

.choose-taas-view .emptyStateText {
  font-size: 4vw;
  color: gray;
  font-weight: bold;
  text-align: center;
}
.choose-taas-view .emptyStateDiv {
  width: 100%;
  position: absolute;
  margin: auto 0;
  margin-top: 50%;
}
</style>

<script lang="ts" src='../controllers/ChooseTaas.ts'></script>