<template>
  <div class="choose-organization-view" style="width: 100%">
    <HeaderCircleButton v-bind:firstButton="true" :fb="backButton" :visibleAt="180" logo="bipfun-logo.svg" :title="'Suas organizações'"/>         
    <TextLink classDiv="padding-orders instruction-text" link-label="Escolha uma organização para começar:" class-component="message" />
    <div class='banner-container banner-container-unset-height' >
      <Minicard v-for="(o,index) in organizations" :key="index" @click.native="loginToOrganization(o)">
        
        <span slot='title'>{{o.name}}</span>
        <span slot='description'>{{o.about}}</span>
        <img slot='image'  v-if="o.logoImageSmall" :src="o.logoImage"/>
        <!-- <div slot='info'>
        </div> -->
      </Minicard>
      
    </div>
    <ModalCodigo v-if="confirmLogoutModal" @close="confirmLogoutModal = false" icon="error_outline" :content="'Deseja deslogar e retornar a tela de login?'">
      <div class="display-flex" slot="footer">
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="Sim"
          class-component="button-modal"
          v-on:buttonCallBack="goBack"
        />
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="Não"
          class-component="button-modal"
          v-on:buttonCallBack="()=>{confirmLogoutModal=false}"
        />
      </div>
    </ModalCodigo>
    <LoadingPhases v-on:clickError="closeError" />
  </div>
</template>
<style>

.choose-organization-view .message {
  color: black;
  font-size: 1.5rem;
}

.choose-organization-view .minicard-wrapper {
  width: calc(100% - 1rem);         
  height: 7rem;
}

.choose-organization-view .minicard .icon{
  color: var(--primary-color);         
  font-size:1rem;
  margin-right: 0.1rem;
  widows: 1rem;
}

.choose-organization-view .minicard .minicard-header{
  justify-content: center;
}

.choose-organization-view .title {
  margin-top: 1rem;         
  position: relative;
}
.choose-organization-view .storeBanner {
  position: relative;         
  height: 14rem;
  width: 100%;
}

.choose-organization-view .banner-container {   
  padding: 1rem 0 env(safe-area-inset-bottom) 1rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.choose-organization-view .banner-container-unset-height {
  height: unset;         
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */
.choose-organization-view .banner {
    animation-name: fade;         
    animation-duration: 0.6s;
    width: calc(50% - 1rem);
    max-width: 14rem;
    margin: 0 1rem 1rem 0;
    box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem;
    border-radius: 0.5rem;
    float: left;
}

.choose-organization-view-section-title{
  font-size: 1.5rem;         
  text-align: left;
  text-decoration: none;
  padding: 0;
}


.choose-organization-view .minicard-footer{
    font-size: 0.9rem;         
    text-align: left;
    color: gray;
}

.choose-organization-view .minicard .minicard-main{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: space-between;
}

.choose-organization-view .minicard .minicard-title{
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.choose-organization-view .minicard .minicard-image{
  border-radius: unset;
  width: 25%;
  height: 100%;
  position: relative;
}

.choose-organization-view .minicard-image img{
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  background-color: unset;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow:unset;
}


@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}
</style>

<script lang="ts" src='../controllers/ChooseOrganization.ts'></script>