<template>
  <div class="choose-structure-view" style="width: 100%">
    <HeaderCircleButton
      v-bind:firstButton="true"
      :fb="backButton"
      :visibleAt="-1"
      logo="bipfun-logo.svg"
      :title="'Estruturas'"
    />
    <TextLink
      classDiv="padding-orders instruction-text"
      link-label="Escolha uma unidade para começar:"
      class-component="message"
    />
    <div class="banner-container banner-container-unset-height">
      <Minicard
        v-for="(s, index) in parentStructures"
        :key="index"
        @click.native="setStructureDataAndEnter(s)"
      >
        <span slot="title">{{ s.name }}</span>
        <span slot="description">{{ s.about }}</span>
        <!-- <div slot='info'>
        </div> -->
      </Minicard>
    </div>
    <ModalCodigo
      v-if="confirmLogoutModal"
      @close="confirmLogoutModal = false"
      icon="error_outline"
      :content="'Deseja deslogar e retornar a tela de login?'"
    >
      <div class="display-flex" slot="footer">
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="Sim"
          class-component="button-modal"
          v-on:buttonCallBack="goBack"
        />
        <DefaultButton
          classDiv="width-45 in_the_middle"
          name-button="Não"
          class-component="button-modal"
          v-on:buttonCallBack="
            () => {
              confirmLogoutModal = false;
            }
          "
        />
      </div>
    </ModalCodigo>
    <LoadingPhases v-on:clickError="closeError" />
  </div>
</template>
<style>
.choose-structure-view .message {
  color: black;
  font-size: 4vw;
  text-align: left;
}

.choose-structure-view .instruction-text {
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  position: relative;
  padding: 0;
  top: 3.5rem;
  margin: 0 2rem 2rem;
}

.choose-structure-view .minicard-wrapper {
  width: calc(100% - 4rem);
  height: 20vw;
  margin: 0 auto 2rem;
}

.choose-structure-view .minicard .icon {
  color: var(--primary-color);
  font-size: 1rem;
  margin-right: 0.1rem;
  widows: 1rem;
}

.choose-structure-view .minicard .minicard-header {
  justify-content: center;
}

.choose-structure-view .title {
  margin-top: 1rem;
  position: relative;
}
.choose-structure-view .storeBanner {
  position: relative;
  height: 14rem;
  width: 100%;
}

.choose-structure-view .banner-container {
  padding: 0 0 env(safe-area-inset-bottom);
  width: 100%;
  height: calc(100% - 3.5rem);
  top: 3.5rem;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.choose-structure-view .banner-container-unset-height {
  height: unset;
}

.emptyFavorites {
  width: 100%;
  position: relative;
  margin: auto 0;
  margin-top: 10%;
}

/* Add Animation */
.choose-structure-view .banner {
  animation-name: fade;
  animation-duration: 0.6s;
  width: calc(50% - 1rem);
  max-width: 14rem;
  margin: 0 1rem 1rem 0;
  box-shadow: rgb(11, 11, 11, 0.2) 0 0.1rem 0.3rem 0.1rem;
  border-radius: 0.5rem;
  float: left;
}

.choose-structure-view-section-title {
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.choose-structure-view .minicard-footer {
  font-size: 0.9rem;
  text-align: left;
  color: gray;
}

.choose-structure-view .minicard .minicard-main {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: center;
}

.choose-structure-view .minicard .minicard-title {
  font-size: 5vw;
  line-height: 5vw;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.choose-structure-view .minicard .minicard-image {
  border-radius: unset;
  width: 25%;
  height: 100%;
  position: relative;
  display: none;
}

.choose-structure-view .minicard-image img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  background-color: unset;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: unset;
}

@-webkit-keyframes zoom {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkitopacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .emptyFavorites {
    width: 100%;
    position: relative;
    margin: auto 0;
    margin-top: 2%;
  }
}
</style>

<script lang="ts" src='../controllers/ChooseStructure.ts'></script>