<template>
    <div class="">
        <HeaderFluxo name-fluxo="Dependente">
          <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
        </HeaderFluxo>
        <div>
            <div class="dependentApresentation">
                <div class="dependentPhoto">
                    <img :src="dependent.USER_DATA.IMAGE">
                </div>
                <div class="dependentName">
                    <span>{{dependent.USER_DATA.FIRST_NAME + ' ' + dependent.USER_DATA.LAST_NAME}}</span>
                </div>
            </div>
            <div class="" style="margin: 20px 10px 10px 10px; padding: 10px 0; text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column;">
                <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Cartão de Crédito: </span>
            </div>
            <ListDefault typeList="collection margin-top-none">
                <TwoOptionList slot="options">
                    <div slot="item_left" class="used_month">
                        <span>Habilitar uso do cartão:</span><br/>
                        <span class="card_number">{{LAST_NUMBER}}</span>
                    </div>
                    <div slot="item_right" class="switch_habilitar">
                        <div class="switch switch-padrao">
                            <label>
                                <input :id="'CARD_STATUS_'+dependent.USER_DATA.ID" type="checkbox" v-on:click="enableDisabledDependentCard(dependent.USER_DATA.ID)">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </TwoOptionList>
                <TwoOptionList id="limiteDeUso" slot="options">
                    <div slot="item_left">
                        <div class="input-field margin-bottom-0 margin-top-2">
                            <input :id="'LIMIT_CARD_'+dependent.USER_DATA.ID" style="margin-top: 10px;" type="tel" v-money="money" v-model.lazy="DEPENDENT_LIMIT" disabled/>
                            <label id="LABEL_LIMIT_CARD" for="LIMIT_CARD">Limite de uso mensal do cartão</label>
                        </div>
                    </div>
                    <div slot="item_right">
                        <DefaultButton :idComponent="'EDIT_LIMIT_TO_'+this.dependent.USER_DATA.ID" name-button="editar" class-component="waves-effect waves-light btn-small primary-color-bg btn_edit_dependent" v-on:buttonCallBack="editLimitMonth"/>
                        <DefaultButton :idComponent="'CANCEL_LIMIT_TO_'+this.dependent.USER_DATA.ID" name-button="cancelar" classDiv="display-none" class-component="waves-effect waves-light btn-small btn_edit_dependent button-outline" v-on:buttonCallBack="cancelEditLimitMonth"/>
                    </div>
                </TwoOptionList>
                <TwoOptionList slot="options">
                    <div slot="item_left" class="used_month">
                        <span>Valor utilizado no mês:</span>
                    </div>
                    <div slot="item_right" class="used_value">
                        <span>{{DEPENDENT_EXPENSES_MONTH || 'R$ 0,00'}}</span>
                    </div>
                </TwoOptionList>
            </ListDefault>
            <div style="position: relative;">
                <span slot="item_right" class="hasSoonD">breve</span>
                <div class="opacity-05" style="margin: 20px 10px 10px 10px; padding: 10px 0; text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column;">
                    <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Credito em Eventos: </span>
                </div>
                <ListDefault typeList="collection margin-top-none">
                    <TwoOptionList slot="options">
                        <div slot="item_left" class="opacity-05">
                            <div class="input-field margin-bottom-0 margin-top-2">
                                <input id="EVENT_CREDIT" type="tel" class="value_green" v-money="money" v-model.lazy="BALANCE" disabled/>
                                <label id="LABEL_EVENT_CREDIT" for="EVENT_CREDIT">Saldo para eventos</label>
                            </div>
                        </div>
                        <div slot="item_right">
                            <!-- <DefaultButton idComponent="EDITAR_SALDO" style="opacity: 0.5;" name-button="comprar" class-component="waves-effect waves-light btn-small primary-color-bg btn_edit_dependent" v-on:buttonCallBack="goToAddBalance(dependent.USER_DATA.ID)"/> -->
                            <DefaultButton idComponent="EDITAR_SALDO" class="opacity-05" name-button="comprar" class-component="waves-effect waves-light btn-small primary-color-bg btn_edit_dependent" v-on:buttonCallBack="goToAddBalance(dependent.USER_DATA.ID)"/>
                        </div>
                    </TwoOptionList>
                </ListDefault>
            </div>
        </div>
        <DefaultButton :idComponent="'SAVE_LIMIT_TO_'+dependent.USER_DATA.ID" name-button="salvar" classDiv="display-none" class-component="default-button waves-effect waves-light btn-small primary-color-bg" v-on:buttonCallBack="editDependentMonthlyLimit(dependent.USER_DATA.ID)"/>
        <!-- <div class="row padding-10 footer-logo">
            <img src="../assets/zeedhi_new_logo.svg">
        </div> -->
    </div>
</template>
<script lang='ts' src='../controllers/Dependent.ts'>
</script>