<template>
   <div class="event-details">
        <InvisibleHeader desiredScrollTop="150">
            <DefaultButton slot="left" v-on:buttonCallBack="goBack" class-component="button-icon secundary-color" icon="keyboard_arrow_left"/>
        </InvisibleHeader>
        <div class="image_content">
            <EventDetailImage class-component="event_image" :image-file="eventDetail.imageCover" />
            
            <a v-on:click="toggleFavorite()" class="favorite-event waves-effect">
                <font-awesome-icon 
                    class='heart'
                    :icon="[isFavorited ?'fas':'far', 'heart']"
                    :style="{ 'color': isFavorited ? 'red': 'black' }"
                />
            </a>
        </div>
        <div style="border-radius: 10px;margin: 0 20px 20px;box-shadow: 0px 0px 1px 1px #000000ad;position: absolute;top: 150px;background: white;z-index: 1000;">
            <div class="title_event category-name title" style="width:100%; height:100%; margin-left: 0 !important; padding: 30px 15px 0 20px;">
                <a class="msgTitleEvents">{{eventDetail.name}}</a>
            </div>
            <p class="card-title about">{{eventDetail.about}}</p>
            <div class="info-left">
                <div style="display: inline-flex; margin: 25px 15px 5px 21px;">
                    <font-awesome-icon :icon="['fal', 'calendar']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 1px;" />
                    <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">{{formatDate(eventDetail.initialDate.date)}}</span>
                </div>
                <div style="display: inline-flex; margin: 12px 15px 5px 20px;">
                    <font-awesome-icon :icon="['fal', 'map-marker-alt']" size="2x" fixed-width style="font-size: 20px; color:#4F4F4F; margin: 3px;" />
                    <span style="text-align: left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">{{eventDetail.location}}</span>
                </div><div/>
                <div style="display: inline-flex; margin: 12px 15px 5px 20px; justify-content: space-between;">
                    <div style="display: flex;">
                        <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">event_seat</i>
                        <span v-if="eventDetail.rating" style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; text-align:justify; color:#333333;">{{eventDetail.rating}}</span>
                        <span v-else style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;">Livre</span>
                    </div>
                </div>
                <div style="display: inline-flex; margin: 12px 15px 5px 20px; justify-content: space-between;">
                    <div style="display: flex;">
                        <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">attach_money</i>
                        <span style="text-align:left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;" v-if="!eventDetail.values">Entrada gratuita</span>
                        <span style="text-align:left; display: flex; flex-direction: column; justify-content: center; margin-left: 10px; color:#333333;" v-else><span>{{eventDetail.values}}</span></span> 
                    </div>
                </div>
            </div>
            <div class="flex row" style="margin: 7vh 0 0 0; display: flex;">
                <DefaultButton v-if="eventDetail.menuId && eventDetail.salesMethod == 'S'" classDiv="relative-auto" class-component="button-outline" name-button="COMPRAR PRODUTOS" v-on:buttonCallBack="goToSecondProductMenu" />
                <DefaultButton v-if="eventDetail.menuId && eventDetail.salesMethod == 'U'" classDiv="relative-auto" class-component="button-outline" icon="restaurant" iconClass="left" name-button="CARDÁPIO" v-on:buttonCallBack="goToProductMenu" />
                <DefaultButton v-if="eventDetail.ticketId" classDiv="relative-auto" name-button="COMPRAR INGRESSO" class-component="button" v-on:buttonCallBack="goToBuyEventTicket"/>
            </div>
        </div>
   </div>
</template>
<script lang='ts' src="../controllers/EventDetails.ts"></script>
<style>

    .data-evento {
        margin-bottom: 15px;
    }

    .relative-auto{
        width: 80%;
        position: relative;
        margin: auto;
        top: 100%;
        padding-bottom: 10px;
    }

    .info .info-left, .info .info-right {
        display: inline-block;
        padding-top: 5px;
    }

    .info .info-middle {
        display: inline-block;
        width: calc(100% - 88px);
        left: 42px;
    }

    .image_content{
        position: relative;
        display: flex;
    }

    .image_content > .title_event{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        color: white;
        font-weight: 600;
        margin-bottom: 2%;
    }

    .event_image > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .event_image{
        width: 100%;
        height: 256px;
        display: flex;
        flex-direction: column;
    }

    .msgTitleEvents.visibleHeader {
        font-size: 13px;
        margin-top: 8px;
        color: var (--primary-color) !important;
    }

    .msgTitleEvents{
        color: rgba(0, 0, 0, 0.87);
        transition: .2s;
        font-size: 18px!important;
    }

   .w-100.image-half > img{
        width: 100% !important;
        margin: 20px;
   }

   .event-details > .info{
        padding: 10px;
   }

   .justify{
       justify-content: space-between;
   }

   .margin-bottom-15{
       margin-bottom: 15px;
   }

   .margin-bottom-10{
       margin-bottom: 10px;
   }

   .vertical{
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
   }

   .section-title{
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.3em;
   }

   .about{
        margin: 20px;
        color:#828282;
        text-align: justify;
   }
   
   .display-flex{
       display: flex;
   }

   .name-ticket{
       text-align: left;
   }

   .price-ticket{
       color: var(--primary-color);
       font-weight: 500;
       text-align: left;
       margin-left: 10px;
   }

   .favorite{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    bottom: -20px;
    right: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.favorite-event{
    position: absolute !important;
    width: 35px;
    height: 35px;
    background-color: white;
    bottom: 50px !important;
    right: 40px !important;
    border-radius: 50%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    z-index: 1001 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.heart {
    margin-left: 20%;
    font-size: 20px;
    color: black;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999999;
}

</style>