    
<template>
  <div class="register-view">
      <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Recuperar senha"/>
      <div style="height: 45px" />
      <div class="subtitle" style="padding: 0 15px;">
        <span class="normal">Informe seu </span>
        <span class="highlight">e-mail </span>
        <span class="normal">para te enviarmos um link de recuperação.</span>
      </div>
      <div class="row" style="padding: 15px;">
        <div class="input-field">
          <input slot="input" class="row margin-none centralize-child" id="EMAIL_PASS" label="E-mail" type="email" v-on:change="onlyValidate" v-model="inputEmail"/>
          <label slot="input" id="EMAIL_PASS_l" for="EMAIL_PASS">E-mail</label>
          <span style="text-align: left; font-style: italic;" slot="input" class="helper-text" data-error="Endereço de e-mail inválido" data-success="Endereço de e-mail válido"></span>
        </div>
      </div>
      <!-- <router-link to="/ChooseContactMethodForPassword"> -->
      
      <DefaultButton class-component="waves-effect waves-light default-button-80" id-component="avancar" classDiv="row margin-top-10 btn-bottom-0" name-button="ENVIAR" v-on:buttonCallBack="preSendLinkForUser"/>
      
      <div v-if="false" class="row padding-10 footer-logo">
        <img src="../assets/zeedhi_new_logo.svg">
      </div>

      <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" :content="msgModal">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="okay"/>
        </div>
      </ModalCodigo>

      <ModalCodigo v-if="modalError" @close="modalError = false" icon="error_outline" :content="msgModalError">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="modalError = false;"/>
        </div>
      </ModalCodigo>

  </div>
</template>
<style>
#EMAIL_PASS {
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  border-bottom: 0 !important;
  box-shadow: 0 1px 0 0 lightgrey !important;
  line-height: 3rem !important;
  font-size: 1.5rem !important;
}

#EMAIL_PASS:focus {
  border: 0.1rem  solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 3rem !important;
  font-size: 1.5rem !important;
  box-shadow: 0px 0px var(--primary-color) !important;
}

#EMAIL_PASS_l{
    padding-left: 1rem;
}

#EMAIL_PASS_l.active {
    padding: 0.5rem 0.7rem;
    margin-left:0.8rem;
    color: var(--primary-color) !important;
    background-color: var(--background-color, white) !important
    
}
</style>
<script lang='ts'>
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import SectionArea from '../components/SectionArea.vue';
  import ModalCodigo from '../components/ModalCodigo.vue';
  import TextLink from '../components/TextLink.vue';
  import DefaultButton from '../components/DefaultButton.vue';
  import DivInput from '../components/DivInput.vue';
  import ImageModal from '../components/ImageModal.vue';
  import Request from '../ts/Request';
  import Util from '../ts/Util';
  import HeaderRelease from '../components/HeaderRelease.vue'
  import HeaderCircleButton from '@/modules/shared-components/HeaderCircleButton.vue';

@Component({
  components: { SectionArea, TextLink, DefaultButton , DivInput, ModalCodigo, ImageModal, HeaderRelease, HeaderCircleButton }
})

  export default class BeginningCreatePassword extends Vue {

    loginProps: any = JSON.parse(localStorage.getItem('LOGIN_PROPS') || '{}');

    inputEmail: string = '';
    msgModal: string = '';
    msgModalError: string = '';
    modal: boolean = false;
    modalError: boolean = false;
    logoBig: any = this.loginProps.logo;
    backButton: any = {iconClass: 'fas', icon: 'chevron-left', callback: this.goBack}

    mounted(){
        
    }

    onlyValidate(){
        const self = this;
        const emailRegex =  new RegExp(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/);
        if (!emailRegex.test(self.inputEmail)){
            $('#EMAIL_PASS').removeClass('valid');
            $('#EMAIL_PASS').addClass('invalid');
        } else {
            $('#EMAIL_PASS').removeClass('invalid');
            $('#EMAIL_PASS').addClass('valid');
        }
    }

    preSendLinkForUser(){
        const self = this;
        const emailRegex =  new RegExp(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/);
        if (!emailRegex.test(self.inputEmail)){
            $('#EMAIL_PASS').removeClass('valid');
            $('#EMAIL_PASS').addClass('invalid');
        } else {
            $('#EMAIL_PASS').removeClass('invalid');
            $('#EMAIL_PASS').addClass('valid');
            this.sendLinkForUser();
        }
    }

    sendLinkForUser() {
      try{
        const self = this
        const req = new Request();
        req.body = {
            'BRANCH': '1',
            'EMAIL' : this.inputEmail
        };
        req.route = 'recoverPassword';
        req.callbackSuccess = function(response: any) {


            if(response && response.response && response.response.status == 'ok') {
                self.msgModal = response.response.mens;
                self.modal = true;
            }
            if(response && response.response && response.response.status == 'erro') {
                self.msgModalError = response.response.des_erro;
                self.modalError = true;
            }
            if(response && response.response && response.response.status == 'null') {
                self.msgModalError = 'Ocorreu algum erro desconhecido. Tente novamente mais tarde.';
                self.modalError = true;
            }
            if(response && response.response && response.response.des_erro == 'null') {
                self.msgModalError = 'Ocorreu algum erro desconhecido. Tente novamente mais tarde.';
                self.modalError = true;
            }

        };
        req.callbackError = function(error: any) {
            self.msgModalError = 'Ocorreu algum erro desconhecido. Tente novamente mais tarde.';
            self.modalError = true;
            console.log(error);
        };
        req.blockTouchEvents = true;
        req.send();
      }catch (e) {
        console.log(e);
      }
    }

    okay(){
        this.modal = false;
        localStorage.setItem('CAME_FROM_FORGOT_PASSWORD', 'true');
        this.$router.push('LogIn');
    }

    goBack() {
      this.$router.go(-1);
    }
  }
</script>