<template>
  <div class="lfe-view-login">
    <!-- Logo da organização -->

    <div
      class="login-section"
      style="
        padding: 5vw 10vw;
        font-size: 3vw;
        displey: flex;
        flex-direction: column;
      "
    >
      <div
        class="logo"
        :style="`background-image: url('${logo}'); padding-bottom:4rem;`"
        @click="exitKiosk"
      ></div>
      <div class="highlight">{{ introductionMessageHighlight }}</div>
      <div class="normal" style="color: gray">{{ introductionMessage }}</div>
    </div>

    <div
      class="login-section"
      style="
        padding: 0 10vw;
        font-size: 3vw;
        display: flex;
        flex-direction: column;
      "
    >
      <div class="normal">
        Para inicializar a operação desta unidade,
        <span style="font-weight: bold"
          >logue com uma conta de administrador
        </span>
        e selecione as configurações desejadas.
      </div>
      <div style="margin: 5vw auto 5vw">
        <font-awesome-icon
          :icon="['fal', 'tablet-android-alt']"
          style="
            color: var(--primary-color);
            font-size: 20vw;
            position: relative;
            position: relative;
          "
        />
        <!--font-awesome-icon :icon="['fas', 'rss']" style="color: var(--primary-color); font-size: 5rem; position: relative; top: -7.2rem; left: 0.8rem" /-->
      </div>

      <div
        class="button-container"
        style="padding: 0 5vw; display: flex; flex-direction: column"
        v-on:click="LoginModal = true"
      >
        <!-- Login Method -->
        <label class="labels-modal">E-mail</label>
        <input-text
          inputType="text"
          idInput="ADMIN_EMAIL_INPUT"
          idLabel="ADMIN_EMAIL_LABEL"
          @changeFunction="updateEmailInput"
          :value="emailInput"
          :maxlength="50"
          :required="true"
          :focus="auto"
        />
        <label class="labels-modal">Senha</label>
        <input-text
          inputType="password"
          idInput="ADMIN_PASSWORD_INPUT"
          idLabel="ADMIN_PASSWORD_LABEL"
          @changeFunction="updatePasswordInput"
          :value="passInput"
          :maxlength="50"
          :required="true"
        />
      </div>
      <DefaultButton
        class="button-start"
        class-component="new-button-2"
        classDiv="row margin-top-20"
        name-button="Entrar"
        v-on:buttonCallBack="preAuth"
      />
    </div>

    <div
      @click="alterBackendUrl"
      style="
        color: gray;
        font-size: 4vw;
        position: relative;
        position: relative;
        margin-top: 1rem;
      "
    >
      <font-awesome-icon
        :icon="['fal', 'globe']"
        style="
          color: var(--primary-color);
          font-size: 4vw;
          position: relative;
          position: relative;
        "
      />
      Alterar IP do servidor
    </div>
    <div style="margin: 1vw auto; color: rgba(0, 0, 0, 0.35)">
   Version:2.1
      <!--font-awesome-icon :icon="['fas', 'rss']" style="color: var(--primary-color); font-size: 5rem; position: relative; top: -7.2rem; left: 0.8rem" /-->
    </div>

    <ModalCodigo
      v-if="modalUrl"
      @close="modalUrl = false"
      icon="error_outline"
      class="login-modal"
    >
      <div
        class="div-ip"
        style="display: flex; flex-flow: column; color: gray; padding: 0 1rem"
        slot="body"
      >
        <div
          class="div-input-url"
          style="display: flex; flex-flow: column; color: gray; padding: 0 1rem"
          slot="body"
        >
          Digite o novo endereço do servidor:
          <input
            class="inputs-login"
            id="url-input"
            inputLabel="Novo Endereço"
            inputType="text"
            idInput="ADMIN_URL_INPUT"
            idLabel="ADMIN_URL_LABEL"
            @changeFunction="updateUrlInput"
            :value="urlInput"
            :maxlength="1"
            :required="true"
            :readonly="true"
            v-on:focus="true"
            v-on:click="alteraInput = 3"
          />
        </div>
        <div
          @click="revertBackendUrl"
          style="
            margin-bottom: 0;
            font-size: 3vw;
            margin-top: 1vw;
            width: fit-content;
            margin-left: auto;
            color: gray;
          "
        >
          Restaurar endereço padrão
        </div>
        <div class="keyboard-login">
          <VirtualKeyboard
            :keyboardList="virtualKeyboard"
            @virtualKeyPress="handleVirtualKeyPress"
          />
        </div>
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20 width-40"
          name-button="Confirmar"
          class-component="new-button-2"
          v-on:buttonCallBack="confirmUrlChange"
        />
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20 width-40"
          name-button="Cancelar"
          class-component="new-button-2"
          v-on:buttonCallBack="cancelUrlChange"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline">
      <div class="display-flex SIM" slot="body">
        {{ msgModal }}
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20"
          name-button="Ok"
          class-component="new-button-2"
          v-on:buttonCallBack="hideModal"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo class="login-modal" v-show="LoginModal">
      <div class="geral-modal" slot="body">
        <div class="input-modal">
          <label class="labels-modal">E-mail</label>
          <div
            style="
              display: -ms-flexbox;
              display: flex;
              -ms-flex-flow: column;
              flex-flow: row;
              color: gray;
              margin: 0px;
              position: relative;
            "
          >
            <input
              class="inputs-login"
              id="login-email"
              label="Email"
              inputType="text"
              idInput="ADMIN_EMAIL_INPUT"
              idLabel="ADMIN_EMAIL_LABEL"
              @changeFunction="updateEmailInput"
              :value="emailInput"
              :maxlength="50"
              :required="true"
              v-on:click="alteraInput = 1"
              :readonly="active"
            />
          </div>
          <label class="labels-modal">Senha</label>
          <div
            style="
              display: -ms-flexbox;
              display: flex;
              -ms-flex-flow: column;
              flex-flow: row;
              color: gray;
              margin: 0px;
              position: relative;
            "
          >
            <input
              class="inputs-login"
              id="login-senha"
              :type="passType"
              idInput="ADMIN_PASSWORD_INPUT"
              idLabel="ADMIN_PASSWORD_LABEL"
              @changeFunction="updatePasswordInput"
              :value="passInput"
              :maxlength="50"
              :required="true"
              v-on:click="alteraInput = 2"
              :readonly="active"
            />
            <div
              style="
                width: 3vw;
                height: 3vw;
                position: absolute;
                right: 4vw;
                top: 2vw;
              "
            >
              <font-awesome-icon
                v-on:click="(showPass = !showPass), (passType = 'text'), (alterarReadOnly())"
                v-if="!showPass"
                :icon="['far', 'eye']"
                style="
                  color: var(--primary-color);
                  font-size: 5vw;
                  position: relative;
                  position: relative;
                "
              />
              <font-awesome-icon
                v-on:click="(showPass = !showPass), (passType = 'password')"
                v-if="showPass"
                :icon="['far', 'eye-slash']"
                style="
                  color: var(--primary-color);
                  font-size: 5vw;
                  position: relative;
                  position: relative;
                "
              />
            </div>
          </div>
          <Button class="botao-confirmar" v-on:click="LoginModal = false">
            Confirmar
          </Button>
        </div>
        <div class="keyboard-login">
          <VirtualKeyboard
            :keyboardList="virtualKeyboard"
            @virtualKeyPress="handleVirtualKeyPress"
          />
        </div>
      </div>
    </ModalCodigo>

    <ImageModal modalId="npf-image-modal" imageName="npf-info" />
    <LoadingPhases v-on:clickError="closeError" />
  </div>
</template>
<style>
.width-40 {
  width: calc(50% - 1rem) !important;
}

.lfe-view-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.lfe-view-login .clean-button button {
  font-size: 1.5rem !important;
}

.lfe-view-login .login-form {
  background: white;
  border-radius: 1rem;
  padding: 3.5rem 0;
  box-shadow: 0px -1px 8px 3px #00000094;
  overflow-y: auto;
  font-size: 2rem;
  width: 75%;
  margin: auto;
  top: 25vh;
  position: relative;
}

.lfe-view-login .shadow-section {
  height: 7.5rem;
  background: linear-gradient(
    180deg,
    rgb(70, 70, 70, 0.65) 0%,
    rgb(70, 70, 70, 0.4) 65%,
    rgb(70, 70, 70, 0) 100%
  );
}

.lfe-view-login .new-button-2 {
  height: 10vw !important;
  border-radius: 5vw;
}

.lfe-view-login .button-start {
  height: 10vw !important;
  border-radius: 5vw !important;
  margin: 1rem auto;
  width: 70%;
  font-size: 2rem !important;
}

.lfe-view-login .button-start-50 {
  height: 10vw !important;
  border-radius: 5vw !important;
  margin: 1rem auto;
  width: 40%;
  font-size: 2rem !important;
}

.lfe-view-login .new-button-2 button {
  height: 8vw !important;
  border-radius: 8vw !important;
}

.lfe-view-login .logo {
  height: auto;
  width: 30vw;
  margin: 2rem auto;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#AUTHCODE {
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  border-bottom: 0 !important;
  box-shadow: 0 0.1rem 0 0 lightgrey !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  -webkit-appearance: unset !important;
}

#AUTHCODE:focus {
  border: 0.1rem solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  box-shadow: unset !important;
  -webkit-appearance: unset !important;
}

#AUTHCODE_l {
  padding-left: 1rem;
  transition: 0.1s !important;
}

#AUTHCODE_l.active {
  padding: 0.5rem 0.7rem 0;
  margin-left: 0.8rem;
  color: var(--primary-color) !important;
  background-color: var(--background-color, white) !important;
  border-radius: 1rem;
}

.lfe-view-login .icon-eye-input {
  bottom: 3.2rem;
  left: calc(100% - 7vw);
}

.lfe-view-login {
  background: var(--background-color, white);
}

.lfe-view-login .header-circle-button .logo {
  filter: brightness(0) invert(1);
}

.lfe-view-login .image-half-small img {
  width: 25%;
  margin: 0.5rem 0.2rem;
  max-height: 6vh;
  position: absolute;
  left: 0;
}

.lfe-view-login .metade {
  width: 100% !important;
}

.lfe-view-login .bottom-mode {
  position: fixed;
  bottom: 0 !important;
  left: 0;
  margin-bottom: env(safe-area-inset-bottom);
}

.lfe-view-login .circle-mode {
  position: relative;
  width: 4rem;
  height: 4rem;
  top: 3.5rem;
  left: calc(50vw - 3rem);
}

/* @media (max-height: 400px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      top: 6rem;
      right: 20px;
    }
}

@media (min-height: 401px){
    .lfe-view-login .circle-mode {
      position: fixed;
      width: 4rem;
      height: 4rem;
      bottom: calc(18.5rem + env(safe-area-inset-bottom));
      right: 20px;
    }
} */

.lfe-view-login .circle-mode button {
  border-radius: 100%;
  font-weight: bold;
  font-size: 2rem !important;
}

.lfe-view-login .circle-mode button i {
  font-size: 1.8rem !important;
  line-height: 1.8rem !important;
  margin: auto;
}

.lfe-view-login .login-section .highlight {
  color: gray;
  font-weight: 800;
  font-size: 150%;
}

.lfe-view-login .login-modal .modal-wrapper:not(.warning) .modal-container {
  width: calc(100%) !important;
  border-radius: 0 !important;
  padding: 15vh 3vw 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.keyboard-login {
  position: fixed;
  bottom: -3rem !important;
  width: 100%;
  z-index: 10001;
  background: white;
  padding-bottom: 0rem;
  left: 0;
}
.keyboard-login #espace {
  left: 8vw !important;
  width: 76vw !important;
}

.keyboard-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.input-modal {
  display: flex;
  flex-flow: column;
  color: gray;
  padding: 2rem 1rem;
  margin: 0;
  position: relative;
  top: -20rem;
}

.inputs-login {
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  margin-bottom: 2rem !important;
  border-bottom: 0 !important;
  box-shadow: 0 0.1rem 0 0 lightgrey !important;
  line-height: 4vw !important;
  font-size: 4vw !important;
  height: 8vw !important;
  text-align: left;
  overflow: hidden;
}

.inputs-login:focus {
  border: 0.1rem solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 4vw !important;
  font-size: 4vw !important;
  box-shadow: 0px 0px var(--primary-color) !important;
}

.labels-modal {
  padding-left: 1rem;
  transition: 0.1s !important;
  font-size: 4vw !important;
  text-align: left;
}

.botao-confirmar {
  margin-top: 5rem;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 2.5rem;
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-ip {
  margin-bottom: -5rem !important;
  margin-top: 3rem !important;
}

#url-input {
  padding-bottom: 3rem;
}

.div-input-url {
  margin-top: -17rem !important;
}
</style>
<script lang="ts" src='../controllers/LogIn.ts'></script>
