    
<template>
  <div class="register-view">
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Cadastro"/>
    <div style="height: 25px" />
    <!-- <div class="subtitle" style="padding: 0 15px;">
      <span class="normal">{{currentStep.label}}</span>
      <span class="highlight">{{currentStep.placeholder}}</span>
      <span class="highlight">:</span>
    </div> -->
    <div class="subtitle" style="padding: 0 15px;">
      <span class="normal">{{loginProps.introductionRegisterMessage}}</span>
      <span class="highlight">{{loginProps.introductionRegisterMessageHighlight}}</span>
      <span class="highlight">:</span>
    </div>
    <div class="register-fields-wrapper">
      <div class="register-row" v-for="step in registerArray">
        <div :ref="'anchorInput' + step.index"  class="register-input-anchor"/>
        <div class="input-field" :key="step.index">
          <input
            slot="input"
            :ref="'regInput' + step.index"
            class="row margin-none centralize-child"
            :id="'registerInput' + step.index"
            :type="(step.type=='password' && passwordVisibility) ? 'text' : step.type"
            v-model="step.value"
            @focus="updateInputFocus(true, step)"
            @blur="updateInputFocus(false)"
            @keyup="allValidInputs()"
            @keyup.delete="allValidInputs()"
            @keypress.enter="goNext()"
          />
          <!-- :placeholder="(currentStep.index == step.index && inputFocused)? '': step.placeholder[0].toUpperCase() + step.placeholder.substring(1)" -->
          <!-- v-if="(currentStep.index == step.index && inputFocused)|| step.value " -->
          <label slot="input" id="registerInput_l"  :ref="'registerInput_l' + step.index" :for="'registerInput' + step.index" :class="(currentStep.index == step.index && inputFocused)|| step.value ? 'active' : 'inactive'" >{{step.placeholder[0].toUpperCase() + step.placeholder.substring(1)}}</label>
          <span v-if="step.type == 'password'" :class="['icon-eye-input', inputFocused && step.index == currentStep.index ? 'primary-color':'inactive-color']" v-on:click="changeInputPasswd(step.index)">
            <font-awesome-icon :icon="['far', passwordVisibility? 'eye-slash' : 'eye']" />
          </span>
          <!-- <label slot="input" for="registerInput">{{ step.placeholder }}</label> -->
        </div>
      </div>
    </div>
    <!-- <router-link to="/ChooseContactMethodForPassword"> -->
    <transition name="fade">
      <!-- <DefaultButton
        v-if="currentStep.index < registerArray.length - 1"
        v-bind:class="{'circle-mode': !inputFocused, 'bottom-mode': inputFocused }"
        :class-component="(validInput ? 'valid-button ' : 'invalid-button ') + (inputFocused ? 'new-button-2-bottom ' : 'new-button-2 ')"
        id-component="avancar"
        :classDiv=" inputFocused ? 'margin-top-10 btn-bottom-0' : 'circle-mode-div'"
        :name-button="inputFocused ? 'PRÓXIMO' : ''"
        :icon="!inputFocused ? 'arrow_forward' : ''"
        v-on:buttonCallBack="goNext"
      />
      <DefaultButton
        v-else
        v-bind:class="{'circle-mode': !inputFocused, 'bottom-mode': inputFocused }"
        :class-component="[validInput ? 'valid-button ' : 'invalid-button ', inputFocused ? 'new-button-2-bottom ' : 'new-button-2 ']"
        id-component="avancar"
        :classDiv=" inputFocused ? 'margin-top-10 btn-bottom-0' : 'circle-mode-div'"
        :name-button="inputFocused ? 'CONCLUIR CADASTRO' : ''"
        :icon="!inputFocused ? 'check' : ''"
        v-on:buttonCallBack="finishRegister"
      /> -->
      <!-- SEM DIGITO VERIFICADOR-->
      <!-- v-if="!(loginMethods.includes('PHONE'))" -->
      <DefaultButton
        
        v-bind:class="{'circle-mode': !inputFocused, 'bottom-mode': inputFocused }"
        :class-component=" (validInput ? 'valid-button ' : 'invalid-button ') + (inputFocused ? 'new-button-2-bottom' : 'new-button-2')"
        id-component="avancar"
        :classDiv=" inputFocused ? 'margin-top-10 btn-bottom-0' : 'circle-mode-div'"
        :name-button="inputFocused ? 'CONCLUIR CADASTRO' : ''"
        :icon="!inputFocused ? 'check' : ''"
        v-on:buttonCallBack="finishRegister"
      />
      <!-- <DefaultButton
        v-if="loginMethods.includes('PHONE')"
        v-bind:class="{'circle-mode': !inputFocused, 'bottom-mode': inputFocused }"
        :class-component=" (validInput ? 'valid-button ' : 'invalid-button ') + (inputFocused ? 'new-button-2-bottom' : 'new-button-2')"
        id-component="avancar"
        :classDiv=" inputFocused ? 'margin-top-10 btn-bottom-0' : 'circle-mode-div'"
        :name-button="inputFocused ? 'Enviar código de autenticação' : ''"
        :icon="!inputFocused ? 'check' : ''"
        v-on:buttonCallBack="sendPhoneAuthCode"
      /> -->
    </transition>

    <div v-if="false" class="row padding-10 footer-logo">
      <img src="../assets/zeedhi_new_logo.svg" />
    </div>

    <LoadingPhases v-on:clickSuccess="goToHome" v-on:clickError="closeLP"/>

    <!-- <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline" :content="msgModal">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="okay"/>
        </div>
      </ModalCodigo> -->

    <ModalCodigo v-if="modalError" @close="modalError = false" icon="error_outline" :content="msgModalError">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="modalError = false;"/>
        </div>
    </ModalCodigo>
  </div>
</template>
<style>
.register-view .icon-eye-input{
  bottom: 2rem;
}

.register-view .register-fields-wrapper{
  margin-bottom: 4rem;
  overflow-y: scroll;
}

.register-view .input-field {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

input[id*="registerInput"]{
  border: 0.1rem solid lightgray !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  border-bottom: 0 !important;
  box-shadow: 0 0.1rem 0 0 lightgrey !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  -webkit-appearance: unset !important;
}

input[id*="registerInput"]:focus {
  border: 0.1rem  solid var(--primary-color) !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(100% - 2rem) !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
  box-shadow: 0px 0px var(--primary-color) !important;
  -webkit-appearance: unset !important;
}

#registerInput_l{
    padding-left: 1rem;
    color: gray;
    transition: 0.1s !important;
}

#registerInput_l.active {
  padding: 0.5rem 0.7rem 0;
  margin-left: 0.8rem;
  color: var(--primary-color) !important;
  background-color: var(--background-color, white) !important;
  border-radius: 1rem;
  transition: 0.1s !important;
}

.register-view .subtitle {
  text-align: left;
  font-size: 1.5rem;
}

.register-view .subtitle .highlight {
  color: var(--primary-color);
  font-weight: 800;
}

.register-view .register-row {
  padding: 0px 15px;
}

.register-view .new-button-2 {
  height: 4rem !important;
}

.register-view .new-button-2-bottom {
  height: 15vw !important;
  width: 100vw;
}

.register-view .bottom-mode {
  position: fixed;
  bottom: 0 !important;
  left: 0;
  margin-bottom: env(safe-area-inset-bottom);
  width: 100%;
}
.register-view .circle-mode {
  position: fixed;
  width: 60px;
  bottom: 10px;
  right: 20px;
}
.register-view .circle-mode button {
  border-radius: 100%;
  font-weight: bold;
  font-size: 2rem !important;
}
.register-view .circle-mode button i {
  font-size: 1.8rem !important;
  line-height: 1.8rem !important;
  margin: 10px 1px;
}

.register-view .circle-mode button {
  border-radius: 100%;
  font-weight: bold;
  font-size: 2rem !important;
}

.register-view .invalid-button {
  background-color: gray;
  border-color: gray;
}

.register-view  button.invalid-button:hover{
  background-color: gray !important;
  border-color: gray !important;
}

.register-view .valid-button {
  background-color: var(--primary-color);
}

.register-view .modal-body {
  white-space: pre-line;
}

.register-view .register-input-anchor{
  position: relative; 
  top: calc(20vw + 8rem); 
  left: 0
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
<script lang='ts' src="../controllers/Register.ts" />