<template>
    <div class="secondProductMenu">
        <HeaderFluxo :name-fluxo="event.name">
            <DefaultButton slot="left" v-on:buttonCallBack="goBack" class-component="button-icon secundary-color" icon="keyboard_arrow_left"/>
        </HeaderFluxo>

        <BalanceAndCredit :click="goToBalance" classDiv="row product_menu striper" link-label="Saldo: " :link-label2="balance && balance.BALANCE ? 'R$' + Number(balance.BALANCE).toFixed(2) : 'R$0,00'" class-component="branco" class-component2="price" classComponentIcon="batata" icon="add_circle"/>

        <div style="margin-top: 20px !important;">
            <DefaultButton classDiv="row" name-button="GERAR QRCODE" class-component="" v-on:buttonCallBack="goTo" />
        </div>
        
        <div id="products-list">
            <div v-for="category in categories" :key="category.id">
                <SectionTitle class-component="margin-20" :titleText="category.name" />
                <SecondProduct :productPrice="product.price" :productId="product.id" :productName="product.name" :imageSource="product.image" :productInfo="product.detail" :price="product.price" :click="goTo" v-for="product in category.products" :key="product.id"  />
            </div>
        </div>

        <ModalCodigo v-if="showModalPagamento" @close="showModalPagamento = false" icon="error_outline" content="Saldo insuficiente! Faça uma recarga para consumir produtos.">
            <DefaultButton slot="footer" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModalPagamento"/>
        </ModalCodigo>
    </div>
</template>

<script lang="ts" src="../controllers/SecondProductMenu.ts"></script>

<style>

.secondProductMenu > .branco{
    color: white !important;
}

#chips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
}
#about-store {
    text-align: left;
    padding: 0.5rem 1rem 0;
    font-size: 1.1rem;
}
/* .chip {
    margin: 10px 2px;
    margin-bottom: unset;
} */
.store-content {
    position: absolute;
    top: 200px;
    min-height: calc(100% - 200px);
    width: 100%;
}
.secondProductMenu .store-content.full-height {
    top: 40px;
}
#store-info {
    position: relative;
    display: block;
}
.secondProductMenu > #products-list {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.category-name a {
    font-size: 1.6rem;
    font-weight: 450;
}
.category-name{
    margin: 0 0 0 0;
    margin-bottom: 0 !important;
    text-align: left;
    padding: 10px;
}
.product_menu.striper{
    padding: 10px !important;
    background-color: var(--primary-color);
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
}

.striper > a{
    color: white;
    /* font-weight: 700;     */
}
.batata{
    color: white;
}
.margin-20{
    margin: 20px 10px 20px 10px !important;
}

.price{
    color: #5efa4a !important;
    margin: 5px !important;
}
</style>