<template>
    <div class="addBalance">
        <!-- <HeaderRelease desiredScrollTop="22" :click="goBack" title="Recarregar MTC Pay" :hasMoreButton="false"/>      -->
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Adicionar saldo"/>
        <TextLink id="striperAddBalance" classDiv="row striper centered" linkLabel="Saldo atual:  " v-bind:linkLabel2="(BALANCE!=null && BALANCE != undefined) ? 'R$'+ BALANCE.toFixed(2) : 'R$ 0,00'" classComponent="mensagem" classComponent2="price"/>
        <!-- <div style="padding:10px;" class="">
            <div v-if="mainCartao && mainCartao.FLAG" class="" style="padding: 8px 0; text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column;">
                <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Pagando com: </span>
            </div>
            <div v-if="mainCartao && mainCartao.FLAG" style="display: flex; justify-content: space-between; padding: 8px 0;"><span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{mainCartao.FLAG +' •••• '+ lastNumberCard(mainCartao.LAST_NUMBERS)}}</span><img style="height: 30px; padding: 0 5px;" :src="require(`@/assets/${mainCartao.FLAG}.svg`)"/></div>
            <div v-else style="display: flex; justify-content: space-between; padding: 8px 0;"><span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">Você não possui nenhum cartão de crédito cadastrado ou ativo.</span></div>
        </div> -->
        <div class="balanceComponents" v-if="!showNoEvents">
            <!-- <TextLink v-if="DEPENDENT_USERS.length == 0" classDiv="row label-intro-carteira margin-none" link-label="Pagando com o cartão padrão." class-component="primary-color message"/> -->
            <TextLink style="font-size: 1.2rem; margin-top: 20px !important;" classDiv="row padding-cadastro label-intro-carteira margin-top-none" link-label="Selecione um valor para realizar a recarga de crédito." class-component="primary-color message"/>
            <ValueBalance :counts="values" :click="verifyChecked"/>         
            <div id="anotherValueBalance" class="row margin-none centralize-child display-none">
                <div class="input-field metade">
                    <input id="balance" label="Valor" type="tel" v-model.lazy="valueInput" v-money="money" v-on:focus="focusInput('balance')" />
                    <label id="bal" class="active" for="balance"> Outro Valor </label>
                </div>
            </div>
            <div style="padding: 10px 35px;" class="row">
                <div v-if="mainCartao && mainCartao.FLAG" class="" style="padding: 8px 0; text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column; margin: 0 10px 10px 10px;">
                    <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Pagando com: </span>
                </div>
                <div v-if="mainCartao && mainCartao.FLAG" style="display: flex; justify-content: space-between; padding: 0 10px;">
                    <span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{mainCartao.FLAG +' •••• '+ lastNumberCard(mainCartao.LAST_NUMBERS)}}</span>
                    <div class="display-flex">
                        <img style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`@/assets/${mainCartao.FLAG}.svg`)"/>
                        <div class="justify-column-center primary-color" v-on:click="telaPaymentMethods">
                            <i class="material-icons">cached</i>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div style="display: flex; justify-content: space-between; padding: 8px 0;"><span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">Nenhum cartão de crédito cadastrado.</span></div>
                    <div style="display: flex; justify-content: center; margin: 0 10px 10px 10px;" v-on:click="telaPaymentMethods"><span style="font-size: 1.2em; color: var(--primary-color); font-weight: 300;">Cadastrar cartão de crédito.</span></div>
                </div>
            </div>
            <DefaultButton id-component="next" classDiv="bottom-fixed" class-component=" full-width bottom-button" name-button="CONFIRMAR" v-on:buttonCallBack="openPasswordRequest" />
        </div>

        <EmptyState v-else image="piggy-bank" text=" No momento não existem eventos com venda de produtos pelo app." />

        <!-- <div class="padding-10 footer-logo">
            <img src="../assets/zeedhi_new_logo.svg">
        </div> -->
        <!-- <SectionArea class-component="padding-10 footer-logo" image-file="https://imgur.com/OI41ANL.png"/> -->
        <!-- <div class="footer-see-orders" v-on:click="goToExtrato" >
            <span>EXTRATO</span>
        </div> -->
        <ModalCodigo v-show="showModal" @close="showModal = false" icon="error_outline" :content="errorMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-show="creditSuccess" @close="creditSuccess = false" icon="error_outline" :content="errorMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="closeCreditSuccess"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="fechaModalTelaCartoes"/>
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="goToTelaCartoes"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalSuccess" @close="showModalSuccess = false" icon="error_outline" content="Compra de saldo realizada com sucesso!">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModalSuccess"/>
            </div>
        </ModalCodigo>
       

        <ModalCodigo v-if="modalPasswordRequest" @close="modalPasswordRequest = false" icon="error_outline" content="">
                <p slot="body" style="margin-bottom: 0;">Digite sua senha para confirmar a compra no valor de {{valueInput}} :</p>
                <input slot="body" id="PASSWORD" type="password" style="text-align: center; margin-bottom: 20px;" v-model="passwordValue" />
                <p v-if="passwordWrong" slot="body" style="color: red; margin-top: 0;">Senha incorreta.</p>
                <DefaultButtonOrd slot="footer" name-button="CANCELAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="closePasswordRequest"/>
                <DefaultButtonOrd slot="footer" name-button="FINALIZAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="afterPasswordRequest"/>
        </ModalCodigo>
    </div>
</template>

<script lang='ts' src="../controllers/AddBalance.ts"></script>