<template>
  <div class="carteira">
    <!-- <div class="dependentes" v-if="dependents.length">
        <LoadingPhases />
        <div v-for="item in dependents" :key="item.DEPENDENT_ID" v-on:click="click(item.DEPENDENT_ID)">
          <ButtonCard class="carousel-item" :carteiraDependentes="true" :labelDepedentes="item.FULL_NAME" :valorSaldo="item.BALANCE ?'R$ '+ item.BALANCE.toFixed(2).replace('.', ',') : 'R$ 0,00'" :callback="function() { }" />
        </div>
    </div>-->
    <HeaderCircleButton :logo="logo"/>
    <div class="row image-card-container carteira-menu-container">
      <!-- <ButtonCard icon="credit-card" label="Cartões" goTo :callback="goToRegisteredCards" :backgroundImage="cardsPic"/>
      <ButtonCard icon="bags-shopping" label="Minhas Compras" goTo :callback="()=>{this.$router.push('PedidosRealizados')}" :backgroundImage="bagsPic" />
      <ButtonCard icon="wallet" label="Saldo" goTo :callback="goToExtrato" :backgroundImage="balancePic"/> -->
      <!-- <ButtonCard icon="receipt" label="Extrato" goTo :callback="goToExtrato" /> -->
      <ImageCardButton label="Cartões" :callback="()=>{}" :image="cardsPic"/>
      <ImageCardButton label="Minhas Compras" :callback="()=>{}" :image="cartPic"/>
      <ImageCardButton label="Saldo" :callback="()=>{}" :image="balancePic"/>
    </div>

    <!-- <ListDefault typeList="collection">
            <router-link slot="options" to="/RegisteredCards">
                <OptionList idIcon="1" name="Cartões de Crédito" icone="credit_card"/>
            </router-link>
            <router-link slot="options" to="Balance">
                <OptionList idIcon="2" name="Comprar Saldo de Eventos" icone="attach_money"/>
            </router-link>
    </ListDefault>-->
    <!-- <div class="row padding-10 footer-logo">
          <img src="../assets/zeedhi_new_logo.svg">
    </div>-->
    <BottomNavigation :key="bnKey"/>
    <LoginModal v-if="showLoginModal" @close="closeLoginModal" :registerRoute="'/Register'"/>
  </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import Router from "@/router";
import DefaultButton from "../components/DefaultButton.vue";
import HeaderFluxo from "../components/HeaderFluxo.vue";
import ListDefault from "../components/ListDefault.vue";
import OptionCollapse from "../components/OptionCollapse.vue";
import SectionArea from "../components/SectionArea.vue";
import Util from '../ts/Util';
import ButtonCard from "../components/ButtonCard.vue";
import HeaderFilter from "../components/HeaderFilter.vue";
import Request from "../ts/Request";
import { VMoney } from "v-money";
import HeaderRelease from "../components/HeaderRelease.vue";
import LoadingPhases from "../components/LoadingPhases.vue";
import BottomNavigation from "@/modules/shared-components/BottomNavigation.vue";
import LoginModal from "@/modules/shared-components/LoginModal.vue";
import HeaderCircleButton from "@/modules/shared-components/HeaderCircleButton.vue";
import Wallets from "../../Wallets";
import ImageCardButton from "@/modules/shared-components/ImageCardButton.vue";

@Component({
  props: { dependentsData2: String },
  components: {
    DefaultButton,
    HeaderFilter,
    ButtonCard,
    HeaderFluxo,
    ListDefault,
    OptionCollapse,
    SectionArea,
    VMoney,
    HeaderRelease,
    LoadingPhases,
    BottomNavigation,
    LoginModal,
    HeaderCircleButton,
    ImageCardButton
  }
})
export default class Carteira extends Vue {
  // dependentsData: any = JSON.parse(
  //   localStorage.getItem("DEPENDENT_DATA") || "[]"
  // );
  // dependents: any = JSON.parse(
  //   localStorage.getItem("DEPENDENT") || "[]"
  // );
  // hasDependents: Boolean = false;
  hasUser: Boolean = false;
  // carteiraDependentes: Boolean = true;
  showLoginModal: boolean = false;
  bnKey = 0;
  logo: string = localStorage.getItem('ORGANIZATION_LOGO_SMALL')||'bipfun-logo.svg';
  balancePic:string = Util.getImgUrl('balance','.jpg');
  cardsPic: string = Util.getImgUrl('cards','.jpg');
  cartPic: string = Util.getImgUrl('bags','.jpg');
  

  mounted() {
    //Util.removeBackButtonBehavior();
    Util.setBackButtonBehavior(this.goBack);
    // this.getWalletFromUserAndDependents();
    // localStorage.setItem("DEPENDENT", JSON.stringify(this.dependentsData));
    // localStorage.getItem("DEPENDENT");
  }

  beforeDestroy() {
    Util.removeBackButtonBehavior();
  }

  goToRegisteredCards() {
    if (localStorage.getItem("USER_ID")) this.$router.push("RegisteredCards");
    else this.openLoginModal();
  }

  goToExtrato() {
    if (localStorage.getItem("USER_ID")) this.$router.push("Extrato");
    else this.openLoginModal();
  }

  openLoginModal() {
    this.showLoginModal = true;
  }

  closeLoginModal() {
    this.showLoginModal = false;
  }

  // getWalletFromUserAndDependents() {
  //   try {
  //     const req = new Request();
  //     const self = this;
  //     req.body = {
  //       USER_ID: localStorage.getItem("USER_ID"),
  //       NRORG: localStorage.getItem("NRORG"),
  //       TOKEN: localStorage.getItem("TOKEN")
  //     };
  //     req.route = "getWalletFromUserAndDependents";
  //     req.visibilityOptions = { success: false, error: false, loading: true };
  //     req.callbackSuccess = (response: any) => { console.log(response)
  //       if (response && response.dependentsData){
  //         self.dependents = response.dependentsData;
  //         localStorage.setItem("DEPENDENT", JSON.stringify(self.dependents));
  //         localStorage.setItem(
  //           "DEPENDENT_DATA",
  //           JSON.stringify(response.dependentsData)
  //         );
  //       }
  //       this.dependentsData = response.dependentsData;
  //       this.hasDependents = true;
  //     };

  //     req.callbackError = (error: any) => {
  //       this.hasDependents = false;
  //       console.log(error);
  //     };
  //     req.loadingMessage = "Buscando seus dependentes...";
  //     req.blockTouchEvents = false;
  //     req.send();
  //   } catch (e) {
  //     console.log(e);
  //   }
  // }

  // getList() {
  //   try {
  //     const req: any = new Request();
  //     req.body = {
  //       USER_ID: localStorage.getItem("USER_ID"),
  //       NRORG: localStorage.getItem("NRORG"),
  //       TOKEN: localStorage.getItem("TOKEN")
  //     };
  //     req.route = "listOrders";
  //     // req.visibilityOptions = { success: false, error: false, loading: true };
  //     req.callbackSuccess = (response: any) => {
  //       if (response && response.dependentsData)
  //         localStorage.setItem(
  //           "DEPENDENT_DATA",
  //           JSON.stringify(response.dependentsData)
  //         );
  //       this.dependentsData = response.dependentsData;
  //       this.hasDependents = true;
  //       console.log(this.dependentsData);
  //     };
  //     req.callbackError = (error: any) => {
  //       this.hasDependents = false;
  //       console.log(error);
  //     };
  //     // req.loadingMessage = "Buscando seus dependentes...";
  //     req.blockTouchEvents = false;
  //     req.send();
  //   } catch (e) {
  //     console.log(e);
  //   }
  // }
  // click(DEPENDENT_ID: any) {
  //   let dependent = this.dependentsData.find((d: any) => {
  //     return d.DEPENDENT_ID == DEPENDENT_ID;
  //   });
  //   localStorage.setItem("DEPENDENT_DATA2", JSON.stringify(dependent));
  //   this.$router.push("CarteiraUsuario");
  // }

  data() {
    return {
      inputValues: {}
    };
  }

  goBack() {
    Util.removeBackButtonBehavior();
    this.$router.push('Home')
  }
}
</script>

<style>
.titleHeader {
  color: #333333;
}

.dependentes {
  width: 100%;
  height: 22vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 412px) {
  .dependentes {
    width: 100%;
    height: 23vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.carousel-item {
  width: 11rem;
  margin-left: 1rem !important;
  margin-right: -1rem !important;
}

/* .button-card-wrapper:not(.carousel-item){
  margin: 6px 0 !important;
  padding: 0 6px !important;
} */

.row p {
  font-size: 20px;
  color: #333333;
  text-align: left !important;
  margin-left: 0.6rem;
}

  @media (max-height: 600px){
  .carteira .payment-instructions{
    margin: 10px 0;
    font-size: 1.1rem;
  }

  .carteira .button-card .card-label {
    text-align: left;
    bottom: 5px;
    position: absolute;
    left: 10px;
    font-weight: 500;
    font-size: 130%;
    white-space: pre-line;
    max-width: 8rem;
    line-height: 1.6rem;
  }

  .carteira .button-card .card-icon svg {
    font-size: 2.4rem !important;
  }

  .carteira .button-card .card-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.5rem;
  }

  .carteira-menu-container{
    left: 0rem; 
    position: relative; 
    margin: 1rem; 
    width: calc(100% - 2rem);
  }

}

@media (min-height: 600px){

  .carteira .payment-instructions{
    margin: 1rem 0;
    font-size: 2rem;
  }

  .carteira .button-card .card-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 30%;
  }

  .carteira .button-card .card-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 6rem;
  }

  .carteira .button-card .card-label {
    text-align: left;
    bottom: 1rem;
    position: absolute;
    left: 1rem;
    font-weight: 500;
    font-size: 3rem;
    white-space: pre-line;
    line-height: 3rem;
    max-width: 12rem;
  }

  .carteira-menu-container{
    position: relative;
    left: 0rem; 
    top: var(--top-spacing);
    margin: 0 1rem; 
    width: calc(100% - 2rem);
  }

  .button-card-wrapper {
    margin: 0rem 0 2rem !important;
    padding: 0 1rem !important;
  }
}
</style>