    
<template>
    <div class = 'view-extrato'>
        <div style="width: 100%; position: sticky; top: 0; z-index: 99;">
          <!-- <HeaderRelease desiredScrollTop="22" :click="goBack" title="Extrato" :hasMoreButton="false"/>  -->
          <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Extrato"/>    
          <!-- <HeaderFluxo name-fluxo="Extrato de Cartão de Crédito">
              <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
              <DefaultButton slot="right" class-component="button-icon secundary-color" v-on:buttonCallBack="goTo" icon="filter_list"/>
          </HeaderFluxo> -->
          <TabsHome classDiv="border_bottom_shadow margin-none header-fixed" style="padding: 0px !important;" :counts="calendar.dates" classTab="extrato-tab">
            <div class="row margin-top-10 margin-none"  slot="Recentes">
                <ListDefault typeList="collection">
                  <ThreeOptionsListExtract slot="options" v-if="condicaoMostrarPedido(pedido)" :status="pedido.paymentStatus" :idIcon="pedido.id+''" :titulo="getTituloItemExtrato(pedido)" :infoAdicional="pedido.paymentStatus === 'R' ? 'Estorno' : ''" :valor="'R$' + pedido.total.toFixed(2)" :dia="formatDate(pedido.createDate.date)" :icone="pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward'" :id="pedido.id" v-for="pedido in pedidosRecentes" :key="pedido.id"/>
                </ListDefault>
                <EmptyState v-if="pedidosRecentes.length == 0" iconClass="fal" icon="receipt" text="Você não possui movimentações recentes." desc="Realize compras no aplicativo para visualizar suas movimentações em seu extrato."/>
            </div>
            <div class="row margin-top-10 margin-none"  slot="Este Mês">
                <ListDefault typeList="collection">
                  <ThreeOptionsListExtract slot="options" v-if="condicaoMostrarPedido(pedido)" :status="pedido.paymentStatus" :idIcon="pedido.id+''" :titulo="getTituloItemExtrato(pedido)" :infoAdicional="pedido.paymentStatus === 'R' ? 'Estorno' : ''" :valor="'R$' + pedido.total.toFixed(2)" :dia="formatDate(pedido.createDate.date)" :icone="pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward'" :id="pedido.id" v-for="pedido in pedidosEsteMes" :key="pedido.id"/>
                </ListDefault>
                <EmptyState v-if="pedidosEsteMes.length == 0" iconClass="fal" icon="receipt" text="Você não possui movimentações este mês." desc="Realize compras no aplicativo para visualizar suas movimentações em seu extrato."/>
            </div>

            <div class="row margin-top-10 margin-none"  slot="3 Meses"> 
               <ListDefault typeList="collection">
                  <ThreeOptionsListExtract slot="options" v-if="condicaoMostrarPedido(pedido)" :status="pedido.paymentStatus" :idIcon="pedido.id+''" :titulo="getTituloItemExtrato(pedido)" :infoAdicional="pedido.paymentStatus === 'R' ? 'Estorno' : ''" :valor="'R$' + pedido.total.toFixed(2)" :dia="formatDate(pedido.createDate.date)" :icone="pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward'" :id="pedido.id" v-for="pedido in pedidosDeTresMeses" :key="pedido.id"/>
                </ListDefault>
                <EmptyState v-if="pedidosDeTresMeses.length == 0" iconClass="fal" icon="receipt" text="Você não possui movimentações nos ultimos 3 meses." desc="Realize compras no aplicativo para visualizar suas movimentações em seu extrato."/>
            </div>
            <EmptyState v-if="notFound && pedidos.length == 0" iconClass="fal" icon="receipt" text="Você ainda não tem movimentação." desc="Realize compras no aplicativo para visualizar suas movimentações em seu extrato."/>
          </TabsHome>
        </div>     
    </div>
</template>

<style>
  .view-extrato .emptyStateDiv{
    position: fixed;
    top: calc(50% + 75px);
  }
  .extrato-tab{
    top: 3.5rem;
    position: relative;
  }
  .view-extrato .margin-bottom-7{
    margin-bottom: calc( 7px + env(safe-area-inset-bottom)) !important;
  }


</style>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import DefaultButton from "../components/DefaultButton.vue";
import HeaderFluxo from "../components/HeaderFluxo.vue";
import ListDefault from "../components/ListDefault.vue";
import TextLink from "../components/TextLink.vue";
import ThreeOptionsListExtract from "../components/ThreeOptionsListExtract.vue";
import Request from "../ts/Request";
import Util from "../ts/Util";
import moment from "moment";
import HeaderFilter from "../components/HeaderFilter.vue";
import EmptyState from "../components/EmptyState.vue";
import HeaderRelease from "../components/HeaderRelease.vue";
import TabsHome from "../components/TabsHome.vue";
import TabsEvent from "../components/TabsEvent.vue";
import HeaderCircleButton from "@/modules/shared-components/HeaderCircleButton.vue"

@Component({
  components: {
    DefaultButton,
    HeaderFluxo,
    ListDefault,
    ThreeOptionsListExtract,
    TextLink,
    HeaderFilter,
    EmptyState,
    HeaderRelease,
    TabsHome,
    TabsEvent,
    HeaderCircleButton
  }
})
export default class Extrato extends Vue {
  pedidos: any = JSON.parse(localStorage.getItem("ORDERS_CC") || "[]");
  initialDate: string = localStorage.getItem("INITIAL_DATE") || "";
  finalDate: string = localStorage.getItem("FINAL_DATE") || "";
  totalMonth: number = 0;
  period: string = localStorage.getItem("PERIOD_FILTERED") || "";
  today: any  = moment();
  lastDayOfMonth: any  = moment().add('months', 1).date(0);
  endOfMonth: any;
  startOfMonth: any;
  startOfThreeMonth: any;
  lastSevenDays: any;
  pedidosEsteMes: Array<Object> = JSON.parse(localStorage.getItem("ORDERS_MONTH") || "[]");
  pedidosRecentes: Array<Object> = JSON.parse(localStorage.getItem("ORDERS_RECENTS") || "[]"); 
  pedidosDeTresMeses: Array<Object> = JSON.parse(localStorage.getItem("ORDERS_THREE_MONTHS") || "[]");
  calendar: any = {
    dates: [
      { id: "0", NAME: "Recentes", IDTAB: "RECENTES"},
      { id: "1", NAME: "Este Mês", IDTAB: "ESTE_MES"},
      { id: "2", NAME: "3 Meses", IDTAB: "TRES_MESES"}
    ]
  };

  notFound: boolean = false;
  backButton: any = {iconClass:'fas', icon:'chevron-left', callback:this.goBack};

  condicaoMostrarPedido(pedido: any) {
    return ( 
      (pedido.paymentMethod === "CC" || pedido.paymentMethod === "CC_W") && 
        (pedido.paymentStatus === "A" ||
        pedido.paymentStatus === "R" ||
        pedido.paymentStatus === "C")
    );
  }

  getTituloItemExtrato(pedido: any) {
    return pedido.paymentMethod === "CC_W"
      ? "Compra de Saldo"
      : pedido.eventName;
  }

  letraI(pedido: any){
      const letra = pedido.eventName;
      const letraInicial = letra.substring(0, 1); console.log(letraInicial);
  }

  mounted() {
    Util.setBackButtonBehavior(this.goBack);
    $('#tabs').tabs();
    const period = localStorage.getItem("PERIOD_FILTERED") || "";
    if (period == "") {
      localStorage.setItem("PERIOD_FILTERED", "" + moment().format("MM/YYYY"));
      this.period = localStorage.getItem("PERIOD_FILTERED") || "";
    }
    var now = moment();
    this.getFirstAndLastDayOfMonth();
    this.getlastSevenDays();
    this.getThreeMonthsDate();

  }

  beforeDestroy() { 
    localStorage.setItem("INITIAL_DATE", "");
    localStorage.setItem("FINAL_DATE", "");
    localStorage.setItem("PERIOD_FILTERED", "" + moment().format("MM/YYYY"));
    Util.removeBackButtonBehavior();
  } 

  retrieveDate(stringDate: string) {
    const arr = stringDate.split("/");
    const ano = Number(arr[2]),
      mes = Number(arr[1]) - 1,
      dia = Number(arr[0]);
    return new Date(ano, mes, dia);
  }

  getFirstAndLastDayOfMonth(){
    var month = moment().month();
    var year = moment().year();
    const startOfMonth =  moment(moment().month(month).year(year)).startOf('month').format("YYYY-MM-DD");
    const endOfMonth = moment(moment().month(month).year(year)).endOf('month') .format('YYYY-MM-DD');
    this.endOfMonth = endOfMonth
    this.startOfMonth = startOfMonth;
    
  }

  getThreeMonthsDate(){
    const threeMonths = moment().subtract(3, 'months').month();
    const month = moment().month();
    const year = moment().year();
    const startOfThreeMonth = moment(moment().month(threeMonths).year(year)).startOf('month').format("YYYY-MM-DD");
    const endOfMonth = moment(moment().month(month).year(year)).endOf('month').format('YYYY-MM-DD');
    this.startOfThreeMonth = startOfThreeMonth;
    this.loadOrders(startOfThreeMonth, endOfMonth);
  } 

  getlastSevenDays(){
    const lastSevenDays = moment().subtract(7, 'd').format('YYYY-MM-DD');  
    this.lastSevenDays = lastSevenDays;
  }
  
  filterOneMonthOrders(orders: any){
    let currentOrders = orders.filter((o: any) => moment(o.createDate.date).isSameOrAfter(this.startOfMonth));
 
    return currentOrders;
  }

  filterDayOrders(orders: any){
    let currentOrdersDay = orders.filter((o: any) => moment(o.createDate.date).isSameOrAfter(this.lastSevenDays));
    return currentOrdersDay;
  }

  filterThreeMonthsOrders(orders: any){
    let currentOrdersDay = orders.filter((o: any) => moment(o.createDate.date).isSameOrAfter(this.startOfThreeMonth));
    return currentOrdersDay;
  }
  
  loadOrders(initial: any, final: any) {
    try {
      const self = this;
      const req = new Request();
      
      const body: any = {
        NRORG: localStorage.getItem("NRORG"),
        TOKEN: localStorage.getItem("TOKEN"),
        USER_ID: localStorage.getItem("USER_ID"),
        PAYMENT_METHOD: "CC"
      };

      req.body = body;
    
      if (initial) {
        body.INITIAL_DATE = initial;
      }
      if (final) {
        body.FINAL_DATE = final;
      }    

      req.route = "listOrders";
      req.callbackSuccess = function(response: any) { 
        self.pedidos = response.orders;
        self.pedidosEsteMes = self.filterOneMonthOrders(response.orders);
        self.pedidosRecentes = self.filterDayOrders(response.orders);
        self.pedidosDeTresMeses = self.filterThreeMonthsOrders(response.orders);

        // self.pedidos.forEach((pedido: any) => {
        //   if (pedido.paymentStatus == "A") self.totalMonth += pedido.total;
        //   if (pedido.paymentStatus == "R") self.totalMonth -= pedido.total;
        // });
        if (!self.initialDate)
          localStorage.setItem("ORDERS_CC", JSON.stringify(response.orders));
          localStorage.setItem("ORDERS_MONTH", JSON.stringify(self.pedidosEsteMes));
          localStorage.setItem("ORDERS_RECENTS", JSON.stringify(self.pedidosRecentes));
          localStorage.setItem("ORDERS_THREE_MONTHS", JSON.stringify(self.pedidosDeTresMeses));

        if (self.pedidos.length == 0) self.notFound = true;
        else self.notFound = false;
      };
      req.callbackError = function(error: any) {
        console.log(error);
        self.notFound = true;
      };
      req.blockTouchEvents = false;
      req.send();
    } catch (e) {
      console.log(e);
    }
  }

  formatDate(stringDate: number) {     
    const momentDate: any = moment(stringDate);
    return momentDate.lang("pt-br").format("DD/MM/YYYY [às] HH:mm"); 
  }

  goBack() {
    this.$router.push({ name: "Carteira" });
    //this.$router.go(-1);
  }


  
}
</script>