    
<template>
    <div class="extratoEvento">
        <div style="width: 100%; position: sticky; top: 0; z-index: 99;">
            <HeaderFluxo name-fluxo="Extrato de Eventos">
                <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
                <DefaultButton slot="right" class-component="button-icon secundary-color" v-on:buttonCallBack="goTo" icon="filter_list"/>
            </HeaderFluxo>
            <TextLink v-if="pedidos.length != 0" style="display: flex; justify-content: center;" classDiv="row striper margin-none" :link-label="period + ' - Total gasto no mês: '" :link-label2="'R$'+totalMonth.toFixed(2)" class-component="mensagem" class-component2="price"/>
        </div>
        <ListDefault typeList="collapsible">
            <ExtratoEventDetails slot="options" v-if="condicaoMostrarPedido(pedido)" :idIcon="pedido.id+''" :titulo="getTituloItemExtrato(pedido)" :infoAdicional="infoAdicional(pedido)" :valor="'R$' + pedido.total.toFixed(2)" :dia="formatDate(pedido.createDate.date)" :icone="isArrowUpward(pedido) ? 'arrow_upward' : 'arrow_downward'" :itens="pedido.items" :id="pedido.id" v-for="pedido in pedidos" :key="pedido.id"/>
        </ListDefault>
        <div v-if="notFound && pedidos.length == 0" style="position: absolute; position: absolute; width: 100%; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%;">
            <div style="display: flex; position: relative; flex-direction:column;">
                <img src="../assets/bill.svg" class="material-icons" style="font-size: 8em; margin: 0 auto; color: var(--primary-color); width: 90px;"/>
                <span style="font-size: 1.5em; padding: 0 10px; color: var(--primary-color);"> Você ainda não tem movimentação no seu extrato. </span>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>

  import { Component, Prop, Vue } from 'vue-property-decorator';
  import DefaultButton from '../components/DefaultButton.vue';
  import HeaderFluxo from '../components/HeaderFluxo.vue';
  import ListDefault from '../components/ListDefault.vue';
  import TextLink from '../components/TextLink.vue';
  import ThreeOptionsList from '../components/ThreeOptionsList.vue';
  import ExtratoEventDetails from '../components/ExtratoEventDetails.vue';
  import Request from '../ts/Request';
  import moment from 'moment';

  @Component({
    components: { DefaultButton, HeaderFluxo, ListDefault, ThreeOptionsList, TextLink, ExtratoEventDetails }
  })

  export default class ExtratoEvents extends Vue {

    pedidos: any = JSON.parse(localStorage.getItem('ORDERS_FROM_EVENTS') || '[]');
    initialDate: string = localStorage.getItem('INITIAL_DATE') || '';
    finalDate: string = localStorage.getItem('FINAL_DATE') || '';
    filteredEventId: string = localStorage.getItem('FILTERED_EVENT_ID') || '';
    totalMonth: number = 0;
    period: string = localStorage.getItem('PERIOD_FILTERED') || '';
    notFound: boolean = false;

    condicaoMostrarPedido(pedido: any) {
        return pedido.paymentMethod == 'BALANCE' || pedido.paymentMethod == 'CC_W';
    }

    isArrowUpward(pedido: any) {
        return (
            ( pedido.paymentStatus === 'R' && pedido.paymentMethod !== 'CC_W' )
            ||
            ( pedido.paymentStatus !== 'R' && pedido.paymentMethod === 'CC_W')
        )
    }

    infoAdicional(pedido: any) {
        if (pedido.paymentStatus === 'R') return 'Estorno';
        if (pedido.type === 'ORDER_EVENT') return pedido.items[0].name;
    }

    getTituloItemExtrato(pedido: any) {
        return pedido.paymentMethod == 'CC_W' ? 'Recarga de Saldo' : pedido.eventName;
    }

    mounted() {
        const period = localStorage.getItem('PERIOD_FILTERED') || '';
        if(period == '') {
            localStorage.setItem('PERIOD_FILTERED', '' + moment().format('MM/YYYY'));
            this.period = localStorage.getItem('PERIOD_FILTERED') || '';
        }
        this.loadOrders();
    }

    beforeDestroy() {
        localStorage.setItem('INITIAL_DATE', '');
        localStorage.setItem('FILTERED_EVENT_ID', '');
        localStorage.setItem('FINAL_DATE', '');
        localStorage.setItem('PERIOD_FILTERED', '' + moment().format('MM/YYYY'));
    }

    retrieveDate(stringDate: string) {
        const arr = stringDate.split('/');
        const ano = Number(arr[2]), mes = Number(arr[1]) - 1, dia = Number(arr[0]);
        return new Date(ano, mes, dia);
    }

    loadOrders() {
        const self = this;
        
        const body: any = {
            'NRORG': localStorage.getItem('NRORG'),
            'TOKEN': localStorage.getItem('TOKEN'),
            'USER_ID': localStorage.getItem('USER_ID'),
            'PAYMENT_METHOD': 'BALANCE',
        };

        if (this.initialDate) {
            body.INITIAL_DATE = this.initialDate;
        }

        if (this.finalDate){
            body.FINAL_DATE = this.finalDate;
        }

        if (this.filteredEventId != '0') {
            body.EVENT_ID = this.filteredEventId;
        }

         try {
            const self = this;
            const req = new Request();
                req.body = body;
            req.route  = 'listOrders';
            req.callbackSuccess = function(response: any) {
                self.pedidos = response.orders;
                self.pedidos.forEach((pedido: any) => {
                    if(pedido.paymentStatus == 'A' && pedido.paymentMethod != 'CC_W')
                      self.totalMonth += pedido.total;
                    if(pedido.paymentStatus == 'R'  && pedido.paymentMethod != 'CC_W')
                      self.totalMonth -= pedido.total;
                });
                if (!self.initialDate && !self.filteredEventId) 
                    localStorage.setItem('ORDERS_FROM_EVENTS', JSON.stringify(self.pedidos));
                self.pedidos.forEach(function(pedido: any) {
                    new ThreeOptionsList().iconColorExtrato(pedido.id, pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward');
                });
                if (self.pedidos.length == 0) self.notFound = true;
                else self.notFound = false;
            };
            req.callbackError = function(error: any) {
                console.log(error);
                self.notFound = true;
            };
            req.blockTouchEvents = false;
            req.send();
        } catch (e){console.log(e);
    }
}

    formatDate(stringDate: string) {
        const momentDate: any = moment(stringDate);
        return momentDate.lang('pt-br').format('dddd, DD/MMM [às] HH:mm');
    }

    goBack() {
        this.$router.go(-1);
    }

    goTo() {
        this.$router.push({ name: 'FiltroExtratoEvents' });
    }

  }

</script>

<style>
    .extratoEvento > ul.collapsible{
        box-shadow: none !important;
    }
</style>
