<template>
  <div >
      <DefaultButton classDiv="position-absolute" class-component="button-icon" icon="keyboard_arrow_left" v-on:buttonCallBack="goBack"/>
      <SectionArea class-component="row primary-color-bg image-half" :image-file="logoBig"/>
      
      <!-- <TextLink classDiv="row" style="margin-bottom: 0" link-label="Escolha uma data inicial:" class-component="secundary-color mensagem"/>
      <DatePicker classDiv="row margin-none centralize-child" id-component="date" picker-label="Selecione uma data" /> -->
      
      <TextLink classDiv="row" style="margin-bottom: 0; margin-top: 20px;" link-label="Selecione um ano: " class-component="secundary-color mensagem"/>
      <SelectField selectId="years" > 
          <template slot="option">
              <OptionField :optionName="year.id" :optionValue="year.id" v-for="year in years" :key="year.id" ></OptionField>
          </template>
      </SelectField>

      <TextLink classDiv="row" style="margin-bottom: 0; margin-top: 20px;" link-label="Selecione um mês: " class-component="secundary-color mensagem"/>
      <SelectField selectId="date" > 
          <template slot="option">
              <OptionField optionName="Atual" :optionValue="currentMonth"></OptionField>
              <OptionField :optionName="month.name" :optionValue="month.id" v-for="month in months" :key="month.id" ></OptionField>
          </template>
      </SelectField>
      
      <TextLink classDiv="row" style="margin-bottom: 0; margin-top: 20px;" link-label="Escolha um evento:" class-component="secundary-color mensagem"/>
      <SelectField selectId="select-event" > 
          <template slot="option">
              <OptionField optionName="Todos" optionValue="0"></OptionField>
              <OptionField :optionName="event[0].eventName" :optionValue="event[0].eventId" v-for="event in events" :key="event[0].eventId" ></OptionField>
          </template>
      </SelectField>

      <DefaultButton class-component="default-button-80" classDiv="row margin-top-10 btn-bottom-10" name-button="FILTRAR" v-on:buttonCallBack="filtrar"/>
      <div class="row padding-10 footer-logo">
        <img src="../assets/zeedhi_new_logo.svg">
      </div>
  </div>
</template>

<script lang='ts'>
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import SectionArea from '../components/SectionArea.vue';
  import TextLink from '../components/TextLink.vue';
  import DefaultButton from '../components/DefaultButton.vue';
  import SelectField from '../components/SelectField.vue';
  import OptionField from '../components/OptionField.vue';
  import DatePicker from '../components/DatePicker.vue';
  import SelectFieldController from '../ts/SelectFieldController';
  import moment from 'moment';

  @Component({
    components: { SectionArea, TextLink, DefaultButton, DatePicker, SelectField, OptionField }
  })

  export default class FiltroExtratoEvents extends Vue {

    events:object[] = [];
    months: object[] = [
        { id: '0' , name: 'Janeiro' },
        { id: '1' , name: 'Fevereiro' },
        { id: '2' , name: 'Março' },
        { id: '3' , name: 'Abril' },
        { id: '4' , name: 'Maio' },
        { id: '5' , name: 'Junho' },
        { id: '6' , name: 'Julho' },
        { id: '7' , name: 'Agosto' },
        { id: '8' , name: 'Setembro' },
        { id: '9' , name: 'Outubro' },
        { id: '10', name: 'Novembro' },
        { id: '11' , name: 'Dezembro' }
    ];
    currentMonth: any = moment().month();
    years: any = [];
    logoBig: any = localStorage.getItem('LOGO_BIG');

    data() {
      return {
        inputValues: {}
      };
    }

    goBack() {
      this.$router.go(-1);
    }

    filtrar() {
      let month: any = $('#date').val();
      let year: any = $('#years').val();
      this.getFirstAndLastDayOfMonth(month, year);
      localStorage.setItem('PERIOD_FILTERED', '' + moment(moment().month(month).year(year)).format('MM/YYYY'));
      localStorage.setItem('FILTERED_EVENT_ID', ''+$('#select-event').val());
      this.$router.go(-1);
    }

    getFirstAndLastDayOfMonth( month:any, year:any ){
      const startOfMonth = moment(moment().month(month).year(year)).startOf('month').format('YYYY-MM-DD');
      const endOfMonth   = moment(moment().month(month).year(year)).endOf('month').format('YYYY-MM-DD');
      localStorage.setItem('INITIAL_DATE', ''+ startOfMonth);
      localStorage.setItem('FINAL_DATE', ''+ endOfMonth);
    }

    mounted() {
      const orders = JSON.parse(localStorage.getItem('ORDERS_FROM_EVENTS') || '[]');
      this.events  = <object[]>Object.values(this.groupBy(orders, 'eventName')).filter((e:any) => e[0].paymentMethod == 'BALANCE');
      setTimeout(function() {
        SelectFieldController.refresh();
      }, 50);
      this.addYearOnArray();
    }

    addYearOnArray(){
      for(let year = 2018; year <= moment().year(); year++)
        this.years.push({'id': year});
      
      setTimeout(function() {
        SelectFieldController.refresh();
      }, 50);
    }

    groupBy(xs: any, key: string) {
      return xs.reduce(function(rv: any, x: any) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    };
  }
</script>

<style>

</style>