<template>
  <div class="RegisteredCards">
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Seus cartões"/>
    <div class="new-card row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 20px + env(safe-area-inset-bottom);">
      <ButtonCard icon="plus-circle" label="Novo Cartão" :callback="addCard"  />
        <OptionCollapseParent class="button-card-wrapper col s6" :onChange="changeMainCard" v-if="!!cardsParent" slot="options" :id="cardsParent.ID" :card-number="lastNumberCard(cardsParent.LAST_NUMBERS)" :user-name="cardsParent.CARD_FULL_NAME" :card-expiring="cardsParent.EXPIRATION_DATE" :card-flag="cardsParent.FLAG" :key="cardsParent.ID" :deletar="deletarCard" type-card="Cartão de Crédito"/>
        <OptionCollapse class="button-card-wrapper col s6" :onChange="changeMainCard" v-if="!!card && (!cardsParent || card.ID != cardsParent.ID)" slot="options" :id="card.ID" type-card="Cartão de Crédito" :card-number="lastNumberCard(card.LAST_NUMBERS)" :user-name="card.CARD_FULL_NAME" :card-expiring="card.EXPIRATION_DATE" :card-flag="card.FLAG" :to-do="mostraModal" v-for="card in cards" :key="card.ID" :deletar="deletarCard"/>
    </div>
      <!-- <div class="new-card centralize-child">
        <div class="new-button">
          <DefaultButton name-button="Adicionar novo cartão" class-component="button-icon primary-color display-flex" v-on:buttonCallBack="goTo" icon="add_circle"/>
        </div>      
      </div> -->
      <!-- <div class="row padding-10 footer-logo">
        <img src="../assets/zeedhi_new_logo.svg">
      </div> -->
      <!-- <div class="footer-see-orders" v-on:click="goToExtrato" >
        <span>EXTRATO</span>
      </div> -->

    <ModalCodigo v-if="showModal" @close="showModal = false" icon="credit_card" :content="'Remover o cartão ' + FLAG + ' com o final ' + LAST_NUMBERS + '?'">
      <div class="display-flex SIM" slot="footer">
        <DefaultButton classDiv="width-45 one" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
        <DefaultButton classDiv="width-45 two" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="deleteCC"/>
      </div>
    </ModalCodigo>
    <LoadingPhases v-on:clickError="handleClickError"/>
    <LoginModal v-if="showModalLogin" @close="closeModalLogin" :registerRoute="'/Register'"/>
  </div>
</template>

<script lang='ts' src='../controllers/RegisteredCards.ts'>
</script>

  <style>
/* .RegisteredCards {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
} */
.new-card {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  top: 1rem;
}
.btnCartao {
  border: 3px !important;
  margin-right: 75% !important;
  padding: 0 90px !important;
}

/* .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
} */

.RegisteredCards .new-card > .new-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin: auto;
}

.RegisteredCards .new-card > .new-button > div > button {
  font-size: 14px !important;
}

.RegisteredCards .new-card > .new-button > div > button > i {
  margin-top: -5px;
  margin-left: 10px;
  font-size: 30px !important;
}

.RegisteredCards .footer-logo {
  bottom: 35px !important;
}
</style>