<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import DefaultButton from "./components/DefaultButton.vue";
import TextLink from "./components/TextLink.vue";
import vMoney from "v-money";
import Util from "./ts/Util";
import LoginFrontEnd, { LoginConfig } from "../LoginFrontEnd";
import LoadingPhases from "./components/LoadingPhases.vue";

declare var M: any;
declare var $: any;

@Component({
  components: { DefaultButton, TextLink, LoadingPhases }
})
export default class App extends Vue {
  warning: boolean = false;
  componentKey: number = 0;

  mounted() {
  }

}
</script>

<style>
</style>
