<template>
    <div class="buy_event_ticket">
        <HeaderCircleButton v-bind:firstButton="true" :fb="backButton" :visibleAt="-1" logo="bipfun-logo.svg" :title="eventDetail.name"/>
        <div class="info" style="margin-top: 2rem;">
            <div v-if="eventDetail.location" class="display-flex justify-center margin-bottom-10">
                <div class="display-flex" style="width: 100%; padding: 0 18px;">
                    <div style="display: flex; justify-content: center; flex-direction: column;"><i class="material-icons primary-color">location_on</i></div>
                    <div style="display: flex; justify-content: center; flex-direction: column;"><span style="margin-left: 5px;">{{eventDetail.location}}</span></div>
                </div>
            </div>
            <div v-if="eventDetail.initialDate && eventDetail.initialDate.date" class="display-flex justify-center margin-bottom-10">
                <div class="display-flex" style="width: 100%; padding: 0 18px;">
                    <div style="display: flex; justify-content: center; flex-direction: column;"><i class="material-icons primary-color">event_available</i></div>
                    <div style="display: flex; justify-content: center; flex-direction: column;">
                        <span style="margin-left: 5px;">{{formatDate(eventDetail.initialDate.date)}}</span>
                        <!-- <span style="margin-left: 5px;">até {{formatDate(eventDetail.finalDate.date)}}</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="row products-list"  class="ticketsList">
            <TicketBuyHeader class-component="margin-20 table_header" :allTicketsAreFree="allTicketsAreFree" titleText="Ingressos" :value="totalValue"/>
            <TicketBuy :condition1="verify(ticket.finalSale.date)" :condition2="verifyAmount(ticket.amount)" :amount="ticket.amount" :ticketPrice="ticket.price" :ticketId="ticket.id" :ticketName="ticket.name" :ticketPeriod="'Vendas até '+formatDate(ticket.finalSale.date)" :addTicket="addCountTicket" :subTicket="subCountTicket" :counter="amountFromId(ticket.id)" v-for="ticket in ticketsEvent" :key="ticket.id"/>
        </div>
        <div v-if="!allTicketsAreFree" style="padding: 10px; margin-bottom: 50px" class="row">
            <div v-if="mainCartao && mainCartao.FLAG" class="" style="padding: 8px 0; text-align: left; border-bottom: 1px solid #c5c5c5; line-height: 150%; display: flex; flex-direction: column; margin: 0 10px 10px 10px;">
                <span class="" style="color: black; font-size: 1.4em; font-weight: 300;">Pagando com: </span>
            </div>
            <div v-if="mainCartao && mainCartao.FLAG" style="display: flex; justify-content: space-between; padding: 0 10px;">
                <span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{mainCartao.FLAG +' •••• '+ lastNumberCard(mainCartao.LAST_NUMBERS)}}</span>
                <div class="display-flex">
                    <img style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`@/assets/${mainCartao.FLAG}.svg`)"/>
                    <div class="justify-column-center primary-color" v-on:click="telaPaymentMethods">
                        <i class="material-icons">cached</i>
                    </div>
                </div>
            </div>
            <div v-else style="font-size: 2rem">
                <div style="display: flex; justify-content: space-between; padding: 8px 0;"><span style="display: flex; justify-content: center; flex-direction: column; width:100%;">Nenhum cartão de crédito cadastrado.</span></div>
                <div style="display: flex; justify-content: center; margin: 0 10px 10px 10px;" v-on:click="telaPaymentMethods"><span style="font-size: 1.2em; color: var(--primary-color); font-weight: 300;">Cadastrar cartão de crédito.</span></div>
            </div>
        </div>
        <div v-if="items.length > 0 && verifyAllTickets()" class="flex" style="margin-top: 30px; display: flex; position: fixed; bottom: calc(0px + env(safe-area-inset-bottom)); left: 0; width: 100%; z-index: 9">
            <DefaultButton classDiv="button-child-100" name-button="CONTINUAR" class-component="default-button gradient-button-background button" v-on:buttonCallBack="continuar" idButton="finalizarCompra"/>
        </div> 

        <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="showModalTelaCartoes = false;"/>
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="telaCartoes"/>
            </div>
        </ModalCodigo>
        <LoginModal v-if="showModalLogin" @close="closeModalLogin" :registerRoute="'/Register'"/>
    </div>
</template>
<script lang='ts' src="../controllers/BuyEventTicket.ts"></script>
<style>

    .buy_event_ticket .ticketsList {
        box-shadow: unset;
        margin: 0;
    }

    .button-child-100 {
        width: 100%;
    }

    .button-child-100 > div {
        width: 100%;
    }

    .row.title_event{
        padding: 5px;
        color: var(--primary-color);
    }

    .justify-center{
        justify-content: center;
    }

    .table_header{
        display: flex;
        justify-content: space-between;
    }

    .margin_left{
        margin-left: 5px !important;
    }

    .buy_event_ticket .info{
        position: relative;
        top: 1rem;
        margin: 0 1rem 0 1rem;
        font-size: 2rem;
    }

    .buy_event_ticket .tickets-list{
        position: relative;
        top: 1.5rem;
        margin: 0 1rem 0 1rem;
    }

    .buy_event_ticket .card-list{
        position: relative;
        top: 1.5rem;
        margin: 2rem 1rem 4.5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .buy_event_ticket .bottom-button {   
    padding: 1rem !important;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom)) !important;
    font-size: 1rem !important;
    height: auto;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color) 100%);
    border: 0;
    }

    .buy_event_ticket .section-title{
        margin-left: 0;
    }

    .buy_event_ticket .material-icons{
        font-size: 4rem;
    }

    .buy_event_ticket .table_header{
        font-size: 2rem;
    }

    .buy_event_ticket .ticketBuy{
        font-size: 2rem;
    }

    .buy_event_ticket .table_header_vertical{
        font-size: 2rem;
        height: 3rem;
        margin: auto 0;
    }

</style>