<template>
  <div class="event-details">
    <HeaderCircleButton
      :key="favoritedKey"
      ref="headerCircleButton"
      v-bind:firstButton="true"
      :fb="backButton"
      :ob="[]"
      :visibleAt="165"
      :title="eventDetail.name"
    />
    <div v-show="!sharedEventParent && !reloadingData && eventDetail">
      <HeaderBackground :imageSrc="eventDetail.imageCover" />
      <div class="event-details-content">
        <div class="event-info-card">
          <div class="title-event">
            <a class="msgTitleEvents">{{eventDetail.name}}</a>
          </div>
          <div
            style="display: block; margin:0 0 0.5rem 0; font-size: 0.9rem; position: relative"
            v-if="breadCrumbs && breadCrumbs.length"
          >
            <div v-for="(b, index) in breadCrumbs" :key="b.id" style="float: left; display: flex;">
              <font-awesome-icon
                v-show="index!=0"
                :icon="['fal', 'chevron-right']"
                fixed-width
                style="font-size: 0.6rem; line-height:0.8rem; color:#4F4F4F; margin: 0.1rem 0.25rem 0.1rem 0px"
              />
              {{b.name}}
            </div>
          </div>
          <!-- <div style="display: block;"> -->
          <div
            style="float: left; display: flex; heigth: 100%; margin-left:-0.25rem"
            v-if="eventDetail.initialDate && formatDate(eventDetail.initialDate.date)"
          >
            <font-awesome-icon
              :icon="['fal', 'calendar']"
              size="2x"
              fixed-width
              style="font-size: 1.8rem; color:#4F4F4F; margin: 0.1rem 0.25rem auto 0;"
            />
            <div
              style="font-size: 1.8rem; display: flex; flex-direction: column; justify-content: center; margin-top: auto 0; color:#333333;"
            >{{formatDate(eventDetail.initialDate.date)}}</div>
          </div>
          <div
            style="float: left; display: flex; heigth: 100%; justify-content: space-between; margin-top: 0.25rem; margin-left:-0.25rem"
            v-if="eventDetail.rating"
          >
            <div style="display: flex;">
              <!-- <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">event_seat</i> -->
              <font-awesome-icon
                :icon="['fal', 'loveseat']"
                size="2x"
                fixed-width
                style="font-size: 1.8rem; color:#4F4F4F; margin: 0.1rem 0.25rem auto 0;"
              />
              <div
                v-if="eventDetail.rating"
                style="font-size: 1.8rem; display: flex; flex-direction: column; justify-content: center; margin: auto 0; text-align:left; color:#333333;"
              >{{eventDetail.rating}}</div>
              <div
                v-else
                style="display: flex; flex-direction: column; justify-content: center; margin: auto 0; color:#333333;"
              >Livre</div>
            </div>
          </div>
          <!-- </div> -->
          <!-- <div v-if="eventDetail.location" style="display: block; margin-top: 0.25rem;"> -->
          <div
            style="float: left; display: flex; heigth: 100%; margin-top: 0.25rem; margin-left:-0.25rem"
            v-if="eventDetail.location"
          >
            <font-awesome-icon
              :icon="['fal', 'map-marker-alt']"
              size="2x"
              fixed-width
              style="font-size: 1.8rem; color:#4F4F4F; margin: 0.1rem 0.25rem auto 0;"
            />
            <div
              style="font-size: 1.8rem; text-align: left; display: flex; flex-direction: column; justify-content: center; margin: auto 0; color:#333333;"
            >{{eventDetail.location}}</div>
          </div>
          <!-- </div> -->
        </div>

        <div class="event-info-card" v-if="eventDetail.about">
          <div class="title-event">
            <a class="msgTitleEvents">Sobre</a>
          </div>
          <div class="card-title about" :ref="'cardAbout'">{{eventDetail.about}}</div>
        </div>

        <div class="event-info-card" v-if="eventDetail.values">
          <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; flex-direction:column">
              <div class="title-event">
                <a class="msgTitleEvents" v-if="eventDetail.values">Ingressos</a>
              </div>
              <!-- <i class="material-icons" style="font-size: 20px; color:#4F4F4F;">attach_money</i> -->
              <!-- <font-awesome-icon :icon="['fal', 'dollar-sign']" size="2x" style="width: 1.1rem; color:#4F4F4F; margin-right: 0.25rem;" /> -->
              <span class="tickets-details" v-if="eventDetail.values">
                <span>{{eventDetail.values}}</span>
              </span>
              <!-- <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;" v-if="ticketsEvent.length == 1"><span>Valor do ingresso: <span style="font-weight: bold;"> R${{cheapestTicket.price}}</span></span></span> 
              <span style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;" v-if="ticketsEvent.length > 1"><span>Ingressos à partir de: <span style="font-weight: bold;"> R${{cheapestTicket.price}}</span></span></span>-->
            </div>
          </div>
        </div>

        <transition name="fade">
          <div class="info-left" v-if="loadedMenuData">
            <!-- <div class="event-day">{{d}}</div> class="event-day-container" -->
            <Minicard v-for="s in schedule" :key="s.id" @click.native="reloadEventData(s.id)">
              <span slot="title">{{s.name}}</span>
              <span slot="description">{{s.about}}</span>
              <img slot="image" :src="s.imageCover" />
              <div
                slot="image"
                v-if="!s.imageCover"
                style="width: 100%; height: 100%; position: absolute; top: 0rem; left: 0px;display: flex; flex-direction: column; justify-content: center;"
              >
                <font-awesome-icon
                  class="icon"
                  :aria-hidden="true"
                  :icon="['fal', 'ticket-alt']"
                  size="1x"
                  style="color: var(--background-color, white); margin: auto; width: 3rem; height: 3rem; left: calc(50% - 1rem); top: calc(50% - 1.5rem);"
                />
              </div>
              <span slot="info" class="event-start-time">{{ getEventStartTime(s.initialDate.date) }}</span>
            </Minicard>
          </div>
        </transition>

        <!-- <transition name="fade"> -->
        <div key="2" v-if="!loadedMenuData && !failedToLoadData" class="loading-div">
          <SCLoadingDots />
        </div>
        <div
          key="1"
          class="event-button-container"
          v-if="loadedMenuData && ((!children.length &&  (eventDetail.ordMenuId  || eventDetail.menuId || eventDetail.menus))||children.length||ticketsEvent.length)"
        >
          <!-- <DefaultButton v-show="schedule.length" classDiv="relative-auto" class-component="alreadyFinished" name-button="Programação" v-on:buttonCallBack="goToEventSchedule" /> -->
          <DefaultButton
            v-show="ticketsEvent.length"
            classDiv="gradient-border double-button"
            name-button="Ingressos"
            class-component="white-button waves-effect"
            v-on:buttonCallBack="goToBuyEventTicket"
          />

          <!-- <DefaultButton
            v-if="eventSalesMethod == 'I'"
            :classDiv="ticketsEvent.length ? 'double-button no-left-margin':'double-button'"
            class-component="event-store-button gradient-button-background waves-effect"
            name-button="Ler Comanda"
            v-on:buttonCallBack="goToLerQrMesa"
          /> -->
          <DefaultButton
            v-if="(children.length == 1 && !(eventDetail.ordMenuId  || eventDetail.menuId ||eventDetail.menus))||
                    (!children.length &&  (eventDetail.ordMenuId  || eventDetail.menuId ||eventDetail.menus))"
            :classDiv="ticketsEvent.length ? 'double-button no-left-margin':'double-button'"
            class-component="event-store-button gradient-button-background waves-effect"
            name-button="Cardápio"
            v-on:buttonCallBack="goToStore"
          />
          <DefaultButton
            v-else-if="children.length > 1 || 
                    (children.length == 1 && (eventDetail.ordMenuId  || eventDetail.menuId ||eventDetail.menus))"
            :classDiv="ticketsEvent.length ? 'double-button no-right-margin':'double-button'"
            class-component="event-store-button waves-effect gradient-button-background"
            name-button="Cardápios"
            v-on:buttonCallBack="goToEventStores"
          />
        </div>
        <!-- </transition> -->
      </div>
    </div>
    <div
      v-show="sharedEventParent||reloadingData||!eventDetail"
      class="event-detail-loading-screen"
    >
      <SCLoadingDots v-if="!failedToLoadData" />
      <EmptyState
        v-else
        icon="ticket-alt"
        iconClass="fal"
        text="Não foi possível carregar o evento"
      />
    </div>
    <LoginModal v-if="showModalLogin" @close="closeModalLogin" :registerRoute="'/Register'" />
    <ModalCodigo
      v-if="syncRequest"
      @close="syncRequest = false"
      :content="'Sincronizar este evento com a Agenda do seu celular?'"
    >
      <div slot="footer">
        <p
          style="color: #333333; font-size: 14px; font-weight: normal !important; line-height: 115%; margin-bottom: 24px !important;"
        >Ao sincronizar este evento na agenda do seu celular, ela irá te lembrar dele quando a data estiver chegando.</p>
      </div>
      <div class="display-flex SIM" slot="footer">
        <a class="first-button" v-on:click="closeModalSync">NÃO, OBRIGADO</a>
        <a class="second-button" @click="callSyncCalendar">VINCULAR</a>
      </div>
    </ModalCodigo>
  </div>
</template>
<script lang='ts' src="../controllers/EventDetails.ts"></script>
<style>
.data-evento {
  margin-bottom: 15px;
}

.relative-auto {
  width: 80%;
  position: relative;
  margin: auto;
  top: 100%;
  padding-bottom: 10px;
}

.event-details-content .info-left,
.info .info-right {
  display: inline-block;
  margin-top: 1rem;
  padding-bottom: 4.5rem;
}

.info .info-middle {
  display: inline-block;
  width: calc(100% - 88px);
  left: 42px;
}

.image_content {
  position: relative;
  display: flex;
}

.image_content > .title_event {
  position: absolute;
  bottom: 0;
  margin-left: 2%;
  color: var(--background-color, white);
  font-weight: 600;
  margin-bottom: 2%;
}

.event_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.event_image {
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: column;
}

.msgTitleEvents.visibleHeader {
  font-size: 13px;
  margin-top: 8px;
  color: #2d68c4 !important;
}

.msgTitleEvents {
  color: rgba(0, 0, 0, 0.87);
  transition: 0.2s;
  font-size: 2rem !important;
}

.w-100.image-half > img {
  width: 100% !important;
  margin: 20px;
}

.event-details > .info {
  padding: 10px;
}

.justify {
  justify-content: space-between;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.vertical {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.section-title {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.3em;
}

.event-details .tickets-details {
  color: #828282;
  text-align: justify;
  position: relative;
  line-height: 2rem;
  font-size: 1.8rem;
}

.display-flex {
  display: flex;
}

.name-ticket {
  text-align: left;
}

.price-ticket {
  color: var(--primary-color);
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
}

.event-details .event-details-content {
  min-height: calc(100vh - 14.5rem);
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -0.1rem 0.5rem 0.1rem rgb(11, 11, 11, 0.05);
  margin: 1rem 1rem calc(1rem + env(safe-area-inset-bottom)) 1rem;
  background: rgb(255, 255, 255, 0.95);
  border-radius: 1rem;
  padding-top: 1rem;
}

.event-details .double-button {
  width: 100%;
  margin: 1rem 1rem 1rem 1rem;
}

.event-details .event-store-button {
  border-radius: unset;
  font-size: 1rem !important;
  box-shadow: unset;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

.event-details .gradient-border {
  background: linear-gradient(
    90deg,
    var(--primary-color) 10%,
    var(--support-color, var(--primary-color)) 90%
  );
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  position: relative;
  margin: 1rem 1rem 1rem 1rem !important;
  height: 5.5rem;
  border-radius: 0.25rem;
}

.event-details .white-button {
  background: var(--background-color, white) !important;
  color: black;
  mix-blend-mode: screen;
  border: black 2px solid !important;
  box-shadow: unset !important;
  font-size: 2.5rem !important;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

.event-details .alreadyFinished {
  height: 2rem;
  border: unset !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.event-details .event-detail-loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.event-details .minicard-wrapper {
  margin: 0 1rem 1rem 1rem !important;
  height: 7rem;
}

.event-details .event-schedule-view-section-title {
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.event-details .event-day {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  background-color: var(--secundary-color);
  color: var(--background-color, white);
  margin-bottom: 1rem;
  width: fit-content;
  padding: 0 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: var(--primary-color) solid 1px;
}

.event-details .event-day-container {
  width: 100%;
  margin-bottom: 2rem;
}

.event-details .event-start-time {
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 -1rem -0.5rem;
  padding: 0.25rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.25rem;
  color: var(--background-color, white);
}

.event-details .minicard-image img {
  width: calc(100% + 2rem);
  height: calc(100% + 2.5rem);
  background-color: var(--secundary-color);
  margin: -1rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.event-details .event-button-container {
  margin: 7vh 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(7.5rem + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--background-color, white);
  box-shadow: 0 -0.1rem 0.5rem 0.1rem rgb(11, 11, 11, 0.1);
}

.no-left-margin {
  margin-left: 0 !important;
}

.event-details .loading-div {
  position: fixed;
  bottom: calc(4rem + env(safe-area-inset-bottom));
  left: 0;
}

.event-details .event-info-card {
  padding: 0.5rem 0;
  margin: 0 1rem 0 1rem;
  border-top: solid rgb(11, 11, 11, 0.15) 1px;
  display: flex;
  flex-direction: column;
}

.event-details .event-info-card:first-child {
  border-top: unset;
  padding-top: 1rem;
}

.event-details .title-event {
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  margin-bottom: 0.5rem;
  z-index: 0;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.event-details .header-background,
.event-details .header-background img {
  height: 35rem;
  position: fixed;
  left: 0;
}

.event-details .first-button {
  margin: 0 !important;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.event-details .second-button {
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: var(--primary-color);
}

.event-details .row p {
  margin-left: unset;
}

/* styles for '...' */
.event-details .about {
  color: #828282;
  text-align: justify;
  position: relative;
  margin: 0;
  line-height: 2rem;
  overflow: hidden;
  font-size: 1.8rem;
}
/* create the ... */

</style>