<template>
    <div v-if="structures[0] && categories[0]" class="full-height view-filter-events newFilterEvents">
        <!-- Go back button -->
        <!-- <div class="backPage" v-on:click="goBack">
            <i class="material-icons">arrow_back</i>
        </div> -->
        <!-- Title of page -->
        <!-- <div class="titlePage">
            <div class="sun">
                <span>Filtrar Eventos</span>
            </div>
        </div> -->
        <HeaderRelease desiredScrollTop="22" :click="goBack" title="Filtrar Eventos" :hasMoreButton="false"/>
        <!-- All filters type -->
        <div class="filters">
            <!-- Category flter section -->
            <div class="filter">
                <!-- Title of filter type -->
                <div class="titleFilter">
                    <span>Categoria</span>
                </div>
                <!-- List of options filters -->
                <div class="options-filters">

                    <label class="category" :for="'category'+category.ID" v-for=" category in categories" :key="category.ID" :id="'labelCategory'+category.ID" v-on:change="verifyIfCategoryIsChecked(category.ID)">
                        <input name="categoria" class="" :id="'category'+category.ID" type="checkbox" :value="category.ID" v-model="categoria" v-on:change="validateFilterCategory()"/>
                        <span style="text-transform: capitalize;" class="" :id="'span'+category.ID" >{{category.NAME}}</span>
                    </label>

                </div>
            </div>

            <!-- <div class="filter"> -->
                <!-- Title of filter type -->
                <!-- <div class="titleFilter">
                    <span>Unidade</span>
                </div> -->
                <!-- List of options filters -->
                <!-- <div class="options-filters">

                    <label class="category" :for="'structure'+structure.id" v-for=" structure in structures" :key="structure.id" :id="'labelStructure'+structure.id" v-on:change="verifyIfStructureIsChecked(structure.id)">
                        <input name="estrutura" class="" :id="'structure'+structure.id" type="checkbox" :value="structure.id" v-model="estrutura"/>
                        <span style="text-transform: capitalize;" class="" :id="'span'+structure.id" >{{structure.name}}</span>
                    </label>

                </div>
            </div> -->
        </div>

        <div style="position: fixed; bottom: 0; width: 100vw; left: 0; right: 0; background-color: white;">
            <div class="btn-filters">
                <button id="AVANCAR" class="btn-relese waves-effect waves-light" style="margin-bottom: 15px;" v-on:click="buttonAvancar()"> Salvar preferências </button>
                <span class="clean-filter" v-on:click="limparFiltros()"> Limpar filtro </span>
            </div>
        </div>

    </div>
</template>

<script lang="ts" src='../controllers/FilterEvents.ts'>
</script>

<style>

    .label-introducao {
        margin-bottom: 0;
    }

    .label-subtitulo > a {
        font-size: 1.6em;
        font-weight: bold;
    }

    .btn-bottom-0 {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }

    .margin-top {
        margin-top: 2rem;
        margin-bottom: 0 !important;
    }

    .bottom-10-large {
        position: absolute !important;
    }

    @media (max-height: 670px) {
        .bottom-10-large {
            position: relative !important;
        }
    }

    .filter{
        margin-bottom: 15px;
    }

    .newFilterEvents .filters{
        margin: 30px 18px 120px;
    }

    .filters .titleFilter{
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        color: #333333;
        text-align: left;
        margin-bottom: 20px;
    }

    .options-filters{
        display: flex;
        flex-wrap: wrap;
    }

    .options-filters [type="checkbox"] + span:not(.lever){
        padding: 0;
        height: auto !important;
    }

    .options-filters [type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after{
        display: none;
    }

    .options-filters .category{
        padding: 5px 20px;
        border: 1px solid #9e9e9e;
        border-radius: 500px;
        color: black;
        margin: 0 5px 15px 0;
    }

    .options-filters .optionChecked{
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
    }

    .options-filters .optionChecked span{
        color: white;
    }

    .options-filters [type="checkbox"]:checked + span{
        color: white;
    }

    button.btn-relese{
        width: 100%;
        height: 43px;
        font-size: 1.2rem !important;
    }

    .clean-filter{
        font-size: 1.2rem;
        margin: 10px;
        font-weight: bold;
        color: gray;
    }

    .btn-filters{
        padding: 15px 0;
        width: 90vw;
        margin: auto;
    }

    /* .options-filters > label:nth-child(1){
        margin: 0 5px 10px 0;
    } */

</style>