<template>
  <div class="tickets-view">
    <!-- <HeaderFluxo name-fluxo="Meus Ingressos">
        <DefaultButton slot="left" v-on:buttonCallBack="goBack" class-component="button-icon secundary-color" icon="keyboard_arrow_left" />
    </HeaderFluxo> -->
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Meus Ingressos"/>
    <!-- <div v-if="!appHasTickets" class="emBreveTextIngresso">
        <span>Aguarde</span>
        <br /> 
        <span>Em breve teremos vendas de ingressos.</span>
    </div>   -->
    <!--<div v-bind:class="{'disabledDivIngresso' : appHasTickets }" >-->
        <div class="row margin-top-10" v-if="ticketsValidos">
            <TextLink v-if="ticketsValidos != 0" classDiv="row striper ingress" :link-label="'Meus Ingressos: '+ ticketsValidos" class-component="mensagem"/>
            <div style="width: 100%; display: flex; margin-top: 20px; flex-flow: wrap; margin-bottom: calc(35px + env(safe-area-inset-bottom));">
                <div style="width: 100%; background-color: white; height: 130px; display: flex; margin: 10px 20px; box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 7px 0px; border-radius: 6px;"
                    :id="userTicket.id"
                    v-on:click="setTicketDetails(userTicket.id)"
                    v-for="userTicket in userTickets"
                    :key="userTicket.id">
                    <div id="imageCover" style="width: 40%; border-radius: 6px 0 0 6px; position: relative;">
                        <span class="after"></span>
                        <span class="before"></span>
                        <img class="imageCover ticket" style="width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; border-radius: 6px 0 0 6px;"
                            :src="userTicket.imageCover"/>
                    </div>
                    <div style="width: 60%; padding: 10px; display: flex; flex-direction: column; text-align: left; justify-content: space-evenly;">
                        <div style="display: flex; flex-direction: column; text-align: left; line-height: 1.2;">
                            <span style="font-size: 1.2em; font-weight: 300; line-height: 1.1; max-height: 36px; text-overflow: ellipsis; overflow: hidden; white-space: inherit;"> {{userTicket.name}} </span>
                            <span style="color: dimgray;" class="overflow-text"> {{userTicket.userName}} </span>
                        </div>
                        <div style="display: flex; flex-direction: column; text-align: left; line-height: 1.2;">
                            <div style="display: flex"><div style="display:flex; flex-direction:column; justify-content:center;"><i style="font-size: 1.3em;" class="material-icons">alarm</i></div> <span style="margin: auto 5px;"> {{formatData(userTicket.id)}} </span></div>
                            <div style="display: flex"><div style="display:flex; flex-direction:column; justify-content:center;"><i style="font-size: 1.3em;" class="material-icons">location_on</i></div> <span style="margin: auto 5px;"> {{userTicket.location}} </span></div>
                        </div>
                    </div>
                </div>
                <!-- <div v-if="userTicket.id" style="display: flex; justify-content: center; flex-direction:column; overflow: hidden; width:100%; margin-bottom: 30px;" v-for="userTicket in userTickets" :key="userTicket.id">
                    <FullTicket :ticketId="userTicket.id" :imageEvent="userTicket.imageCover" :titleEvent="userTicket.name" :localEvent="userTicket.location" :dateEvent="formatData(userTicket.id)" :valueTicket="'R$'+userTicket.price.toFixed(2)" :typeTicket="userTicket.ticketName" :userTicket="userTicket.userName" :numberTicket="userTicket.id" >
                        <div slot="qrcode" class="qrcode-container" v-on:click="setTicketDetails(userTicket.id)">
                            <div class="qrcode_heigth" :id="'qrcode'+userTicket.id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M11 8h-1v-2h1v1h2v1h-1v1h-1v-1zm2 12v-1h-1v1h1zm-1-15v-1h-2v1h1v1h1v-1zm8-1v6h-1v-1h-4v-5h5zm-1 4v-3h-3v3h3zm-14 2h-1v1h2v-1h-1zm0 3h1v1h1v-3h-1v1h-2v2h1v-1zm5 1v2h1v-2h-1zm4-10h-1v3h1v-3zm0 5v-1h-1v1h1zm3-2h1v-1h-1v1zm-10-1h-1v1h1v-1zm2-2v5h-5v-5h5zm-1 1h-3v3h3v-3zm9 5v1h-1v-1h-2v1h-1v-1h-3v-1h-1v1h-1v1h1v2h1v-1h1v2h1v-2h3v1h-2v1h2v1h1v-3h1v1h1v2h1v-1h1v-1h-1v-1h-1v-1h1v-1h-2zm-11 8h1v-1h-1v1zm-2-3h5v5h-5v-5zm1 4h3v-3h-3v3zm12-3v-1h-1v1h1zm0 1h-1v1h-1v-1h-1v-1h1v-1h-2v-1h-1v2h-1v1h-1v3h1v-1h1v-1h2v2h1v-1h1v1h2v-1h1v-1h-2v-1zm-9-3h1v-1h-1v1zm10 2v1h1v1h1v-3h-1v1h-1zm2 4v-1h-1v1h1zm0-8v-1h-1v1h1zm-2-10h4v4h2v-6h-6v2zm-16 4v-4h4v-2h-6v6h2zm4 16h-4v-4h-2v6h6v-2zm16-4v4h-4v2h6v-6h-2z"/></svg>
                            </div>
                        </div>
                    </FullTicket>
                </div> -->
            </div>
        </div>
        <EmptyState v-else icon='ticket-alt' iconClass='fal' text="Você não possui nenhum ingresso." />
        <!-- <div style="z-index: 9999" class="footer-buy-tickets" v-on:click="goToEvents" >
            <span>COMPRAR INGRESSOS</span>
        </div> -->
    </div>
</template>

<script lang="ts" src="../controllers/Ingressos.ts"></script>

<style lang="scss">
    .disabledDivIngresso {
        height: 100vh !important;
        opacity: 0.1;
        pointer-events:none !important;
    }

    .emBreveTextIngresso{
        text-align: center !important;
        width: 100%;
        font-size: 1.4em; 
        font-weight: 450; 
        padding: 0 5px; 
        color: #20318a; 
        position: absolute; 
        margin-top: 50%;
    }
    span.after{
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50px;
        z-index: 0;
        background-color: white;
        top:50%;
        top: -10px;
        right: -9px;
        border-bottom: 2px solid #c7c7c7;
    }

    span.before{
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50px;
        z-index: 0;
        background-color: white;
        bottom: -10px;
        right: -9px;
        border-top: 2px solid #c7c7c7;
    }
    
    .tickets-view .header-circle-wrapper{
        background-color: var(--background-color);
        z-index: 999 !important;
    }

    .tickets-view .striper.ingress{
        position: sticky;
        top: 3.5rem;
        z-index: 999;
    }

</style>
