<template>
    <div class="nominateTicket">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Finalizar compra"/>
        <TextLink classDiv="striper" link-label="Defina o usuário de cada ingresso." class-component="mensagem"/>
        <div class="row" style="text-align: left; margin-bottom: 46px;">
            <div class="nominate_card" style="display: flex; flex-direction: column" v-for="(order, index) in orders" :key="index">
                <h6 style="padding: 15px 15px 10px 15px; color: var(--primary-color); font-weight: 500;">Ingresso {{index+1}} - {{order.name}}</h6>
                <div class="input-field col s12">
                    <select v-model="selectedDependents[index]" v-on:change="updateTextFields">
                        <option value="" disabled selected>Escolha um usuário para o ingresso</option>
                        <option v-for="dependent in dependents" :value="dependent.id">{{dependent.name}}</option>
                        <option v-if="order.allowExternalUsers" :value="-3">-- OUTROS --</option>
                    </select>
                    <label>Titular/Dependente</label>
                </div>
                <form v-if="order.allowExternalUsers && selectedDependents[index] == -3">
                    <div class="row">
                        <div class="input-field col s12">
                            <input v-bind:id="'name' + index" type="text" class="validate" v-model="userNames[index]" >
                            <label v-bind:for="'name' + index">Nome do participante</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex" style="display: flex; position: fixed; bottom: calc( 0px + env(safe-area-inset-bottom)); left: 0; width: 100%; z-index: 9">
            <DefaultButton classDiv="button-child-100" name-button="FINALIZAR COMPRA" class-component="default-button gradient-button-background button" v-on:buttonCallBack="validateAllTickets()" idButton="finalizarCompra"/>
        </div>
        <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" :content="'Deseja confirmar a compra de '+orders.length+' ingressos no valor total de R$'+totalValueOrders.toFixed(2)+' ?'">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="closeModal()"/>
                <DefaultButton  classDiv="row metade centralize-child margin_left" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="createOrderTicket()"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalError" @close="showModalError = false" icon="error_outline" :content="modalMessage">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="OK" class-component="button-modal" v-on:buttonCallBack="closeModalError()"/>
            </div>
        </ModalCodigo>
        <ModalCodigo v-if="showModalSuccess" @close="showModalSuccess = false" icon="error_outline" :content="modalMessage">
            <div slot="footer" style="display: flex; width:100%;">
                <DefaultButton  classDiv="row metade centralize-child" name-button="OK" class-component="button-modal" v-on:buttonCallBack="goToRecentOrders()"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="modalPasswordRequest" @close="modalPasswordRequest = false" icon="error_outline" content="Digite sua senha:">
            <p slot="body" style="color: white; margin-bottom: 0;">Digite sua senha:</p>
            <input slot="body" id="PASSWORD" type="password" style="color: white; text-align: center; margin-bottom: 20px;" v-model="passwordValue" />
            <p v-if="passwordWrong" slot="body" style="color: red; margin-top: 0;">Senha incorreta.</p>
            <DefaultButtonOrd slot="footer" name-button="CANCELAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="closePasswordRequest"/>
            <DefaultButtonOrd slot="footer" name-button="FINALIZAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="afterPasswordRequest"/>
        </ModalCodigo>

        <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="fechaModalTelaCartoes"/>
                <DefaultButton classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="goToTelaCartoes"/>
            </div>
        </ModalCodigo>
        
    </div>
</template>

<script lang='ts' src="../controllers/NominateTicket.ts"></script>

<style>

    .button-child-100 {
        width: 100%;
    }

    .container-retirada {
        margin: 0 10px;
        padding-left: 0;
        text-align: left;
    }

    .nominate_card{
        margin: 16px !important;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
        background-color: #2D68C4 !important;
    }

    [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
        border: 2px solid #2D68C4 !important;
    }

</style>