<template>
    <div class="qrcode_ticket">
        <!-- <HeaderFluxo name-fluxo="COMPRA">
            <router-link slot="left" to="CarteiraDigital#ingressos">
                <DefaultButton class-component="button-icon secundary-color" icon="keyboard_arrow_left"/>
            </router-link>
        </HeaderFluxo> -->
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :ob="otherButton" :visibleAt="0" title="Ingresso"/>
        <div class="top-qrcode-ticket">
            <div class="row">
                <h6 style="color: var(--primary-color)"><span style="font-weight: 600;">{{ticketDetail.name}} </span></h6>
                <h6 style="color: black;"><span style="font-weight: 600;">{{ticketDetail.userName}} </span></h6>
            </div>
            <div class="row">
                <h6 style="color: black; font-style: italic;">Ingresso: {{ticketDetail.id}}</h6>
                <h6 style="color: black; font-style: italic;">Tipo: {{ticketDetail.ticketName}}</h6>
                <h6 v-if="ticketDetail && ticketDetail.price" style="color: rgb(123, 122, 122); font-weight: 300;">Valor: <span style="color: red;"> {{'R$' + ticketDetail.price.toFixed(2)}}</span></h6>
            </div>
        </div>
        <div class="bottom bottom-qrcode-ticket">
            <div class="qrcode-container">
                <img :src="qrCodeImage" class="qrcode-ticket-image"></img>
            </div> 
        </div>
    </div> 
</template>
<script lang="ts" src="../controllers/QrcodeTicket.ts"></script>
<style>
   .qrcode_ticket .bottom .qrcode-container{
        margin-bottom: 0;
        display: flex;
        height: unset !important;
    }

    .qrcode-ticket-image{
        height: 40vh;
        width: 40vh;
        margin: 0 auto;
    }

</style>