    
<template>
  <div class="RegisteredCards">
      <!-- <HeaderRelease desiredScrollTop="22" :click="goBack" title="Método de Pagamento" :hasMoreButton="false"/>      -->
      <!-- <HeaderFluxo name-fluxo="Formas de Pagamento">
        <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
      </HeaderFluxo> -->
      <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton":visibleAt="0" title="Forma de pagamento"/>

      <TextLink v-if="cards.length > 0" style="margin: 10px 0; font-size: 1.1rem;" classDiv="padding-cadastro" link-label="Escolha uma das opções de forma de pagamento abaixo." class-component="primary-color message"/>
      <!-- <TextLink v-else style="margin: 10px 0; font-size: 1.1rem;" classDiv="padding-cadastro" link-label="Você não possui nenhum cartão cadastrado." class-component="primary-color message"/> -->

      <!-- <div class="cardsContainer" >  -->

        <!-- Cartão ativo do titular cujo o usuário é dependente -->
        <!-- <div v-if="allPaymentMethods">
          <div style="" v-for="payment in allPaymentMethods" :key="payment.ID" class="creditCard" v-on:click="choiceThisPaymentMethod(payment.ID)">
            <span v-if="payment.FLAG" style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{payment.FLAG +' •••• '+ lastNumberCard(payment.LAST_NUMBERS)}}</span>
            <span v-else style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{payment.LABEL}}</span>
            <div class="display-flex">
              <img v-if="payment.FLAG" style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`../assets/${payment.FLAG}.svg`)"/>
              <i v-else class="material-icons" style="padding: 0 5px; margin-right: 5px;">payment</i>
            </div>
          </div>
        </div>

      </div>  -->
      <div class="cardsContainer" >
          <div v-if="allPaymentMethods">
            <div style="" v-for="payment in allPaymentMethods" :key="payment.ID" class="otherPaymentMethods" v-on:click="choiceThisPaymentMethod(payment.ID)">
              <!-- <span v-if="payment.FLAG" style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{payment.FLAG +' •••• '+ lastNumberCard(payment.LAST_NUMBERS)}}</span> -->
              <span v-if="!payment.FLAG" style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{payment.LABEL}}</span>
              <div class="display-flex">
                <!-- <img v-if="payment.FLAG" style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`../assets/${payment.FLAG}.svg`)"/> -->
                <i v-if="!payment.FLAG" class="material-icons" style="padding: 0 5px; margin-right: 5px;">payment</i>
              </div>
            </div>
          </div>

      </div> 

      <div class="cardsContainer" style="margin-bottom: 10px;">

        <!-- Cartões cadastrados do Usuário -->
        <div v-if="cards">
          <div class="creditCard" v-for="card in cards" :key="card.ID" v-on:click="setSelectedCard(card.ID, card.LAST_NUMBERS, card.FLAG)">
            <span style="display: flex; justify-content: center; flex-direction: column; font-size: 1.2rem;">{{card.FLAG +' •••• '+ lastNumberCard(card.LAST_NUMBERS)}}</span>
            <div class="display-flex">
              <img style="height: 30px; padding: 0 5px; margin-right: 5px;" :src="require(`../assets/${card.FLAG}.svg`)"/>
            </div>
          </div>
        </div>

      </div>

      <!-- Permitir o usuário adicionar um cartão
      <div v-if="(deliversToTable == 'true') || (deliverToBalcony == 'true' && aceitaCC != -1)" class="new-card centralize-child">
        <div class="new-button">
          <DefaultButton name-button="Gerenciar cartões" class-component="display-flex" v-on:buttonCallBack="goToAddCard" icon=" "/>
        </div>
      </div> -->
      <div class="new-card centralize-child">
        <div class="new-button">
          <DefaultButton name-button="Gerenciar cartões" class-component="display-flex" v-on:buttonCallBack="goToAddCard" icon=" "/>
        </div>
      </div>

      <ModalCodigo v-if="modalVerify" @close="modalVerify = false" icon="credit_card" :content="msgVerify">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
        </div>
      </ModalCodigo>

      <ModalCodigo v-if="showModal" @close="showModal = false" icon="credit_card" :content="'Remover o cartão Mastercard com o final ' +LAST_NUMBERS+ '?'">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 one" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
          <DefaultButton classDiv="width-45 two" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="deleteCC"/>
        </div>
      </ModalCodigo>

      <ModalCodigo v-if="modalConfirm" @close="modalConfirm = false" icon="credit_card" :content="'Deseja realizar suas compras com o cartão ' + FLAG_CARD +' de final ' +LAST_NUMBERS+ '?'">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 one" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
          <DefaultButton classDiv="width-45 two" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="changeMainCard"/>
        </div>
      </ModalCodigo>
      <LoginModal v-if="showLoginModal" @close="closeLoginModal" :registerRoute="'/Register'"/>
  </div>
</template>

<script lang='ts' src='../controllers/TicketPaymentMethod.ts'>
</script>

<style>

  .otherPaymentMethods{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #9a9a9a;
    margin: 0 10px;
  }

  div.otherPaymentMethods:first-child{
    border-top: 1px solid #9a9a9a;
  }

  .creditCard{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #9a9a9a;
    margin: 0 10px;
  }

</style>