<template>
  <div class="addCard">
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Adicionar cartão"/>
    <div>
        <div class='card-wrapper'></div>
    </div>
    <div class="" style="position: relative; top: 2.5rem;">
        <form>
            <div class="row margin-none centralize-child">
                <div style="position: relative; display: flex;" class="input-field margin-bottom-0 metade">
                    <input class="validate" id="NUMBERS" label="Número do Cartão" type="tel" v-model="numberCard" v-on:focusout="numberCardOut" v-on:focus="focusInput('NUMBERS')" required/>
                    <label for="NUMBERS"> Número do Cartão * </label>
                </div>
            </div>
            <div class="row margin-none centralize-child">
                <div class="input-field margin-bottom-0 metade">
                    <input class="validate" id="CARD_FULL_NAME" label="Nome impresso no cartão" type="text" v-model="cardFullName" v-on:focusout="cardFullNameOut" v-on:focus="focusInput('CARD_FULL_NAME')" required />
                    <label for="CARD_FULL_NAME"> Nome Impresso no Cartão * </label>
                </div>
            </div>
            <div class="display-flex">
            <div class="centralize-child margin-left-5">
                <div class="input-field margin-bottom-0 metade">
                    <input id="EXPIRATION_DATE" type="tel" v-model="expirationDate" v-on:focusout="expirationDateOut" :maxlength="7" v-on:focus="focusInput('EXPIRATION_DATE')" required />
                    <label id="EXPIRATION_DATE_LABEL" for="EXPIRATION_DATE"> Validade * </label>
                </div>
            </div>
            <div class="centralize-child margin-right-5">
                <div class="input-field margin-bottom-0 metade">
                    <input id="CVV" type="tel" v-model="cvvCard" v-on:focusout="cvvCardOut" v-on:focus="focusInput('CVV')" required />
                    <label for="NUMBERS"> CVV * </label>
                </div>
            </div>
        </div>
        </form>
        <DefaultButton style=" width: 90%; height: 43px; font-size: 1.2rem !important; margin: 4rem auto;" id-component="authenticate" name-button="ADICIONAR" v-on:buttonCallBack="addCreditCard" />
    </div>

    <ModalCodigo v-if="showModalSuccess" @close="fechaModalSuccess" icon="error_outline" content="Cartão adicionado com sucesso!">
        <div class="display-flex SIM" slot="footer">
            <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModalSuccess"/>
        </div>
    </ModalCodigo>
    
    <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" :content="errorMessage">
        <div class="display-flex SIM" slot="footer">
            <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
        </div>
    </ModalCodigo>
    <LoadingPhases v-on:clickError="handleClickError"/>
  </div>
</template>

<script lang='ts' src='../controllers/AddCard.ts'>
</script>
