
<template>
    <div>
        <HeaderFluxo :name-fluxo="store ? store.name : 'Nome da Loja'">
            <DefaultButtonOrd slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
        </HeaderFluxo>
        <TextLink class="row label-subtitulo margin-none" linkLabel="Cardápios" />
        <Card :cardId="menu.id" :cardName="menu.name" :disabled="!menu.isCurrentWorkshift" :cardInfo="menu.about" v-for="menu in menus" :key="menu.id" />
    </div>
</template>
<script lang="ts" src="../controllers/Cardapios.ts"></script>
<style>
    .label-introducao {
        margin-bottom: 0;
    }

    .label-subtitulo > a {
        font-size: 1.6em;
    }
</style>