<template>
  <div class="deliverLocation">
    <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Retirada"/>
    <TextLink classDiv="padding-orders instruction-text" link-label="Escolha um local para a retirada do pedido:" class-component="primary-color message" />
    <div style="top: 3rem;left: 0rem;position: relative;margin: 1rem; width: calc(100% - 2rem);">
        <ButtonCard v-if="deliversToTable" label="Mesa" icon="qrcode" :callback="setDeliverAtTable" />
        <ButtonCard v-if="deliversToBalcony" label="Balcão" icon="walking" :callback="setDeliverAtCounter" />
    </div>
  </div>
</template>

<script lang='ts' src='../controllers/DeliverLocation.ts'>
</script>

<style>
.titleHeader {
  color: #333333;
}

.deliverLocation .button-card-wrapper{
  padding: 0 !important;
  margin: 1rem 0 !important;
}

.dependentes {
  width: 100%;
  height: 22vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 412px) {
  .dependentes {
    width: 100%;
    height: 23vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.carousel-item {
  width: 11rem;
  margin-left: 1rem !important;
  margin-right: -1rem !important;
}

/* .button-card-wrapper:not(.carousel-item){
  margin: 6px 0 !important;
  padding: 0 6px !important;
} */

.row p {
  font-size: 20px;
  color: #333333;
  text-align: left !important;
  margin-left: 0.6rem;
}

.instruction-text{
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  padding: 0;
  margin: 1rem;
}
</style>