    
<template>
    <div class="">
        <div style="width: 100%; position: sticky; top: 0; z-index: 99;">
            <HeaderFluxo name-fluxo="Extrato de Cartão de Crédito">
                <DefaultButton slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
                <DefaultButton slot="right" class-component="button-icon secundary-color" v-on:buttonCallBack="goTo" icon="filter_list"/>
            </HeaderFluxo>
            <TextLink v-if="pedidos.length != 0" style="display: flex; justify-content: center;" classDiv="row striper margin-none" :link-label="period + ' - Total gasto no mês: '" :link-label2="'R$'+totalMonth.toFixed(2)" class-component="mensagem" class-component2="price"/>
        </div>
        <ListDefault typeList="collection">
        <ThreeOptionsList slot="options" v-if="condicaoMostrarPedido(pedido)" :idIcon="pedido.id+''" :titulo="getTituloItemExtrato(pedido)" :infoAdicional="pedido.paymentStatus === 'R' ? 'Estorno' : ''" :valor="'R$' + pedido.total.toFixed(2)" :dia="formatDate(pedido.createDate.date)" :icone="pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward'" :id="pedido.id" v-for="pedido in pedidos" :key="pedido.id"/>
        </ListDefault>
        
        <EmptyState v-if="notFound && pedidos.length == 0" image="bill" text="Você ainda não tem movimentação no seu extrato." />

    </div>
</template>

<script lang='ts'>

  import { Component, Prop, Vue } from 'vue-property-decorator'
  import DefaultButton from '../components/DefaultButton.vue'
  import HeaderFluxo from '../components/HeaderFluxo.vue'
  import ListDefault from '../components/ListDefault.vue'
  import TextLink from '../components/TextLink.vue'
  import ThreeOptionsList from '../components/ThreeOptionsList.vue'
  import Request from '../ts/Request'
  import Util from '../ts/Util'
  import moment from 'moment';
  import EmptyState from '../components/EmptyState.vue';

  @Component({
    components: { DefaultButton, HeaderFluxo, ListDefault, ThreeOptionsList, TextLink, EmptyState }
  })

  export default class Extrato extends Vue {

    pedidos: any = JSON.parse(localStorage.getItem('ORDERS_CC') || '[]');
    initialDate: string = localStorage.getItem('INITIAL_DATE') || '';
    finalDate: string = localStorage.getItem('FINAL_DATE') || '';
    totalMonth: number = 0;
    period: string = localStorage.getItem('PERIOD_FILTERED') || '';
    notFound: boolean = false;

    condicaoMostrarPedido(pedido: any) {
        return (
            pedido.paymentMethod === 'CC' || pedido.paymentMethod === 'CC_W'
        ) && (
            pedido.paymentStatus === 'A'  || pedido.paymentStatus === 'R' || pedido.paymentStatus === 'C'
        );
    }

    getTituloItemExtrato(pedido: any) {
        return pedido.paymentMethod === 'CC_W' ? 'Compra de Saldo' : pedido.eventName;
    }

    mounted() {
        Util.setBackButtonBehavior(this.goBack);
        const period = localStorage.getItem('PERIOD_FILTERED') || '';
        if(period == '') {
            localStorage.setItem('PERIOD_FILTERED', '' + moment().format('MM/YYYY'));
            this.period = localStorage.getItem('PERIOD_FILTERED') || '';
        }
        this.loadOrders();
    }

    beforeDestroy() {
        localStorage.setItem('INITIAL_DATE', '');
        localStorage.setItem('FINAL_DATE', '');
        localStorage.setItem('PERIOD_FILTERED', '' + moment().format('MM/YYYY'));
    }

    retrieveDate(stringDate: string) {
        const arr = stringDate.split('/');
        const ano = Number(arr[2]), mes = Number(arr[1]) - 1, dia = Number(arr[0]);
        return new Date(ano, mes, dia);
    }

    loadOrders() {

                    try {
            const self = this;
            const req = new Request();
            const body: any = {
            'NRORG': localStorage.getItem('NRORG'),
            'TOKEN': localStorage.getItem('TOKEN'),
            'USER_ID': localStorage.getItem('USER_ID'),
            'PAYMENT_METHOD': 'CC',
        };
            req.body = body;
            
            if (this.initialDate) {
            body.INITIAL_DATE = this.initialDate;
            }

            if (this.finalDate){
                body.FINAL_DATE = this.finalDate;
            }

            req.route  = 'listOrders';
            req.callbackSuccess = function(response: any) {
                  self.pedidos = response.orders; 
                  self.pedidos.forEach((pedido: any) => {
                      if(pedido.paymentStatus == 'A')
                      self.totalMonth += pedido.total;
                      if(pedido.paymentStatus == 'R')
                      self.totalMonth -= pedido.total;
                  });
                if (!self.initialDate) 
                    localStorage.setItem('ORDERS_CC', JSON.stringify(response.orders));
                self.pedidos.forEach(function(pedido: any) {
                  new ThreeOptionsList().iconColorExtrato(pedido.id, pedido.paymentStatus === 'R' ? 'arrow_upward' : 'arrow_downward');
                });
                if (self.pedidos.length == 0) self.notFound = true;
                else self.notFound = false;
            };
            req.callbackError = function(error: any) {
                console.log(error);
                self.notFound = true;
            }
            req.blockTouchEvents = true;
            req.send();
            } catch (e) {
                console.log(e);
            }
    }

    formatDate(stringDate: string) {
        const momentDate: any = moment(stringDate);
        return momentDate.lang('pt-br').format('dddd, DD/MMM [às] HH:mm');
    }

    goBack() {
        this.$router.go(-1);
    }

    goTo() {
        this.$router.push({ name: 'FiltroExtrato' });
    }

  }

</script>