<template>
    <div class="">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="0" title="Detalhes da compra"/>
        <!-- <HeaderFluxo v-if="orderData.total && orderData.createDate" :name-fluxo="" hideImage="true"></HeaderFluxo> -->

        <!-- Código do Pedido -->
        <div style="width: 100; display: flex;">
            <div style="width: 35%; display: flex; justify-content: center; flex-direction: column;">
                <div style="display: flex; width: 70px; height: 70px; position: relative; margin:auto;"><img :src="orderData.storeLogo" style="width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 50px;"></div>
            </div>
            <div style="width: 65%; display: flex; justify-content: center; flex-direction: column; margin: 20px 0;">
                <span class="bold nome-loja" style="font-size: 1.5em; color: var(--primary-color); text-align: left;">{{orderData.storeName}}</span>
                <div style="font-size: 1.2em; color: #9c9b9b; text-align: left;">
                    <span class="">Compra </span>
                    <span class="value">{{orderData.id}}, </span>
                    <span class="value">{{orderData.orderStatus}}</span>
                </div>
                <span v-if="orderData.createDate" style="font-size: 1.2em; color: #9c9b9b; text-align: left;" class="value">{{formatDateTime(orderData.createDate.date)}}</span>
            </div>
        </div>
        
        <div class="infos-container">
            <!-- <div style="display:flex;">
                <div style="display: flex; flex-direction: column; justify-content: center;"><i class="material-icons" style="font-size: 35px; color: var(--primary-color);">payment</i></div>
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left:10px;"><span class="value" style="font-size: 1.2em; color: rgb(156, 155, 155);">{{orderData.paymentMethodName}}</span></div>
            </div> -->
            <!-- Forma de Entrega -->
            <div style="display:flex;" v-if="(orderData.deliverTo=='T'||orderData.deliverTo=='B') && orderData.storeType!='E'">
                <div style="display: flex; flex-direction: column; justify-content: center;"><i class="material-icons" style="font-size: 35px; color: var(--primary-color);">near_me</i></div>
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left:10px;">
                    <span v-if="orderData.deliverTo=='T'" class="value" style="font-size: 1.2em; color: rgb(156, 155, 155);">Entregar em {{ orderData.structure }}</span>
                    <span v-else-if="orderData.storeType!='E'" class="value" style="font-size: 1.2em; color: rgb(156, 155, 155);">Retirada no balcão</span>
                </div>
            </div>
            <div style="display:flex;">
                <div style="display: flex; flex-direction: column; justify-content: center;"><i class="material-icons" style="font-size: 35px; color: var(--primary-color);">attach_money</i></div>
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left:10px;"><span class="value" style="font-size: 1.2em; color: rgb(156, 155, 155); line-height: 1;">{{orderTotal}}</span></div>
            </div>
            <div v-if="orderData.note" style="display:flex;">
                <div style="display: flex; flex-direction: column; justify-content: center;"><i class="material-icons" style="font-size: 35px; color: var(--primary-color);">receipt</i></div>
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left:10px;"><span class="value" style="font-size: 1.2em; color: rgb(156, 155, 155); line-height: 1;">{{orderData.note}}</span></div>
            </div>
            
        </div>

        <!-- Itens: -->
        <div class="items-container">
            <TextLink classDiv="row padding-orders category-name" link-label="Itens: " class-component="primary-color message items-table"/>
            <OrderItem :itemId="item.id" :productName="item.name" :extras="item.extras" :price="item.total && item.quantity ? (item.total / item.quantity).toFixed(2) : ''" :amount="item.quantity"  v-for="item in orderData.items" :key="item.itemId"></OrderItem>
            <!-- Total -->
            <!-- <div style="margin: 10px">
                <span class="bold" style="float: left">Total: </span>
                <span style="float: right" v-if="orderData.total" class="value">{{'R$' + orderData.total.toFixed(2)}}</span>
            </div> -->
        </div>

        <ModalCodigo v-if="cancelaOrder" @close="cancelaOrder = false" icon="error_outline" :content="'Você realmente deseja cancelar a compra '+orderData.id+' ?'">
            <div class="display-flex SIM" slot="footer">
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="closeModalCancel"/>
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="cancelOrder(orderData.id)"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="resultadoOrderCancel" @close="resultadoOrderCancel = false" icon="error_outline" :content="msgResultadoOrderCancel">
            <div class="display-flex SIM" slot="footer">
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="closeOrderCancel()"/>
            </div>
        </ModalCodigo>

        <figure v-if="orderData.id && !orderData.isFinished">
            <img id="'orderQrCode'" :src="getQrImage()" style="box-shadow: var(--primary-color) 0 0 0.15rem 0.1rem; border-radius: 4vmin;"/>
            <figcaption style=": var(--primary-color)">Utilize o código acima para retirar sua compra</figcaption>
        </figure>
        
        <div v-if="orderData.enabledToCancel" class="row details" style="display: flex; position: relative; width: 100%; margin-top: 40px;">
            <div style="margin: 0 auto; display:flex;">
                <i class="material-icons" style="color:red; display:flex; flex-direction:column; justify-content:center;">delete_sweep</i>
                <span v-on:click="openCancelaOrder()" style="color:red; display: flex; flex-direction: column; justify-content: center; margin-left: 5px;">Cancelar compra</span>
            </div>
        </div>
       
    </div>
</template>
<script lang="ts" src="../controllers/ExtratoPedido.ts"></script>
<style>
.items-container {
    margin-bottom: 20px;
    margin-top: 20px;
}
.infos-container {
    /* margin-top: 20px; */
    text-align: left;
    padding: 0 10px;
}
.bold {
    font-weight: bold;
}
.infos-container .nome-loja {
    font-size: 1.4rem !important;
}
.items-table{
    padding: 0 10px;
    border-bottom: 1px solid var(--primary-color);
}
.flex-and-center{
    display:flex;
    justify-content: center;
}
.margin-top-50{
    margin-top: 50px;
}
</style>