    
<template>
  <div class="">
        <TextLink classDiv="row padding-cadastro margin-none" link-label="Cadastro efetuado com sucesso!" class-component="primary-color message title-info"/>
        <TextLink classDiv="row padding-cadastro" link-label="Seja bem-vindo(a) ao" class-component="primary-color message"/>
        <SectionArea class-component="row image-half info-view" :image-file="logoBig2" />
        <div class="row padding-10 footer-logo">
          <img src="../assets/zeedhi_new_logo.svg">
        </div>
        <router-link to="/MinhaArea">
            <DefaultButtonOrd name-button="OK" class-component="" v-on:buttonCallBack="fechaModal"/>
        </router-link>


  </div>
</template>

<script lang='ts'>

  import { Component, Prop, Vue } from 'vue-property-decorator'
  import SectionArea from '../components/SectionArea.vue'
  import TextLink from '../components/TextLink.vue'
  import InputText from '../components/InputText.vue'
  import DefaultButtonOrd from '../components/DefaultButtonOrd.vue'
  import Carousel from '../components/Carousel.vue'
  import TextArea from '../components/TextArea.vue'

  @Component({
    components: { SectionArea, TextLink, InputText, DefaultButtonOrd, Carousel , TextArea }
  })

  export default class Cadastro4 extends Vue {
    logoBig2 : any = localStorage.getItem('LOGO_BIG_2');
    data () {
      return {
        inputValues: {}
      }
    }

    goBack() {
        this.$router.go(-1);
    }
  }

</script>