<template>
    <div class="ordmod-lerQrMesa">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="-1" title="Ler QRCode"/>
        <div class="molduraQr">
            <div class="moldura">
                <div class="left_top"></div>
                <div class="right_top"></div>
                <div class="left_bot"></div>
                <div class="right_bot"></div>
            </div>
        </div>
        <TextLink classDiv="row padding-cadastro label-intro-carteira margin-none info_message" link-label="Inclua o código da mesa dentro da moldura" class-component="background-color message"/>
        <DefaultButton
            v-if="!emailFocused"
            class= 'bottom-mode'
            id-component="auth"
            class-component="qr-button"
            classDiv="row margin-top-20"
            name-button='Digitar código'
            v-on:buttonCallBack="openModalTypeQrCode()"
        />
        <ModalCodigo v-show="showModal" @close="showModal = false" icon="error_outline" :content="errorMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButton classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalTypeQrCode" @close="closeModalTypeQrCode" icon="error_outline" content="">
            <p slot="body" style="margin-bottom: 0;">Digite o código da mesa:</p>
            <input slot="body" id="PASSWORD" type="tel" style="text-align: center; margin-bottom: 20px;" v-model="typedCode" />
            <p v-if="passwordWrong" slot="body" style="color: red; margin-top: 0;">Senha incorreta.</p>
            <DefaultButton slot="footer" name-button="CANCELAR" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="closeModalTypeQrCode"/>
            <DefaultButton slot="footer" name-button="OK" class-div="button-50" class-component="button-modal" v-on:buttonCallBack="enterCode"/>
        </ModalCodigo>
    </div>
</template>
<script type="text/javascript">
</script>

<script lang="ts" src="../controllers/LerQrMesa.ts" ></script>
<style>
.ordmod-lerQrMesa .qr-button{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(4rem + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
}

</style>