<template>
    <div class="" style="height: 100%">
        <SectionArea class-component="row primary-color-bg image-half" :image-file="logoBig"  />
        <div class="row margin-none centralize-child">
            <div class="metade input-field margin-bottom-0">
                <input id="EMAIL" style="-webkit-user-select: text !important;" label="Email ou Carteirinha" type="email" v-model="emailInput" />
                <label id="EMAIL_l" style="-webkit-user-select: text !important;" for="EMAIL"> E-mail </label>
            </div>
        </div>
        <div class="row margin-none centralize-child">
            <div class="metade input-field margin-bottom-0">
                <input id="PASSWORD" label="Senha" type="password" v-model="passInput" />
                <label id="PASSWORD_l" for="PASSWORD"> Senha </label>
            </div>
        </div>
        
        <TextLink link-label="Esqueci minha senha" class-component="secundary-color margin-top-20" />
        <DefaultButtonOrd id-component="authenticate" classDiv="row margin-top-20" name-button="ENTRAR" v-on:buttonCallBack="auth()" />
        <router-link to="BeginningCreatePassword">
            <DefaultButtonOrd classDiv="row" name-button="NÃO POSSUO SENHA" class-component="button-outline" />
        </router-link>
        <div class="row padding-10 footer-logo margin-none bottom-10">
            <img src="../assets/zeedhi_new_logo.svg">
        </div>

        <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" :content="errorMessage">
            <div class="display-flex SIM" slot="footer">
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
            </div>
        </ModalCodigo>
    </div>
</template>

<script lang="ts" src='../controllers/LogIn.ts'></script>