<template>
    <div class="">
        <HeaderFluxo name-fluxo="Lojass">
            <DefaultButtonOrd slot="left" class-component="button-icon secundary-color" v-on:buttonCallBack="goBack" icon="keyboard_arrow_left"/>
            <DefaultButtonOrd slot="right" class-component="button-icon secundary-color menor" v-on:buttonCallBack="changeStructure" icon="location_on"/>
        </HeaderFluxo>
        <EmptyState v-if="storesLoaded && stores.length == 0" image="shop" text="Não foi encontrada nenhuma loja aberta no momento nesta unidade." />
        <div v-if="storesLoaded && stores.length != 0" style="width: 100%;">
            <Card :cardId="store.id" :cardName="store.name" :imageSource="store.imageCover" :disabled="!store.opened" :cardWorkshifts="horarioFuncionamento(store.workshifts)" :cardDeliversToTable="store.deliversToTable" :cardDeliversToBalcony="store.deliversToBalcony" v-for="store in stores" :key="store.id" :click="selectStore" />
        </div>
        <!-- <ModalCodigo v-if="showModalTelaCartoes" @close="showModalTelaCartoes = false" icon="error_outline" content="Você não tem cartão cadastrado. Deseja ir para a tela de cartões?">
            <div class="display-flex SIM" slot="footer">
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="Não" class-component="button-modal" v-on:buttonCallBack="showModalTelaCartoes = false;"/>
                <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="Sim" class-component="button-modal" v-on:buttonCallBack="telaCartoes"/>
            </div>
        </ModalCodigo> -->
    </div>
</template>
<script lang="ts" src="../controllers/Lojas.ts">
</script>
<style>
    .card .card-content {
        max-height: 6em;
        overflow: hidden;
    }
    .secundary-color.menor > i{
        font-size: 30px !important;
    }
</style>
