    
<template>
  <div class="home">
  <!-- <HeaderRelease desiredScrollTop="22" style="text-transform: none;" title="Pedidos" :click="goBack" :hasMoreButton="true"/>        -->
  <HeaderHome name-fluxo="MenuPedidos" :key="notificationsKey" />
  
  <div class="top-fix-home"></div>
    <!-- <TextLink v-if="!!structureId" icon="location_on" classComponentIcon="left" classDiv="row striper" :link-label="'Local de entrega: ' + structureName" class-component="mensagem"/>         -->
    <div class="titlePage">
        <div class="sun">
            <span class="titleHeader">Pedidos</span>
            <span class="display-none hitBox"></span>
        </div>
    </div>
    
    <div class="row" style="margin: 10px 10px;">
      <ButtonCard icon="utensils" label="Restaurantes" goTo="Lojas" :callback="function() { }" />
      <ButtonCard icon="map-marker-check" label="Trocar Localização" goTo="EscolherUnidade" :callback="function() { }" />
      <ButtonCard icon="list-ul" label="Meus Pedidos" goTo="PedidosRealizados" :callback="function() { }"  />
    </div>
    <div v-if="sliderIsVisible" class="border-100"></div>
    <div style="bottom: 7% !important;" class="row padding-10 footer-logo">
      <!-- <img src="../assets/RGB-logo-zeedhi-ED-simples.png"> -->
    </div>

    <BottomNavigation :key="componentKey" :openThis="openMenuOptions"/>
    <SlideNav :userPhoto="userData.IMAGE" :userName="userData.FULL_NAME" :clickLogout="openLogOut" :clickChange="openChange"/>
    
    <ModalCodigo v-if="cancelaOrder" @close="cancelaOrder = false" icon="error_outline" content="Você realmente deseja cancelar este pedido ?">
      <div class="display-flex SIM" slot="footer">
        <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="closeModalCancel"/>
        <DefaultButtonOrd classDiv="width-45 in_the_middle" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="cancelOrder(orderCancelado); cancelaOrder = false"/>
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="showModal" @close="showModal = false" icon="error_outline" content="Localização não encontrada.">
      <DefaultButtonOrd slot="footer" name-button="OK" class-component="button-modal" v-on:buttonCallBack="fechaModal"/>
    </ModalCodigo>

    <ModalCodigo v-if="openModal" @close="openModal = false" icon="exit_to_app" :content="modalMsg">
        <div class="display-flex SIM" slot="footer">
          <DefaultButton classDiv="width-45 in_the_middle" name-button="NÃO" class-component="button-modal" v-on:buttonCallBack="cancelLogoff"/>
          <DefaultButton classDiv="width-45 in_the_middle" name-button="SIM" class-component="button-modal" v-on:buttonCallBack="logOff"/>
        </div>
    </ModalCodigo>

    <div v-if="menuOptions">
        <MenuOptions :closeThis="closeMenuOptions"/>
    </div>
  </div>
</template>

<script lang='ts' src="../controllers/MenuPedidos.ts"></script>