<template>
  <div class="margin-top-15 creditsuccess">
    <TextLink classDiv="row padding-cadastro margin-none" link-label="Pedido realizado com sucesso!" class-component="secundary-color mensagem title-info"/>
    <div class="meio">
        <SectionArea class-component="row image-half info-view" :image-file="logoBig2" />
        <router-link to="/MenuPedidos" class="change-passwd">
            <DefaultButtonOrd name-button="OK" classDiv="" class-component="margin-top-15" />
        </router-link>
    </div>
    <div class="row padding-10 footer-logo">
      <img src="../assets/zeedhi_new_logo.svg">
    </div>
  </div>
</template>

<script lang='ts'>

  import { Component, Prop, Vue } from 'vue-property-decorator';
  import SectionArea from '../components/SectionArea.vue';
  import TextLink from '../components/TextLink.vue';
  import DefaultButtonOrd from '../components/DefaultButtonOrd.vue';
  import Util from '../ts/Util';

  @Component({
    components: { SectionArea, TextLink, DefaultButtonOrd }
  })

  export default class OrderSuccess extends Vue {
    logoBig2 : any = localStorage.getItem('LOGO_BIG-2');
    data() {
      return {
        inputValues: {}
      };
    }

    mounted() {
      Util.setBackButtonBehavior(this.goBack);
      window.history.replaceState({}, '', '#/MenuPedidos');
    }

    goBack() {
      this.$router.go(-1);
    }
  }

</script>
