<template>
    <div class="final-ticket-order-view">
        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :visibleAt="-1" :showTitle="true" :title="'Sua compra em ' + store.name"/>
            
        <div class="conteudo-pedido">
            
            <div class="order-header">Produtos a pagar:</div>
            
            <div  class="order-section-container">
                <div class="ticket-order-item" v-for="item in orderItems">
                    <div v-if="item.amount==1 && item.unit_price!=item.total_price" style="width: 85%; text-align: left;">{{item.amount}}x {{item.product.name}} {{(item.total_price/item.unit_price*1000).toFixed()}}g</div>
                    <div v-else style="width: 85%; text-align: left;">{{item.amount}}x {{item.product.name}}</div>
                    <div style="text-align: left;">R$</div>
                    <div style="width: 10%; text-align: right;">{{Math.trunc(item.total_price*100)/100}}</div>
                </div>
                <div class="ticket-order-item" v-if="this.orgConvenienceFee && convenienceFee">
                    <div style="text-align: left; display: flex; width: 85%;">Taxa de serviço:
                        <div style="text-align: left; font-size:2.5vw; border-radius: 4vw; border: solid 0.4vw var(--primary-color); padding: 0.5vw 1vw; margin: 0 1.2rem;" @click="disableConvenienceFee" >Remover</div>
                    </div>
                    <div style="text-align: left;">R$</div>
                     <div style="text-align: right; width:10%;">{{(this.orderTotalValueOrigin * (this.convenienceFee / 100)).toFixed(2)}}</div>
                </div>
                <div class="ticket-order-item" v-if="this.orgConvenienceFee && !convenienceFee">
                    <div style="text-align: left; display: flex; width: 85%;">
                        <div style="text-align: left; font-size:2.5vw; border-radius: 4vw; border: solid 0.4vw var(--primary-color); padding: 0.5vw 1vw;" @click="enableConvenienceFee" v-if="!convenienceFee && false">Adicionar taxa de serviço</div>
                    </div>
                </div>
                <div style="width: 100%; font-size: 5.5vw; display: flex; flex-flow: column; text-align: right; margin: 0px;">
                    <div style="font-size: 3.5vw; color: gray; width:100%; " @click="exitKiosk">Total </div>
                    <div style="font-weight: 600; width: 100%; font-size: 5vw; text-align: right;">
                        <span style="font-size: 3.5vw; line-height: 8.5vw">R$ </span>
                        {{orderTotalValue.toFixed(2).replace('.', ',')}}
                    </div>
                </div>
                <div class="ticket-order-item cpf" v-if="userCpf">
                    <div style="text-align: left; font-weight:bold; display: flex;">CPF na nota:
                        <div style="text-align: left; font-size: 3vw; border-radius: 5vw; border: solid 0.4vw var(--primary-color); padding: 1vw; margin: 0 1.2rem;" @click="userCpf = ''"> Remover</div>
                    </div>
                    <div style="text-align: right;">{{userCpf}}</div>
                </div>
            </div>
            
        </div>

        <!-- <div class="addComandas" @click="addComandas">
             <font-awesome-icon :icon="['fal','plus-circle']" style="width: 100%; font-size: 4rem; margin-bottom: 2rem; color: var(--primary-color);"/>
        </div> -->
        <div class="ticket-order-button-container">
       <!-- <DefaultButtonOrd classDiv="finish-ticket-order-button-container add-cpf-button" classComponent="finish-order-button" nameButton="Adicionar CPF" v-on:buttonCallBack="()=>{showModalAddCpf = true}" v-if="!userCpf" /> -->
            <DefaultButtonOrd classDiv="finish-ticket-order-button-container multi-comanda" classComponent="finish-order-button" nameButton="Adicionar outra comanda" v-on:buttonCallBack="addComandas" />
            <DefaultButtonOrd classDiv="finish-ticket-order-button-container" classComponent="finish-order-button" nameButton="Finalizar compra" v-on:buttonCallBack="goToPayment" />
        </div>

        <ModalCodigo v-if="showModalErro" @close="fechaModalErro" icon="error_outline" >
            <div class="normal" slot="body"> 
                <font-awesome-icon :icon="['fal','times-circle']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);"/>
                <span v-if="errorMessage">{{errorMessage}}</span>
                <span v-else> Ocorreu um erro ao realizar o pagamento. </span>
            </div>
            <div class="modal-button-container"  slot="footer">
                <DefaultButtonOrd name-button="OK" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="fechaModalErro"/>
            </div>
        </ModalCodigo>
        
         <ModalCodigo v-if="modala" @close="modal = false" icon="error_outline" >
      <div class="display-flex SIM" slot="body">
        {{msgModal}}
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20"
          name-button="Ok"
          v-on:buttonCallBack="hideModal"
        />
        
      </div>
    </ModalCodigo>
     <ModalCodigo v-if="showModalErro" @close="fechaModalErro" icon="error_outline" >
            <div class="normal" slot="body"> 
                <font-awesome-icon :icon="['fal','times-circle']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);"/>
                <span v-if="errorMessage">{{errorMessage}}</span>
                <span v-else> Ocorreu um erro ao realizar o pagamento. </span>
            </div>
            <div class="modal-button-container"  slot="footer">
                <DefaultButtonOrd name-button="OK" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="fechaModalErro"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalConfirmPaymentMethod" @close="showModalConfirmPaymentMethod = false" icon="error_outline"  >
            <div class="normal" slot="body">
                {{(mainCartao.ID) ? 'Deseja confirmar o pagamento com o cartão ' + mainCartao.FLAG + ' ••••'+ lastNumberCard(mainCartao.LAST_NUMBERS) + ' ou realizar o pagamento com outro cartão?': 'Carregando seus dados de pagamento'}}
                <div class='card-wrapper' :key="mainCartao.ID" v-if="mainCartao.ID && showModalConfirmPaymentMethod">
                    <div  style=" height: 0vw; width: 68vw; margin: 0 auto;">
                    <img class="selected-card-flag" :src="require(`../assets/${mainCartao.FLAG}.svg`)"/>
                    </div>
                </div>
            </div>
            <div class="normal button-50-container"  v-if="mainCartao.LAST_NUMBERS" slot="footer">
                <DefaultButtonOrd name-button="Alterar" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="()=>{currentCard = mainCartao.ID; showModalChangePaymentCard = true}"/>
                <DefaultButtonOrd name-button="Confirmar" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="validateOrder()"/>
            </div>
            <SCLoadingDots v-else  slot="footer"/>
        </ModalCodigo>

        <ModalCodigo v-if="showModalChoosePaymentMethod" @close="showModalChoosePaymentMethod = false" icon="error_outline"  >
            <div class="normal" slot="body"> 
                <div :style="`background-image: url('${paymentMethodsImg}');`"
                 class="modal-img"
                ></div>
                Escolha uma das formas de pagamento:
            </div>

            <div class="modal-buttons-container" slot="footer">
                <DefaultButton
                    class="button-start"
                    classDiv="modal-button-container"
                    classComponent="modal-button waves-effect"
                    :name-button="paymentMethod.LABEL"
                    v-on:buttonCallBack="openModalCardPayment(paymentMethod)"
                    v-for="paymentMethod in allPaymentMethods" :key="paymentMethod.ID" 
                />
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalLoadingCreateOrder" @close="closeModalLoading()"  >
        <div class="normal" slot="body">           
        <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/>
            Realizando pedido...
        </div>
        </ModalCodigo> 
        <div class="short-modal"  @click="modalLoadingComanda=false" >
          <ModalCodigo v-if="modalLoadingComanda"  >
            <div slot="header" dismissable="true" />

        <div class="normal" slot="body">          
        <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/>
            Carregando comanda...
        </div>
        </ModalCodigo> 
        </div>
        
          <div class="short-modal"  >
          <ModalCodigo v-if="adicionarComanda && !fromPedido"  >
            <div slot="header" dismissable="true" />
               <div class="normal" slot="body">  
        Comanda adicionada, deseja adicionar uma nova comanda?
                </div>
        <div class="normal button-50-container"  slot="footer" style="">
         <DefaultButtonOrd name-button="Não" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="adicionarComanda=false"/>
        <DefaultButtonOrd name-button="Sim" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="addComandas"/>
          
        </div>
        </ModalCodigo> 
        </div>
        
        <ModalCodigo v-if="showModalCardPayment && !taaPequeno" @close="closeModalCardPayment()" icon="error_outline"  >
            <div class="normal" slot="body"> 
                <div :style="`background-image: url('${cardPaymentImg}');`"
                 class="modal-img-2"
                ></div>
                Insira seu cartão, toque no logo ou aperte a tecla verde na maquininha para iniciar a transação.
            </div>
            <div  slot="footer" style="position: fixed; bottom: 0px; right: 38%; height: 18vw; width: 25vw; display: flex; flex-flow: row-reverse; background: rgba(0,0,0, 0.34); border-top-left-radius: 75%;border-top-right-radius: 75%;">
                <font-awesome-icon class='icon arrow-icon' :icon="['fas', 'long-arrow-alt-right']"  fixed-width style="color:white; margin: auto; height: 17.5vw; width: 17.5vw;transform: rotate(90deg) translateX(0vw) translateY(0vw);"/>
            </div>
        </ModalCodigo>

         <ModalCodigo v-if="showModalCardPayment && taaPequeno" @close="closeModalCardPayment()" icon="error_outline"  >
            <div class="normal" slot="body"> 
                <div :style="`background-image: url('${cardPaymentImg}');`"
                 class="modal-img-2"
                ></div>
                Insira seu cartão, toque no logo ou aperte a tecla verde na maquininha à sua direita para iniciar a transação.
            </div>
            <div slot="footer" style="position: fixed; bottom: 0px; right: 0; height: 25vw; width: 25vw; display: flex; flex-flow: row-reverse; background: rgba(0,0,0, 0.34); border-top-left-radius: 100%;">
                <font-awesome-icon class='icon arrow-icon' :icon="['fas', 'long-arrow-alt-right']"  fixed-width style="color: white; margin: auto; height: 22.5vw; width: 22.5vw; transform: rotate(45deg) translateX(3vw) translateY(-0vw);"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalConfirmAddCpf" @close="showModalConfirmAddCpf = false"  >
        <div class="normal" slot="body">           
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
            Deseja adicionar CPF na nota fiscal?
        </div>
        <div class="normal button-50-container"  slot="footer">
                <DefaultButtonOrd name-button="Sim" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="()=>{showModalConfirmAddCpf = false,showModalAddCpf = true}"/>
                <DefaultButtonOrd name-button="Não" class-div="finish-order-button-container" class-component="finish-order-button" v-on:buttonCallBack="cpfadded()"/>
            </div>
        </ModalCodigo> 

        <ModalCodigo v-if="showModalAddCpf" @close="showModalAddCpf = false; clearUserCpf()"  >
        <div class="normal" slot="body">           
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
            Digite seu CPF
        </div>
        <div class="normal" slot="body"  style="margin-bottom: 0rem;">
                <div :class="(userCpf)? 'user-input-display user-input-display-active':'user-input-display user-input-display-inactive'">
                        {{ (userCpf) ? userCpf: '000.000.000-00'}}
                </div>
                <VirtualKeyboard :keyboardList="virtualKeyboard" @virtualKeyPress="handleVirtualKeyPressCpf"/>
            </div>
            <div style="display: flex; justify-content: space-between; width: 80%; margin: 0 auto 1rem; height: 5rem;" slot="footer">
                    <DefaultButton style="padding-right:1rem "
                        class="button-start"
                        classDiv="button-50"
                        classComponent="modal-button waves-effect transparent "
                        name-button="Sair"
                        v-on:buttonCallBack="clearUserCpf(),cpfadded()"
                    />
                    <DefaultButton style="padding-left:1rem "
                        class="button-start"
                        classDiv="button-50"
                        classComponent="modal-button waves-effect"
                        name-button="Confirmar"
                        v-on:buttonCallBack="cpfadded()"
                    />
            </div>
        </ModalCodigo> 

        <ModalCodigo v-if="showModalCpfInvalido" @close="closeModalLoading()"  >
        <div class="normal" slot="body">           
            CPF INVALIDO 
        </div>
        <div style="display: flex; justify-content: space-between; width: 80%; margin: 0 auto 1rem; height: 5rem;" slot="footer">
                    <DefaultButton style="padding-left:1rem "
                        class="button-start"
                        classDiv="button-50"
                        classComponent="modal-button waves-effect"
                        name-button="Confirmar"
                        v-on:buttonCallBack="closeModalLoading()"
                    />
        </div>
        </ModalCodigo> 

        <ModalCodigo v-if="showModalLoadingFinishOrder" @close="closeModalLoading()"  >
        <div class="normal" slot="body">           
        <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/>
            Finalizando pedido...
        </div>
        </ModalCodigo> 
<!-- comentei porque nao ha necessidade dessa mensagem. Pois existe outra geral -->
        <ModalCodigo v-if="showModalPaymentCompleted" @close="fechaModalSucesso()" icon="error_outline">
            <!-- <div class="normal" slot="body"> 
                <div style="height: 15rem; margin: 2rem auto;" v-if="logoutTimerStart">
                    <div style="font-size: 2rem;">Saindo automaticamente em:</div>
                    <div style="font-size: 6rem;  margin: 2rem 0; font-weight: bold;">{{logoutRemainingTime}}</div>
                </div>
                <div :style="`background-image: url('${successefulPaymentImg}');`" class="modal-img" v-if="!logoutTimerStart"></div>                            
                <div><span >Transação concluída com sucesso!</span></div> 
            </div>
            <div style="display: flex; flex-direction: row; width: 100%; margin-top: 2rem;" slot="footer" v-if="logoutTimerStart">
                <DefaultButton
                    class="button-start"
                    classDiv="modal-button-container"
                    classComponent="modal-button waves-effect"
                    name-button="Finalizar"
                    v-on:buttonCallBack="fechaModalSucesso()"
                />
            </div> -->
        </ModalCodigo>

        <ModalCodigo v-if="showModalChangePaymentCard" @close="showModalChangePaymentCard = false" icon="error_outline"  >
            <div class="normal" slot="body">
                <div style="font-size: 2rem;">Escolha um dos cartões cadastrados para completar o pagamento:</div>
                <div class ="light-button-container" slot="body">
                    <div class="light-button-wrapper" v-for="card in userCards" :key="card.ID"  >
                        <div :class="{'light-button':true, 'selected-method': card.ID == currentCard}" v-on:click.stop="selectCard(card.ID)">
                            <img v-if="card.FLAG" class="card-flag" :src="require(`../assets/${card.FLAG}.svg`)"/>
                            <div class="light-button-label">{{' ••••'+ lastNumberCard(card.LAST_NUMBERS)}}</div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="modal-button-container"  slot="footer">
                <DefaultButtonOrd name-button="Confirmar" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="setMainCard"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalChangePaymentCard" @close="showModalChangePaymentCard = false" icon="error_outline"  >
            <div class="normal" slot="body">
                <div style="font-size: 2rem;">Escolha um dos cartões cadastrados para completar o pagamento:</div>
                <div class ="light-button-container" slot="body">
                    <div class="light-button-wrapper" v-for="card in userCards" :key="card.ID"  >
                        <div :class="{'light-button':true, 'selected-method': card.ID == currentCard}" v-on:click.stop="selectCard(card.ID)">
                            <img v-if="card.FLAG" class="card-flag" :src="require(`../assets/${card.FLAG}.svg`)"/>
                            <div class="light-button-label">{{' ••••'+ lastNumberCard(card.LAST_NUMBERS)}}</div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="modal-button-container"  slot="footer">
                <DefaultButtonOrd name-button="Confirmar" class-div="modal-button-container" class-component="modal-button" v-on:buttonCallBack="setMainCard"/>
            </div>
        </ModalCodigo>

        <ModalCodigo v-if="showModalAddPhone" @close="showModalAddPhone = false; showModalPaymentCompleted = true;" icon="error_outline"  >
            <div class="normal" slot="body"  style="margin-bottom: 0rem;">
                <div style="font-size: 2rem;">Insira seu número de telefone para receber dados do pedido via SMS:</div>
                <div :class="(userPhone)? 'user-input-display user-input-display-active':'user-input-display user-input-display-inactive'">
                        {{ (userPhone) ? userPhone: '00 00000 0000'}}
                </div>
                <VirtualKeyboard :keyboardList="virtualKeyboard" @virtualKeyPress="handleVirtualKeyPress"/>
            </div>
            <div style="display: flex; justify-content: space-between; width: 90%; margin: 0 auto 2rem; padding: 0px 2rem; height: 5rem;" slot="footer">
                <DefaultButton
                    class="button-start"
                    classDiv="button-50"
                    classComponent="modal-button waves-effect transparent "
                    name-button="Pular"
                    v-on:buttonCallBack="startModalSuccessfulPayment()"
                />
                <DefaultButton
                    class="button-start"
                    classDiv="button-50"
                    classComponent="modal-button waves-effect"
                    name-button="Confirmar"
                    v-on:buttonCallBack="startModalSuccessfulPayment()"
                />
            </div>
        </ModalCodigo>

        <LoadingPhases v-on:clickError="handleClickError" v-on:clickSuccess="handleClickSuccess" />
        <LoginModal v-if="showModalLogin" @close="closeModalLogin"  @confirmOperation="confirmOperation" :registerRoute="'/Register'"/>
    </div>
</template>
<script lang="ts" src="../controllers/PedidoComanda.ts"></script>
<style>

.button-50 {
    width: 40%;
    display: inline-block;
    margin: 0 5%;
}

.container-retirada {
    margin: 0 0.5rem;
    padding-left: 0;
    text-align: left;
}

.local-entrega {
    display: block;
    text-align: left;
    margin-left: 0.5rem;
}

.select-full-width.pedidoSelect .material-select {
    margin: 0 1rem;
}

.select-full-width .material-select {
    margin: 0 0.5rem;
}

.select-full-width .input-field {
    margin-top: 0;
}

.conteudo-pedido {
    margin: -4rem 0rem; 
    padding: 1.8rem 2rem calc(6rem + 8vw); 
    position: absolute;
    top: calc(var(--top-header-space));
    width: calc(100% - 0rem);
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(90vh - var(--top-header-space));
    border-top: 0.2rem solid rgba(0,0,0,0.14);
}

.conteudo-pedido > .orderItem{
    margin: 0 0.5rem !important;
    border-bottom: solid rgb(11,11,11,0.05) 1px;
    padding: 0;
}
.final-ticket-order-view .order-section-title span{
    color: black; 
    font-size: 1.4em; 
    font-weight: 300;
    
}
.final-ticket-order-view .order-section-title{
    padding: 0.5rem 0; text-align: left; 
    line-height: 150%; 
    display: flex; 
    flex-direction: column;
    font-size: 3vw;
}

.final-ticket-order-view .order-section-container{
    padding: 0 0 1rem;
    /* border-top: solid rgb(11,11,11,0.1) 1px; */
}

.final-ticket-order-view  .input-field.col{
    padding: unset;
}

.final-ticket-order-view .orderItem {
    margin: 0;
    padding: 0;
}

.final-ticket-order-view .conteudo-pedido .order-section-container:first-of-type{
    border-top: unset !important;
}

.final-ticket-order-view .store-image-logo {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    margin-right: 1rem;

}

.final-ticket-order-view .store-image-header {
    color: black;
    margin: 0 auto 1rem;
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;

}

.final-ticket-order-view textarea.materialize-textarea{
    line-height: 3vw;
    overflow-y: hidden;
    padding: .8rem 0 .8rem 0;
    resize: none;
    min-height: 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 3vw !important;
    height: 7vw;
}

.final-ticket-order-view .input-field.col label{
    font-size: 3vw;
}


.final-ticket-order-view .minicard-wrapper {
    width: 100%;
    min-height: 20vw;
    margin-bottom: 2rem;
}

.final-ticket-order-view .minicard-wrapper .minicard-main{
    flex-direction: row-reverse;
}

.final-ticket-order-view .minicard-wrapper .minicard-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 12rem);
    padding-left: 1rem;
}

.final-ticket-order-view .minicard-wrapper .minicard-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    text-align: right;
}

.final-ticket-order-view .minicard-wrapper .minicard-title{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

.final-ticket-order-view .minicard .icon{
    color: var(--primary-color);
    font-size:1rem;
    margin-right: 0.1rem;
    widows: 1rem;
}

.final-ticket-order-view .minicard-image img{
    width: 16vw;
    height: 16vw;
    background-color: white;
    object-fit: contain;
    border-radius: 2vw;
    /* box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem; */
    padding: 1vw;
}

.final-ticket-order-view .minicard .minicard-image{
    border-radius: 100%;
    width: 16vw;
    height: 16vw;
    position: relative;
}

.final-ticket-order-view .minicard .minicard-body{
    font-size: 2rem;
}

.final-ticket-order-view .minicard .icon{
    font-size: 2rem;
}

.final-ticket-order-view .modal-wrapper:not(.warning) .modal-container{
    width: calc(100%) ;
    border-radius: 0 ;
    padding: 1rem 2rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.final-ticket-order-view .modal-wrapper:not(.warning){
    vertical-align: bottom !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.final-ticket-order-view .normal{
    font-size: 5vw;
    margin-bottom: 2rem;
    color: black;
    padding: 0 1rem;
}

.final-ticket-order-view .modal-body p{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0;
    text-align: center !important;
}

.final-ticket-order-view .modal-description{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3vh;
}

.final-ticket-order-view .finish-order-button-container{
    width: 45vw;
    height: 10vw;
    margin: 0 0 auto;
}

.final-ticket-order-view .finish-order-button{
    height: 100%;
    width: 95%;
    border-radius: 10vw;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color, var(--secundary-color)) 100%);
    border: 0;
    line-height: unset !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
    font-size: 4vw
}

.final-ticket-order-view .header-circle-button .visible {
    background-color: var(--background-color);
    z-index: 99;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important; */
    transition: 0.1s;
    top: 0;
}

.final-ticket-order-view .modal-buttons-container{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.final-ticket-order-view .modal-button-container{
    width: 60vw;
    min-height: 8vw;
    margin: 0 auto 2rem;
}

.final-ticket-order-view .modal-button{
    min-height: 10vw;
    width: 100%;
    border-radius: 10vw;
    background: linear-gradient(90deg, white -250%, var(--primary-color) 50%, var(--support-color, var(--secundary-color)) 250%);
    border: 0;
    line-height: unset !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    font-size: 4vw;
    font-weight: 400;
}

/* .final-ticket-order-view .transparent{
    opacity: 0.4;
} */

.final-ticket-order-view .button-50{
    margin: 0 1rem;
}

.final-ticket-order-view .button-50-container{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between; 
    width: 100%; 
    margin: 0 auto 2rem; 
    padding: 0px 1rem; 
    height: 8vw;
}

.final-ticket-order-view .SC-loading-dots .SC-loading-dots-container{
    width: calc(100% - 4rem);
}

/*Modal ChangePaymentCard*/

.light-button-wrapper {
    margin: 1rem 0 !important;
    padding: 0px 1rem !important;
    height: 17vw;
    width: 33%;
    position: relative;
}

.light-button {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.5rem 0.2rem rgba(0, 0, 0, 0.24);
    padding: 0.75rem;
}

.light-button.selected-method {
    border: 0.35rem solid var(--primary-color);
    padding: 0.65rem;
}

.light-button.selected-method .light-button-label{
    color: var(--primary-color);
    font-weight: 600;
}

.light-button.selected-method .card-flag{
    opacity: 1;
}

.light-button.selected-method .light-button-icon {
    color: var(--primary-color);
    width: 6vw;
    height: 6vw;
    align-self: left;
    opacity: 1;
    margin: 0 0.5rem;
}

.short-modal  .modal-container {
    width: calc(88%) !important;
    border-radius: 3vh !important;
    padding: 1rem 2rem 0;
    height: 32vh !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 2vh;
    left: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
}


.light-button-label {
    font-size: 2rem;
    border-radius: 1rem;
    height: calc(30% - 1rem);
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    text-align: left;
    color: gray;
}

.light-button-icon {
    color: gray;
    width: 6vw !important;
    height: 6vw;
    align-self: left;
    margin: 0 0.5rem;
}

.light-button-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    width: calc(100% - 4rem);
    margin: 2rem;
    position: relative;
}

.light-button .card-flag {
    padding: 0px 5px 0px 0px; 
    margin-right: 5px; 
    width: 10vw; 
    max-height: 5vw;
}

/*Modal confirmPaymentCard*/

.final-ticket-order-view .jp-card-container{
    perspective: 1000px;
    width: 68vw;
    max-width: 100%;
    height: 42vw;
    margin: 8vw auto;
    z-index: 1;
    position: relative;
}

.final-ticket-order-view .jp-card .jp-card-front, .jp-card .jp-card-back{
    border-radius: 2.5vw;
    background: var(--primary-color);
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower{
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 8vw;
    font-size: 2rem !important;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-shiny, .jp-card .jp-card-back .jp-card-shiny{
    width: 9vw;
    height: 6vw;
    border-radius: 5px;
    background: #CCC;
    position: relative;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-shiny:before, .jp-card .jp-card-back .jp-card-shiny:before{
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute; 
    top: 20%;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-number{
    font-size: 4vw;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-name{
    text-transform: uppercase;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 3vw;
    max-height: 6vw;
    position: absolute;
    bottom: 0;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-expiry{
    font-size: 3.5vw;
}

.final-ticket-order-view .selected-card-flag{
    padding: 0px 5px 0px 0px;
    margin-right: 5px;
    height: 12vw;
    position: relative;
    top: 10vw;
    left: 20vw;
    z-index: 2;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before{
    display: none;
}

.final-ticket-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after{
    font-size: 2vw;
}

/* modal addPhone*/
.final-ticket-order-view .user-input-display{
    padding: 0 1rem !important;
    border-radius: 0.5rem !important;
    width: calc(90% - 2rem) !important;
    margin: 2rem auto 4rem ;
    line-height: 3rem !important;
    font-size: 3rem !important;
    font-weight: 600;
}

.final-ticket-order-view .user-input-display-inactive{
    color: gray;
}

.final-ticket-order-view .user-input-display-active{
    color: var(--primary-color);
}

.final-ticket-order-view .modal-img {
    width: 30vw;
    height: 30vw;
    margin: 2rem auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: inherit;
}

.final-ticket-order-view .modal-img::after{
    content: "";
    width: 30vw;
    height: 30vw;
    position: absolute;
    margin: 0 auto;
    left: 0;
    background: var(--primary-color);
    mix-blend-mode: lighten;
}

.final-ticket-order-view .modal-img-2 {
    width: 40vw;
    height: 40vw;
    margin: 2rem auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: relative;
    z-index: inherit;
    border-radius: 5vw;
}

.final-ticket-order-view .order-header{
    font-weight: bold;
    width: 100%;
    text-align: left;
    font-size: 4.5vw;
    margin-bottom: 2.4rem;
}

.final-ticket-order-view .ticket-order-item{
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 3.5vw;
    margin-bottom: 1.2rem;
}

.final-ticket-order-view .ticket-order-item.cpf{
    font-size: 4.5vw;
}

.final-ticket-order-view .ticket-order-button-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    padding: 2vw 4rem;
    background: var(--background-color);
}

.final-ticket-order-view .finish-ticket-order-button-container{
    width: 80%;
    height: 10vw;
    margin: 0 auto 1rem;
}
.addComandas{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    bottom: 26vw;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2vw 4rem;
    background: var(--background-color);
}

.final-ticket-order-view .multi-comanda{
    opacity: 0.75;
}

</style>