<template>
  <div class="final-order-view">
    <HeaderCircleButton
      ref="headerCircleButton"
      v-bind:firstButton="true"
      :fb="backButton"
      :visibleAt="-1"
      :showTitle="true"
      :ob="otherButton"
      :title="'Seu carrinho'"
    />
    <!--   <div class="limpar" @touchstart="limpar()">
                <font-awesome-layers style="width: 100%; height: 3.5rem;">
                    <font-awesome-icon class='icon limpar_icon01' :icon="['fal', 'times-circle']" size="5x" fixed-width transform="shrink-7"/>
                </font-awesome-layers>
            </div> -->

    <div class="conteudo-pedido">
      <div>
        <div class="order-section-container">
          <Minicard
            v-for="(item,index) in order.ORDER_ITEMS"
            :key="item.itemId"
            :id="'#' + item.productId"
          >
            <div
              slot="side"
              style="
                height: 100%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
              "
            >
              <font-awesome-layers
                @touchstart="
                  () => {
                    item.quant != 1
                      ? clickSub(item.itemId)
                      : ((retirarDoCarrinho = true), (idItem = item.itemId));
                  }
                "
                style="width: 100%; height: 50%"
              >
                <font-awesome-icon
                  class="icon"
                  :icon="['fal', 'minus']"
                  fixed-width
                  transform="shrink-7"
                  style="
                    color: red;
                    font-size: 2.5rem;
                    margin: auto;
                    width: 2.5rem;
                    left: calc(50% - 1rem);
                    top: calc(50% - 1.5rem);
                  "
                />
                <font-awesome-icon
                  class="icon"
                  :icon="['fal', 'circle']"
                  size="3x"
                  fixed-width
                  style="
                    color: red;
                    font-size: 2.8rem;
                    margin: auto;
                    width: 2.5rem;
                    left: calc(50% - 1rem);
                    top: calc(50% - 1.5rem);
                  "
                />
              </font-awesome-layers>
              <font-awesome-layers
                @touchstart="clickAdd(item.itemId)"
                style="width: 100%; height: 50%"
              >
                <font-awesome-icon
                  class="icon"
                  :icon="['fal', 'plus']"
                  fixed-width
                  transform="shrink-7"
                  style="
                    color: var(--primary-color);
                    font-size: 2.5rem;
                    margin: auto;
                    width: 2.5rem;
                    left: calc(50% - 1rem);
                    top: calc(50% - 1.5rem);
                  "
                />
                <font-awesome-icon
                  class="icon"
                  :icon="['fal', 'circle']"
                  size="3x"
                  fixed-width
                  style="
                    color: var(--primary-color);
                    font-size: 2.8rem;
                    margin: auto;
                    width: 2.5rem;
                    left: calc(50% - 1rem);
                    top: calc(50% - 1.5rem);
                  "
                />
              </font-awesome-layers>
            </div>
            <span slot="title">
              <span v-if="item.quant != '1'">{{ item.quant }}x</span>
              {{ item.productName}}
            </span>
            <div v-if="item.note!=''" slot="title" style="color:dimgrey; word-break:break-word">{{ item.note}}</div>
            <div
              slot="description"
              style="display: flex; flex-direction: column"
            >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  font-size: 2vw;
                  flex-flow: wrap;
                "
              >
                <div
                  v-for="(extra, index) in item.extras"
                  :key="item.itemId"
                  style="display: flex; flex-direction: row; font-size: 2.5vw"
                >
                  <div
                    v-for="(option, opIndex) in extra.selectedOptions"
                    :key="option.id"
                  >
                    <span
                      v-if="!(index == 0 && opIndex == 0)"
                    >
                      •
                    </span>
                    {{ option.name }}
                  </div>
                </div>
              </div>
              <div style="diplay: flex; flex-direction: row">
                <div
                  style="
                    width: 50%;
                    text-align: left;
                    font-size: 3vw;
                    font-weight: 600;
                    margin: 1.5vw 0;
                    display: flex;
                  "
                >
                  R$
                  {{
                    item.price * Number(item.quant)
                      ? (item.price * Number(item.quant))
                          .toFixed(2)
                          .replace(".", ",")
                      : ""
                  }}
                </div>
              </div>
            </div>
            <img slot="image" v-if="item.image" :src="item.image" />
            <div
              slot="image"
              v-else
              style="
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0rem;
                left: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <font-awesome-icon
                class="icon"
                :aria-hidden="true"
                :icon="['fal', 'burger-soda']"
                size="1x"
                style="
                  color: var(--primary-color);
                  margin: auto;
                  width: 100%;
                  height: 50%;
                  left: calc(50% - 1rem);
                  top: calc(50% - 1.5rem);
                "
              />
            </div>
        
              <span slot="info" v-on:touchstart="addObs(index)"
                >
                Adicionar observacao
              </span>
    
          </Minicard>
          <div
            id="addMore"
            style="display: flex; justify-content: center; margin-top: 1rem"
            v-on:click="goBack"
          >
            <span
              style="
                font-size: 4vw;
                line-height: 1.2rem;
                color: var(--primary-color);
                font-weight: 300;
              "
              >Adicionar mais itens</span
            >
          </div>
        </div>
        <ModalCodigo
      v-if="showModalAddObs"
      @close="(showModalAddObs = false)"
    >
      <div
        class="normal"
        slot="body"
        style="
          font-size: 5vw;
          margin-bottom: 2rem;
          color: black;
          padding: 0 1rem;
          position: relative;
          top: -24vh;
        "
      >
         <label id="label-obs" for="observacao">Adicionar observação</label>
        
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        <input
          id="inputNome"
          type="text"
          v-model="order.ORDER_ITEMS[obsId].note"
          placeholder=""
          :maxlength="50"
          style="
            position: relative !important;
            justify-content: center;
            background: white !important;
            color: black !important;
            border-bottom: 1px solid #686565 !important;
          "
        />

        <div
          v-show="true"
          class="bottom-keyboard"
          style="left: 0; justify-content: right"
        >
          <VirtualKeyboard
            :keyboardList="virtualKeyboard"
            @virtualKeyPress="handleVirtualKeyPress"
          />
        </div>
        <div style="height: 9vw">
          <DefaultButton
            style="
              position: relative;
              right: 0vw;
              top: 4vh;
              height: 10vw;
              z-index: 10001;
              width: 100%;
            "
            name-button="Confirmar"
            class-component="finish-order-button"
            v-on:buttonCallBack="showModalAddObs=false"
          />
        </div>
      </div>
    </ModalCodigo>
 <ModalCodigo
      v-if="modalAddEmail"
      @close="(modalAddEmail = false, modalConfirmAddEmail=true)"
    >
      <div
        class="normal"
        slot="body"
        style="
          font-size: 5vw;
          margin-bottom: 2rem;
          color: black;
          padding: 0 1rem;
          position: relative;
          top: -24vh;
        "
      >
         <label id="label-obs"  for="observacao">Email</label>
        
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        <input readonly
          id="inputNome"
          type="text"
          v-model="emailInput"
          placeholder=""
          :maxlength="50"
          style="
            position: relative !important;
            justify-content: center;
            background: white !important;
            color: black !important;
            border-bottom: 1px solid #686565 !important;
            font-size:3vh;
          "
        />

        <div
          v-show="true"
          class="bottom-keyboard"
          style="left: 0; justify-content: right"
        >
          <VirtualKeyboard
            :keyboardList="virtualKeyboard"
            @virtualKeyPress="handleVirtualKeyPress"
          />
        </div>
        <div style="height: 9vw">
          <DefaultButton
            style="
              position: relative;
              right: 0vw;
              top: 4vh;
              height: 10vw;
              z-index: 10001;
              width: 100%;
            "
            name-button="Confirmar"
            class-component="finish-order-button"
            v-on:buttonCallBack="showModalConfirmAddCpf=true,modalAddEmail=false"
          />
        </div>
      </div>
    </ModalCodigo>
        <!-- Retirada: -->

        <!-- Forma de Pagamento: -->
        <div class="order-section-container">
          <div
            class="container-retirada"
            style="margin: 0 0.5rem 0.5rem 0.5rem"
            v-if="isInAppPayment()"
          >
            <span v-if="storePaymentMoment == 'Novo'">
              Obs: O pagamento nesta loja é realizado assim que o pedido é
              finalizado.
            </span>
            <span v-if="storePaymentMoment == 'Aceito'">
              Obs: O pagamento nesta loja é realizado após o pedido ser
              aprovado.
            </span>
            <span
              v-if="
                storePaymentMoment != 'Novo' && storePaymentMoment != 'Aceito'
              "
            >
              Obs: O pagamento nesta loja é realizado após o pedido obter o
              status {{ storePaymentMoment }}.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
        padding: 1vh 3vw;
        box-shadow: 0px -0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.24);
        background: var(--background-color);
      "
    >
      <div
        style="
          width: 50%;
          text-align: left;
          font-size: 6.5vw;
          font-weight: 600;
          margin: auto 0 0;
          display: flex;
          flex-flow: row wrap;
          line-height: 6.5vw;
        "
      >
        <div
          style="
            font-size: 3.5vw;
            color: gray;
            width: 100%;
            margin-right: 18rem;
          "
          @touchstart="exitKiosk"
        >
          Total
        </div>
        <div style="font-size: 3.5vw; line-height: 5.5vw">R$</div>
        {{
          order.TOTAL_VALUE
            ? order.TOTAL_VALUE.toFixed(2).replace(".", ",")
            : ""
        }}
      </div>
      <DefaultButtonOrd
        classDiv="finish-order-button-container"
        classComponent="finish-order-button"
        nameButton="Finalizar compra"
        v-on:buttonCallBack="goToPayment"
      />
    </div>

    <ModalCodigo
      v-if="showModalErro"
      icon="error_outline"
    >
          <div slot="header" dismissable="false" />

      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'times-circle']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: red;
          "
        />
        <span v-if="errorMessage">{{ errorMessage }}</span>
        <span v-else> Ocorreu um erro ao realizar o pagamento. </span>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="OK"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="fechaModalErro"
        />
      </div>
    </ModalCodigo>
     <ModalCodigo
      v-if="modalExitPedido"
      icon="error_outline"
    >
          <div slot="header" dismissable="false" />

      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'times-circle']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);

          "
        />
        <span>  {{ this.msgModal }}      
 </span>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="OK"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="handleClickSuccess"
        />
      </div>
    </ModalCodigo>


    <ModalCodigo
      v-if="showModalIntegracao"
      @close="showModalIntegracao"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'times-circle']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);
          "
        />
        <span > Ocorreu um erro ao integrar seu pedido na cozinha, por favor apresente-se ao balcão. </span>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="OK"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="fechaModalIntegracao"
        />
      </div>
    </ModalCodigo>
  
    <ModalCodigo v-if="modalExitPedido2" @close="modal = false" icon="error_outline">
      <div class="display-flex SIM" slot="body">
        Aperte o botão verda máquina e cancele todas operações na mesma
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20"
          name-button="Ok"
          v-on:buttonCallBack="handleClickSuccess"
        />
      </div>
    </ModalCodigo>

      <ModalCodigo v-if="modal" @close="modal = false" icon="error_outline">
      <div class="display-flex SIM" slot="body">
        {{ msgModal }}
      </div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="row margin-top-20"
          name-button="Ok"
          v-on:buttonCallBack="hideModal"
        />
      </div>
    </ModalCodigo>


    <ModalCodigo
      v-if="showModalConfirmPaymentMethod"
      @close="showModalConfirmPaymentMethod = false"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        {{
          mainCartao.ID
            ? "Deseja confirmar o pagamento com o cartão " +
              mainCartao.FLAG +
              " ••••" +
              lastNumberCard(mainCartao.LAST_NUMBERS) +
              " ou realizar o pagamento com outro cartão?"
            : "Carregando seus dados de pagamento"
        }}
        <div
          class="card-wrapper"
          :key="mainCartao.ID"
          v-if="mainCartao.ID && showModalConfirmPaymentMethod"
        >
          <div style="height: 0vw; width: 68vw; margin: 0 auto">
            <img
              class="selected-card-flag"
              :src="require(`../assets/${mainCartao.FLAG}.svg`)"
            />
          </div>
        </div>
      </div>
      <div
        class="normal button-50-container"
        v-if="mainCartao.LAST_NUMBERS"
        slot="footer"
      >
        <DefaultButtonOrd
          name-button="Alterar"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="
            () => {
              currentCard = mainCartao.ID;
              showModalChangePaymentCard = true;
            }
          "
        />
        <DefaultButtonOrd
          name-button="Confirmar"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="validateOrder()"
        />
      </div>
      <SCLoadingDots v-else slot="footer" />
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalChoosePaymentMethod"
      @close="closeModalConfirm()"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div
          :style="`background-image: url('${paymentMethodsImg}');`"
          class="modal-img"
        ></div>
        Escolha uma das formas de pagamento:
      </div>

      <div class="modal-buttons-container" slot="footer">
        <DefaultButton
          class="button-start"
          classDiv="modal-button-container"
          classComponent="modal-button waves-effect"
          :name-button="paymentMethod.LABEL"
          v-on:buttonCallBack="openModalCardPayment(paymentMethod)"
          v-for="paymentMethod in allPaymentMethods"
          :key="paymentMethod.ID"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="showModalLoadingCreateOrder" @close="closeModalLoading">
      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'spinner-third']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);
          "
          spin
        />
        Realizando pedido...
      </div>
    </ModalCodigo>
    
    <ModalCodigo v-if="modalLoadingFechamento" @close="closeModalLoading">
      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'spinner-third']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);
          "
          spin
        />
        Aguarde, realizando fechamento de comandas...
      </div>
    </ModalCodigo>
    <ModalCodigo v-if="!loadedPos">
      <div slot="header" dismissable="false" />
      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'spinner-third']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);
          "
          spin
        />
        Cancelando pedido...
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="showAvailable && reqFailure<=5">
      <div slot="header" dismissable="false" />
      <div class="normal" slot="body">
        <div
          :style="`background-image: url('${cardPaymentImg}');`"
          class="modal-img-2"
        ></div>
        Para continuar com a compra de R${{
          lastOrder.TOTAL_VALUE
            ? lastOrder.TOTAL_VALUE.toFixed(2).replace(".", ",")
            : ""
        }} prossiga na máquina ao lado
      </div>
      
      <div
        slot="footer"
        style="
          position: fixed;
          bottom: 0px;
          right: 0;
          height: 25vw;
          width: 25vw;
          display: flex;
          flex-flow: row-reverse;
          background: rgba(0, 0, 0, 0.34);
          border-top-left-radius: 100%;
        "
      >
        <font-awesome-icon
          class="icon arrow-icon"
          :icon="['fas', 'long-arrow-alt-right']"
          fixed-width
          style="
            animation: anima 800ms ease infinite;
            color: #4dea4dad;
            margin: auto;
            height: 22.5vw;
            width: 22.5vw;
            transform: rotate(45deg) translateX(3vw) translateY(-0vw);
          "
        />
      </div>
      <div
        slot="footer"
        style="
          position: fixed;
          bottom: 0px;
          left: 0;
          display: flex;
          flex-flow: row-reverse;
  
        "
      >

   <font-awesome-icon @click="exitPedido" :icon="['fal','exclamation-circle']" style="width: 10vw; font-size: 15rem; color: var(--primary-color);" />
</div>

    </ModalCodigo>

    <ModalCodigo
      v-if="showModalCardPayment"
      @close="closeModalCardPayment"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div
          :style="`background-image: url('${cardPaymentImg}');`"
          class="modal-img-2"
        ></div>
        Insira seu cartão, toque no logo ou aperte a tecla verde na maquininha à
        sua direita para iniciar a transação.
      </div>
      <div
        slot="footer"
        style="
          position: fixed;
          bottom: 0px;
          right: 0;
          height: 25vw;
          width: 25vw;
          display: flex;
          flex-flow: row-reverse;
          background: rgba(0, 0, 0, 0.34);
          border-top-left-radius: 100%;
        "
      >
     
        <font-awesome-icon
          class="icon arrow-icon"
          :icon="['fas', 'long-arrow-alt-right']"
          fixed-width
          style="
            color: white;
            margin: auto;
            height: 22.5vw;
            width: 22.5vw;
            transform: rotate(45deg) translateX(3vw) translateY(-0vw);
          "
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalCardPayment&&modalAproximacao"
      @close="closeModalCardPayment"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div
          :style="`background-image: url('${cardPaymentImg}');`"
          class="modal-img-2"
        ></div>
        toque no logo ou na tecla verde na maquininha à
        sua direita para iniciar a transação.
      </div>
      <div
        slot="footer"
        style="
          position: fixed;
          bottom: 0px;
          right: 0;
          height: 25vw;
          width: 25vw;
          display: flex;
          flex-flow: row-reverse;
          background: rgba(0, 0, 0, 0.34);
          border-top-left-radius: 100%;
        "
      >
     
        <font-awesome-icon
          class="icon arrow-icon"
          :icon="['fas', 'long-arrow-alt-right']"
          fixed-width
          style="
            color: white;
            margin: auto;
            height: 22.5vw;
            width: 22.5vw;
            transform: rotate(45deg) translateX(3vw) translateY(-0vw);
          "
        />
      </div>
    </ModalCodigo>
    <ModalCodigo
      v-if="showModalConfirmNote"
      @close="closeModalCardPayment"
      icon="error_outline"
    >
      <div class="normal" slot="body" style="font-size: 6vw; font-weight: bold">
        <div
          :style="`background-image: url('${askNoteImg}');`"
          class="modal-img-2"
        ></div>
        Confirme a impressão da via do cliente na maquininha.
      </div>
      <div
        slot="footer"
        style="
          position: fixed;
          bottom: 0px;
          right: 0;
          height: 25vw;
          width: 25vw;
          display: flex;
          flex-flow: row-reverse;
          background: rgba(0, 0, 0, 0.34);
          border-top-left-radius: 100%;
        "
      >
        <font-awesome-icon
          class="icon arrow-icon"
          :icon="['fas', 'long-arrow-alt-right']"
          fixed-width
          style="
            animation: anima 800ms ease infinite;
            color: #4dea4dad;
            margin: auto;
            height: 22.5vw;
            width: 22.5vw;
            transform: rotate(45deg) translateX(3vw) translateY(-0vw);
          "
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="reqFailure>=6"
    
      icon="error_outline">
     <div slot="header" dismissable="false" />

      <div class="normal" slot="body">
        
        <font-awesome-icon
          :icon="['fas', 'wifi-slash']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 13vh;
            color: var(--primary-color);
          "
        />
        <span>Tivemos uma falha ao conectar com servidor, caso seu recibo tenha sido emitido apresente-o no balcão.</span>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="OK"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="reqFailure=0"
        />

      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalConfirmAddCpf"
      @close="closeModalConfirm()"
    >
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        Deseja adicionar CPF na nota fiscal?
      </div>
      <div class="normal button-50-container" slot="footer">
        <DefaultButtonOrd
          name-button="Sim"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="
            () => {
              (showModalConfirmAddCpf = false), (showModalAddCpf = true);
            }
          "
        />
        <DefaultButtonOrd
          name-button="Não"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="testeNome()"
        />
      </div>
    </ModalCodigo>
    <ModalCodigo
      v-if="showModalAproximaçao"
      @close="closeModalConfirm()"
    >
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
      O pagamento será por aproximação ?
      </div>
      <div class="normal button-50-container" slot="footer">
        <DefaultButtonOrd
          name-button="Sim"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="
            () => {
              (showModalAproximaçao = false), (modalConfirmAddEmail = true),(modalAproximacao=true);
            }
          "
        />
        <DefaultButtonOrd
          name-button="Não"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack=" () => {
              (showModalAproximaçao = false), (modalConfirmAddEmail = true);
            }"
        />
      </div>
    </ModalCodigo>
    
    <ModalCodigo
      v-if="modalConfirmAddEmail"
      @close="closeModalConfirm()"
    >
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
     Gostaria de receber seu Cupom Fiscal via e-mail ?
      </div>
      <div class="normal button-50-container" slot="footer">
        <DefaultButtonOrd
          name-button="Sim"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="
            () => {
              (modalConfirmAddEmail = false), (modalAddEmail = true);
            }
          "
        />
        <DefaultButtonOrd
          name-button="Não"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack=" () => {
              (modalConfirmAddEmail = false), (showModalConfirmAddCpf=true);
            }"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="retirarDoCarrinho" @close="retirarDoCarrinho = false">
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        tem certeza que deseja retirar o produto do carrinho?
      </div>
      <div class="normal button-50-container" slot="footer">
        <DefaultButtonOrd
          name-button="Sim"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="clickSub(idItem), (retirarDoCarrinho = false)"
        />
        <DefaultButtonOrd
          name-button="Não"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="retirarDoCarrinho = false"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalAddName"
      @close="(showModalAddName = false), (showModalConfirmAddCpf = true)"
    >
      <div
        class="normal"
        slot="body"
        style="
          font-size: 5vw;
          margin-bottom: 2rem;
          color: black;
          padding: 0 1rem;
          position: relative;
          top: -28vh;        "
      >
        <label
          style="
            font-size: 4vw;
            position: relative;
            left: -28vw;
            top: 1vw;
            color: black;
          "
          for="observacao"
          >Qual o seu nome?</label
        >
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        <input
          readonly
          id="inputNome"
          type="text"
          v-model="inputNome"
          placeholder="Nome"
          :maxlength="50"
          style="
            position: relative !important;
            justify-content: center;
            background: white !important;
            box-shadow: 0px 0.4rem 0.5rem 0.5rem rgb(0 0 0 / 14%);
            border-radius: 10vw;
            color: black !important;
          "
        />

        <div
          v-show="true"
          class="bottom-keyboard"
          style="left: 0; justify-content: right"
        >
          <VirtualKeyboard
            :keyboardList="virtualKeyboard"
            @virtualKeyPress="handleVirtualKeyPress"
          />
        </div>
        <div style="width: 39vw; position: absolute; left: 28%; height: 9vw">
          <DefaultButton
            style="
              position: relative;
              right: 0vw;
              top: 13vw;
              height: 10vw;
              z-index: 10001;
              width: 100%;
            "
            name-button="Finalizar"
            class-component="finish-order-button"
            v-on:buttonCallBack="cpfadded(), (nameAdded = true)"
          />
        </div>
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalAddCpf"
      @close="
        showModalAddCpf = false;
        showModalConfirmAddCpf = true;
        clearUserCpf();
      "
    >
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        Digite seu CPF
      </div>
      <div class="normal" slot="body" style="margin-bottom: 0rem">
        <div
          :class="
            userCpf
              ? 'user-input-display user-input-display-active'
              : 'user-input-display user-input-display-inactive'
          "
        >
          {{ userCpf ? userCpf : "000.000.000-00" }}
        </div>
        <VirtualKeyboardCPF
          :keyboardList="virtualKeyboardCpf"
          @virtualKeyPress="handleVirtualKeyPressCpf"
        />
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: 0 auto 1rem;
          height: 5rem;
        "
        slot="footer"
      >
        <DefaultButton
          style="padding-right: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect transparent "
          name-button="Sair"
          v-on:buttonCallBack="cpfadded(), clearUserCpf()"
        />
        <DefaultButton
          style="padding-left: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect"
          name-button="Confirmar"
          v-on:buttonCallBack="getNameByCPF(userCpf)"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="showModalCpfInvalido" @close="closeModalLoading()">
      <div class="normal" slot="body">CPF INVALIDO</div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: 0 auto 1rem;
          height: 5rem;
        "
        slot="footer"
      >
        <DefaultButton
          style="padding-left: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect"
          name-button="Confirmar"
          v-on:buttonCallBack="closeModalLoading()"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo v-if="showModalLoadingFinishOrder" @close="closeModalLoading">
      <div class="normal" slot="body">
        <font-awesome-icon
          :icon="['fal', 'spinner-third']"
          style="
            width: 100%;
            font-size: 15rem;
            margin-bottom: 2rem;
            color: var(--primary-color);
          "
          spin
        />
        Finalizando pedido...
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalPaymentCompleted"
      @close="fechaModalSucesso"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div style="height: 15rem; margin: 2rem auto" v-if="logoutTimerStart">
          <div style="font-size: 2rem">Saindo automaticamente em:</div>
          <div style="font-size: 6rem; margin: 2rem 0; font-weight: bold">
            {{ logoutRemainingTime }}
          </div>
        </div>
        <div
          :style="`background-image: url('${receiptImg}');`"
          class="modal-img"
          v-if="!logoutTimerStart"
        ></div>
        <div><span>Retire seu ticket da maquininha.</span></div>
       
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: 2rem;
        "
        slot="footer"
      >
        <DefaultButton
          class="button-start"
          classDiv="modal-button-container"
          classComponent="modal-button waves-effect"
          name-button="Finalizar"
          v-on:buttonCallBack="fechaModalSucesso()"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalChangePaymentCard"
      @close="showModalChangePaymentCard = false"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div style="font-size: 2rem">
          Escolha um dos cartões cadastrados para completar o pagamento:
        </div>
        <div class="light-button-container" slot="body">
          <div
            class="light-button-wrapper"
            v-for="card in userCards"
            :key="card.ID"
          >
            <div
              :class="{
                'light-button': true,
                'selected-method': card.ID == currentCard,
              }"
              v-on:click.stop="selectCard(card.ID)"
            >
              <img
                v-if="card.FLAG"
                class="card-flag"
                :src="require(`../assets/${card.FLAG}.svg`)"
              />
              <div class="light-button-label">
                {{ " ••••" + lastNumberCard(card.LAST_NUMBERS) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="Confirmar"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="setMainCard"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalChangePaymentCard"
      @close="showModalChangePaymentCard = false"
      icon="error_outline"
    >
      <div class="normal" slot="body">
        <div style="font-size: 2rem">
          Escolha um dos cartões cadastrados para completar o pagamento:
        </div>
        <div class="light-button-container" slot="body">
          <div
            class="light-button-wrapper"
            v-for="card in userCards"
            :key="card.ID"
          >
            <div
              :class="{
                'light-button': true,
                'selected-method': card.ID == currentCard,
              }"
              v-on:click.stop="selectCard(card.ID)"
            >
              <img
                v-if="card.FLAG"
                class="card-flag"
                :src="require(`../assets/${card.FLAG}.svg`)"
              />
              <div class="light-button-label">
                {{ " ••••" + lastNumberCard(card.LAST_NUMBERS) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-button-container" slot="footer">
        <DefaultButtonOrd
          name-button="Confirmar"
          class-div="modal-button-container"
          class-component="modal-button"
          v-on:buttonCallBack="setMainCard"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalAddPhone"
      @close="
        showModalAddPhone = false;
        showModalPaymentCompleted = true;
      "
      icon="error_outline"
    >
      <div class="normal" slot="body" style="margin-bottom: 0rem">
        <div style="font-size: 2rem">
          Insira seu número de telefone para receber dados do pedido via SMS:
        </div>
        <div
          :class="
            userPhone
              ? 'user-input-display user-input-display-active'
              : 'user-input-display user-input-display-inactive'
          "
        >
          {{ userPhone ? userPhone : "00 00000 0000" }}
        </div>
        <VirtualKeyboardCPF
          :keyboardList="virtualKeyboard"
          @virtualKeyPress="handleVirtualKeyPress"
        />
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto 2rem;
          padding: 0px 2rem;
          height: 5rem;
        "
        slot="footer"
      >
        <DefaultButton
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect transparent "
          name-button="Pular"
          v-on:buttonCallBack="startModalSuccessfulPayment()"
        />
        <DefaultButton
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect"
          name-button="Confirmar"
          v-on:buttonCallBack="startModalSuccessfulPayment()"
        />
      </div>
    </ModalCodigo>

    <ModalCodigo
      v-if="showModalConfirmClear"
      @close="showModalConfirmClear = false"
    >
      <div class="normal" slot="body">
        <!-- <font-awesome-icon :icon="['fal','spinner-third']" style="width: 100%; font-size: 15rem; margin-bottom: 2rem; color: var(--primary-color);" spin/> -->
        Deseja limpar o carrinho?
      </div>
      <div class="normal button-50-container" slot="footer">
        <DefaultButtonOrd
          name-button="Sim"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="confirmClear"
        />
        <DefaultButtonOrd
          name-button="Não"
          class-div="finish-order-button-container"
          class-component="finish-order-button"
          v-on:buttonCallBack="
            () => {
              showModalConfirmClear = false;
            }
          "
        />
      </div>
    </ModalCodigo>

    <LoadingPhases
      v-on:clickError="handleClickError"
      v-on:clickSuccess="handleClickSuccess"
    />
    <LoginModal
      v-if="showModalLogin"
      @close="closeModalLogin"
      @confirmOperation="confirmOperation"
      :registerRoute="'/Register'"
    />
    <div class="small">
      <ModalCodigo
          style="border-radius: 2rem;"
          v-if="produtoNotFound"
          @close="hideModal"
          icon="error_outline"
        >
          <div slot="header" dismissable="false"/>
          <div class="display-flex SIM" slot="body" style="justify-content: center !important;">
            Produto não encontrado...
          </div>

          <div class="display-flex SIM" slot="footer" style="width: 740px;">
            <DefaultButtonOrd
              class="button-start"
              classDiv="row margin-top-20"
              name-button="Ok"
              class-component="new-button-2"
              v-on:buttonCallBack="hideModal"
            />
          </div>
        </ModalCodigo>
      </div>
  </div>
</template>
<script lang="ts" src="../controllers/Pedido.ts"></script>
<style>
.button-50 {
  width: 40%;
  display: inline-block;
  margin: 0 5%;
}

.limpar {
  position: absolute;
  display: flex;
  flex-direction: unset;
  right: 1vw;
  top: 5vw;
  justify-content: center;
  font-weight: 100;
  width: 12vw;
  height: 6vw;
  font-size: 4rem;
  z-index: 9;

  color: rgba(255, 0, 0, 0.63);
}

.container-retirada {
  margin: 0 0.5rem;
  padding-left: 0;
  text-align: left;
}

.local-entrega {
  display: block;
  text-align: left;
  margin-left: 0.5rem;
}

.select-full-width.pedidoSelect .material-select {
  margin: 0 1rem;
}

.select-full-width .material-select {
  margin: 0 0.5rem;
}

.select-full-width .input-field {
  margin-top: 0;
}

.conteudo-pedido > .orderItem {
  margin: 0 0.5rem !important;
  border-bottom: solid rgb(11, 11, 11, 0.05) 1px;
  padding: 0;
}
.final-order-view .order-section-title span {
  color: black;
  font-size: 1.4em;
  font-weight: 300;
}
.final-order-view .order-section-title {
  padding: 0.5rem 0;
  text-align: left;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
}

.final-order-view .order-section-container {
  padding: 0 0 1rem;
  /* border-top: solid rgb(11,11,11,0.1) 1px; */
}

.final-order-view .input-field.col {
  padding: unset;
}

.final-order-view .orderItem {
  margin: 0;
  padding: 0;
}

.final-order-view .conteudo-pedido .order-section-container:first-of-type {
  border-top: unset !important;
}

.final-order-view .store-image-logo {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-right: 1rem;
}

.final-order-view .store-image-header {
  color: black;
  margin: 0 auto 1rem;
  width: 100%;
  height: 15vw;
  display: flex;
  flex-direction: row;
}

.final-order-view textarea.materialize-textarea {
  line-height: 3vw;
  overflow-y: hidden;
  padding: 0.8rem 0 0.8rem 0;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 3vw !important;
  height: 7vw;
}

.final-order-view .input-field.col label {
  font-size: 3vw;
}

.final-order-view .minicard-wrapper {
  width: 100%;
  min-height: 20vw;
  margin-bottom: 2rem;
}

.final-order-view .minicard-wrapper .minicard-main {
  flex-direction: row-reverse;
}

/*.final-order-view .minicard-wrapper .minicard-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 12rem);
    padding-left: 1rem;
}*/

.final-order-view .minicard-wrapper .minicard-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3rem;
  text-align: right;
}

.final-order-view .minicard-wrapper .minicard-title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.final-order-view .minicard .icon {
  color: var(--primary-color);
  font-size: 1rem;
  margin-right: 0.1rem;
  widows: 1rem;
}

.final-order-view .minicard-image img {
  width: 16vw;
  height: 16vw;
  background-color: white;
  object-fit: contain;
  border-radius: 2vw;
  /* box-shadow: rgb(11,11,11,0.2) 0 0.1rem 0.3rem 0.1rem; */
  padding: 1vw;
}

.final-order-view .minicard .minicard-image {
  border-radius: 100%;
  width: 16vw;
  height: 16vw;
  position: relative;
}

.final-order-view .minicard .minicard-body {
  font-size: 2rem;
}
.minicard .minicard-footer{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 33vw;
    font-size: 3vw;
    color:var(--primary-color);
}
.final-order-view .minicard .icon {
  font-size: 2rem;
}

.final-order-view .modal-wrapper:not(.warning) .modal-container {
  width: calc(100%) !important;
  border-radius: 0 !important;
  padding: 1rem 2rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.final-order-view .modal-wrapper:not(.warning) {
  vertical-align: bottom !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.final-order-view .normal {
  font-size: 5vw;
  margin-bottom: 2rem;
  color: black;
  padding: 0 1rem;
}

.final-order-view .modal-body p {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 0;
  text-align: center !important;
}
.modal-body div {
  color: black;
  font-size: 4vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: normal !important;
  margin-bottom: 4vw;
}

.final-order-view .modal-description {
  display: flex;
  justify-content: space-between;
}

.final-order-view .finish-order-button-container {
  width: 42vw;
  height: 10vw;
  margin: 1vh 0 auto;
}

.final-order-view .finish-order-button-container .add-cpf-button {
  width: 50%;
  height: 10vw;
  left: 43vw;
  bottom: 1vw;
  position: relative;
}
.final-order-view .finish-order-button {
  height: 100%;
  width: 95%;
  border-radius: 10vw;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--support-color, var(--secundary-color)) 100%
  );
  border: 0;
  line-height: unset !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
  font-size: 4vw;
}

/* .final-order-view .header-circle-button .visible {
    background-color: var(--background-color);
    z-index: 99;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important; 
    transition: 0.1s;
    top: 0;
}  */

.final-order-view .modal-buttons-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.final-order-view .modal-button-container {
  width: 60vw;
  min-height: 8vw;
  padding: 3vh 0vh;
  margin: 0 auto -2rem;
}

.final-order-view .modal-button {
  min-height: 10vw;
  width: 100%;
  border-radius: 10vw;
  background: linear-gradient(
    90deg,
    white -250%,
    var(--primary-color) 50%,
    var(--support-color, var(--secundary-color)) 250%
  );
  border: 0;
  line-height: unset !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  font-size: 4vw;
  font-weight: 400;
}

/* .final-order-view .transparent{
    opacity: 0.8;
} */

.final-order-view .button-50 {
  margin: 0 1rem;
}

.final-order-view .button-50-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 2rem;
  padding: 0px 1rem;
  height: 8vw;
}

.final-order-view .SC-loading-dots .SC-loading-dots-container {
  width: calc(100% - 4rem);
}

/*Modal ChangePaymentCard*/

.light-button-wrapper {
  margin: 1rem 0 !important;
  padding: 0px 1rem !important;
  height: 17vw;
  width: 33%;
  position: relative;
}

.light-button {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.5rem 0.2rem rgba(0, 0, 0, 0.24);
  padding: 0.75rem;
}

.light-button.selected-method {
  border: 0.35rem solid var(--primary-color);
  padding: 0.65rem;
}

.light-button.selected-method .light-button-label {
  color: var(--primary-color);
  font-weight: 600;
}

.light-button.selected-method .card-flag {
  opacity: 1;
}

.light-button.selected-method .light-button-icon {
  color: var(--primary-color);
  width: 6vw;
  height: 6vw;
  align-self: left;
  opacity: 1;
  margin: 0 0.5rem;
}
.final-order-view .keyboard-container {
  bottom: -4rem;
}

.light-button-label {
  font-size: 2rem;
  border-radius: 1rem;
  height: calc(30% - 1rem);
  width: calc(100% - 1rem);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  text-align: left;
  color: gray;
}

.light-button-icon {
  color: gray;
  width: 6vw !important;
  height: 6vw;
  align-self: left;
  margin: 0 0.5rem;
}

.light-button-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  width: calc(100% - 4rem);
  margin: 2rem;
  position: relative;
}

.light-button .card-flag {
  padding: 0px 5px 0px 0px;
  margin-right: 5px;
  width: 10vw;
  max-height: 5vw;
}

/*Modal confirmPaymentCard*/

.final-order-view .jp-card-container {
  perspective: 1000px;
  width: 68vw;
  max-width: 100%;
  height: 42vw;
  margin: 8vw auto;
  z-index: 1;
  position: relative;
}

.final-order-view .jp-card .jp-card-front,
.jp-card .jp-card-back {
  border-radius: 2.5vw;
  background: var(--primary-color);
}

.final-order-view .jp-card .jp-card-front .jp-card-lower {
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 8vw;
  font-size: 2rem !important;
}

.final-order-view .jp-card .jp-card-front .jp-card-shiny,
.jp-card .jp-card-back .jp-card-shiny {
  width: 9vw;
  height: 6vw;
  border-radius: 5px;
  background: #ccc;
  position: relative;
}

.final-order-view .jp-card .jp-card-front .jp-card-shiny:before,
.jp-card .jp-card-back .jp-card-shiny:before {
  content: " ";
  display: block;
  width: 70%;
  height: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d9d9d9;
  position: absolute;
  top: 20%;
}

.final-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-number {
  font-size: 4vw;
}

.final-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-name {
  text-transform: uppercase;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 3vw;
  max-height: 6vw;
  position: absolute;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.final-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
  font-size: 3.5vw;
}

.final-order-view .selected-card-flag {
  padding: 0px 5px 0px 0px;
  margin-right: 5px;
  height: 12vw;
  position: relative;
  top: 10vw;
  left: 20vw;
  z-index: 2;
}

.final-order-view
  .jp-card
  .jp-card-front
  .jp-card-lower
  .jp-card-expiry:before {
  display: none;
}

.final-order-view .jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after {
  font-size: 2vw;
}

/* modal addPhone*/
.final-order-view .user-input-display {
  padding: 0 1rem !important;
  border-radius: 0.5rem !important;
  width: calc(90% - 2rem) !important;
  margin: 2rem auto 4rem;
  line-height: 3rem !important;
  font-size: 3rem !important;
  font-weight: 600;
}

.final-order-view .user-input-display-inactive {
  color: gray;
}

.final-order-view .user-input-display-active {
  color: var(--primary-color);
}

.modal-img {
  width: 30vw;
  height: 30vw;
  margin: 2rem auto;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: inherit;
}

.modal-img::after {
  content: "";
  width: 30vw;
  height: 30vw;
  position: absolute;
  margin: 0 auto;
  left: 0;
  background: var(--primary-color);
  mix-blend-mode: lighten;
}

.modal-img-2 {
  width: 40vw;
  height: 40vw;
  margin: 2rem auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: relative;
  z-index: inherit;
  border-radius: 5vw;
}
@keyframes anima {
  to {
    color: white;

    transform: rotate(45deg) translateX(5vw) translateY(0vw);
  }
}
/* Resolução da tela: acima de 1600px */
@media (min-width: 1600px) {
  .limpar_icon01 {
    color: red !important;
    font-size: 4.5rem !important;
    margin: auto !important;
    width: 4.5rem !important;
    left: calc(50% - 1rem) !important;
    top: calc(50% - 3.5rem) !important;
  }

  .conteudo-pedido {
    margin: 0rem 0 !important;
    padding: 1.8rem 2rem calc(6rem + 8vw) !important;
    position: absolute !important;
    top: calc(var(--top-header-space)) !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: calc(90vh - var(--top-header-space)) !important;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.14) !important;
  }
}
#espace {
  left: 22vw;
}
.bottom-keyboard {
  bottom: 10rem;
}

/* Resolução da tela: acima de 800px e menor que 1600px */
@media (max-width: 1599px) and (min-width: 800px) {
  .limpar_icon01 {
    color: red !important;
    font-size: 4.5rem !important;
    margin: auto !important;
    width: 4.5rem !important;
    left: calc(50% - 1rem) !important;
    top: calc(50% - 3.5rem) !important;
  }

  .conteudo-pedido {
    margin: 0rem 0 !important;
    padding: 1.8rem 2rem calc(6rem + 8vw) !important;
    position: absolute !important;
    top: calc(var(--top-header-space)) !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: calc(90vh - var(--top-header-space)) !important;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.14) !important;
  }
}

/* Resolução da tela: acima de 600px e menor que 800px */
@media (max-width: 799px) and (min-width: 601px) {
  .limpar_icon01 {
    color: red !important;
    font-size: 4.5rem !important;
    margin: auto !important;
    width: 4.5rem !important;
    left: calc(50% - 1rem) !important;
    top: calc(50% - 3.5rem) !important;
  }

  .conteudo-pedido {
    margin: 0rem 0 !important;
    padding: 1.8rem 2rem calc(6rem + 8vw) !important;
    position: absolute !important;
    top: calc(var(--top-header-space)) !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: calc(90vh - var(--top-header-space)) !important;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.14) !important;
  }
}

/* Resolução da tela: até 600px*/
@media (max-width: 600px) {
  .limpar_icon01 {
    color: red !important;
    font-size: 4.5rem !important;
    margin: auto !important;
    width: 4.5rem !important;
    left: calc(50% - 1rem) !important;
    top: calc(50% - 3.5rem) !important;
  }

  .conteudo-pedido {
    margin: 0rem 0 !important;
    padding: 1.8rem 2rem calc(6rem + 8vw) !important;
    position: absolute !important;
    top: calc(var(--top-header-space)) !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: calc(90vh - var(--top-header-space)) !important;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.14) !important;
  }
}
.small .modal-wrapper:not(.warning) .modal-container {
  width: 90% !important;
  border-radius: 2rem !important;
  margin: 35vh auto;
  padding: 1rem 2rem 0;
  min-height: 30vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>