<template>
  <div
    v-bind:class="{ produtos: true, 'no-scroll': expandedStoreCard }"
    style="overflow-y: hidden; height: 100vh"
  >
    <HeaderCircleButton
      v-bind:firstButton="true"
      :showSearch="!showSearch"
      :fb="backButton"
      :visibleAt="-1"
      :showTitle="true"
      :title="store.name"
      v-if="!expandedStoreCard && !testeUnica"
      :ob="otherButton"
    />
    <HeaderCircleButton
      :showTitle="true"
      :showSearchIco="showSearch"
      :title="store.name"
      v-if="!expandedStoreCard && testeUnica"
      :ob="otherButton"
    />
    <!-- <div  class= "iconLupa" v-on:touchstart="toggleShowSearch(!showSearch)">
            
        <font-awesome-icon v-if="!showSearch" class='icon'  :icon="['fal', 'search']" size="1x" style=" color: var(--primary-color);width: 6vw;height: 12vw;position: absolute;top: 2vw;left: 90%;z-index:2;"/>
        <font-awesome-icon v-else class='icon'  :icon="['fal', 'times']" size="1x" style=" color: var(--primary-color);width: 6vw;height: 12vw;position: absolute;top: 2vw;left: 90%;z-index:2;"/>
        </div> -->

    <!-- <input type="text" id="bar" name="bar" v-model="input" v-on:keypress.enter="()=>{console.log('teste')}" v-on:keydown="receiveProduct(input)"> -->
    <!-- <div class="searchProductsButton">
            <div class="lupa" v-if="!showSearch" >o</div>
        </div>-->

    <!-- <HeaderBackground :imageSrc="cover" />-->
    <div
      style="
        width: 20vw;
        height: 13vw;
        border-radius: 0rem;
        position: absolute;
        z-index: 0;
        left: 0vw;
        top: 0vw;
      "
      v-if="cover && testeUnica"
    >
      <img
        style="height: 12vw; border-radius: 0rem; padding: 0.5vw"
        :src="logo"
      />
    </div>
    <div v-bind:class="{ 'store-content': true }">
      <div
        :id="'#' + showSearch"
        :class="{
          fixedCategoriesProducts: fixCategories,
          'product-list-header': true,
        }"
        v-show="
          !showSearch &&
          !(menuNotFound == false && descente && verifyCategories()) &&
          !menuNotFound &&
          pageLoaded
        "
      >
        <div
          id="sectionCategories"
          ref="sectionCategories"
          :class="{ 'width-0': showSearch, categoryProducts: true }"
        >
          <div
            class="chip"
            v-if="category.products.length > 0"
            v-for="(category, index) in categories"
            :key="category.id"
            :id="'categoria' + category.id"
            v-on:touchstart="goToLocation(category.id)"
          >
            <a :class="'categoria' + category.id" :href="'#' + category.id"></a>

            <div class="category-image" v-on:touchstart="selectCategory(index)">
              <img
                v-if="category.products[0].image"
                :src="category.products[0].image"
              />

              <font-awesome-icon
                v-else
                class="icon"
                :aria-hidden="true"
                :icon="['fal', 'burger-soda']"
                size="1x"
                style="
                  color: var(--primary-color);
                  width: 100%;
                  height: 50%;
                  left: calc(50% - 1rem);
                  top: calc(50% - 1.5rem);
                "
              />
              <div class="category-highlight"></div>
            </div>
            <div class="category-label">{{ category.name }}</div>
          </div>
        </div>
      </div>

      <input
        readonly
        v-show="showSearch"
        id="search_product"
        type="text"
        placeholder="Pesquisar Produto"
        :maxlength="50"
        v-on:touchstart="verifyVK = true"
      />

      <!-- <input v-show="showSearch"  type="text" name="" id="search_product" placeholder="Pesquisar produto" autofocus :maxlength="50" style="border-bottom: unset;margin-top: unset;margin-right: unset;margin-bottom: unset;position: absolute;background: var(--primary-color);overflow: visible; z-index: 2;padding: 1vw;width: -webkit-fill-available;padding-left: 4vw;color: white;font-weight: bold;"/> -->

      <div
        v-if="!pageLoaded"
        style="
          position: absolute;
          position: absolute;
          width: 100%;
          top: 1rem;
          margin: calc(50% - 7vw) 0;
        "
      >
        <EmptyState
          text="Aguarde um momento enquanto o cardápio é carregado."
          iconClass="fal"
          icon="utensils-alt"
        />
      </div>

      <ModalCodigo
        v-if="produtoNotFound"
        @close="produtoNotFound = false"
        icon="error_outline"
      >
        <div slot="header" dismissable="false"/>
        <div class="display-flex SIM" slot="body" style="justify-content: center !important;">
          Produto não encontrado...
        </div>

        <div class="display-flex SIM" slot="footer">
          <DefaultButtonOrd
            class="button-start"
            classDiv="row margin-top-20"
            name-button="Ok"
            class-component="new-button-2"
            v-on:buttonCallBack="hideModal"
          />
        </div>
      </ModalCodigo>

      <div
        v-else-if="menuNotFound"
        style="position: absolute; position: absolute; width: 100%; top: 25rem"
      >
        <EmptyState
          text="Infelizmente não encontramos cardápios disponíveis para este horário."
          iconClass="fal"
          icon="utensils-alt"
        />
      </div>

      <div
        v-show="menuNotFound == false && descente && verifyCategories()"
        style="position: absolute; position: absolute; width: 100%; top: 25rem"
      >
        <EmptyState
          text="Infelizmente não encontramos nenhum produto neste cardápio."
          iconClass="fal"
          icon="utensils-alt"
        />
      </div>

      <div
        v-if="showSearch"
        :id="'products-list' + showSearch"
        ref="productsList"
        v-on:touchstart="verifyVK = false"
      >
        <div class="productsLista" style="font-weight: 300; padding-top: 4rem">
          <Product
            :productId="product.id"
            :productName="product.name"
            :imageSource="product.image"
            :productInfo="product.detail"
            :productPrice="product.price"
            :click="
              () => {
                addItemToOrder(null, product.id);
              }
            "
            v-for="product in productsFiltered"
            :key="product.id"
            :ret="
              () => {
                removeItemOrder(null, product.id);
              }
            "
            :productQuantity="getQuantityInCurrentOrder(product.id)"
            v-on:addProduct="addItemToOrder(null, product.id)"
          />
          <div v-show="verifyVK" class="bottom-keyboard">
            <VirtualKeyboard
              :keyboardList="virtualKeyboard"
              @virtualKeyPress="handleVirtualKeyPress"
            />
          </div>
        </div>
      </div>

      <div v-else-if="categories && categories.length" id="products-list">
        <div
          class="productsLista scrollspy"
          v-if="
            categories[selectedCategory] &&
            categories[selectedCategory].products.length > 0
          "
          style="font-weight: 300"
        >
          <Product
            :id="'produto' + product.id"
            :productId="product.id"
            :productName="product.name"
            :imageSource="product.image"
            :productInfo="product.detail"
            :productPrice="product.price"
            :click="
              () => {
                addItemToOrder(categories[selectedCategory].id, product.id);
              }
            "
            :ret="
              () => {
                removeItemOrder(categories[selectedCategory].id, product.id);
              }
            "
            v-for="product in categories[selectedCategory].products"
            :key="product.id"
            :productQuantity="getQuantityInCurrentOrder(product.id)"
            v-on:addProduct="
              addItemToOrder(categories[selectedCategory].id, product.id)
            "
          />
        </div>
      </div>
    </div>
    <div>
      <DefaultButtonOrd
        v-if="
          !(menuNotFound == false && descente && verifyCategories()) &&
          !menuNotFound &&
          currentOrder &&
          currentOrder.ORDER_ITEMS &&
          currentOrder.ORDER_ITEMS.length > 0 &&
          currentOrder.TOTAL_VALUE > 0
        "
        classDiv="bottom-fixed"
        classComponent="full-width bottom-button"
        nameButton="Comprar"
        :nameRight="
          currentOrder && currentOrder.TOTAL_VALUE
            ? 'R$' + currentOrder.TOTAL_VALUE.toFixed(2).replace('.', ',')
            : ''
        "
        :nameLeft="
          currentOrder && currentOrder.AMOUNT_OF_ITEMS > 1
            ? currentOrder.AMOUNT_OF_ITEMS + ' itens'
            : currentOrder && currentOrder.AMOUNT_OF_ITEMS
            ? currentOrder.AMOUNT_OF_ITEMS + ' item'
            : ''
        "
        v-on:buttonCallBack="goToOrder()"
      />
    </div>

    <ModalCodigo v-if="showModalloadingP">
      <div slot="header" dismissable="false" />
      <div slot="body">
        <font-awesome-icon
          :icon="['fal', 'spinner-third']"
          style="
            width: 100%;
            font-size: 6rem;
            margin-bottom: 0rem;
            color: var(--primary-color);
          "
          spin
        />
        Carregando produtos...
      </div>
    </ModalCodigo>

    <div :class="'test' + test" style="top: 0vw">
      <ModalCodigo v-if="modalPopUp">
        <div slot="header" dismissable="false" />
        <div
          slot="body"
          style="margin-bottom: 0rem; color: var(--primary-color)"
        >
          A geladeira está destravada. Você tem 2 minutos para pegar seus
          produtos.
        </div>
      </ModalCodigo>
    </div>

    <ModalCodigo v-if="showModalClosed">
      <div slot="header" dismissable="false" />
      <div slot="body">Infelizmente esta loja está fechada</div>
      <div class="display-flex SIM" slot="footer">
        <DefaultButtonOrd
          class="button-start"
          classDiv="row margin-top-20"
          name-button="Ok"
          class-component="new-button-2"
          v-on:buttonCallBack="this.goToExplorar"
        />
      </div>
    </ModalCodigo>

    <LoadingPhases />
    <LoginModal
      v-if="showModalLogin"
      @close="closeModalLogin"
      :registerRoute="'/Register'"
    />

    <ModalCodigo v-show="modalIdade && open">
      <div slot="header" dismissable="false" />
      <div slot="body" class="mod-idade">Você possui mais de 18 anos?</div>
      <div class="btn-mod-idade" slot="footer" style="display: flex">
        <DefaultButtonOrd
          id="btn-yes"
          class="button-start"
          classDiv="row margin-top-20"
          name-button="SIM"
          class-component="new-button-2"
          v-on:buttonCallBack="(open = false), (showModalAddCpf = true)"
        />
        <Button
          class="close-mod-idade"
          style="
            font-family: 'Nunito', sans-serif !important;
            line-height: 20px !important;
            color: white;
            font-size: 25px;
            margin-top: 14px;
            margin-left: 20px;
          "
          v-on:touchstart="(open = false), menorIdade()"
        >
          NÃO
        </Button>
      </div>
    </ModalCodigo>
    <div v-if="haveLock" style="display: flex; flex-direction: row; right: 11vw; top: 4vw;position: absolute; z-index: 99999999;">
      <button class=openlock v-on:touchstart="(open = true), (modalIdade = true), (clearUserCpf()), (clearPasswordLock())">
          <font-awesome-icon
                class="icon"
                :aria-hidden="true"
                :icon="['far', 'refrigerator']"
                size="1x"
                style="
                  color: var(--primary-color);
                  width: 100%;
                  height: 80%;
                  left: calc(50% - 1rem);
                  top: calc(50% - 1.5rem);
                "
              />
      </button>
    </div>
     <div
      v-on:touchstart= "openInstruction = false"
      v-if="openInstruction"
      class="fade-in-object"
      style="
        color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 99999999999;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        ">
        <font-awesome-icon
          :icon="['far', 'hand-point-up']"
          style="
            width: 100%;
            font-size: 15rem;
            color: var(--primary-color);
            transform: rotate(49deg);
            flex-direction: column;
            margin-left: 19vw;
             margin-top: 3rem;
          "
        />
         <h1>Toque aqui para abrir a geladeira</h1>


       
      
    </div>
    <div class="cpf">
      <ModalCodigo
        v-if="showModalAddCpf"
        @close="
          showModalAddCpf = false;
          showModalConfirmAddCpf = true;
          clearUserCpf();
        "
      >
        <div class="normal" slot="body" style="font-size: 5vw">
          Digite seu CPF
        </div>
        <div class="normal" slot="body" style="margin-bottom: 0rem">
          <div
            style="font-size: 3rem; color: gray; font-weight: 600"
            :class="
              userCpf
                ? 'user-input-display user-input-display-active'
                : 'user-input-display user-input-display-inactive'
            "
          >
            {{ userCpf ? userCpf : "000.000.000-00" }}
          </div>
          <VirtualKeyboardCPF
            :keyboardList="virtualKeyboardCpf"
            @virtualKeyPress="handleVirtualKeyPressCpf"
          />
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 1rem;
            height: 5rem;
          "
          slot="footer"
        >
        <DefaultButton
          style="padding-right: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect transparent btn-cpf "
          name-button="Sair"
          v-on:buttonCallBack="showModalAddCpf = false, clearUserCpf()"
        />
        <DefaultButton
          style="padding-left: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect btn-cpf"
          name-button="Confirmar"
          v-on:buttonCallBack="getNameByCPF(userCpf)"
        />
        </div>
      </ModalCodigo>
    </div>
    <div class="cpf">
      <ModalCodigo v-if="showModalCpfInvalido" @close="closeModalLoading()">
        <div class="normal" slot="body">CPF INVALIDO</div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 1rem;
            height: 5rem;
          "
          slot="footer"
        >
          <DefaultButton
            style="padding-left: 1rem"
            class="button-start"
            classDiv="button-50"
            classComponent="modal-button waves-effect btn-cpf"
            name-button="Confirmar"
            v-on:buttonCallBack="showModalCpfInvalido=false"
          />
      </div>
      </ModalCodigo>
    </div>
     <div class="cpf">
      <ModalCodigo v-if="underAge" @close="closeModalLoading()">
        <div class="normal" slot="body">VOCÊ NÃO POSSUI MAIS DE 18 ANOS</div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 1rem;
            height: 5rem;
          "
          slot="footer"
        >
          <DefaultButton
            style="padding-left: 1rem"
            class="button-start"
            classDiv="button-50"
            classComponent="modal-button waves-effect btn-cpf"
            name-button="Confirmar"
            v-on:buttonCallBack="(underAge=false), (clearPasswordLock())"
          />
      </div>
      </ModalCodigo>
    </div>
     <div class="cpf">
    <ModalCodigo
      v-if="showModalSenha"
      @close="
        showModalSenha = false;
        clearPasswordLock();
      "
    >
      <div class="normal" slot="body" style="font-size: 5vw;">
        Digite a senha
      </div>
      <div class="normal" slot="body" style="margin-bottom: 0rem; font-weight: 600; font-size: 3rem !important;">
        <div
          style="color: gray;"
          :class="
            passwordLock
              ? 'user-input-display user-input-display-active'
              : 'user-input-display user-input-display-inactive'
          "
        >
          {{ passwordLock ? passwordLock : "000000" }}
        </div>
        <VirtualKeyboardCPF
          :keyboardList="virtualKeyboardCpf"
          @virtualKeyPress="handleVirtualKeyPressPassword"
        />
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: 0 auto 1rem;
          height: 5rem;
        "
        slot="footer"
      >
        <DefaultButton
          style="padding-right: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect transparent btn-cpf "
          name-button="Sair"
          v-on:buttonCallBack="(showModalSenha = false), clearPasswordLock()"
        />
        <DefaultButton
          style="padding-left: 1rem"
          class="button-start"
          classDiv="button-50"
          classComponent="modal-button waves-effect btn-cpf"
          name-button="Confirmar"
          v-on:buttonCallBack="getNameByCPF(userCpf), (validacao = false)"
        />
      </div>
    </ModalCodigo>
    </div>
    <div class="cpf">
      <ModalCodigo v-if="showModalErroPassword" @close="showModalErroPassword=false">
        <div class="normal" slot="body">SENHA INVALIDA</div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto 1rem;
            height: 5rem;
          "
          slot="footer"
        >
          <DefaultButton
            style="padding-left: 1rem"
            class="button-start"
            classDiv="button-50"
            classComponent="modal-button waves-effect btn-cpf"
            name-button="Confirmar"
            v-on:buttonCallBack="showModalErroPassword = false"
          />
        </div>
      </ModalCodigo>
    </div>
  </div>
</template>

<script lang="ts" src="../controllers/Produtos.ts"></script>
<style>
input[placeholder],
[placeholder],
*[placeholder] {
  background: var(--primary-color) !important;
  color: white !important;
  border-bottom: unset !important;
  margin-top: unset !important;
  margin-right: unset !important;
  margin-bottom: unset !important;
  position: absolute !important;
  overflow: visible !important;
  z-index: 2 !important;
  padding: 1vw !important;
  width: -webkit-fill-available !important;
  padding-left: 4vw !important;
  font-weight: bold !important;
}

INPUT::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white !important;
}
INPUT::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
}
INPUT:-ms-input-placeholder {
  /* IE 10+ */
  color: white !important;
}
INPUT:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
}
.bottom-keyboard {
  position: fixed;
  bottom: -3vw !important;
  width: 100%;
  z-index: 10001;
  background: white;
  padding-bottom: 3rem;
}
.virtual-keyboard #espace {
  left: 8vw !important;
  width: 76vw !important;
}
.keyboard-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.produtos .categoryProducts .chip {
  display: block;
  height: 26vw;
  border: unset;
  white-space: break-spaces;
  background-color: transparent !important;
  padding: 0 !important;
  margin-bottom: 2px !important;
  margin-right: unset !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stikey {
  position: sticky;
  top: 56px;
  z-index: 999999999;
  background-color: white;
}

.produtos .store-card {
  position: relative;
  top: 7.5rem;
}

.produtos .store-card.store-card-expanded {
  position: fixed;
  top: 5vh;
  z-index: 999;
  width: 100%;
}

.store-image-header {
  width: 100%;
}
.padding-orders.category-name {
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

#chips {
  display: block;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 5px;
  margin-bottom: 2px;
  text-align: left;
}

.produtos .header-background .imgSmall {
  object-fit: cover !important;
}

#about-store {
  text-align: left;
  padding: 5px 10px 0;
  font-size: 1.1rem;
}

#store-info {
  position: relative;
  display: block;
}

#products-list {
  position: relative;
  width: 75%;
  padding-bottom: calc(15.5vw + env(safe-area-inset-bottom));
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  animation-name: fade;

  height: calc(100vh - 14vw);
  overflow-y: scroll;
  padding-top: 2rem;
}

#products-listtrue {
  position: relative;
  width: 97.8%;
  padding-bottom: calc(15.5vw + env(safe-area-inset-bottom));
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  animation-name: fade;

  height: calc(100vh - 14vw);
  overflow-y: scroll;
  padding-top: 2rem;
}

.category-name a {
  font-size: 1.6rem;
  font-weight: 450;
  transition: 0.3s;
  color: black;
}

.category-name {
  margin: 0 0 0 0;
  margin-bottom: 0 !important;
  text-align: left;
  padding: 0 1rem;
  overflow: hidden;
}

.bottom-button {
  padding: 1rem !important;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom)) !important;
  font-size: 4vw !important;
  height: 10vw;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--support-color, var(--secundary-color)) 100%
  );
  border: 0;
}

.searchProducts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 2.3rem;
  width: calc(100% - 2rem);
}

.searchProducts > input:not(.browser-default):focus:not([readonly]) {
  border-bottom: unset !important;
  border-left: unset !important;
  box-shadow: unset !important;
}

@supports (-webkit-overflow-scrolling: touch) {
  .categoryProducts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: calc(14.5vw + env(safe-area-inset-bottom));
    padding-top: 2rem;
  }
}

@supports not (-webkit-overflow-scrolling: touch) {
  .categoryProducts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: calc(14.5vw + env(safe-area-inset-bottom));
    padding-top: 2rem;
  }
}

.product-list-header {
  padding: 0rem 1vw;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 23vw;
  margin-right: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background: lightgray;
  z-index: 0;
}

.fixedCategoriesProducts {
  /* border-bottom: solid 1px rgb(11,11,11,0.1); */
  background-color: var(--background-color, white);
  transition: 0.2s;
  /* box-shadow: lightgray 0 0.1rem 0.2rem 0; */
}

.searchProductsButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 2rem;
}

.searchProductsButton svg {
  margin: auto 0 auto auto;
  font-size: 1.2rem;
}

.width-0 {
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.web-social-share-action-sheet-group {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header-background .imgLarge {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.produtos .header-background {
  height: 39vw;
}

.produtos .header-background img {
  width: 100%;
  height: 39vw;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  z-index: 2;
  position: relative;
}

.produtos .store-card {
  position: relative;
  top: 15rem;
}

@media (max-width: 692px) {
  .keyboard-container .virtual-keyboard {
    border: 0.25rem solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    height: 5rem;
    width: calc(8.59vw);
    line-height: 4.5rem;
    font-size: 3rem;
    margin: 2vw 0.4vw 0.2vw;
    -webkit-transition: unset !important;
    transition: unset !important;
  }
}

@media (min-width: 693px) {
  .keyboard-container .virtual-keyboard {
    border: 0.25rem solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    height: 5rem;
    width: calc(8.8vw);
    line-height: 4.5rem;
    font-size: 3rem;
    margin: 2vw 0.4vw 0.2vw;
    -webkit-transition: unset !important;
    transition: unset !important;
  }
}

.produtos .store-content {
  position: relative;
  top: -1vw;
  min-height: calc(100% - 14vw);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.14);
}

.produtos .header-circle-button .visible {
  background-color: var(--background-color);
  z-index: 99;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important; */
  transition: 0.1s;
  top: 0;
}

.produtos .bottom-button {
  padding: 1rem 4rem !important;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom)) !important;
  font-size: 4vw !important;
  height: 12.5vw;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--support-color, var(--secundary-color)) 100%
  );
  border: 0;
}
.test .modal-wrapper:not(.warning) .modal-container {
  width: 100% !important;
  min-height: 15vh;
  border-radius: 0rem;
  margin: -18vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  padding: 20px 30px calc(20px + env(safe-area-inset-bottom));
  background-color: white;
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  animation: slideDown 1.5s 0s 1 ease forwards;
}
.test .modal-mask {
  position: fixed;
  z-index: 9999999999;
  top: 0vw;
  left: 0;
  width: 100%;
  height: 160%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  -webkit-transition: none;
  transition: none !important;
}
.testp .modal-wrapper:not(.warning) .modal-container {
  width: 100% !important;
  min-height: 15vh;
  border-radius: 0rem;
  margin: -18vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  padding: 20px 30px calc(20px + env(safe-area-inset-bottom));
  background-color: white;
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  transition: all 0.3s ease;
}
.testp .modal-mask {
  position: fixed;
  z-index: 9999999999;
  top: 0vw;
  left: 0;
  width: 100%;
  height: 160%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  -webkit-transition: none;
  transition: none !important;
}
.produtos .header-background {
  z-index: 1;
}

.produtos .categoryProducts .category-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  border-radius: 1rem;
  box-shadow: 0rem 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.24);
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 1vw auto 0;
  position: relative;
  opacity: 0.6;
  background-color: white;
}

.produtos .categoryProducts .category-label {
  /* padding-top: 1vw; */
  font-size: 2vw;
  height: 6vw;
  width: 100%;
  overflow: visible;
}

.produtos .categoryProducts .categoriaSelecionada .category-label {
  font-size: 2vw;
  height: 5.5vh;
  width: 100%;
  overflow: auto;
}

.produtos .categoryProducts .categoriaSelecionada .category-image {
  opacity: 1;
}

.produtos .categoryProducts .category-image > img {
  display: flex;
  flex-direction: column;
  justify-content: contain;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  object-fit: contain;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}

.produtos .categoryProducts .category-highlight {
  height: 2vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 1rem;
  margin-left: -0.5rem;
  border-bottom-right-radius: 1rem;
}

.produtos .categoryProducts .categoriaSelecionada .category-highlight {
  background: var(--primary-color);
}

.produtos .categoryProducts .categoriaSelecionada .category-image {
  width: 15vw !important;
  height: 18vw !important;
}

.produtos .categoryProducts .categoriaSelecionada .category-image > img {
  opacity: 1 !important;
}

.produtos .chip {
  display: flex;
  flex-direction: column;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#products-list::-webkit-scrollbar {
  width: 0.5rem;
  height: 80%;
  background-color: #eee;
  display: unset;
}

#products-list::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

#products-listtrue::-webkit-scrollbar {
  width: 0.5rem;
  height: 80%;
  background-color: #eee;
  display: unset;
}

#products-listtrue::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.produtos .emptyStateIcon {
  font-size: 12vw;
  margin: 0 auto;
}

.produtos .emptyStateText {
  font-size: 4vw;
  padding: 15px 31px 0px 25px;
  color: gray;
  font-weight: bold;
}

.produtos .emptyStateDiv {
  top: unset;
  left: unset;
  -webkit-transform: unset;
  transform: unset;
}

.close-mod-idade {
  font-weight: bold;
  background-color: var(--primary-color);
  min-width: 50%;
  height: 36px;
  line-height: 20px !important;
  padding: 0 16px !important;
  border-radius: 2px;
  border: 2px solid var(--primary-color);
  color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  height: 10vw !important;
  border-radius: 5vw;
}

.openlock {
        border-radius: 100%;
        height: 6.75vw;
        width: 6.83vw;
        padding: 0;
        font-size: 2.92vw;
        border: 2px solid white !important;
        background-color: white !important;
  }

  .cpf .modal-wrapper:not(.warning) .modal-container {
    width: calc(100%) !important;
    border-radius: 0 !important;
    padding: 1rem 2rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .btn-cpf {
    min-height: 10vw;
    width: 100%;
    border-radius: 10vw;
    background: -webkit-gradient( linear, left top, right top, color-stop(-250%, white), color-stop(50%, var(--primary-color)), color-stop(250%, var(--support-color, var(--secundary-color))) );
    background: linear-gradient( 90deg, white -250%, var(--primary-color) 50%, var(--support-color, var(--secundary-color)) 250% );
    border: 0;
    line-height: unset !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: 400;
  }
  
</style>