<template>
    <div class="produto">

        <HeaderCircleButton ref="headerCircleButton" v-bind:firstButton="true" :fb="backButton" :showTitle="true" :visibleAt="-1" :title="product.name"/>
        <!--HeaderBackground :imageSrc="store.imageCover" />
        <div style="width: 20vw; height: 20vw; border-radius: 1rem; position: relative; margin: auto; z-index: 2; top: 3vw">
            <img style="width: 100%; height: 100%; border-radius: 1rem;" :src="store.imageLogo"/>
        </div-->

        <div v-bind:class="{'store-content': true, 'full-height': !product.image}">
            <div class="product-info">
                <TextLink classDiv="row padding-orders OM--product-name" :link-label="product.name" class-component="primary-color message extra-name" />
                <div style="width: 30vmin; max-width: 20vh; border-radius: 1rem; position: relative; margin: auto;" v-if="product.image">
                    <img style="width: 100%; height: 100%; border-radius: 1rem;" :src="product.image"/>
                </div>
                <div class="about-store">
                    <span>{{product.detail}}</span><br />
                    <!-- <div class="product-estimated-time">
                        <i class="material-icons left primary-color">access_time</i>
                        <span v-if="product.estimatedTime > 0">Produzido em {{product.estimatedTime}} minutos</span>
                        <span v-if="product.estimatedTime == 0">Retiro imediato</span>
                    </div> -->
                </div>
                <div style="display: flex; padding-left:1rem; padding-top:1rem">
                    <div style="width:50%; text-align:left; font-size:3vw;">Quantidade</div>
                    <div style="width:50%; text-align:left; font-size:3vw;">Total</div>
                </div>
                <div style="display: flex; padding-left:1rem">
                    <div class="quant-container" style="width: calc(40%);">
                        <DefaultButtonOrd class-component="button-icon primary-color button-quant remove" v-on:buttonCallBack="removeAmount" icon="remove" />
                        <input id="item-amount" type="text" class="text-amount quantityProduct" value="1" v-on:change="changeAmount()" disabled>
                        <DefaultButtonOrd class-component="button-icon primary-color button-quant add" v-on:buttonCallBack="addAmount" icon="add" />
                    </div>
                    <div style="width: 50%; text-align: left; font-size: 4vw; font-weight: 600; margin: 1.5vw 0; display: flex">
                        <div style="padding-bottom: 1vw; font-size: 3vw">R$</div>
                        {{price.toFixed(2).replace('.', ',')}}
                    </div>
                </div>
                <div class="container-observacao row margin-none" style="text-align: left;">
                        <label  style="color: grey; font-size: 2.5vw; margin-left: 12px">Adicionar observação</label>
                        <textarea id="observacao" readonly="readonly" class="materialize-textarea" :maxlength="100" v-on:click="observacaoModal=true"></textarea>
                </div>
            </div>
            <div class="extras-list">
                <div :id="'quadroExtras' + extra.id" v-for="extra in product.extras" :key="extra.id">
                    <!--<TextLink classDiv="row padding-orders category-name" :link-label="extra.name" class-component="primary-color message"/>-->
                    <div class="row padding-orders extra-category" style="display:flex;">
                        <span :id="'extraName'+extra.id" class="primary-color message extra-name">{{extra.name}}</span>
                        <div :id="'required'+extra.id" v-if="extra.required == 1" class="required-label obrigatorio" style=""><span>Obrigatório</span></div>
                    </div>
                    <div v-if="extra.multiple && extra.limitQuantity" class="limit-quantity">
                        <span class="limit-span">Selecione até {{extra.limitQuantity}} opç{{(extra.limitQuantity > 1 ? 'ões' : 'ão')}}</span>
                    </div>
                    <Option :optionId="option.id" :optionName="option.name" :price="option.price" :extraId="extra.id" :multiple="extra.multiple" :click="optionChange" :required="option.required" :limitQuantity="extra.limitQuantity" v-for="option in extra.options" :key="option.id" />
                </div>
            </div>
            <div class="quantity" >
                <!-- <DefaultButtonOrd classDiv="add-product-button-container" classComponent="add-product-button" nameLeft='' nameRight="" nameButton="Voltar" v-on:buttonCallBack="goBack()" /> -->
                <DefaultButtonOrd classDiv="add-product-button-container" classComponent="add-product-button" nameLeft='' nameRight="" nameButton="Adicionar" v-on:buttonCallBack="addItemToOrder()" />
            </div>
           
            <!-- <DefaultButtonOrd classDiv="bottom-fixed" classComponent="full-width-new bottom-button-produto" :nameButton="'Adicionar ao Pedido'" v-on:buttonCallBack="addItemToOrder()" /> -->
        </div>
        <ModalCodigo class="obs-modal" v-show="observacaoModal" @close="observacaoModal=false">
            <div class="div-obs" slot="body">
                <label id="label-obs" for="observacao">Adicionar observação</label>
                 <textarea id="observacao" class="materialize-textarea" 
                    :readonly="true" 
                    :value="observacaoInput">
                </textarea>
            </div>
            <div slot="body" class="button-obs">
                <Button class="btn-confirmar" v-on:click="observacaoModal=false">
                    Confirmar
                </Button>
            </div>
            <div slot="footer" class ="keyboard-obs">
                <VirtualKeyboard :keyboardList="virtualKeyboard" @virtualKeyPress="handleVirtualKeyPress"/>
            </div>   
        </ModalCodigo>

        <ModalCodigo v-if="showModalRequiredExtras"  icon="error_outline" :content="'Por favor, marque todas as opções obrigatórias.'">
            <div slot="header" dismissable="false"/>
            <DefaultButtonOrd slot="footer" name-button="Ok" class-div="button-50" class-component="new-button-2" v-on:buttonCallBack="fechaModalRequiredExtras"/>
        </ModalCodigo>
    </div>
</template>
<script lang="ts" src="../controllers/Produto.ts"></script>
<style>

.OM--product-name{
    padding: 0 1rem;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: unset !important;
}

.produto .about-store{
    text-align: left;
    padding: 0.5rem 1rem 0;
    font-size: 1.1rem;
}


.produto .store-content.full-height {
    position: absolute;
    top: var(--top-header-space);
    border-top: 0.2rem solid rgba(0, 0, 0, 0.24);
    background-color: white;
    min-height: calc(100% - 200px);
    width: 100%;
}

.modal-body p {
    font-weight: bold;
    -webkit-margin-after: 1.6em;
    margin-block-end: 1.6em;
    font-size: 2rem !important;
}

.produto .extras-list {
    flex-grow: 2;
    margin-top: 1rem;
    padding-right: 2rem;
    position: relative;
    height: calc(107vh - 24vw - 7rem);
    overflow-y: scroll;
}

.obrigatorio{
    position: relative;
    margin: auto 0 auto auto;
    font-size: 0.8em;
    background-color: #d8d8d8ba;
    padding: 2px 9px;
    border-radius: 20px;
    color: black;
}

.pls-require{
    color: white;
    background-color: #FF6465;
}

#products-list .extra-name {
    font-size: 1.6rem !important;
    float: left;
}

#store-info{
    margin-top: 1rem;
}

#product-list#order{
    margin-bottom: 0;
}

.margin-bottom-none{
    margin-bottom: 0 !important;
}

.alreadyFinished{
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color, var(--secundary-color)) 100%);
    color: white;
    border: white;
    border-radius: 3rem !important;
    font-size: 1rem !important;
}

.text-amount {
    width: 3rem !important;
    margin: auto 0 !important;
    text-align: center !important;
    font-size: 1.5rem !important;
}

.quantity > .ahazo{
    text-align: left;
}

.bottom-new{
    position: fixed;
    bottom: 20px;
    /* bottom: 60px; */
    width: 100%;
    z-index: 10000;
    padding: 0 20px;
}

.bottom-button-produto {
    padding: 9px 16px !important;
    font-size: 1rem !important;
    height: auto;
}

.bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}
.full-width {
    width: 100%;
}
.full-width-new {
    width: 90%;
    /* border-radius: 5px !important; */
}
.product-estimated-time {
    margin-top: 5px;
    margin-bottom: 7px;
}

.padding-orders.category-name{
    font-size: 1.3em;
}

.option{
    padding: 15px 20px !important;
    margin: 0 !important;
}

.limit-quantity{
    width: 100%;
    display: grid;

}

.produto .input-field.col{
    padding: 0 1rem;
    
}



.container-observacao .input-field{
    padding: 0 1rem;
}

.container-observacao .input-field > label{
    left: 1rem;
}

.produto .header-background{
    background-color: var(--background-color, white);
}

.produto .header-background:after{
    background-color: var(--background-color, white);
}

.produto .extra-category{
    text-align: left;
    width: 100%;
    margin: 0 0 0 0;
    margin-bottom: 0 !important;
    text-align: left;
    padding: 0.5rem 1rem;
    overflow: hidden;
    font-size: 4vw;
}



    .produto .header-background {
        height: 39vw;
    }

    .produto .header-background img {
        width: 100%;
        height: 39vw;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        z-index: 2;
        position: relative;
    }

    .produto .store-content {
        position: absolute;
        top: calc(var(--top-header-space) - 1vw);
        border-top: 0.2rem solid rgba(0, 0, 0, 0.24);
        width: 100%;
        padding-bottom: calc(5.5rem + env(safe-area-inset-bottom));
        display: flex;
        overflow: hidden
    }

    .produto .product-info {
        position: relative;
        display: block;
        margin-top: 1rem;
        height: calc(100vh - 24vw - 7rem);
        width: 50%;
        padding-left: 1rem;
        color: gray;
        overflow-y: scroll;
    }

    .produto .product-title{
        width: calc(100% - 2rem);
        border-radius: 1rem;
        position: relative;
        margin: auto;
        font-size: 5vw;
        font-weight: 600;
    }

    .produto .about-store{
        text-align: left;
        padding: 0.5rem 1rem 0;
        font-size: 1.5rem;
    }

    .limit-span{
        color: #888181e0;
        text-align: left !important;
        float: left;
        margin-left: 14px;
        font-size: 3vw;
    }
    .produto .option-name{
        font-size: 3vw !important;
        color: gray;
    }

    .produto .extra-name {
        font-size: 3.5vw !important;
        float: left;
    }
    .quant-container {
        height: auto;
        margin: 1vw 1.5vw 1vw 0;
        width: auto;
        display: flex;
        justify-content: center;
        border: solid var(--primary-color);
        border-radius: 1vw;
    }
    .quant-container input{
        border-bottom: unset !important;
    }
    .quant-container > div {
        display: inline-block;
    }
    .button-quant.button-icon i {
        font-size: 5vw !important;
        margin: 0.5vw 0;
    }
    .button-quant:hover {
        background-color: transparent !important;
    }
    input.quantityProduct#item-amount{
        width: 2.5rem !important;
        height: 2.5rem;
        color: var(--primary-color);
        margin: auto 0 !important;
        font-size: 4vw !important;
    }
    
    .quantity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 1rem 1rem 2rem;
        padding-bottom: 0rem !important;
        height: 6rem;
        position: fixed;
        bottom: 0;
        background-color: var(--background-color, white);
        border-top: solid 1px rgb(11,11,11,0.05);
        margin-bottom: 12px;
        box-shadow: rgb(0 0 0 / 24%) 0px -0.1rem 0.5rem 0.2rem;
    }

    .produto .add-product-button-container{
        width: 35vw;
    }

    .produto .add-product-button{
        height: 90%;
        width: 100%;
        border-radius: 15vw;
        background: linear-gradient(90deg, var(--primary-color) 0%, var(--support-color, var(--secundary-color)) 100%);
        border: 0;
        line-height: unset !important;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        justify-content: space-around;
        font-size: 4vw
    }

    .produto .header-circle-button .visible {
        background-color: var(--background-color);
        z-index: 99;
        /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important; */
        transition: 0.1s;
        top: 0;
    }

    .produto textarea.materialize-textarea{
        line-height: 3vw;
        overflow-y: scroll;
        padding: .8rem 0 .8rem 0;
        resize: vertical;
        min-height: 3rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 3vw !important;
        height: 10vw;
        border-bottom: 1px solid #686565 !important;
    }

    .produto .input-field label{
        font-size: 3vw;
    }

    .produto .obs-modal .modal-wrapper:not(.warning) .modal-container {
     width: calc(100%) !important;
    border-radius: 0 !important;
    padding: 10vh 2rem 0px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    margin: 0;
    background-color: white;
    }


    .keyboard-obs{
        position: fixed;
        bottom: 1rem !important;
        width: 100%;
        z-index: 10001;
        background: white;
        padding-bottom: 0rem;
        left: 0;
    }
    .keyboard-obs #espace{
        left: 8vw !important;
        width: 76vw !important;
    }

    .keyboard-container {
        display: flex;
        flex-flow: row wrap;
        padding: 0 1vh;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    #label-obs{
        padding-left: 1rem;
        transition: 0.1s !important;
        font-size: 4vw !important;
        text-align: left;
        font-size: 22vw;
    }
    .div-obs{
        padding-bottom: 0.5vh;
    }

    .button-obs{
        padding-bottom: 25vw;
    }
    .btn-confirmar{
        margin-top: 5rem;
        font-weight: bold;
        background-color: var(--primary-color);
        border-radius: 50px;
        padding: 2.5rem;
        border: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .label-textarea{
        padding-left: 1rem;
        transition: 0.1s !important;
        font-size: 4vw !important;
        text-align: left;
        font-size: 12vw !important;
    }
 
</style>